hr {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

p, blockquote {
  margin: 0;
}

s, del {
  text-decoration: line-through;
}

hr {
  margin: 37px 0;
  border: none;
  height: 2px;
  background: $color-light-grey;
}
