html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: $color-white;
  box-sizing: border-box;
}

@-moz-document url-prefix() {
  body {
    font-weight: lighter !important;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

// Utility styles to debug errant containers causing horizontal overflow
// * {
//   background: #000 !important;
//   color: #0f0 !important;
//   outline: solid #f00 1px !important;
// }

table {
  width: 100% !important; // to override widths set in the general page admin in Shopify
}

.layout--minimal {
  #app,
  #MainContent {
    height: 100%;
    width: 100%;
  }
}

.layout--default {
  #MainContent {
    // padding-top: 87px; // Temp

    @include desktop-up {
      // padding-top: 117px;
      padding-top: 174px; // Temp
    }

    &.main--under-nav {
      padding-top: 32px;

      @include desktop-up {
        padding-top: 36px;
      }
    }
  }
}

#app {
  position: relative;
  max-width: 100vw;
}

.hide-shopify-preview #preview-bar-iframe {
  display: none;
}

.no-scroll {
  overflow: hidden;
}
