.contact-us {
  max-width: 1088px;
  margin: 54px auto 0;
  padding: 0;
  @include tablet-only {
    padding: 0 40px;
  }
  @include desktop-only {
    padding: 0 86px;
  }

  &__title {
    text-align: center;
    margin-bottom: 8px;
    @include tablet-up {
      text-align: left;
      margin-bottom: 16px;
    }
  }

  &__above-fold-wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;
    flex-direction: column;
    @include tablet-up {
      margin-bottom: 64px;
      flex-direction: row;
    }
    @include desktop-up {
      margin-bottom: 96px;
    }
  }

  &__success {
    margin-bottom: 40px;
    a {
      height: auto;
    }
  }

  &__success-message {
    text-transform: uppercase;
    margin-bottom: 24px !important;
  }

  &__form-container {
    width: 100%;
    padding: 0 14px;
    @include tablet-up {
      width: 50%;
      padding: 0;
    }
  }

  &__content {
    margin-bottom: 24px;
  }

  p {
    margin: 0;
    @include mobile-only {
      text-align: center;
    }
  }

  &__form {
    width: 100%;
    padding-right: 12px;
    @include mobile-only {
      text-align: center;
    }

    input[type="submit"] {
      width: auto;
    }
  }
}
