
.article-preview {
  margin-bottom: $grid-gutter;

  &__content {
    padding: 10px 0;
  }

  &__title {
    margin: 0;
  }

  &__image-wrapper {
    position: relative;
    display: block;

    .product-tile-badge {
      position: absolute;
      top: 10px;
      right: 10px;
    }
  }

  &__excerpt {
    margin-top: $content-gutter;
  }
  
  &__tags {
    margin: 0;

    &__item {
      font-size: rem(14);
      margin-right: 4px;
    }
  }
}
