button {
  background: none;
  secondary: none;
  border: none;
  cursor: pointer;
  padding: 0;

  * {
    vertical-align: middle;
  }
}

button,
.button {
  position: relative;
  box-shadow: 0 1px 1px 0 rgba($color-black, 0.12);
  border: 1px solid $color-primary-red;
  border-radius: 22px;
  padding: 0 24px;
  height: 43px;
  line-height: 40px;
  min-width: 160px;
  display: inline-block;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1.2px;
  white-space: nowrap;
  text-align: center;
  text-transform: uppercase;
  user-select: none;
  background-color: transparent;
  transition: 0.3s ease all;
  cursor: pointer;

  * {
    vertical-align: middle;
  }

  &:not(.button--state-loading):disabled {
    cursor: not-allowed;
  }

  &:not(:disabled):focus {
    outline: 0;
    box-shadow: 0 0 0 3px rgba(76, 152, 219, 0.59);
  }

  .button__content {
    position: relative;
    background: transparent;
    z-index: 2;
    height: 100%;
    display: inline-block;
    transition: transform 100ms ease-out;
    font-size: rem(14);
    line-height: 1.4;
    font-family: $button-font-family;
    letter-spacing: 1.2px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: inherit;
  }

  .button__progress {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    secondary: none;
    background: $color-off-white;
    color: #fff;
    width: 100%;
  }

  &.button--state-loading:disabled {
    cursor: wait !important;
  }
  &.button--state-loading:disabled,
  &.button--state-success:disabled,
  &.button--state-error:disabled {
    clip-path: inset(1.5px);
  }

  &.button--state-loading .button__progress {
    top: 30%;
    transition: top 2s ease;
  }

  &.button--state-success,
  &.button--state-error:disabled {
    cursor: default !important;
  }

  &.button--state-success .button__content,
  &.button--state-error .button__content {
    animation: swap-up linear 2s;
    animation-delay: .1s;
  }

  &.button--state-success .button__content::before,
  &.button--state-error .button__content::before {
    content: '';
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    position: absolute;
    top: 100%;
    width: 22px;
    height: 22px;
    left: 50%;
    transform: translate(-50%, 40%);
  }

  &.button--state-error .button__content::before {
    width: 22px;
    height: 22px;
  }

  &.button--state-success .button__progress,
  &.button--state-error .button__progress {
    transition: top .1s ease-in;
    top: 0;
  }

  &.button--state-success .button__content::before {
    background-image: $button-success-background-image;
  }

  &.button--state-error .button__content::before {
    background-image: $button-error-background-image;
  }
}



.button--primary {
  background: linear-gradient(to bottom, $color-primary-red, darken($color-primary-red, 6%));
  color: $button-primary-color;
  opacity: $button-primary-opacity;

  &:not(:disabled):hover {
    background: linear-gradient(to bottom, darken($color-primary-red, 6%), $color-primary-red);
  }

  &:not(:disabled):focus {
    border-color: rgba(76, 152, 219, 0.59);
  }

  &:not(:disabled):active {
    background: linear-gradient(to bottom, $color-primary-red, darken($color-primary-red, 6%));
    color: $button-primary-color;
    opacity: $button-primary-opacity;
  }

  &:not(.button--state-loading):disabled {
    background: linear-gradient(to bottom, $color-primary-red, darken($color-primary-red, 6%));
  }

  &.button--state-loading:disabled {
    color: $button-primary-loading-color;
    opacity: $button-primary-loading-opacity;
  }

  &.button--state-success:disabled {
    color: $button-primary-success-color;
    opacity: $button-primary-success-opacity;
  }

  &.button--state-error:disabled {
    color: $button-primary-error-color;
    opacity: $button-primary-error-opacity;
  }
}

.button--secondary {
  border-color: $color-grey;
  background: linear-gradient(to bottom, $color-grayish-gray, $color-off-black);
  color: $button-primary-color;

  &:not(:disabled):hover {
    background: linear-gradient(to bottom, $color-off-black, $color-grayish-gray);
  }

  &:not(:disabled):focus,
  &:not(:disabled):active {
    background: linear-gradient(to bottom, $color-grayish-gray, $color-off-black);
  }

  &:not(.button--state-loading):disabled {
    background: linear-gradient(to bottom, $color-grayish-gray, $color-off-black);
    color: $button-secondary-disabled-color;
  }

  &.button--state-loading:disabled {
    background: linear-gradient(to bottom, $color-grayish-gray, $color-off-black);
    color: $button-secondary-loading-color;
  }
}

.button--tertiary {
  height: 40px;
  border-color: $color-light-grey;
  background-color: $color-white;
  color: $color-black;
  text-transform: none;

  .button__content {
    font-weight: 600;
    letter-spacing: 0;
  }

  &:not(:disabled):hover {
    border-color: $color-off-white;
    background-color: $color-off-white;
  }

  &:not(:disabled):focus,
  &:not(:disabled):active {
    background-color: $color-white;
  }

  &:not(.button--state-loading):disabled {
    border-color: lighten($color-off-white, 4%);
  }

  &.button--state-loading:disabled {
    background-color: linear-gradient(to bottom, $color-grayish-gray, $color-off-black);
    color: $button-secondary-loading-color;
  }
}

.button--outline {
  background-color: transparent;
  color: $color-primary-red;

  &:not(:disabled):hover,
  &:not(:disabled):active {
    background-color: $color-primary-red;
    color: $color-white;
  }

  &:not(:disabled):focus {

  }

  &:disabled {
    border-color: $color-light-grey;
    color: $color-light-grey;
  }
}

.button--small {
  height: 30px;
  line-height: 38px;

  .button__content {
    font-size: rem(12);
  }
}


.button--large {
  height: 70px;
  line-height: 70px;
  min-width: 220px;

  .button__content {
    font-size: rem(19);
  }
}

// ~
// ~
// FULL
// ~
// ~
.button--full {
  width: 100%;
  position: relative;
}

// ~
// ~
// ICON
// ~
// ~
.button--icon {
  border: none;
  box-shadow: none;
  padding: 0;
  width: auto;
  min-width: 0;
  line-height: 0;

  .icon {
    fill: $color-black;
  }

  &.u-icon-primary .icon {
    fill: $color-brand-primary;
  }

  &, &:not(:disabled):hover {
    background-color: transparent;
  }

  &:not(:disabled):hover {
    .icon {
      fill: $color-brand-primary;
    }
  }
}
