.footer {
  display: flex;
  flex-direction: column;

  .link--primary {
    &:hover {
      &::before {
        background: $color-black;
      }
    }
  }

  &__nav-container {
    width: 100%;
    max-width: $container-max-width;

    @include desktop-up {
      margin: 80px auto 0;
    }
  }

  &__content-logo-container {
    width: 280px;
    height: 74px;
    margin-bottom: 20px;
  }

  &__content {
    display: flex;
    flex-direction: column;

    @include desktop-up {
      flex-direction: row;
      justify-content: flex-start;
      padding-bottom: 80px;
    }
  }

  &__accordions {
    width: 100%;
    padding: 0 0 24px;
    text-transform: none;

    .accordion {
      box-shadow: 0 1px 1px rgba(0,0,0,0.12);
      border: 1px solid $color-light-grey;
      border-radius: 4px;
      padding: 17px 20px;
    }

    .accordion__menu-title {
      font-size: rem(14);
      font-weight: 600;
      text-transform: none;
    }

    @include desktop-up {
      display: none;
    }
  }

  .footer__text-block {
    background-color: $color-v-light-grey;
    border: 1px solid $color-light-grey;
    border-radius: 10px;
    padding: 20px;
    @include tablet-up {
      padding: 20px 20px 60px;
    }

    p {
      font-size: rem(14);
      line-height: rem(22);
      margin-bottom: 16px;

      &:first-child {
        margin-bottom: 8px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    strong {
      font-weight: 600;
      font-size: rem(14);
      line-height: rem(22);
    }

    em {
      font-size: rem(12);
      font-style: normal;
    }
  }

  .accordion__content {
    padding-top: 22px;
  }


  .accordion__header {
    justify-content: normal;
    position: relative;

    .accordion__menu-title {
      font-weight: 600;
      font-size: rem(14);
      line-height: rem(22);
      padding-bottom: 2px;

      @include desktop-up {
        border-bottom: 2px solid $color-grey;
      }
    }
  }

  .accordion-icon {
    position: absolute;
    right: 0;
    top: 3px;

  }

  @include mobile-only {
    &__accordions .accordion__menu-title {
      @include mobile-accordion-title;
    }
  }

  &__links {
    width: 100%;
    justify-content: space-around;
    margin-top: 22px;
    display: none;

    @media screen and (max-width: 1023px) {
      margin-top: 54px;
    }

    @include desktop-up {
      margin-top: 0;
      justify-content: flex-end;
      display: flex;
    }

    &__header {
      margin-top: 0;
      margin-bottom: 24px;
      width: fit-content;
      font-size: rem(14);
      line-height: rem(22);
      font-weight: 600;
      line-height: 19px;
      // border-bottom: 2px $color-grey solid;
      text-transform: none;
      position: relative;
      padding-bottom: 22px;

      &:after {
        content: '';
        background-color: $color-primary-red;
        height: 4px;
        width: 24px;
        position: absolute;
        bottom: 0;
        display: block;
      }
    }

    &__section {
      display: none;

      @include desktop-up {
        display: block;
        max-width: 192px;
        margin-right: 80px;
        width: 100%;
      }
    }
  }

  &__links-small-layout {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 24px;

    @media screen and (max-width: 1023px) {
      margin-top: 54px;
    }

    @include desktop-up {
      margin-top: 0;
      width: 50%;
      justify-content: center;
    }

    &__header {
      margin-top: 0;
      margin-bottom: 24px;
    }

    &__section {

      @include desktop-up {
        width: 192px;
        margin-right: 40px;
      }
    }
  }

  &__linklist__link {
    display: inline-block;
    margin-bottom: 24px;
    margin-bottom: 11px;
    font-size: rem(14);
    font-weight: 400;
    line-height: rem(22);
    padding: 0;
    font-family: $font-family-primary;

    &:before {
      background-color: $color-black;
    }

    &:focus {
      margin-top: -2px;
      margin-bottom: 9px;
      margin-left: -2px;
    }

    .footer__linklist li:last-child & {
      margin-bottom: 0;
    }
  }

  .footer__container--social {
    @include mobile-only {
      order: 0;
    }
  }

  &__social-links-container {

    @include desktop-up {
      min-width: 192px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
  }

  &__social-links {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;

    @include mobile-only {
      justify-content: center;
    }

    .icon {
      width: 36px;
      height: 36px;
    }

    @include desktop-up {
      align-items: flex-start;
      justify-content: flex-start;
    }
  }

  &__social-links-inner-container {
    width: 100%;
  }

  &__social-links-title {
    display: none;

    @include desktop-up {
      display: block;
      margin: 0;
      margin-bottom: 24px;
      font-family: $font-family-primary;
      font-weight: 500;
    }
  }

  &__social-links__link {
    &:not(:last-child) {
      margin-right: 16px;
    }
  }

  &__fda-container {
    width: auto;
    font-family: $font-gibson;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.25px;
    line-height: 18px;
    padding: 30px 0 0 0;
  }

  &__footer-privacy {
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    background-color: $color-slate;
  }

  &__footer-privacy-inner-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;

    @include tablet-up {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__copyright {
    margin: 0;
    padding-bottom: 8px;
    border-bottom: 1px solid transparent;
    width: 100%;
    line-height: rem(22);
    font-size: rem(11);
    font-weight: 500;
    text-align: center;

    @include tablet-up {
      width: auto;
      padding-bottom: 0;
      text-align: left;
      margin-right: 8px;
    }
  }
  &__footer-privacy-left {
    display: flex;

    @include mobile-only {
      order: 1;
      flex-direction: column;
    }
  }

  &__footer-privacy-inner-container .footer__links__section {
    width: 70%;
    max-width: 100%;

    @include desktop-up {
      width: auto;
    }
  }

  &__footer-privacy-inner-container .footer__linklist {
    display: flex;

    @include mobile-only {
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      margin: 23px 0;
    }
  }

  &__footer-privacy-inner-container .footer__linklist li {
    padding: 0 5px;
    display: flex;

    @include desktop-up {
      padding: 0 24px 0 0;
    }
  }


  &__footer-privacy-inner-container a {
    margin: 0;
    text-align: center;
    font-size: rem(11);
    letter-spacing: 0.1px;
    font-weight: 500;
    font-family: $font-gibson;
    color: $color-white;
    text-transform: none;
  }

  &__content-logo-contact-container {
    display: flex;
    flex-direction: column;
    margin-top: 40px;

    @include desktop-up {
      justify-content: flex-start;
      align-items: flex-start;
      margin-right: 80px;
      margin-top: 0;
      max-width: 386px;
    }
  }

  &__content-contact-info-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 15px;

    @include tablet-up {
      flex-wrap: nowrap;
      flex-direction: row;
      padding: 0;
      width: 100%;
    }

    @include desktop-up {
      flex-wrap: nowrap;
      flex-direction: column;
      padding: 0;
    }
  }

  &__contact-info-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: 50%;

    @include tablet-up {
      margin-bottom: 0;
    }

    @include desktop-up {
      width: 100%;
      margin-bottom: 12px;
    }
  }

  &__contact-info-icon-container {
    margin-right: 6px;
    display: flex;
    align-items: center;

    @include desktop-up {
      margin-right: 12px;
    }
  }


  &__contact-info-address-container {
    justify-content: flex-end;
    margin-bottom: 20px;

    @include tablet-up {
      justify-content: center;
    }

    @include desktop-up {
      justify-content: flex-start;
    }
  }


  &__contact-info-icon-container {
    width: 20px;
    color: $color-black;
  }

  &__contact-info-title-container p {
    margin: 0;
    color: $color-black;
  }

  &__contact-info-title-container {
    margin: 0;
    color: $color-black;
    font-weight: 600;

    &:before {
      background-color: $color-black;
    }
  }

  hr {
    height: 1px;
    background-color: $color-semi-grey;
    margin: 0;
  }
}

.footer__social-links__link .button--icon {
  height: auto;
  border: 0;
  min-width: 40px;
}

.shopify-challenge__container {
  padding: 64px;
}

.shopify-challenge__button {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  background-color: transparent;
  transition: 0.3s ease all;
  text-decoration: none;
  white-space: nowrap;
  color: $color-black;
  outline: none;
  overflow: hidden;
  position: relative;
  height: 38px;
  min-width: 120px;
  border: 1px solid $color-black;
  font-size: 12px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  font-family: $font-family-primary;
  font-weight: 700;

  * {
    vertical-align: middle;
  }

  &:hover {
    background-color: $color-black;
    color: $color-white;
    border-color: $color-black;
  }
}

.shopify-challenge__container .errors,
.footer .errors {
  background-color: transparent;
  border-color: transparent;
  color: $color-util-error-1;
  font-size: 16px;
}

.footer-main-color-light,
.footer-main-color-light a,
.footer-main-color-light p,
.footer-main-color-light .footer__links-small-layout__header,
.footer-main-color-light .footer__linklist__link,
.footer-main-color-light .footer__contact-info-title-container,
.subfooter-color-light .footer__linklist__link,
.subfooter-color-light {
  color: $color-white;
}

.footer-main-color-light .footer__linklist__link,
.footer-main-color-light .footer__contact-info-title-container,
.subfooter-color-light .footer__linklist__link {

  &:hover {

  &::before {
      background-color: $color-white;
    }
  }

  &::before {
    background-color: $color-white;
  }
}

.footer-main-color-dark,
.footer-main-color-dark a,
.footer-main-color-dark p,
.footer-main-color-dark .footer__links-small-layout__header,
.footer-main-color-dark .footer__linklist__link,
.footer-main-color-dark .footer__contact-info-title-container,
.subfooter-color-dark .footer__linklist__link,
.subfooter-color-dark {
  color: $color-black;
}

.footer-main-color-dark .footer__linklist__link
.footer-main-color-dark .footer__contact-info-title-container,
.subfooter-color-dark .footer__linklist__link {

  &:hover {

    &::before {
      background-color: $color-black;
    }
  }

  &::before {
    background-color: $color-black;
  }
}
