body.nav-open {
  overflow: hidden;
}

.promo-bar {
  box-shadow: -4px 4px 15px 0 rgba(0, 0, 0, 0.1);
  background-color: $color-white;
  display: flex;
  justify-content: center;
}

.promo-bar__carousel {
  width: 100%;
  max-width: 1000px;

  .carousel__arrow svg {
    fill: $color-white;
  }
}

.promo-bar__text {
  font-family: $font-gibson;
  font-size: rem(12);
  line-height: rem(16);
  font-weight: 300;
  color: inherit;

  @include tablet-up {
    font-size: rem(14);
    line-height: rem(22);
  }

  a {
    color: inherit;
    text-decoration: underline;
  }

  strong {
    font-weight: 500;
  }
}

.promo-bar__link {
  font-size: rem(12);
  font-family: $font-gibson;
  font-weight: 700;
  color: $color-black;
}

.promo-bar__button {
  padding: 0;
  border: 0;
  color: inherit;
  text-transform: initial;
  font-weight: 500;
  font-size: rem(12);
  line-height: rem(16);
  display: flex;
  align-items: center;
  box-shadow: none;
  margin-left: 95px;
  position: absolute;
  right: 16px;
  top: 0;
  height: 100%;
  width: auto;
  min-width: 0;

  @include tablet-up {
    right: 46px;
  }

  svg {
    margin-right: 5px;
  }
}