.pagination {
  padding: 0;
  display: flex;
  justify-content: center;

  & .disabled {
    opacity: 0.3;
  }

  .pagination__text {
    margin: 0 25px;
    font-size: rem(14);
    line-height: 1.2;
    letter-spacing: 0.8px;
    font-family: $font-gibson;
    color: $color-black;
  }

  .u-underline {
    font-weight: 500;
  }
}
