html {
  padding: 0 !important; // override swym wishlist inline style
}

.swym-button-bar {
  display: none !important;
}

.myregistry {
  display: none !important;
}

#chat-widget-container,
.swell-tab {
  @media (max-height: 400px) {
    display: none !important;
  }
}

.gm-fullscreen-control {
  display: none;
}

span.stamped-summary-actions-newreview {
  @extend .button;
  @extend .button--primary;
}

.stamped-ugc-modal-wrapper {
  width: 100%;
}

.stamped-ugc-modal-image {
  text-align: center;
}

.stamped-ugc-modal-content,
.stamped-container {
  font-family: $font-gibson;

  .stamped-review {
    margin-bottom: 0;
    padding: 30px 0;
  }

  .new-review-form.stamped-visible {
    border-bottom: 0;
  }

  .stamped-review:last-of-type {
    border-bottom: 1px solid #eee;
  }

  .stamped-sort-select-wrapper,
  .stamped-review-header .stamped-review-avatar {
    display: none;
  }

  .stamped-ugc-modal-user-username .stamped-verified-badge,
  .stamped-review-header .stamped-verified-badge {
    margin-left: 30px;
    font-size: rem(12);
    font-family: $font-gibson;
    color: $color-grayish-gray;
  }

  .stamped-review-header .created {
    color: $color-black;
    font-family: $font-gibson;
  }

  .stamped-starratings {
    margin-top: 13px;
  }

  .stamped-review-header-title {
    margin-bottom: 5px;
    font-family: $font-gibson;
    font-weight: 600;
  }

  .stamped-review-content {
    margin-bottom: 0;
  }

  .stamped-review-content-body {
    font-family: $font-gibson;
    font-size: rem(14);
    letter-spacing: -0.2px;
    line-height: rem(22);
  }

  .stamped-review-footer .stamped-review-vote {
    float: left !important;
  }

  .stamped-review-footer .stamped-review-share {
    float: right !important;
  }

  .stamped-pagination li.previous a,
  .stamped-pagination li.next a {
    color: $color-black;
  }

  .stamped-pagination li.page {
    font-family: $font-gibson;
    font-weight: 500;
    color: $color-black;

    &.active {
      color: $color-primary-red;

      a {
        text-decoration: none;
      }
    }

    a {
      padding: 8px;
      color: inherit;
      text-decoration: underline;
    }
  }

  .stamped-rating-holder {
    font-family: $font-gibson;
  }

  .stamped-rating-holder,
  .stamped-fa-thumbs-up::before,
  .stamped-fa-thumbs-down::before {
    font-size: rem(16);
  }

  .review-location,
  #stamped-sort-select {
    display: none;
  }

  .stamped-summary .stamped-summary-actions {
    display: flex !important;
    flex-direction: column;
  }

  #stamped-button-submit {
    @extend .button;
    @extend .button--primary;
  }

  .stamped-summary-actions-newquestion {
    margin-top: 10px;
    @extend .button;
    @extend .button--secondary;
  }

}

.cc-window.cc-banner {
  z-index: 1000000;
}

// remove button styling
#afterpay-modal-close {
  min-width: 0;
  box-shadow: none;
}

// expand click area for afterpay modal.
.afterpay-link::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}