<template lang="pug">
  .kit-builder-card
    .kit-builder-card__content(@click="selectDeselectProduct(firstAvailableVariant.id, $event)" :class="isSelectedProduct ? 'selected' : ''" :style="enableSwatches ? `paddingBottom: 0px;` : ''")
      .kit-builder-card__selected-bubble(:class="isSelectedProduct ? 'selected' : ''")
        icon(name="check")
      .kit-builder-card__selected-overlay(:class="isSelectedProduct ? 'selected' : ''")
      .kit-builder-card__info
        .kit-builder-card__image
          img(:src="currentVariantImageUrl" :alt="`Photo of ${altTitle ? altTitle : product.title}`")
        .kit-builder-card__text
          span.kit-builder-card__title {{altTitle ? altTitle.toLowerCase() : product.title.toLowerCase()}}
          .kit-builder-card__prices
            span.kit-builder-card__price(:class="isSaleProduct ? 'sale' : ''") {{ currentVariant ? currentVariant.price : product.price | money }}
            span.kit-builder-card__price-compare-at(v-if="isSaleProduct") {{ currentVariant ? currentVariant.compare_at_price : product.compare_at_price | money }}
      kit-builder-swatches(v-if="enableSwatches" :productType="productType" :variants="this.product.variants" @set-current-variant-id="setCurrentVariantId" ref="swatches")
      .kit-builder-card__product-badge(v-if="badgeText")
        .ribbon-tail
          .top-triangle(:class="badgeColors.bg")
          .bottom-triangle(:class="badgeColors.bg")
        .ribbon-under(:class="badgeColors.bg")
        .ribbon-top(:class="badgeColors.bg")
          span(:class="badgeColors.text") {{badgeText}}
    v-link.kit-builder-card__product-link(v-if="$mq !== 'mobile' && $mq !== 'tablet'" primary :href="`/products/${product.handle}`" target="_blank") View Product
</template>

<script>
  import { mapState } from 'vuex';

  import Icon from '../../basic/Icon.vue'
  import VLink from '../../buttons/VLink.vue'
  import KitBuilderSwatches from './KitBuilderSwatches.vue'

  export default {
    name: 'KitBuilderCard',
    components: { Icon, VLink, KitBuilderSwatches },
    props: {
      product: {
        type: Object,
        required: true
      },
      altTitle: {
        type: String,
        required: false
      },
      enableSwatches: {
        type: Boolean,
        default: false
      },
      productType: {
        type: String,
        required: true
      },
      badgeColors: {
        type: Object,
        required: true,
      },
      badgeText: {
        type: String
      }
    },
    data() {
      return {
        currentVariantId: null
      }
    },
    computed: {
      ...mapState({
        steps: state => state.kitBuilder.steps,
        currentStep: state => state.kitBuilder.currentStep,
        selectedProducts: state => state.kitBuilder.selectedProducts,
        selectedProductImageUrls: state => state.kitBuilder.selectedProductImageUrls
      }),
      isSelectedProduct() {
        if (this.selectedProducts[this.productType] !== null && this.product.variants.find(variant => variant.id === this.selectedProducts[this.productType])) {
          return true
        } return false
      },
      currentStepIndex() {
        return this.steps.indexOf(this.currentStep)
      },
      currentVariant() {
        return this.product.variants.find(variant => variant.id === this.currentVariantId)
      },
      currentVariantImageUrl() {
        if (this.currentVariant && this.currentVariant.featured_image) {
          return this.currentVariant.featured_image.src
        }
        else {
          return this.product.images[0]
        }
      },
      firstAvailableVariant() {
        return this.product.variants.find(variant => variant.available === true)
      },
      isSaleProduct() {
        const priceSource = this.currentVariant ? this.currentVariant : this.product;

        return priceSource.compare_at_price && priceSource.compare_at_price !== 0 && priceSource.compare_at_price !== priceSource.price;
      }
    },
    methods: {
      selectDeselectProduct(id, event) {
        if (!this.enableSwatches) {
          if (this.isSelectedProduct) {
            this.deselectProduct()
          } else {
            this.selectProduct(id)
          }
        } else if(event.target.tagName.toLowerCase() !== 'input'){
          // Don't trigger the card click if the click target is an input (swatch)
          this.selectProduct(id)
        }
      },
      setCurrentVariantId(id) {
        this.currentVariantId = id
        this.selectProduct(id)
      },
      selectProduct(id) {
        let newSelectedProducts
        let newSelectedProductImageUrls

        if (this.productType !== 'lunchbox') {
          this.currentVariantId = id
          newSelectedProducts = this.selectedProducts
          newSelectedProductImageUrls = this.selectedProductImageUrls
          newSelectedProducts[this.productType] = this.currentVariantId
          newSelectedProductImageUrls.splice(this.currentStepIndex, 1, this.currentVariantImageUrl)
        }

        else {
          newSelectedProducts = {
            lunchbox: this.product.variants[0].id,
            magnet: null,
            bag: null,
            bottle: null
          }
          newSelectedProductImageUrls = [this.currentVariantImageUrl, "", "", ""]
        }

        this.$store.dispatch('kitBuilder/setSelectedProducts', newSelectedProducts)
        this.$store.dispatch('kitBuilder/setProductImageUrls', newSelectedProductImageUrls)
        this.$store.dispatch('kitBuilder/toggleProductSelected', true)
        this.currentVariantId = this.selectedProducts[this.productType]

        if (this.enableSwatches) {
          this.$refs.swatches.setActiveSwatch(this.selectedProducts[this.productType])
        }
      },
      deselectProduct() {
        let newSelectedProducts = this.selectedProducts
        let newSelectedProductImageUrls = this.selectedProductImageUrls
        newSelectedProducts[this.productType] = ""
        newSelectedProductImageUrls.splice(this.currentStepIndex, 1, "")
        this.$store.dispatch('kitBuilder/setSelectedProducts', newSelectedProducts)
        this.$store.dispatch('kitBuilder/setProductImageUrls', newSelectedProductImageUrls)
        this.$store.dispatch('kitBuilder/toggleProductSelected', false)
        this.currentVariantId = null
      }
    },
    mounted() {
      this.currentVariantId = this.selectedProducts[this.productType]
    }
  }
</script>

<style lang="scss" scoped>
  .kit-builder-card {
    position: relative;
    margin: 0 16px;
    min-height: 1px;
    width: 100%;
    animation: cardSlideUp 500ms ease;
    @include mobile-tablet {
      margin-bottom: 8px;
      width: auto;
    }
    &__content {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      text-align: center;
      background-color: $color-white;
      padding: 16px;
      border-radius: 4px;
      box-shadow: 0 2px 8px 0 rgba(0,0,0,0.1);
      max-width: 368px;
      width: 100%;
      height: calc(100% - 40px);
      cursor: pointer;
      user-select: none;
      transition: transform 300ms ease-in, box-shadow 300ms ease;
      @include mobile-tablet {
        max-width: none;
        height: 100%;
      }
      @media not all and (min-resolution:.001dpcm)
        { @supports (-webkit-appearance:none) {
        @include mobile-tablet {
          padding-top: 40px;
        }
      }}
      &:hover {
        transform: translate3d(0,-6px,0);
        box-shadow: 0 8px 8px 0 rgba(0,0,0,0.1);
        .kit-builder-card__selected-overlay {
          opacity: 1;
          border-color: lighten($color: $color-brand-tertiary, $amount: 10);
        }
        @include mobile-tablet {
          transform: translate3d(0,-2px,0);
        }
      }
    }
    &__info {
      min-height: 1px;
      width: 100%;

      @include mobile-tablet {
        display: flex;
        align-items: center;
        text-align: left;
      }
    }
    &__image {
      width: 100%;
      max-width: 368px;
      padding: 0 40px;
      align-self: center;
      @include mobile-tablet {
        padding-left: 0;
        max-width: 150px;
      }
    }
    &__title {
      display: block;
      font-size: 32px;
      line-height: 40px;
      margin-bottom: 8px;
      text-transform: capitalize;
      font-weight: 400;
      max-width: 250px;
      margin-left: auto;
      margin-right: auto;
      @include mobile-tablet {
        font-size: 26px;
        line-height: 32px;
        max-width: 160px;
        margin-left: 0;
        margin-right: 0;
      }
    }
    &__prices {
      span:nth-child(2){
        margin-left: 8px;
        text-decoration: line-through;
        color: #979797;
      }
      span {
        font-size: 20px;
        line-height: 29px;
        margin-bottom: 8px;
        &.sale {
          color: #E4B121;
        }
      }
    }
    &__selected-bubble {
      position: absolute;
      top: 12px;
      right: 12px;
      width: 32px;
      height: 32px;
      border-radius: 100%;
      border: 1px solid #979797;
      transition: background-color 300ms ease-in-out;
      /deep/ .icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        display: none;
        fill: $color-white !important;
      }
      &.selected {
        border: 1px solid $color-brand-tertiary;
        background-color: $color-brand-tertiary;
        /deep/ .icon {
          display: block;
        }
      }
    }
    &__selected-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 2px solid $color-brand-tertiary;
      border-radius: 4px;
      opacity: 0;
      transition: opacity 300ms ease-in;
      &.selected {
        opacity: 1;
      }
    }
    &__product-link {
      display: block;
      margin: 32px auto 0;
      height: 24px;
    }
    &__product-badge {
      position: absolute;
      top: 20px;
      left: 0;
      .ribbon-tail {
        position: absolute;
        left: -24px;
        top: 10px;
        width: 24px;
        height: 40px;
        filter: brightness(75%);
        @include ie {
          display: none;
        }
        @include safari {
          display: none;
        }
        .top-triangle {
          clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 100%);
          width: 100%;
          height: 50%;
          margin-bottom: -1px;
        }
        .bottom-triangle {
          clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%);
          width: 100%;
          height: 50%;
        }
      }
      .ribbon-under {
        /* clip-path: polygon(75% 0, 100% 0, 100% 100%, 75% 75%); */
        position: absolute;
        left: -8px;
        top: 10px;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75%);
        width: 8px;
        height: 40px;
        filter: brightness(50%);
        @include ie {
          display: none;
        }
        @include safari {
          display: none;
        }
      }
      .ribbon-top {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        left: -9px;
        height: 40px;
        text-align: center;
        vertical-align: middle;
        padding: 0 20px;
        width: fit-content;
        @include safari {
          width: 200px;
        }
        @include ie {
          width: 200px;
        }
        span {
          display: block;
          white-space: nowrap;
          width: 100%;
          font-family: $font-family-primary;
          font-size: 24px;
          line-height: 34px;
          margin-bottom: -2px;
        }
      }
    }
  }
  @keyframes cardSlideUp {
    from {
      opacity: 0;
      transform: translate3d(0,50px,0);
    }
    to {
      opacity: 1;
      transform: translate3d(0,0,0);
    }
  }
</style>