<template lang="pug">
  modal.kit-builder-modal(ref="lunchboxModal")
    template(slot="content")
      h2 COMPARE LUNCHBOXES
      .planetbox-compare__product-overviews
        .planetbox-compare__product-overview(v-for="lunchbox in lunchboxes" :key="lunchbox.data.id", @click="scrollToId($event, `#${productTitleFormatted(lunchbox.data.title)}`)")
          .planetbox-compare__product-overview-image(:style="{backgroundImage: `url('${lunchbox.data.featured_image}')`}")
          .planetbox-compare__title-price
            h2 {{productTitleFormatted(lunchbox.data.title)}}
            span.planetbox-compare__product-overview-price {{ lunchbox.data.price | money }}
          .planetbox-compare__product-overview-included-text(v-if="lunchbox.includesText")
            strong.body-sm.strong-bold Includes:
            span.body-sm {{lunchbox.includesText}}
          .planetbox-compare__product-overview-divider
          .planetbox-compare__product-overview-specs
            .planetbox-compare__product-overview-spec(v-for="(spec, index) in lunchbox.specs" :key="index")
              p {{spec.spec}}
              h5 {{spec.title}}
          .planetbox-compare__product-overview-divider
</template>

<script>
  import Modal from '../../basic/Modal.vue'
  import VLink from '../../buttons/VLink.vue'

  export default {
    name: 'KitBuilderLunchboxModal',
    components: { Modal,VLink },
    props: {
      lunchboxes: {
        type: Array,
        required: true
      },
      badgeColors: {
        type: Object,
        required: true,
      }
    },
    data() {
      return {

      }
    },
    computed: {

    },
    methods: {
      openModal() {
        this.$refs.lunchboxModal.open()
      },
      productTitleFormatted(title) {
        return title.split(' ')[0].toUpperCase()
      }
    }
  }
</script>

<style lang="scss" scoped>
 .planetbox-compare {
    .container {
      padding-right: 12px;
      padding-left: 12px;
    }

    &__product-overviews {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding-top: 56px;
      padding-bottom: 56px;
      @include mobile-tablet {
        flex-direction: column;
      }
    }
    &__title-price {
      display: flex;
      align-items: center;
      justify-content: space-between;;
      width: 100%;
      margin: 16px 0 0;
    }
    &__product-overview {
      width: 100%;
      text-align: center;
      padding: 24px;
      margin: 0 16px;
      border-radius: 10px;
      background-color: $color-off-white;
      border: 1px solid $color-grey;
      @include desktop-only {
        &:first-child {
          margin-left: 0;
        }
        &:last-child {
          margin-right: 0;
        }
      }
      @include mobile-tablet {
        background-color: $color-off-white;
        margin: 0 0 16px;
        text-align: left;
      }
      &-mobile-heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 16px 0 0;
        width: 100%;
      }
      &-image {
        width: 100%;
        height: 274px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
      }
      h2 {
        font-size: 35px;
        line-height: 44px;
        letter-spacing: 0.5px;
        margin: 0;
        @include mobile-tablet {
          font-size: 35px;
          line-height: 44px;
          letter-spacing: 0.5px;
        }
      }
      &-price {
        display: inline-block;
        font-weight: 500;
        font-size: 20px;
        line-height: 28px;
        @include mobile-tablet {
          margin: 0;
        }
      }
      &-included-text {
        font-size: 12px;
        line-height: 22px;
        text-align: left;
        strong {
          margin-right: 8px;
        }
      }
      &-included-product-images {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80px;
        width: 100%;
        margin-top: 8px;
        img {
          height: 80px;
          margin: 0 8px;
        }
      }
      &-divider {
        border-bottom: 1px solid $color-grey;
        width: 100%;
        margin: 16px 0;
      }
      &-spec {
        margin-bottom: 16px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        h5 {
          font-family: $font-family-primary;
          font-weight: 400;
          font-size: 16px;
          line-height: 22px;
        }
        p {
          font-size: 16px;
          line-height: 22px;
          font-weight: bold;
        }
      }
      &-learn-more {
        margin-top: 32px;
        @include mobile-tablet {
          display: flex;
          align-items: center;
          justify-content: center;
          color: $color-brand-primary;
          cursor: pointer;
          user-select: none;
          /deep/ .icon {
            fill: $color-brand-primary;
            margin-bottom: 2px;
            margin-left: 4px;
          }
        }
      }
    }
    &__product-details {
      &-container:first-child, &-container:last-child {
        background-color: $color-off-white;
      }
      &-container:nth-child(2) {
        &__product-detail {
          flex-direction: row-reverse;
        }
      }
    }
    &__product-detail {
      display: flex;
      justify-content: space-around;
      padding: 56px 0;
      @include mobile-tablet {
        flex-direction: column;
        padding: 32px 0 0;
        // fixes strange glitch after accordion animation in mobile where text floats to bottom of container
        /deep/ .button {
          display: flex !important;
          justify-content: center !important;
        }
      }
      &-image {
        position: relative;
        width: 45%;
        align-self: center;
        max-width: 528px;
        @include mobile-tablet {
          width: 100%;
          max-width: none;
        }
        img {
          width: 100%;
        }
      }
      &-content {
        width: 45%;
        @include mobile-tablet {
          width: 100%;
        }
        h2 {
          font-size: 36px;
          line-height: 50px;
          // margin-bottom: 16px;
        }
        p {
          font-size: 16px;
          line-height: 22px;
        }
        &-mobile-header {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin: 16px 0 0;
          h2 {
            margin-bottom: 0;
            font-size: 24px;
            letter-spacing: 0.67px;
            line-height: 24px;
          }
        }
      }
      &-price-reviews {
        display: flex;
        align-items: center;
        margin-bottom: 16px;
      }
      &-price {
        font-size: 28px;
        line-height: 28px;
        margin-right: 64px;
        @include mobile-tablet {
          margin-right: 0;
          font-size: 18px;
          line-height: 24px;
        }
      }
      &-cta {
        max-width: 414px;
        margin: 16px 0 24px;
        @include mobile-tablet {
          max-width: none;
        }
      }
      &-features {
        position: relative;
        padding: 16px;
        border: 1px solid $color-grey;
        @include mobile-tablet {
          padding: 0;
          border: none;
          margin: 16px 0;
        }
        strong {
          display: block;
          margin-bottom: 12px;
        }
        ul {
          list-style: disc;
          padding-left: 40px;
          li {
            margin-bottom: 8px;
          }
        }
        &-overlay-image {
          position: absolute;
          top: -8px;
          right: -48px;
          height: 112px;
          pointer-events: all;
          @include mobile-tablet {
            display: none;
          }
        }
      }
      &-badge {
        position: absolute;
        top: 40px;
        left: 0;
        .ribbon-tail {
          position: absolute;
          left: -24px;
          top: 10px;
          width: 24px;
          height: 40px;
          filter: brightness(75%);
          .top-triangle {
            clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 100%);
            width: 100%;
            height: 50%;
            margin-bottom: -1px;
          }
          .bottom-triangle {
            clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%);
            width: 100%;
            height: 50%;
          }
        }
        .ribbon-under {
          /* clip-path: polygon(75% 0, 100% 0, 100% 100%, 75% 75%); */
          position: absolute;
          left: -8px;
          top: 10px;
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75%);
          width: 8px;
          height: 40px;
          filter: brightness(50%);
        }
        .ribbon-top {
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: center;
          left: -9px;
          height: 40px;
          text-align: center;
          vertical-align: middle;
          padding: 0 20px;
          width: fit-content;
          span {
            display: block;
            white-space: nowrap;
            width: 100%;
            font-family: $font-family-primary;
            font-size: 24px;
            line-height: 34px;
            margin-bottom: -2px;
          }
        }
      }
    }
    .spr-badge {
      .spr-badge-caption {
        font-family: $font-family-secondary !important;
        font-weight: bold !important;
      }
    }
  }
  /deep/ .modal__content {
    max-width: 1400px;
    width: 90%;
    overflow-y: scroll;
  }
</style>