<template lang="pug">
  .kit-builder-heading.container
    kit-builder-back-button
    span {{currentStep !== steps[4] ? `Step ${steps.indexOf(currentStep) + 1}` : stepHeadings[4].preheading }}
    h2 {{headingText}}
    p {{subHeadingText}}
      v-link(v-if="currentStep === steps[0]" secondary @click="$refs.compareModal.openModal()") Compare Lunchboxes
    kit-builder-lunchbox-modal(:lunchboxes="products.lunchboxes" :badge-colors="badgeColors" ref="compareModal")
</template>

<script>
  import { mapState } from 'vuex';

  import VLink from 'scripts/components/buttons/VLink.vue'

  import KitBuilderBackButton from './KitBuilderBackButton.vue'
  import KitBuilderLunchboxModal from './KitBuilderLunchboxModal.vue'

  export default {
    name: 'KitBuilderHeading',
    components: { VLink, KitBuilderBackButton, KitBuilderLunchboxModal },
    props: {
      stepHeadings: {
        type: Array,
        required: true
      },
      badgeColors: {
        type: Object,
        required: true,
      }
    },
    computed: {
      ...mapState({
        products: state => state.kitBuilder.products,
        steps: state => state.kitBuilder.steps,
        currentStep: state => state.kitBuilder.currentStep,
        productSelected: state => state.kitBuilder.productSelected,
        selectedProductImageUrls: state => state.kitBuilder.selectedProductImageUrls
      }),
      headingText() {
        if (this.currentStep === this.steps[0]) {
          return this.stepHeadings[0].heading
        }
        if (this.currentStep === this.steps[1]) {
          return this.stepHeadings[1].heading
        }
        if (this.currentStep === this.steps[2]) {
          return this.stepHeadings[2].heading
        }
        if (this.currentStep === this.steps[3]) {
          return this.stepHeadings[3].heading
        }
        if (this.currentStep === this.steps[4]) {
          return this.stepHeadings[4].heading
        }
      },
      subHeadingText() {
        if (this.currentStep === this.steps[0]) {
          return this.stepHeadings[0].subheading
        }
        if (this.currentStep === this.steps[1]) {
          return this.stepHeadings[1].subheading
        }
        if (this.currentStep === this.steps[2] ) {
          return this.stepHeadings[2].subheading
        }
        if (this.currentStep === this.steps[3]) {
          return this.stepHeadings[3].subheading
        }
      }
    },
    methods: {

    }
  }
</script>

<style lang="scss" scoped>
  .kit-builder-heading {
    position: relative;
    text-align: center;
    margin: 24px auto;
    padding: 0 $grid-gutter;
    span {
      display: block;
      font-size: 20px;
      font-weight: 500;
      line-height: 34px;
      text-transform: uppercase;
      @include mobile-only {
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 16px;
      }
    }
    h2 {
      font-size: 48px;
      line-height: 67px;
      @include mobile-only {
        font-size: 23px;
        line-height: 28px;
        margin-bottom: 16px;
      }
    }
    p {
      display: flex;
      justify-content: center;
      font-size: 20px;
      line-height: 29px;
      /deep/ .link {
        font-size: 20px;
        line-height: 29px;
        margin-left: 8px;
      }
      @include mobile-only {
        display: flex;
        flex-direction: column;
        align-items: center;
        /deep/ .link {
          margin-left: 0;
        }
      }
    }
  }
</style>