<template lang="pug">
  .kit-builder-bags
    kit-builder-card(v-for="bag in currentlySelectedLunchbox.bags" enableSwatches :key="bag.data.id" :product="bag.data" :alt-title="bag.title" :badge-text="bag.badgeText" :badge-colors="badgeColors" product-type="bag")
</template>

<script>
  import { mapState } from 'vuex';

  import KitBuilderCard from './KitBuilderCard.vue'

  export default {
    name: 'KitBuilderBags',
    components: { KitBuilderCard },
    props: {
      badgeColors: {
        type: Object,
        required: true,
      }
    },
    computed: {
      ...mapState({
        products: state => state.kitBuilder.products,
        selectedProducts: state => state.kitBuilder.selectedProducts
      }),
      currentlySelectedLunchbox() {
        return this.products.lunchboxes.find(lunchbox => lunchbox.data.variants[0].id === this.selectedProducts.lunchbox)
      }
    },
    mounted() {
      if (this.selectedProducts['bag'] !== null) {
        this.$store.dispatch('kitBuilder/toggleProductSelected', true)
      }
    }
  }
</script>

<style lang="scss" scoped>
  .kit-builder-bags {
    width: 100%;
    display: flex;
    justify-content: center;
    @include mobile-tablet {
      flex-direction: column;
      padding: 16px;
    }
  }
</style>

