<template lang="pug">
  .kit-builder-magnets
    .kit-builder-magnets__current-image
      img(:src="hoverImgActive ? hoverImg : currentLunchboxImageUrl" :alt="`${currentLunchboxMagnets.variants[0].title} Magnet`")
      div.kit-builder-magnets__message
        p(v-if="$mq !== 'mobile'") Our lunchboxes come with a magnet design of your choice!
        p.kit-builder-magnets__magnet-name
          strong Magnet (included)
          span.span-divider(v-if="currentMagnetTitle || hoverTitle") :
          span(v-if="currentMagnetTitle || hoverTitle") {{ hoverTitle ? hoverTitle : currentMagnetTitle }}
    .kit-builder-magnets__magnet-selector
      .kit-builder-magnets__magnet(
        v-for="variant in currentLunchboxMagnets.variants"
        :key="variant.id" :style="!variant.available ? `display: none;` : `backgroundImage: url(${getFileUrl(`img-pb-thumb-${variant.sku}.png`)});`"
        @click="selectMagnet(variant.id)"
        @mouseover="togglePreviewMagnet(variant.featured_image.src, variant.option1, true)"
        @mouseleave="togglePreviewMagnet(null, false)")
        .kit-builder-magnets__selected-overlay(:class="currentMagnet === variant.id ? 'active' : ''")
        input.kit-builder-magnets__radio(
        :id="`${productType}-${handleizeOption(variant.options[0])}`"
        :value="variant.id"
        type="radio"
        v-model="currentMagnet")
</template>

<script>
  import { mapState } from 'vuex'

  import { handleize, unhandleize } from 'scripts/filters/string.js'
  import { fileUrl } from 'scripts/helpers/util';

  import Icon from '../../basic/Icon.vue'

  export default {
    name: 'KitBuilderMagnets',
    components: { Icon },
    data() {
      return {
        productType: 'magnet',
        currentMagnet: null,
        hoverImgActive: false,
        hoverImg: null,
        hoverTitle: null
      }
    },
    computed: {
      ...mapState({
        products: state => state.kitBuilder.products,
        selectedProducts: state => state.kitBuilder.selectedProducts,
        selectedProductImageUrls: state => state.kitBuilder.selectedProductImageUrls
      }),
      currentLunchboxMagnets() {
        return this.products.lunchboxes.find(lunchbox => lunchbox.data.variants[0].id === this.selectedProducts.lunchbox).magnets
      },
      currentMagnetImageUrl() {
        if (this.currentMagnet) {
          return this.getFileUrl(`img-pb-thumb-${this.currentLunchboxMagnets.variants.find(variant => variant.id === this.currentMagnet).sku}.png`)
        }
      },
      currentMagnetTitle() {
        if (this.currentMagnet) {
          return this.currentLunchboxMagnets.variants.find(variant => variant.id === this.currentMagnet).option1
        }
      },
      currentLunchboxImageUrl() {
        if (this.currentMagnet) {
          return this.currentLunchboxMagnets.variants.find(variant => variant.id === this.currentMagnet).featured_image.src
        } else {
          return this.currentLunchboxMagnets.featured_image
        }
      }
    },
    methods: {
      getFileUrl(file) {
        return fileUrl(file)
      },
      handleizeOption(optionName) {
        return handleize(optionName)
      },
      unhandleizeOption(optionName) {
        return unhandleize(optionName)
      },
      selectMagnet(id) {
        this.currentMagnet = id
        this.selectProduct()
      },
      togglePreviewMagnet(imageUrl, optionName, activeBoolean) {
        this.hoverImgActive = activeBoolean
        this.hoverImg = imageUrl
        this.hoverTitle = optionName
      },
      selectProduct() {
        let newSelectedProducts = newSelectedProducts = this.selectedProducts
        let newSelectedProductImageUrls = newSelectedProductImageUrls = this.selectedProductImageUrls
        newSelectedProducts[this.productType] = this.currentMagnet
        newSelectedProductImageUrls.splice(1, 1, this.currentMagnetImageUrl)
        this.$store.dispatch('kitBuilder/setSelectedProducts', newSelectedProducts)
        this.$store.dispatch('kitBuilder/setProductImageUrls', newSelectedProductImageUrls)
        this.$store.dispatch('kitBuilder/toggleProductSelected', true)
      }
    },
    mounted() {
      if (this.selectedProducts[this.productType] !== null) {
        this.currentMagnet = this.selectedProducts[this.productType]
        this.$store.dispatch('kitBuilder/toggleProductSelected', true)
      }
    }
  }
</script>

<style lang="scss" scoped>
  .kit-builder-magnets {
    animation: slideUp 200ms ease;
    &__current-image {
      max-width: 420px;
      margin: 0 auto;
      @include mobile-tablet {
        max-width: 286px;
        margin-bottom: 16px;
      }
    }
    &__message {
      max-width: 380px;
      margin: 0 auto;
      text-align: center;
      margin-top: 32px;
    }

    &__magnet-name {
      text-align: left;
      margin-top: 8px;
      @include mobile-only {
        margin-top: 0;
      }
    }

    .span-divider {
      margin-right: 8px;
    }

    &__magnet-selector {
      display: inline-flex;
      flex-wrap: wrap;
      margin: 32px auto 0;
      max-width: 532px;
      @include mobile-only {
        display: flex;
        max-width: 286px;
      }
    }
    &__magnet {
      position: relative;
      width: 24px;
      height: 24px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      margin: 0 4px 8px;
      border-radius: 100%;
      cursor: pointer;
      border: 1px solid $color-brand-secondary;
    }
    &__selected-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba($color-black, 0.2);
      border-radius: 100%;
      border: 2px solid $color-white;
      opacity: 0;
      transition: opacity 200ms ease;
      &.active {
        opacity: 1;
      }
    }
    &__radio {
      display: none;
    }

    &__magnet-swatch {
      width:30px;
      height: 32px;
      background-size: cover;
      background-position: center;
      margin-right: 8px;
      flex-shrink: 0;
    }
  }
  @keyframes slideUp {
    from {
      opacity: 0;
      transform: translate3d(0,50px,0);
    }
    to {
      opacity: 1;
      transform: translate3d(0,0,0);
    }
  }
</style>