<template lang="pug">
  .kit-builder-back-button
    v-link(v-if="currentStep !== steps[4] && currentStep !== steps[0]" primary @click="goBack") Back
    v-link(v-if="currentStep === steps[4]" primary @click="startOver") Start Over
</template>

<script>
  import { mapState } from 'vuex'

  import { handleize } from 'scripts/filters/string.js'

  import VLink from '../../buttons/VLink.vue'

  export default {
    name: 'KitBuilderBackButton',
    components: { VLink },
    computed: {
      ...mapState({
        steps: state => state.kitBuilder.steps,
        currentStep: state => state.kitBuilder.currentStep
      }),
      currentStepIndex() {
        return this.steps.indexOf(this.currentStep)
      }
    },
    methods: {
      goBack() {
        let backStep = handleize(this.steps[this.currentStepIndex - 1])
        window.history.pushState({currentStep: this.steps[this.currentStepIndex - 1]}, backStep, `#${backStep}`)
        this.$store.dispatch('kitBuilder/setCurrentStep', this.steps[this.currentStepIndex - 1])
        this.scrollToTop()
      },
      startOver() {
        let newSelectedProducts
        let newSelectedProductData
        let newSelectedProductImageUrls
        let firstStep = handleize(this.steps[0])

        window.history.pushState({currentStep: this.steps[0]}, firstStep, `#${firstStep}`)

        newSelectedProducts = {
          lunchbox: null,
          magnet: null,
          bag: null,
          bottle: null
        }

        newSelectedProductImageUrls = ["", "", "", ""]

        newSelectedProductData = {
          lunchbox: {},
          magnet: {},
          bagProduct: {},
          bagVariant: {},
          bottleProduct: {},
          bottleVariant: {}
        }

        this.$store.dispatch('kitBuilder/setSelectedProducts', newSelectedProducts)
        this.$store.dispatch('kitBuilder/setSelectedProductData', newSelectedProductData)
        this.$store.dispatch('kitBuilder/setProductImageUrls', newSelectedProductImageUrls)
        this.$store.dispatch('kitBuilder/setCurrentStep', this.steps[0])
        this.$store.dispatch('kitBuilder/setCurrentTotal', 0)
        this.$store.dispatch('kitBuilder/setCurrentSavings', 0)
        this.scrollToTop()
      },
      scrollToTop() {
        document.querySelector('.planetbox-kit-builder__inner-ui-wrapper').scrollTo({
          top: 0,
          left: 0,
          behavior: 'smooth'
        })
      }
    }
  }
</script>

<style lang="scss" scoped>
  .kit-builder-back-button {
    position: absolute;
    top: 24px;
    left: 0;
    padding-left: $grid-gutter;
    @include mobile-only {
      display: none;
    }
    /deep/ .link {
      display: flex;
      flex-direction: row-reverse;
      .icon {
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        transform: rotate(180deg) !important;
        transition: transform 200ms ease;
      }
      &:hover {
        .icon {
          transform: rotate(180deg), translate(5px, 0) !important;
        }
      }
    }
  }
</style>