<template lang="pug">
  .kit-builder-swatches
    .kit-builder-swatches__swatch(v-for="(variant, index) in variants" :style="!variant.available ? `display: none;` : ''")
      input.input--radio.kit-builder-swatches__swatch-radio(
        :id="`${productType}-${normalizeOption(variant.options[0])}`"
        :value="`${variant.options[0]}`"
        type="radio"
        v-model="activeSwatch"
        :style="`backgroundImage: url(${getFileUrl(`swatch_${normalizeOption(variant.options[0])}.png`)})`")
</template>

<script>
  import { handleize, unhandleize, normalize } from 'scripts/filters/string.js'
  import { fileUrl } from 'scripts/helpers/util';
  import { mapState } from 'vuex';

  export default {
    name: 'KitBuilderSwatches',
    props: {
      productType: {
        type: String,
        required: true
      },
      variants: {
        type: Array,
        required: true
      }
    },
    data() {
      return {
        activeSwatch: null,
        activeVariant: null
      }
    },
    watch: {
      activeSwatch() {
        this.activeVariant = this.variants.find(variant => variant.options[0] === this.activeSwatch)
        this.$emit('set-current-variant-id', this.activeVariant.id)
      }
    },
    computed: {
      ...mapState({
        selectedProducts: state => state.kitBuilder.selectedProducts
      })
    },
    methods: {
      getFileUrl(file) {
        return fileUrl(file)
      },
      normalizeOption(optionName) {
        return normalize(optionName)
      },
      setActiveSwatch(id) {
        this.activeSwatch = this.variants.find(variant => variant.id === id).options[0]
      }
    },
    mounted() {
      // checks to make sure that the user has not previously selected a variant swatch.
      // Selects swatch if they have.
      if (
        this.selectedProducts[this.productType] !== null &&
        this.variants.some(variant => variant.id === this.selectedProducts[this.productType])) {
          this.setActiveSwatch(this.selectedProducts[this.productType])
      }
    }
  }
</script>

<style lang="scss" scoped>
  .kit-builder-swatches {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 16px;
    input[type=radio]::-ms-check {
      width: 24px;
      height: 24px;
      -webkit-appearance: none;
      -moz-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      appearance: none;
      background-size: cover;
      background-position: center;
      margin: 0;
      border-radius: 100%;
      width: 24px;
      height: 24px;
      background-size: 150%;
      background-position: center;
      border-color: rgba(0,0,0,0.1);
      flex-shrink: 0;
      margin: 0 8px 16px;
      &:checked {
        background: none;
        background-size: cover;
        background-position: center;
        border: 1px solid $color-brand-primary;
        &::after {
          display: block;
          background-image: none;
          width: 100%;
          height: 100%;
          border-radius: 100%;
          border: 3px solid white;
          top: 0%;
          left: 0%;
          background-color: transparent;
        }
      }
    }
    &__swatch-radio {
      width: 24px;
      height: 24px;
      -webkit-appearance: none;
      -moz-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      appearance: none;
      background-size: cover;
      background-position: center;
      margin: 0;
      border-radius: 100%;
      width: 24px;
      height: 24px;
      background-size: 150%;
      background-position: center;
      border-color: rgba(0,0,0,0.1);
      flex-shrink: 0;
      margin: 0 8px 16px;
      &:checked {
        background: none;
        background-size: cover;
        background-position: center;
        border: 1px solid $color-brand-primary;
        &::after {
          display: block;
          background-image: none;
          width: 100%;
          height: 100%;
          border-radius: 100%;
          border: 3px solid white;
          top: 0%;
          left: 0%;
          background-color: transparent;
        }
      }
    }
  }
</style>