<template lang="pug">
  .planetbox-kit-builder(:style="`height: calc(100vh - ${headerHeight}px)`" v-scroll-lock="$browserDetect.isIOS ? false : true")
    kit-builder-header.app-header(:header-title="headerTitle" :active-step-color="activeStepColor" :class="!appHeaderVisible ? 'hidden' : ''")
    .planetbox-kit-builder__inner-ui-wrapper(:style="`height: calc(100vh - ${headerHeight}px); top: 0; paddingBottom: ${appFooterHeight * 2}px; paddingTop: ${appHeaderHeight}px;`" v-scroll:debounce="{fn: toggleHeader, debounce: 100 }")
      kit-builder-heading(:step-headings="stepHeadings" :badge-colors="badgeColors")
      .planetbox-kit-builder__step-wrapper.container
        kit-builder-lunchboxes(v-if="this.currentStep === this.steps[0]" :badge-colors="badgeColors" key="lunchboxes")
        kit-builder-magnets(v-if="this.currentStep === this.steps[1]" :badge-colors="badgeColors" key="magnets")
        kit-builder-bags(v-if="this.currentStep === this.steps[2]" :badge-colors="badgeColors" key="bags")
        kit-builder-bottles(v-if="this.currentStep === this.steps[3]" :badge-colors="badgeColors" key="bottles")
        kit-builder-finish(v-if="this.currentStep === this.steps[4]" :badge-colors="badgeColors" key="finish")
    kit-builder-footer
</template>

<script>
  import Vue from 'vue'
  import { mapState } from 'vuex';

  import { handleize } from 'scripts/filters/string.js'
  import { fileUrl } from 'scripts/helpers/util';

  import KitBuilderFooter from './KitBuilderFooter.vue'
  import KitBuilderHeader from './KitBuilderHeader.vue'
  import KitBuilderHeading from './KitBuilderHeading.vue'

  import KitBuilderLunchboxes from './KitBuilderLunchboxes.vue'
  import KitBuilderMagnets from './KitBuilderMagnets.vue'
  import KitBuilderBags from './KitBuilderBags.vue'
  import KitBuilderBottles from './KitBuilderBottles.vue'
  import KitBuilderFinish from './KitBuilderFinish.vue'

  export default {
    name: 'PlanetboxKitBuilder',
    components: {
      KitBuilderFooter,
      KitBuilderHeader,
      KitBuilderHeading,
      KitBuilderLunchboxes,
      KitBuilderMagnets,
      KitBuilderBags,
      KitBuilderBottles,
      KitBuilderFinish
    },
    props: {
      initProducts: {
        type: Object,
        default: () => ({
          lunchboxes: Array
        })
      },
      initSteps: {
        type: Array,
        required: true
      },
      stepHeadings: {
        type: Array,
        required: true
      },
      headerTitle: {
        type: String,
        required: true
      },
      activeStepColor: {
        type: String,
        required: true
      },
      badgeColors: {
        type: Object,
        required: true,
      }
    },
    data() {
      return {
        headerHeight: null,
        appHeaderHeight: null,
        appFooterHeight: null,
        appHeaderVisible: true,
        currentScrollPosition: 0,
        previousScrollPosition: 0
      }
    },
    computed: {
      ...mapState({
        products: state => state.kitBuilder.products,
        steps: state => state.kitBuilder.steps,
        currentStep: state => state.kitBuilder.currentStep,
        productSelected: state => state.kitBuilder.productSelected,
        selectedProducts: state => state.kitBuilder.selectedProducts,
        selectedProductData: state => state.kitBuilder.selectedProductData,
        selectedProductImageUrls: state => state.kitBuilder.selectedProductImageUrls
      })
    },
    methods: {
      getFileUrl(file) {
        return fileUrl(file)
      },
      toggleHeader(event, position) {
        this.currentScrollPosition = position.scrollTop
        this.$forceUpdate()
        if (this.currentScrollPosition >= this.previousScrollPosition) {
          this.appHeaderVisible = false
        } else {
          this.appHeaderVisible = true
        }
        this.previousScrollPosition = position.scrollTop
        this.$forceUpdate()
      },
      goToStep(stepIndex) {
        let newStep = handleize(this.steps[stepIndex])

        window.history.pushState({currentStep: this.steps[stepIndex]}, newStep, `#${newStep}`)

        this.$store.dispatch('kitBuilder/setCurrentStep', this.steps[stepIndex])

        document.querySelector('.planetbox-kit-builder__inner-ui-wrapper').scrollTo({
          top: 0,
          left: 0,
          behavior: 'smooth'
        })
      }
    },
    watch: {
      currentWindowStep() {
        this.currentWindowStep = window.history.state.currentStep
      }
    },
    beforeMount() {
      window.history.pushState({currentStep: this.currentStep}, this.currentStep, `#${handleize(this.currentStep)}`)
      this.$store.dispatch('kitBuilder/setSteps', this.initSteps)
      this.$store.dispatch('kitBuilder/setProducts', this.initProducts)
      this.$store.dispatch('kitBuilder/setCurrentStep', this.steps[0])
    },
    mounted() {
      window.onbeforeunload = () => {
        return 'Are you sure you want to leave? Your kit will not be saved!'
      }

      let updateAppUi = () => {
        this.headerHeight =  document.querySelector('.main-navigation-container').offsetHeight
        this.appHeaderHeight =  document.querySelector('#kit-builder-header').offsetHeight
        this.appFooterHeight =  document.querySelector('#kit-builder-footer').offsetHeight
      }

      updateAppUi()

      let pollAppUi = setInterval(() => {
        updateAppUi()
      }, 3000)

      document.querySelector('#shopify-section-footer').style.cssText = 'display: none !important;'

      const lsLunchbox = parseInt(sessionStorage.lunchboxId)
      const lsMagnet = parseInt(sessionStorage.magnetId)
      let newSelectedProducts = this.selectedProducts
      let newSelectedProductImageUrls

      // if box but no magnet
      if(lsLunchbox && !lsMagnet) {
        newSelectedProducts['lunchbox'] = lsLunchbox
        this.$store.dispatch('kitBuilder/setSelectedProducts', newSelectedProducts)
        newSelectedProductImageUrls = [this.selectedProductData.lunchbox.data.featured_image, "", "", ""]
        this.$store.dispatch('kitBuilder/setProductImageUrls', newSelectedProductImageUrls)
        this.goToStep(1)
      }

      // if both box and magnet
      if(lsLunchbox && lsMagnet) {
        newSelectedProducts['lunchbox'] = lsLunchbox
        newSelectedProducts['magnet'] = lsMagnet
        this.$store.dispatch('kitBuilder/setSelectedProducts', newSelectedProducts)
        newSelectedProductImageUrls = [
          this.selectedProductData.lunchbox.data.featured_image,
          this.getFileUrl(`img-pb-thumb-${this.selectedProductData.lunchbox.magnets.variants.find(variant => variant.id === this.selectedProducts['magnet']).sku}.png`),
          "",
          ""
        ]
        this.$store.dispatch('kitBuilder/setProductImageUrls', newSelectedProductImageUrls)
        this.goToStep(2)
      }

    },
    beforeDestroy() {
      clearInterval(this.pollAppUi)
    }
  }
</script>

<style lang="scss" scoped>
  .planetbox-kit-builder {
    position: relative;
    width: 100vw;
    background-color: $color-off-white;
    overflow: hidden;
    &__inner-ui-wrapper {
      position: absolute;
      left: 0;
      width: 100vw;
      overflow-y: auto;
    }
    &__step-wrapper {
      display: flex;
      justify-content: center;
      max-width: 1000px;
      @include mobile-only {
        padding: 0;
      }
      @include ie {
        padding-bottom: 300px;
      }
      @supports (-moz-appearance:meterbar) {
        margin-bottom: 300px;
      }
    }
    .app-header {
      transition: opacity 200ms ease;
      &.hidden {
        opacity: 0;
        pointer-events: none;
      }
    }
  }
</style>