<template lang="pug">
  .yotpo.yotpo-pictures-widget(
    :data-gallery-id="getID"
  )
</template>

<script>
  export default {
    name: 'InstagramGallery',
    props: {
      carouselId: String,
      galleryId: String,
    },
    computed: {
      getID ()  {
        return ['mobile', 'tablet'].includes(this.$mq) ? this.carouselId : this.galleryId;
      }
    },
    updated () {
      // If the yotpo API is available, need to refresh the instagram gallery
      if (typeof Yotpo === 'undefined') return;
      const api = new Yotpo.API(yotpo);
      api.refreshWidgets();
    }
  };
</script>
