<template lang="pug">
  .logos-carousel(:class="logosCarouselClasses" :style="containerStyles")
    .container
      .logos-carousel__header
        .logos-carousel__title.h4(v-html="settings.introContent" v-if="settings.introContent" :style="{ color: settings.titleColor }")
        p.logos-carousel__subheader(v-if="settings.subheader") {{ settings.subheader }}
      .logos-carousel__container
        swiper.logos-carousel__wrapper(:options="swiperOptions" ref="carousel")
          swiper-slide.logos-carousel__card(v-for="(card, index) in items" :key="`ms_${index}`")
            img(:src="card.image" :alt="card.alt")
            a(:href="card.url" :v-if="card.url")
        .logos-carousel__nav-button-container
          button.logos-carousel__nav-button.prev
            icon(name="arrow-right" size="20px")
          button.logos-carousel__nav-button.next
            icon(name="arrow-right" size="20px")
    component(is="style" v-html="injectedStyles")
</template>
<script>
import { swiper, swiperSlide } from 'vue-awesome-swiper';
import VButton from 'scripts/components/buttons/VButton.vue';
import Icon from 'scripts/components/basic/Icon.vue';
export default {
  props: ['block'],
  components: {
    swiper,
    swiperSlide,
    VButton,
    Icon
  },
  data() {
    return {
      settings: this.block.settings
    }
  },
  computed: {
    logosCarouselClasses() {
      return {
        'logos-carousel--single-image': this.block.type === 'single_image_carousel',
      };
    },
    injectedStyles () {
      return `
        .logos-carousel__title b,
        .logos-carousel__title strong {
          color: ${this.settings.highlightTextColor};
        }
      `
    },
    swiperOptions () {
      return {
        slidesPerView: this.block.type === 'logo_carousel' ? 'auto' : 1,
        centerInsufficientSlides: true,
        freeMode: true,
        navigation: {
          nextEl: '.logos-carousel__nav-button.next',
          prevEl: '.logos-carousel__nav-button.prev'
        }
      }
    },
    items () {
      return this.settings.items
    },
    containerStyles () {
      return {
        backgroundColor: `${this.settings.backgroundColor}`,
        paddingTop: `${this.settings.marginTop}px`,
        paddingBottom: `${this.settings.marginBottom}px`
      }
    }
  }
}
</script>
<style lang="scss" scoped>
  .logos-carousel {
    overflow: hidden;
    background-color: $color-v-light-grey;
  }

  .swiper-container {
    .logos-carousel & {
      @include mobile-only {
        overflow: visible;
      }
    }
  }

  .logos-carousel__subheader {
    font-size: rem(14);
    font-weight: 400;
    line-height: rem(20);
    letter-spacing: -0.2px;
    margin: 16px 0;
    padding: 0 16px;
    color: #575757;
  }

  .logos-carousel__nav-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
  }

  .logos-carousel__nav-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1px 20px 0 rgba(0,0,0,0.1);
    background-color: $color-white;
    width: 50px;
    height: 50px;
    min-width: 0;
    padding: 0;
    border: 0;
    border-radius: 50%;
    z-index: 3;

    @include tablet-up {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

    &.next {
      margin-left: 20px;

      @include tablet-up {
        right: -50px;
        margin-left: 0;
      }
    }

    &.prev {
      @include tablet-up {
        left: -50px;
      }

      svg {
        transform: rotate(180deg);
      }
    }
  }

  .logos-carousel .container {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1060px;

    @include tablet-up {
      padding-left: 60px;
      padding-right: 60px;
    }

    /deep/ .swiper-wrapper {
      align-items: center;
    }
  }

  .logos-carousel__header {
    text-align: center;
  }

  .logos-carousel__title {
    /deep/ p {
      text-transform: none;
      font-weight: 600;
    }

    /deep/ p strong {
      font-weight: 600;
    }
  }

  .logos-carousel__container {
    position: relative;
    margin-top: 24px;
    margin-bottom: 24px;

    @include tablet-up {
      margin-top: 50px;
      margin-bottom: 0;
    }
  }

  .logos-carousel__card {
    position: relative;
    max-width: 240px;
    max-height: 90px;
    padding: 0 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: auto;

    a {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }


    img {
      display: block;
      margin: 0 auto;
      max-height: 73px;
      max-width: 200px;
    }

    .logos-carousel--single-image & {
      max-width: unset;
      max-height: unset;

      img {
        max-height: 100%;
        max-width: 100%;
      }
    }
  }
</style>