<template lang="pug">
  span
    img(v-bind="$attrs" @error="error = true" v-if="!error")
    img(:src="defaultSrc" v-else)
</template>

<script>
export default {
  name: 'VImage',
  inheritAttrs: false,
  props: {
    defaultSrc: String
  },
  data() {
    return {
      error: false
    }
  }
}
</script>