<template lang="pug">
  .product-carousel
    icon-button.product-carousel__prev(
      v-if="multipleImages"
      label="Previous Slide",
      icon-name="nav-arrow-left",
      size="47"
      @click="$refs.productImageCarousel.slidePrev()"
    )
    icon-button.product-carousel__next(
      v-if="multipleImages"
      label="Next Slide",
      icon-name="nav-arrow-right",
      size="47"
      @click="$refs.productImageCarousel.slideNext()"
    )
    carousel(
      ref="productImageCarousel",
      :slides-to-show="1",
      :infinite="multipleImages ? true : false",
      :dots="multipleImages ? true : false"
    )
      slide(v-for="(image, index) in sizedImages", :key="index")
        img.product-carousel__image(
          v-lazy="image.src"
          :alt="image.alt"
          draggable="false"
        )
</template>

<script>
  import { imageSize } from 'scripts/helpers/util.js';

  import IconButton from 'scripts/components/buttons/IconButton.vue'
  import VButton from 'scripts/components/buttons/VButton.vue'
  import Carousel from 'scripts/components/basic/Carousel.vue'
  import Slide from 'scripts/components/basic/Slide.vue'

  export default {
    name: 'ProductSlider',
    components: { IconButton, Carousel, Slide },
    props: {
      images: Array
    },
    data() {
      return {
        multipleImages: this.images.length > 1
      }
    },
    computed: {
      sizedImages () {
        return this.images.map((image) => {
          return {
            src: imageSize(image.src, '600x'),
            alt: image.alt
          };
        });
      }
    }
  }
</script>

<style scoped lang="scss">
  .product-carousel {
    position: relative;
    padding: 0 #{24px + $grid-gutter * 2};

    @include mobile-only {
      padding: 0 #{$grid-gutter * 1.5};
      max-width: 550px;
      margin-left: auto;
      margin-right: auto;
    }

    &__next,
    &__prev {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 10;
      cursor: pointer;
    }

    &__next {
      right: $grid-gutter;

      @include mobile-only {
        right: 4px;
      }
    }

    &__prev {
      left: $grid-gutter;

      @include mobile-only {
        left: 4px;
      }
    }

    &__image {
      align-self: center;
    }
  }
</style>
