<template lang="pug">
  section.precs
    h3.precs__heading {{ heading }}
    div.recs
      product-tile(
        v-for="product in products"
        :key="product.id"
        :product="product"
      )
</template>

<script>
import ProductTile from '../ProductTile.vue';

export default {
  props: {
    collection: Object,
    products: Object,
    heading: {
      type: String,
      default: 'You May Also Like'
    }
  },
  components: {
    ProductTile
  },
}
</script>

<style lang="scss">

</style>