
<template lang="pug">
  div.pb-var-select.pdp--side-padded-mobile
    .pb-var-select__static(:class="{'pb-var-select__static--hidden': !value, 'pb-var-select__static--selected': value }")
      p.pb-var-select__selection-indicator
        strong Magnet (included)
        span.span-divider(v-if="value || tempValue") :
        span.pb-var-select__selected-value(v-if="value || tempValue") {{ tempValue ? tempValue.option1 : value.option1 }}
        button.pb-var-select__clear-button.bubble-hover(@click="clearInput", v-if="value")
          icon(name="close", size="18px")
      //- image
      div(style="position: relative;")
        img.text-center.pb-var-select__img(:src="imageSize(tempImage || image.src, '352x')", :alt="image.alt")
        div.hidden-sm.pb-var-select__many-indicator(v-if="magnetProduct.variants.length > 10 && showStaticOptions")
          button.link.link--secondary(@click="() => $refs.modal.open()") View All Designs +
        //- options
      div.pb-var-select__options(v-if="showStaticOptions")
        product-pb-magnet(v-for="variant in magnetProduct.variants", :key="variant.id", :value="variant", @input="$emit('input', $event)", :selected-variant="value", @mouseenter="magnetMouseEnter(variant)", @mouseleave="magnetMouseLeave")
      //- mobile modal trigger button
      div.pb-var-select__mobile-edit-container
        button.pb-var-select__mobile-edit-button.link.link--secondary.hidden-sm(v-show="!showStaticOptions && value", @click="openModal") Edit Selection
        button.pb-var-select__mobile-edit-button.link.link--secondary.hidden-tablet(v-show="value", @click="openModal") Edit Selection
    button.pb-var-select__mobile-modal-button(v-if="!value", @click="openModal")
      span Select a Magnet (Included)
      icon(name="arrow_long_right", size="24px")
    portal(to="pdp-modal-portal")
      modal(ref="modal", :style="modalStyle", @open="() => modalOpen = true", @close="() => modalOpen = false")
        section.text-center(slot="content")
          h1.h3.pb-var-select__modal-header Select a Magnet
          img.pb-var-select__img(:src="imageSize(tempImage || image.src, '352x')")
          p.pb-var-select__selection-indicator
            strong Magnet (included)
            span.span-divider(v-if="value || tempValue") :
            span.pb-var-select__selected-value(v-if="value || tempValue") {{ tempValue ? tempValue.option1 : value.option1 }}
            button.pb-var-select__clear-button.bubble-hover(@click="clearInput", v-if="value")
              icon(name="close", size="18px")
          div.pb-var-select__options
            product-pb-magnet(v-for="variant in magnetProduct.variants", :key="`modal-${variant.id}`", :value="variant", @input="$emit('input', $event)", :selected-variant="value", @mouseenter="() => tempImage = variant.image.src", @mouseleave="() => tempImage = null")
          v-button.pdp__atc.product-form__atc.button.button--secondary.button--full(v-if="isHiddenProduct(product)" disabled secondary) Add To Cart
          async-button.pb-var-select__atc.button.button--secondary(v-else :title="atcTitle" :promise="addToCartPromise", :disabled="!value", @click=" () => addToCart().then(() => $refs.modal.close())") {{ value ? 'Add to Cart' : 'Select A Magnet' }}
    transition(name="off-canvas-slide-up")
      aside.pb-var-select__atc-shelf.bg-white(v-if="value && modalOpen")
        .pb-var-select__price-container.bg-off-white
          span.pb-var-select__product-title {{ product.title }}
          span.pb-var-select__price {{ prices.price | money }}
        v-button.pdp__atc.product-form__atc.button.button--secondary.button--full(v-if="isHiddenProduct(product)" disabled secondary) Add To Cart
        async-button.pb-var-select__atc.button.button--secondary.button--full(v-else :title="atcTitle" :promise="addToCartPromise", @click=" () => addToCart().then(() => $refs.modal.close())") Add to Cart
</template>

<script>
  import { imageSize, fileUrl, isHiddenProduct } from '../../../helpers/util';
  import ProductPbMagnet from './ProductPBMagnet.vue';
  import Icon  from '../../basic/Icon.vue';
  import Modal from '../../basic/Modal.vue';
  import AsyncButton from '../../buttons/AsyncButton.vue';
  import VButton from '../../buttons/VButton.vue';

  export default {
    name: 'ProductPlanetBoxVariantSelector',
    props: {
      magnetProduct: Object,
      product: Object,
      value: Object, // selected variant in magnet product (v-model),
      addToCart: Function,
      prices: Object,
      addToCartPromise: {
        validator: () => true
      },
    },
    data() {
      return {
        headerHeight: 0,
        modalOpen: false,
        tempImage: null, // used to change the image on hover of a magnet,
        tempValue: null, //used to set magnet title on hover
        showStaticOptions: true // desktop static magnet options
      }
    },
    components: {
      ProductPbMagnet,
      Icon,
      Modal,
      AsyncButton,
      VButton
    },
    computed: {
      atcTitle () {
        if(this.magnetProduct && !this.value) {
          return 'Please select a magnet'
        }
        return ''
      },
      image () {
        return this.value && this.value.image || this.magnetProduct.images[0]
      },
      modalStyle () {
        if(this.headerHeight) // <-- required for IE11
          return {
            minHeight: `calc(100vh - ${this.headerHeight})`,
            maxHeight: `calc(100vh - ${this.headerHeight})`, 
            top: this.headerHeight
          }
      }
    },
    watch: {
      value (n, o) {
        if(n && n !== o) 
          this.showStaticOptions = false;
      }
    },
    mounted() {
      window.addEventListener('resize', this.resizeModal);
    },
    methods: {
      imageSize,
      fileUrl,
      isHiddenProduct,
      clearInput() {
        this.showStaticOptions = true;
        this.tempImage = null;
        this.$emit('input'); // unset the variant of the magnet product
      },
      resizeModal() {
        this.headerHeight = document.querySelector('.main-navigation-container').offsetHeight + 'px';
        this.$forceUpdate();
      },
      openModal() {
        if(window.innerWidth < 768) {
          this.$refs.modal.open();
          this.resizeModal();
        } else {
          this.showStaticOptions = true;
        }
      },
      magnetMouseEnter(variant) {
        this.tempImage = variant.image.src
        this.tempValue = variant
      },
      magnetMouseLeave() {
        this.tempImage = null
        this.tempValue = null
      }
    },
  }
</script>

<style lang="scss">
  .pb-var-select {
    button.hidden-sm {
      display: none;
    }

    button.hidden-tablet {
      display: inline-block;
    }

    &__mobile-modal-button {
      border-radius: 4px;
      padding: 14px 12px;
      border: 1px solid $color-brand-primary;
      color: $color-brand-primary;
      fill: $color-brand-primary;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: rem(16);
      width: 100%;
      text-transform: unset;
    }

    button.link, .link {
      text-transform: capitalize;
      letter-spacing: normal;
    }

    strong {
      font-weight: 500;
    }

    &__static {
      position: relative;
    }

    &__clear-button {
      float: right;
      margin-right: 8px;
      padding: 4px;
      margin-top: -4px;
    }

    &__selection-indicator {
      margin-bottom: 12px;
      .span-divider {
        margin-right: 8px;
      }
      @include mobile-only {
        text-align: left;
      }
    }

    &__selected-value {
      color: #979797;
    }

    &__static--hidden {
      display: none;
    }

    &__many-indicator {
      margin-bottom: 8px;
      padding-left: 10px;
    }

    &__many-indicator .link {
      font-size: rem(16);
      font-weight: 400;
    }

    &__mobile-edit-container {
      display: flex;
      justify-content: center;
    }

    &__mobile-edit-button {
      text-transform: capitalize;
      font-weight: 500;
      margin: 0 auto;
      color: $color-brand-primary;
      letter-spacing: normal;
    }

    &__options {
      display: flex;
      flex-wrap: wrap;
      border: none;
      outline: none;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      position: relative; // prevents page from autoscrolling to focused input
    }

    &__modal-header {
      margin-bottom: 24px;
    }

    &__img {
      margin: 0 auto 22px;
      max-height: 204px;
      display: block;
    }

    &__static &__img {
      margin: 0 auto 16px;
    }

    &__static &__options {
      padding-top: 4px;
      max-height: 215px;
      overflow-y: scroll;
    }

    &__atc-shelf {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 14px;
    }

    &__atc-shelf &__atc {
      height: 50px;
      line-height: 52px;
    }

    &__atc-shelf &__price-container {
      font-size: rem(14);
      padding: 16px 12px;
      display: flex;
      justify-content: space-between;
      margin-bottom: 8px;
      flex-wrap: nowrap;
    }

    &__atc-shelf &__product-title {
      max-width: 75%;
    }

    &__static--selected {
      padding: 24px 0 16px;
      border-top: 1px solid $color-grey;
      border-bottom: 1px solid $color-grey;
    }

    &__static .pb-magnet .pb-magnet__main {
      width: 100%;
    }

    &__atc.button:not(.button--state-loading):disabled,
    &__atc.button:not(.button--state-error):disabled,
    &__atc.button:not(.button--state-success):disabled {
      background: #ABACAF;
      border-color: #ABACAF;

      .button__content {
        color: $color-white;
      }
    }

    .modal .pb-magnet input:disabled + .pb-magnet__main {
      border: 1px solid $color-grey;
      background-color: $color-white;
    }

    @include mobile-only {
      .modal {
        max-height: 100vh;
        background: $color-off-white;
        overflow-y: auto;
      }

      .modal .modal__overlay {
        display: none;
      }

      .modal__content {
        margin: 0;
        min-height: unset;
        padding-top: 36px;
        background: $color-off-white;
        padding-bottom: 150px; // so atc shelf doesn't overlap content
      }

      .modal &__atc {
        display: none;
      }

      &__static &__options {
        display: none;
      }

      &__static &__img {
        width: 200px;
      }
    }

    @include tablet-up {
      button.hidden-sm {
        display: inline-block;
      }
      button.hidden-tablet {
        display: none;
      }

      &__mobile-modal-button,
      &__atc-shelf {
        display: none;
      }

      &__static--hidden { // dont hide if nothing is selected on desktop
        display: block;
        padding: 24px 0 16px;
        border-top: 1px solid $color-grey;
        border-bottom: 1px solid $color-grey;
      }

      &__static &__img {
        margin: 0 auto 16px 0;
        height: 175px;
      }

      &__mobile-edit-container {
        justify-content: flex-start;
      }

      &__mobile-edit-button {
        margin-left: 10px;
      }

      .modal &__options {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: row;
        margin-bottom: 20px;
        flex-wrap: wrap;
        max-width: 400px;
        margin: 0 auto;
        max-height: 200px;
        overflow-y: scroll;
      }

      .modal__overlay {
        background-color: rgba(0,0,0,0.25);
      }

      .modal .pb-magnet {
        margin: 0 8px 8px 0;
        width: 24px;
        height: 24px;
      }

      .pb-magnet .pb-magnet__main .badge.badge--tiny {
        right: -6px;
        top: -6px;
        font-size: rem(12);
        font-family: $font-family-secondary;
      }

      .modal .pb-magnet .pb-magnet__main .badge.badge--tiny {
        right: -10px;
        top: -10px;
      }

      .modal .pb-magnet .pb-magnet__main img {
        width: 32px;
      }

      .modal {
        top: 0 !important;
        max-height: 100vh !important;
        background: transparent;
        min-height: 100vh !important;
        overflow: hidden;
      }

      .modal__content {
        background: $color-off-white;
        max-width: 1088px;
        width: 95%;
        height: 95%;
        padding: 24px 10%;
        overflow-y: scroll;
        height: calc(100% - 100px);
      }

      .modal &__img {
        max-height: 365px;
      }

      .modal .pb-magnet__main {
        position: relative;
      }

      .modal .pb-magnet__main * {
        position: absolute;
        top: 0;
        left: 0;
      }

      .modal .pb-magnet__main img {
        width: 30px;
      }

      .modal .pb-magnet__main .pb-magnet__label {
        font-size: rem(12);
      }

      .modal .button {
        text-transform: uppercase;
        letter-spacing: 1.4px;
        width: 416px;
      }

      .modal .pb-magnet .badge.badge--tiny {
        max-width: 60%;
      }
    }

    @include desktop-up {
      &__static &__img {
        height: 200px;
      }

      &__static &__options {
        font-size: 0;
        max-height: 235px;
      }

      .modal__content {
        width: 95%;
        height: calc(100% - 100px);
        max-width: $container-max-width;
        padding: 24px 5%;
      }
    }
  }
</style>