<template lang="pug">
  section.pdp-gallery(:class="{'pdp-gallery--zooming': zoomState}")
    div.pdp-gallery__main
      .pdp-gallery__badge-container
        //- logo badge
        .pdp-gallery__logo-badge(v-if="hasLogoBadge")
          img(:src="product.logoBadge")
        //- badge
        div.badge(v-if="variant", :class="[$store.state.badgeColorMap[getBadge(product, variant, onSale)], logoBadgeClass]") {{ getBadge(product, variant, onSale) }}
      //- navigation buttons
      button.pdp-gallery__button.pdp-gallery__button--next(
        @click="slideNextMain"
        aria-label="Next Featured Image"
        v-if="productMedia.length > 1" 
      )
        icon(name="chevron-right", size="12px")
      button.pdp-gallery__button.pdp-gallery__button--prev(
        @click="slidePrevMain"
        aria-label="Previous Featured Image"
        v-if="productMedia.length > 1" 
      )
        icon(name="chevron-left", size="12px")
      //- zoom-in/zoom-out icon indicators 
      span.pdp-gallery__zoom-icon(@click="() => zoomState = false", v-if="zoomState")
        icon(
          name="zoom_out"
          size="30px"
        )
      span.pdp-gallery__zoom-icon(v-else, @click="zoomCenter")
        icon(
          name="zoom_in"
          size="30px"
        )
      //- slider
      swiper(:options="swiperOptionsMain", ref="swiper")
        div.text-center.pdp-gallery__pagination(slot="pagination", v-show="!zoomState" v-if="productMedia.length > 1")
        swiper-slide(v-for="(media, index) in productMedia", :key="media.id")
          div(@click="() => { if (media.media_type === 'image') setZoom($event, !zoomState) }", @mouseleave="() => zoomState = false")
            media(:media="media")
              zoom(
                ref="zoom"
                slot="image"
                :img-normal-attrs="{ src: media.src, alt: media.alt }" 
                :img-zoom-attrs="{ src: media.src, alt: media.alt }"
                :zooming="zoomState"
                :disabled="!zoomState"
              )
    //- nav slider (hide mobile)
    div.pdp-gallery__thumbs
      button.pdp-gallery__button-thumb.pdp-gallery__button-thumb--next(
        @click="slideNextThumb"
        v-show="thumbsShouldSlide"
        aria-label="Next Thumbnail"
        v-if="productMedia.length > 1" 
      )
        icon(name="chevron-right", size="12px")
      button.pdp-gallery__button-thumb.pdp-gallery__button-thumb--prev(
        @click="slidePrevThumb"
        v-show="thumbsShouldSlide"
        aria-label="Previous Thumbnail"
        v-if="productMedia.length > 1" 
      )
        icon(name="chevron-left", size="12px")
      swiper(:options="swiperOptionThumbs", ref="thumbSwiper" :class="['pdp-gallery__thumbs-slider', {'swiper-no-swiping': !thumbsShouldSlide}]" v-if="productMedia.length > 1")
        swiper-slide(
          v-for="(media, index) in productMedia", 
          :key="media.id", 
          :class="{'pdp-gallery__thumbs-slide--active': slideIndexMain(index) === index, [settings.thumbnailColor]: slideIndexMain(index) === index}")
          button(
            @click="thumbSlideTo(index)"
          )
            media-preview(:media="media", size="160x160")
</template>

<script>
import { swiper, swiperSlide } from 'vue-awesome-swiper';
import { imageSize, fileUrl } from '../../../helpers/util';
import Icon from '../../basic/Icon.vue';
import Zoom from '../../basic/Zoom.vue';
import Media from '../../basic/Media.vue';
import MediaPreview from '../../basic/MediaPreview.vue';
import { badge, swiperLoopSlideChange } from '../../../helpers/util';

export default {
  components: {
    swiper, 
    swiperSlide,
    Zoom,
    Icon,
    Media,
    MediaPreview
  },
  model: {
    prop: 'variant',
  },
  props: {
    collection: Object,
    product: Object,
    customFields: Object,
    settings: Object,
    variant: Object,
    prices: Object,
  },
  data() {
    const vue = this;
    let initialSlide = 0;
    const productImageSrcs = this.product.images.map(image => image.src);
    if(window.location.href.includes('variant=') && productImageSrcs.includes(this.variant.image.src)) {
      initialSlide = productImageSrcs.indexOf(this.variant.image.src);
    }

    return {
      zoomState: false,
      swiperOptionsMain: {
        initialSlide: initialSlide,
        centeredSlides: true,
        pagination: {
          el: '.pdp-gallery__pagination'
        },
        threshold: 50,
        iOSEdgeSwipeDetection: true,
        iOSEdgeSwipeThreshold: 100,
        loop: true,
        on: {
          slideChange: function () {
            swiperLoopSlideChange(this, this.params.slidesPerView, vue.thumbSlideTo);
          }
        }
      },
      swiperOptionThumbs: {
        initialSlide: initialSlide > 0 ? initialSlide - 1 : 0,
        spaceBetween: 8,
        slidesPerView: 4,
        threshold: 15,
        loop: true,
        on: {
          slideChange: function () {
            swiperLoopSlideChange(this, this.params.slidesPerView);
          }
        }
      },
      mounted: false,
    }
  },
  computed: {
    productMedia() {
      const media = this.product.media.length > 0 ? this.product.media : [ {src: '//cdn.shopify.com/s/assets/no-image-2048-5e88c1b20e087fb7bbe9a3771824e743c244f437e4f8ba93bbf7b11b53f7824c.gif'} ];
      return media;
    },
    hasLogoBadge() { 
      return this.product.logoBadge && this.product.logoBadge.length
    },
    logoBadgeClass() {
      return this.product.logoBadge ? 'has-logo-badge' : ''
    },
    onSale() {
      return this.prices.price < this.prices.compare_at_price
    }, 
    thumbsShouldSlide() {
      if (!this.mounted) return false;
      return this.productMedia.length > this.$refs.thumbSwiper.swiper.params.slidesPerView;
    },
  },
  methods: {
    getBadge: badge,

    zoomCenter (event) {
      this.zoomState = true;
      this.$nextTick(() => {
        const zoomContainer = this.$refs.zoom[this.slideIndexMain()];
        if(zoomContainer)
          zoomContainer.zoomCenter();
      })
    },

    setZoom(event, state) {
      this.zoomState = state;
      this.$nextTick(() => {
        const zoomContainer = this.$refs.zoom[this.slideIndexMain()];
        if(zoomContainer)
          zoomContainer.move(event);
      })
    },
    slideNextMain() {
      this.$refs.swiper.swiper.slideNext();
      this.thumbSlideTo(this.slideIndexMain());
    },
    slidePrevMain() {
      this.$refs.swiper.swiper.slidePrev();
      this.thumbSlideTo(this.slideIndexMain());
    },
    slideNextThumb() {
      this.$refs.thumbSwiper.swiper.slideNext();
    },
    slidePrevThumb() {
      this.$refs.thumbSwiper.swiper.slidePrev();
    },
    /** @returns {Number} */
    slideIndexMain() {
      if(!this.$refs.swiper) return 0;
      return this.$refs.swiper.swiper.realIndex;
    },
    /** @returns {Number} */
    slideIndexThumb() {
      if(!this.$refs.swiper) return 0;
      return this.$refs.thumbSwiper.swiper.realIndex;
    },
    thumbSlideTo(index) {
      // Get array of non duplicate slides
      const nonDupSlides = [...this.$refs.thumbSwiper.swiper.slides].filter((el) => !el.matches('.swiper-slide-duplicate'));

      // Slide main swiper to index
      this.$refs.swiper.swiper.slideToLoop(index);
      
      if (this.thumbsShouldSlide) {
        // if new index + slidesPerView is greather then the number of slides and (stops duplicates from showing)
        // if the new index is less than the number of slides (not a duplicate)
        //// slide to last set of slides
        if (index - 1 > nonDupSlides.length - this.$refs.thumbSwiper.swiper.params.slidesPerView && index - 1 < nonDupSlides.length) {
          this.$refs.thumbSwiper.swiper.slideToLoop(nonDupSlides.length - this.$refs.thumbSwiper.swiper.params.slidesPerView);
        } else {
          // otherwise slide to index
          this.$refs.thumbSwiper.swiper.slideToLoop(index > 0 ? index - 1 : index);
        }
      }
    },
  },
  watch: {
    variant(newVariant) {
      if(!newVariant) return;
      const allImageSrcs = this.product.images.map(image => image.src);

      if(newVariant && allImageSrcs.includes(newVariant.image.src)) {
        this.thumbSlideTo(allImageSrcs.indexOf(newVariant.image.src));
      }
    }
  },
  mounted() {
    this.mounted = true;
  }
}
</script>

<style lang="scss" scoped>

  .pdp-gallery {
    margin: 0;
    width: 100%;
    margin-bottom: 32px;

    .swiper-wrapper {
      display: flex;
      align-items: center;
    }
    
    &__main {
      position: relative;
      overflow: hidden;

      /deep/ .swiper-wrapper {
        align-items: center;
      }
    }

    .zoom-on-hover {
      text-align: center;
    }

    &__badge-container {
      position: absolute;
      top: 16px;
      width: 100%;
      display: flex;
      align-items: center;
    }

    &__logo-badge {
      z-index: 4;
      height: 40px;
      margin-right: 16px;
      margin-left: 5%;
      img {
        height: 40px;
        width: auto;
      }
      @include mobile-only {
        height: 35px;
        img {
          height: 35px;
        }
      }
    }

    .badge {
      position: relative;
      top: unset;
      left: unset;
      letter-spacing: 1.5px;
      font-weight: 500;
      font-size: rem(14);
      pointer-events: none;
      &.has-logo-badge {
        @include mobile-only {
          margin-left: auto;
          margin-right: 5%;
        }
      }
    }

    &__button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 32px;
      height: 32px;
      border-radius: 100%;
      border: 1px solid $color-off-black;
      z-index: 5;
      font-size: 0;
      background: $color-white;
      cursor: pointer;
      transition: background-color .2s linear;
    }

    &__pagination {
      position: relative;
      font-size: 0;
      z-index: 11;
    }

    &__button:disabled {
      border-color: $color-grey;
      cursor: default;
    }

    &__button:disabled svg {
      fill: $color-grey;
    }

    &__button--next {
      right: 8px;
    }

    &__button--prev {
      left: 8px;
    }

    &__button--next svg {
      margin-right: -2px;
    }

    &__button--prev svg {
      margin-left: -2px;
    }

    &__zoom-icon {
      position: absolute;
      bottom: 8px;
      right: 8px;
      display: inline-block;
      width: 40px;
      height: 40px;
      background: $color-zoom-background;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 31;
    }

    &__zoom-icon * {
      pointer-events: none;
    }

    .swiper-pagination-bullet {
      width: 5px;
      height: 5px;
      border: 1px solid $color-off-black;
      background: $color-white;
    }

    .swiper-pagination-bullet-active {
      border: 1px solid $color-grey;
      background: $color-grey;
    }

    .swiper-wrapper {
      display: flex;
    }

    &__main .swiper-wrapper {
      align-items: center;
    }

    &__thumbs-slider {
      display: none;
    }

    &__thumbs {
      display: none;
    }

    @include tablet-up {
      width: 50%;
      min-width: 50%;
      max-width: 50%;
      display: inline-block;
      flex-basis: 50%;

      &__main &__button {
        opacity: 0;
        transition: opacity .2s linear;
      }

      &:hover &__main &__button {
        opacity: 1;
      }

      &__main &__button:not(:disabled):hover {
        background: $color-zoom-background;
      }

      &__pagination {
        display: none;
      }

      &__thumbs-slider {
        display: block;
      }

      &__thumbs-slider .swiper-slide {
        border-bottom: 4px solid transparent;
        height: auto;
      }

      &__thumbs-slider .swiper-slide-duplicate {
        opacity: 0;
        visibility: hidden;
        border-bottom: 4px solid transparent !important;
      }

      &__thumbs-slider button {
        width: 100%;
        height: 100%;
        overflow: hidden;
      }

      &__thumbs-slider img {
        // width: 153px;
        max-width: 100%;
      }

      .zoom-on-hover {
        cursor: zoom-in;
      }

      .zoom-on-hover .zoom {
        cursor: zoom-out;
      }

      &__zoom-icon {
        bottom: calc(100% - 54px);
        left: calc(100% - 54px);
        pointer-events: none;
        border-radius: 0;
        width: 108px;
        height: 108px;
        transform: rotate(45deg);
        transform-origin: center;
        box-shadow: 0 1px 4px -1px rgba(0,0,0,0.08);
      }

      &__zoom-icon svg {
        position: relative;
        transform-origin: center;
        transform: rotate(-45deg);
        margin-bottom: -63px;
      }

      &__button {
        width: 40px;
        height: 40px;
      }

      &__button--next {
        right: 0;
      }

      &__button--prev {
        left: 0;
      }

      &__thumbs {
        position: relative;
        margin-top: 8px;
        display: flex;
        align-items: center;
        overflow: hidden;
        display: block;
      }

      &__button-thumb {
        position: absolute;
        top: 0;
        width: 32px;
        height: 100%;
        background: $color-black;
        opacity: .3;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 5;
        transition: right .2s .2s ease, left .2s .2s ease;
      }

      &__button-thumb svg {
        fill: $color-white;
      }

      &__button-thumb--next {
        right: 0;
      }

      &__button-thumb--prev {
        left: 0;
      }

      &__button-thumb--next:disabled {
        right: -33px;
      }

      &__button-thumb--prev:disabled {
        left: -33px;
      }
    }
  }

  .pdp-gallery.pdp-gallery--zooming {
    .badge,
    .pdp-gallery__main .pdp-gallery__button {
      pointer-events: none;
      opacity: 0;
    }
  }
</style>