<template lang="pug">
  section.pdp(:class="{'pb': magnetProduct}")
    product-breadcrumbs(v-bind="$props" v-model="variant")
    product-form-top-mobile(v-bind="$props" v-model="variant" :prices="prices")
    .pdp__main
      product-gallery(v-bind="$props" v-model="variant" :logo-badge="product.logoBadge ? product.logoBadge : undefined" :prices="prices")
      product-form(v-bind="$props" v-model="variant" :selected-magnet-variant="selectedMagnetVariant" @selectedMagnetChange="val => selectedMagnetVariant = val" :prices="prices" :atc-cta-class="settings.atcCtaClass")
      product-details.pdp--side-padded-mobile.pdp__accordions(v-bind="$props" v-model="variant")
    .pdp__banner.section-padded.pdp--side-padded-mobile(v-if="customFields.show_banner")
      about-image-banner-block(:block="bannerData")
    .pdp__tech-specs.section-padded(v-if="customFields['show_5050']")
      product-tech-specs(v-bind="$props" :v-model="variant")
    .pdp__product-recs.pdp--side-padded-mobile(v-if="recommendedProducts.length")
      featured-collection(
        :featuredCollection="{products: recommendedProducts, heading: settings.recommendationsHeading || 'You May Also Like', marginTop: 0, marginBottom: 0 }"
        :showMobileATC="true"
        :collection-template="collectionTemplate"
        :product-tile-text-alignment="productTileTextAlignment")
    #pdp-reviews.pdp__reviews.pdp--side-padded-mobile(v-if="!settings.hideReviews")
      product-reviews(v-bind="$props" :v-model="variant" v-if="reviewSource === 'shopify'")
      .container(v-if="reviewSource === 'bazaarvoice'")
        bazaar-voice-reviews(format="reviews" :productID="product.id")
</template>

<script>
import axios from 'axios';
import ProductGallery from './ProductGallery.vue';
import ProductFormTopMobile from './ProductFormTopMobile.vue';
import ProductForm from './ProductForm.vue';
import ProductDetails from './ProductDetails.vue';
import ProductBreadcrumbs from './ProductBreadcrumbs.vue';
import ProductTechSpecs from './ProductTechSpecs.vue';
import ProductReviews from './ProductReviews.vue';
import FeaturedCollection from '../../collection/FeaturedCollection.vue';
import AboutImageBannerBlock from '../../sections/AboutImageBannerBlock.vue';
import BazaarVoiceReviews from 'scripts/components/product/BazaarVoiceReviews.vue';
import { sumVariantPrices, isHiddenProduct } from '../../../helpers/util';

export default {
  name: "RamsayProductDisplay",
  components: {
    ProductGallery,
    ProductFormTopMobile,
    ProductForm,
    ProductDetails,
    ProductBreadcrumbs,
    ProductTechSpecs,
    ProductReviews,
    FeaturedCollection,
    AboutImageBannerBlock,
    BazaarVoiceReviews
  },
  props: {
    collection: Object,
    product: Object,
    customFields: Object,
    settings: Object,
    magnetProduct: Object,
    globalLogoBadge: String,
    collectionTemplate: String,
    productTileTextAlignment: String
  },
  data() {
    return {
      variant: this.product.selected_or_first_available_variant ? this.product.variants.filter((variant) => variant.id === this.product.selected_or_first_available_variant.id)[0] : {},
      selectedMagnetVariant: null,
      recommendedProducts: this.settings.overrideRelatedProducts || [],
      reviewSource: window.bvaccel && window.bvaccel.reviewSource,
    }
  },
  mounted() {
    if (this.recommendedProducts.length <= 0) {
      // get recommended products
      axios.get(`/recommendations/products?section_id=recommended-products--json&product_id=${this.product.id}&limit=8`, {withCredentials: true})
        .then((res) => {
          // get json from inside recommended-section div and parse it.
          if(res && res.data && res.data.length) {
            const temp = document.createElement('div');
            temp.innerHTML = res.data;
            const data = JSON.parse(temp.firstChild.innerText.trim());
            if(data.products instanceof Array)
              this.recommendedProducts = data.products
                .filter(prod => prod.available && !isHiddenProduct(prod))
                .slice(0, 4);
          }
        })
        .catch((e) => console.error('error fetching recommended products', e.message));
    }
  },
  computed: {
    prices() {
      const prices = sumVariantPrices(this.variant, this.selectedMagnetVariant);
      return prices;
    },
    bannerData() {
      const textColor = /light/i.test(this.customFields.banner_text_color) ? 'color-white' : 'color-black';
      const overlayColor = /light/i.test(this.customFields.banner_overlay_color) ? 'bg-white' : 'bg-black';
      const overlayOpacity = this.customFields.banner_overlay_opacity ? Math.round((parseInt(this.customFields.banner_overlay_opacity))) : 0;// 1-9

      return {
        enableCta: false,
        ctaUrl: '',
        headingColor: textColor,
        heading: this.customFields.banner_header,
        subHeadingColor: textColor,
        subHeading: this.customFields.banner_subheading,
        copyColor: textColor,
        ctaLayout: null,
        ctaText: null,
        heading: this.customFields.banner_header,
        copy: this.customFields.banner_body_copy,
        overlayEnable: true,
        imageMobileEnable: true,
        overlayColor: overlayColor,
        overlayOpacity: overlayOpacity,
        mobileBgColor: 'bg-white',
        layoutVertical: 'middle',
        layoutHorizontal: 'center',
        imageMobile: this.customFields.banner_mobile_image || this.customFields.banner_desktop_image,
        image: this.customFields.banner_desktop_image
      }
    }
  },
}
</script>

<style lang="scss" scoped>
  .pdp {
    &__main {
      max-width: $container-max-width;
      margin: 0 auto;
      padding-bottom: 48px;
    }

    .section-padded {
      padding-top: 0;
    }

    &__main + * { // make sure the next section doesn't float up into the product form/gallery space
      clear: both;
    }

    &--flex-row {
      display: flex;
      justify-content: space-between;
    }

    &__sku {
      margin-right: 16px;
      color: $color-off-black;
      display: inline-block;
    }

    &__tech-specs{
      @include tablet-up {
        padding-left: $grid-gutter;
        padding-right: $grid-gutter;
      }
    }

    @include mobile-only {
      .hero-banner__content * {
        color: $color-black !important;
      }
    }

    &__product-recs .container {
      padding: 0;
    }
  }


  .pdp {
    @include mobile-only {
      padding-bottom: 24px;
    }

    &--wrapper {
      @include mobile-only {
        padding-bottom: 24px;
      }
    }

    .hero__background {
      @include mobile-only {
        display: none;
      }

      bottom: 120px;
    }

    & > .container {
      margin-top: 24px;

      @include tablet-up {
        padding: 56px $grid-gutter;
      }
    }

    @include mobile-only {
      &--side-padded-mobile {
        margin-left: 10px;
        margin-right: 10px;
        width: calc(100% - 20px);
      }
    }

    @include tablet-up {
      &__main {
        padding: 24px 20px 56px;
        font-size: 0;
      }

      &__accordions {
        width: 50%;
        min-width: 50%;
        max-width: 50%;
      }

      &__details {
        max-width: calc(50%);
      }

      &__sticky-container {
        position: relative;
      }
    }

    @include desktop-up {
      &__product-recs .controls-container {
        display: none !important;
      }
    }
  }

  /deep/ #BVRRContainer {
    padding-bottom: 56px;
  }
</style>
