// Nav
.menu-bar__link-text {
  font-weight: 600 !important;
  letter-spacing: 1px !important;
}

// Mobile Menu
.menu-mobile__section-title {
  font-family: $font-family-primary;
  color: $color-brand-primary !important;
}

.menu-accordion__item-title-text {
  h4 {
    font-family: $font-family-tertiary;
    font-weight: 700;
    letter-spacing: 0 !important;

    .menu-accordion__item-title.open & {
      color: $color-white;
    }
  }
}

.menu-accordion__item-title-arrow {
  .icon {
    .menu-accordion__item-title.open & {
      fill: $color-white;
    }
  }
}

.menu-accordion__item-content {
  padding: 0 16px;
}

.menu-bar__col-container:not(:last-child),
.menu-bar__col-linklist-item:not(:last-child) {
  border-bottom: 1px solid $color-light-grey !important;

  @include desktop-up {
    border-bottom: 0 !important;
  }
}

.menu-bar__col-image-link {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.menu-bar__col-linklist-item {
  padding: 0 !important;
}

.menu-bar__col-linklist-nested-container {
  padding-left: 24px;
}

.menu-bar__col-linklist-nested-title {
  font-family: $font-family-tertiary;
  font-weight: 700 !important;
}

// Sidecart
.sidecart__empty__message {
  font-size: rem(40) !important;
  line-height: 1 !important;
  letter-spacing: -2px !important;
}

// Homepage
.testimonials__body p {
  font-size: 1rem !important;
}

.hpc-tile__title {
  line-height: 80% !important;

  .hpc-tile--config-5.hpc-tile--number-2 &,
  .hpc-tile--config-5.hpc-tile--number-1 &,
  .hpc-tile--config-3.hpc-tile--number-1 &,
  .hpc-tile--config-2.hpc-tile--number-1 &,
  .hpc-tile--config-2.hpc-tile--number-2 & {
    // Top padding to keep position after reducing line-height
    // 0.1em since were reducing from 120% line-height to 80%
    padding-top: 0.2em;
  }

  .hpc-tile--config-5.hpc-tile--number-3 &,
  .hpc-tile--config-5.hpc-tile--number-4 &,
  .hpc-tile--config-5.hpc-tile--number-5 &,
  .hpc-tile--config-3.hpc-tile--number-2 &,
  .hpc-tile--config-3.hpc-tile--number-3 & {
    // Top padding to keep position after reducing line-height
    // 0.25em since were reducing from 150% line-height to 80%
    padding-top: 0.35em;
  }
}

// Product Tiles
.product-tile-title {
  .product-tile & {
    font-family: $font-family-tertiary;
    font-weight: 600;
  }
}

// PDP
.product-form__variant-option-set {
  input:not(:disabled):not(:checked) + label:hover,
  input:not(:disabled):not(:checked) + label:focus, 
  input:not(:disabled):not(:checked):focus + label {
    border-color: $color-brand-secondary !important;
    color: $color-brand-secondary !important;
    background-color: transparent !important; 
  }
}

// Value Props
.footer-value-prop__body a {
  text-decoration: underline;

  &::before {
    display: none
  }

  .footer-value-props-container.bg-brand-primary & {
    &:hover {
      color: $color-brand-secondary;
    }
  }
}

// Footer
.footer-email-collection__title {
  font-family: $font-family-secondary;
}

.footer-main__title {
  font-weight: 500;
}

.footer-main__body {
  font-size: 1rem;

  p {
    font-size: 1rem;
  }
}

.footer-main__menu-link {
  margin-bottom: 8px !important;
}

.footer-contact__contact-body {
  font-size: 1rem;
}

.footer-subfooter__link,
.footer-subfooter__copyright {
  font-size: 1rem !important;
}

// Client UAT - Client wanted many UI kit and scoped component elements overridden, please don't be mad...

.layout--default #MainContent {
  padding-top: 0;
}

.hero-banner__content.hero-banner__content--text-box {
  .h1.hero-banner__heading {
    line-height: 80%;
  }
  .subheader.hero-banner__subheading {
    margin-bottom: 20px;
  }
}

.footer-contact__contact-title.h7-mobile.h6-tablet-up {
  text-transform: none;
}

.collections__tile {
  border: 1px solid #DFE0E1;
  border-radius: 4px;
}

.collections__tile-text {
  border-top: 1px solid #DFE0E1;
  h5 {
    font-family: $font-family-tertiary !important;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0px;
    line-height: 120%;
  }
}

.product-tile.widget {
  border: 1px solid #dfe0e1;
  border-radius: 4px;
  .product-tile-title {
    font-family: $font-family-tertiary;
    line-height: 120%;
    font-size: 18px !important;
  }
}

.product-tile-title {
  font-family: $font-family-tertiary !important;
}

.collection-filters__mobile-header {
  span {
    font-family: $font-family-primary !important;
  }
}

.collection-filters__filter-accordion {
  .collection-filters__filter-accordion-title-span {
    font-family: $font-family-tertiary !important;
    font-size: 18px;
  }
}

.collection-filters__filter-panel {
  background: transparent !important;
  .accordion__menu-title {
    font-family: $font-family-tertiary !important;
    font-size: 18px !important;
    color: $color-black !important;
  }
  .accordion-icon {
    fill: $color-brand-primary !important;
  }
}

.collection-filters__active-filter {
  border: 1px solid #CECECE !important;
  background: $color-white;
}

.collection-grid-header {
  border-color: $color-grey !important;
}

.vs__dropdown-toggle {
  border-color: $color-grey !important;
}

.collection-filters__filter-panel {
  border-color: $color-grey !important;
}

.collection-filters-skeleton {
  border-color: $color-grey !important;
}

.collection-filters__title {
  font-family: $font-family-primary !important;
}

.vs__selected {
  height: 100%;
}

.pdp-product-title {
  font-family: $font-family-tertiary !important;
}

.accordion.accordion--product-details {
  .product-details__heading {
    font-family: $font-family-primary;
    font-size: 14px;
  }
}

.product-details__table-category {
  font-weight: 700;
}

.footer-subfooter__link-container > a {
  &:hover {
    color: $color-grey;
  }
  .link__content {
    &::before {
      display: none;
    }
  }
}

.accordion__menu-title {
  font-family: $font-family-tertiary !important;
}
.hpc-tile__description {
  max-width: 60%;
}

.search-input.input--text:hover, .search-input.input--text:focus {
  background-color: transparent !important;
}

#searchq::placeholder {
  transition: color 200ms ease;
}

.input:hover {
  #searchq::placeholder {
    color: $color-brand-primary;
  }
}

.search-results-tabs {
  li {
    font-family: $font-family-primary !important;
  }
}

// Account
.account-content-area h2,
.account-nav-menu-item,
.account-order-back-container {
  font-family: $font-family-primary !important;
  letter-spacing: 0;
}

/* Search Results */
.search-results-tabs li {
  font-family: $font-family-primary !important;
}

// About
.about-three-column-single-header {
  line-height: 100%;
}
