/* Promo Bar */
.carousel__nav__next,
.carousel__nav__prev {
  top: 50% !important;
  transform: translateY(-50%);

  svg.icon.icon,
  .icon.icon {
    width: 16px !important;
    height: 16px !important;
    fill: #4e4e4e !important;

    @include tablet-up {
      width: 24px !important;
      height: 24px !important;
    }
  }
}

.top-bar__helper-main-link-title.helper-links__link--dark {
  color: $color-off-black !important;
}

/* Navigation */
.header-search-container {
  border-right: 0 !important;

  .icon {
    fill: #4e4e4e;
  }
}

.navbar__cart {
  margin-right: 20px !important;

  .icon {
    width: 24px !important;
    height: 24px !important;
    fill: #4e4e4e !important;
  }
}

.header__dropdown-container {
  padding-bottom: 40px !important;
}

.header__dropdown-list-title {
  font-size: rem(18) !important;
  margin-bottom: 16px !important;
  font-weight: 400 !important;

  @include tablet-up {
    font-size: rem(16) !important;
  }
}

.header__dropdown-link {
  color: $color-off-black !important;
}

.header-menu-image-title {
  font-size: rem(16) !important;

  p {
    font-size: inherit;
  }
}

/* Mobile Nav */
.mobile-search-icon-container {
  .icon {
    fill: #4e4e4e !important;
  }
}

.navbar__mobile {
  .hamburger {
    width: 30px !important;
    height: 30px !important;
    padding: 6px !important;
  }

  .hamburger-inner {
    background-color: #4e4e4e !important;

    &::before,#F8F8F8
    &::after {
      background-color: #4e4e4e !important
    }
  }
}

.nav-main-links-container {
  background-color: #F8F8F8 !important;

  @include desktop-up {
    background-color: transparent !important;
  }
}

.header__dropdown-featured-link {
  font-size: rem(16) !important;
}

.header__menu-main-inner-link {
  color: $color-brand-primary !important;

  &::before {
    display: none !important;
  }

  .icon {
    display: inline-block !important;
  }
}

.header__dropdown-images--large-image-title {
  font-weight: 400 !important;
}

.header__dropdown-images--large-image-description {
  font-size: rem(16);

  p {
    font-size: inherit;
  }
}

.header__dropdown-images--large-image-link {
  font-size: rem(16);
}

.navbar__mobile__linklist {
  .header__menu-main-link {
    font-size: rem(20) !important;
    font-weight: 400 !important;
    line-height: 28px !important;
    letter-spacing: 1px !important;

    &.is-open {
      .accordion__title {
        color: $color-accent-5 !important;
      }
      
      .icon {
        fill: $color-accent-5 !important;
      }
    }
  }
}

.mobile-helper-title {
  color: $color-off-black !important;
}

/* Cart */
.sidecart__icon-total-container .icon {
  width: 24px !important;
  height: 24px !important;
}

/* PDP */
.pdp {
  padding-bottom: 0;
  background-color: #f7f7f7;
}

.breadcrumbs .plain-link {
  font-size: 1rem !important;
  color: $color-black;
}

.product-form__type {
  font-weight: 500;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: $color-off-black;
}

.pdp__sku {
  letter-spacing: 0;
}

.accordion--product-details {
  background-color: $color-white !important;

  &:not(.is-open):hover {
    background-color: #fafafa !important;
  }
}

.product-details__description {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.8px;
}

.product-details__heading {
  font-size: 1rem !important;
  font-weight: 500 !important;
  line-height: 22px !important;
  color: #0E0E0E;
}

.pdp__product-recs {
  width: 100% !important;
  margin-right: 0 !important;
  margin-left: 0 !important;
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: $color-white;

  @include tablet-up {
    padding-top: 52px;
    padding-bottom: 52px;
  }
}

.featured-collection__carousel {
  margin-bottom: 0 !important;
}

.featured-collection__header {
  h3 {
    font-size: rem(48);
    font-weight: 500;
    line-height: 67px;
    letter-spacing: 0;
  }
}

.product-tile {
  .button {
    background: transparent;
    border: 2px solid #808080;

    &:hover {
      background-color: #A1A1A1;
      border-color: #A1A1A1;

      .button__content {
        color: $color-white;
      }
    }
  }

  .button__content {
    color: $color-off-black;
  }
}

/* Footer */
.newsletter-submit-container {
  padding: 0 12px;
  border: 0;
  background-color: $color-brand-primary;

  &:hover {
    background-color: $color-accent-5 !important;
  }

  .newsletter-submit-text {
    font-family: $font-family-tertiary;
    font-size: rem(12);
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 1.2px;
    color: $color-white;
    text-transform: uppercase;
  }
}