{% comment %} capture sidebar content as var since it's in two very different positions mobile/desktop {% endcomment %}
{% capture sidebar_markup %}
  {% if article.metafields.custom_fields.sidebar_content %}
    <div class="article__sidebar asidebar">
      {{ article.metafields.custom_fields.sidebar_content }}
      {% if article.metafields.custom_fields.sidebar_cta_text and article.metafields.custom_fields.sidebar_cta_link %}
        <v-button class="asidebar__button" primary tag="a" href="{{ article.metafields.custom_fields.sidebar_cta_link }}">{{ article.metafields.custom_fields.sidebar_cta_text }}</v-button>
      {% endif %}
    </div>
  {% endif %}
{% endcapture %}

<div class="article-hero">
  {% render 'blog-category-hero' %}
</div> 
<article role="article" class="article container">
  <div class="article__top-line">
    <v-button tag="a" tertiary class="reversed" href="{{ blog.url }}">
      Return To Blog
    </v-button>
  </div>

  <div class="article__main-container">
    {%- if settings.social_sharing_blog -%}
      <div class='article__share-container article__share-container--desktop'>
        <p class='article__share-text'>Share</p>
        {%- include 'social-sharing', scope: "article", share_title: article.title, share_permalink: article.url, share_image: article.image -%}
      </div>
    {%- endif -%}
    <div class="article__content">
      <div class="article__content-head">
        {%- if article.image -%}
            <img class="article__image"
              src="{{ article.image | img_url: '1400x' }}"
              srcset="{{ article.image | img_url: '768x' }} 768w,
                      {{ article.image | img_url: '1024x' }} 1024w,
                      {{ article.image | img_url: '1400x' }} 1400w"
              alt="{{ article.image.alt }}" />
        {%- endif -%}
        <h1 class="h3">{{ article.title }}</h1>
      </div>
      <div class="client-generated client-generated--article article__content">
        {%- render 'article-excerpt', _excerpt: article.content, _truncate: 'false', _strip_html: 'false' -%}
      </div>
    </div>
    {{ sidebar_markup }}
  </div>

  <div class='article__share-container-mobile'>
    <p class='article__share-text h6'>Share</p>
    {%- include 'social-sharing', scope: "article", share_title: article.title, share_permalink: article.url, share_image: article.image -%}
  </div>
</article>
{% render 'article-highlight-banner' %}

<section class='article__more-articles-wrapper'>
  <div class='article__more-articles'>
    <h3 class='h3 more-section-header'>{{ section.settings.more_articles_headline }}</h3>
    <carousel class="article__more-articles-carousel" ref="moreArticlesCarousel"
    :infinite="($mq === 'mobile') ? true : false"
    :slides-to-show="($mq === 'mobile') ? 1 : ($mq === 'tablet') ? 2 : 3"
    :center-mode="($mq === 'mobile')"
    :dots="true">
      {% assign blogArticle = article.id %}
      {% assign articleCounter = 0 %}
      {% for article in blog.articles limit: 4 %}
        {% if article.id != blogArticle  and articleCounter < 3 %}
          <slide>
            <div class="article__columns">
              {%- if article.image -%}
                <a class="article-preview__image-wrapper" href="{{ article.url }}">
                  <img class="article-preview__image" src="{{ article.image | img_url: '1024x1024' }}" alt="{{ article.image.alt }}" />
                </a>
              {%- endif -%}
              <div class="article-preview__content">
                <a class="article-preview__title-link" href="{{ article.url }}">
                  <h3 class="article-preview__title h5">
                    {%- render 'article-excerpt', _excerpt: article.title -%}
                  </h3>
                </a>
                <div class="article-preview__excerpt body-md">
                  {%- if article.excerpt.size > 0 -%}
                    {%- render 'article-excerpt', _excerpt: article.excerpt, _truncate_length: 100 -%}
                  {%- else -%}
                    {%- render 'article-excerpt', _excerpt: article.content, _truncate_length: 100 -%}
                  {%- endif -%}
                </div>
                <v-link class="body-sm-mobile" primary href="{{ article.url }}">Read More</v-link>
              </div>
            </div>
          </slide>
          {% assign articleCounter = articleCounter | plus: 1 %}
        {% endif %}
      {% endfor %}
    </carousel>
  </div>

</section>
<div class="article__sidebar-container-mobile container">
  {{ sidebar_markup }}
</div>

{% schema %}
  {
    "name": "Blog Article",
    "class": "blog-article",
    "settings": [
      {
        "id": "more_articles_headline",
        "type": "text",
        "label": "More Articles Headline",
        "default": "More Articles"
      }
    ]
  }
{% endschema %}
