{%- capture featured_articles -%}
  {
    marginTop: {{ section.settings.margin_top | json }},
    marginBottom: {{ section.settings.margin_bottom | json }},
    heading: {{ section.settings.heading | json }},
    titleButton: {{ section.settings.title_button | json }},
    titleButtonUrl: {{ section.settings.title_button_url | json }},
    titleButtonStyles: {{ section.settings.title_button_styles | json }},
    backgroundColor: {{ section.settings.background_color | json }},
    backgroundSecondaryColor: {{ section.settings.background_secondary_color | json }},
    headerColor: {{ section.settings.header_color | json }},
    articleTitleColor: {{ section.settings.article_title_color | json }},
    articleLinkColor: {{ section.settings.article_link_color | json }},
    articleTextColor: {{ section.settings.article_text_color | json }},
    borderColor: {{ section.settings.underline_color | json }},
    articles: [
      {% if section.blocks.size > 0 %}
        {% for block in section.blocks %}
          {
            articleTitle: {{ articles[block.settings.featured_article].title | json }},
            articleUrl: {{ articles[block.settings.featured_article].url | json }},
            articleImg: {{ articles[block.settings.featured_article].image | img_url: '500x', format: 'pjpg' | json }},
            articleContent: {{ articles[block.settings.featured_article].content | strip_html | escape | json }}
          }
          {%- unless forloop.last -%},{%- endunless -%}
        {% endfor %}
      {% else %}
        {% for article in blogs['all-posts'].articles limit: 3 %}
          {
            articleTitle: {{ article.title | json }},
            articleUrl: {{ article.url | json }},
            articleImg: {{ article.image | img_url: '500x', format: 'pjpg' | json }},
            articleContent: {{ article.content | strip_html | escape | json }}
          }
          {%- unless forloop.last -%},{%- endunless -%}
        {% endfor %}
      {% endif %}
    ]
  }
{%- endcapture -%}

<blog-section
  blog-section-type="articles"
  :featured-articles="{{ featured_articles | escape | strip }}"
/>

{% schema %}
  {
    "name": "Blog Article",
    "class": "blog-featured-articles",
    "settings": [
      {
        "type": "header",
        "content": "Section Margins",
        "info": "Customize the margin spacing on the top and bottom of this section."
      },
      {
        "label": "Top Padding",
        "id": "margin_top",
        "type": "range",
        "min": 40,
        "max": 80,
        "step": 8,
        "unit": "px",
        "default": 40
      },
      {
        "label": "Bottom Padding",
        "id": "margin_bottom",
        "type": "range",
        "min": 40,
        "max": 80,
        "step": 8,
        "unit": "px",
        "default": 40
      },
      {
        "type": "header",
        "content": "Text Content"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Header"
      },
      {
        "type": "header",
        "content": "CTA"
      },
      {
        "type": "text",
        "id": "title_button",
        "label": "CTA Text"
      },
      {
        "type": "url",
        "id": "title_button_url",
        "label": "CTA Link URL"
      },
      {
        "type": "select",
        "id": "title_button_styles",
        "label": "CTA Type",
        "options": [
          {
            "label": "Primary",
            "value": "button--primary"
          },
          {
            "label": "Secondary",
            "value": "button--secondary"
          },
          {
            "label": "Tertiary",
            "value": "button--tertiary"
          },
          {
            "label": "Outline",
            "value": "button--outline"
          }
        ],
        "default": "button--primary"
      },
      {
        "type": "header",
        "content": "Colors"
      },
      {
        "type":      "color",
        "id":        "background_color",
        "label":     "Section Background Color",
        "default": "#ffffff"
      },
      {
        "type":      "color",
        "id":        "background_secondary_color",
        "label":     "Section Background Secondary Color",
        "default": "#ffffff"
      },
      {
        "type":      "color",
        "id":        "header_color",
        "label":     "Header Text Color",
        "default": "#000000"
      },
      {
        "type":      "color",
        "id":        "underline_color",
        "label":     "Header Underline Color",
        "default": "#ffffff"
      },
      {
        "type":      "color",
        "id":        "article_title_color",
        "label":     "Article Title Color",
        "default": "#000000"
      },
      {
        "type":      "color",
        "id":        "article_text_color",
        "label":     "Article Text Color",
        "default": "#000000"
      },
      {
        "type":      "color",
        "id":        "article_link_color",
        "label":     "Article link Color",
        "default": "#000000"
      }
    ],
    "blocks": [
      {
        "type": "slide",
        "name": "Featured Articles",
        "settings": [
          {
            "id": "featured_article",
            "type": "article",
            "label": "Article"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Blog Articles",
        "category": "Blog"
      }
    ]
  }
{% endschema %}
