{%- assign smallLinkBlocks = section.blocks | where: "type", "smallLink" -%}
{%- capture smallLinks -%}
  [
    {%- for smallLink in smallLinkBlocks -%}
      {
        "id": {{ smallLink.id | json }},
        "settings": {{ smallLink.settings | json }}
      }{%- unless forloop.last -%},{%- endunless -%}
    {%- endfor -%}
  ]
{%- endcapture -%}

<collection-links
  :schema="{{ section.settings | json | escape }}"
  {%- if smallLinks != blank -%}
    :small-links="{{ smallLinks | escape }}"
  {%- endif -%}
>
</collection-links>

{% schema %}
{
  "name": "Collection Pills",
  "class": "collection-links-section",
  "settings": [
    {
      "type": "header",
      "content": "Section Margin",
      "info": "Customize the margin/spacing on the top and bottom of this section."
    },
    {
      "type": "range",
      "id": "topMargin",
      "label": "Top Margin",
      "min": 40,
      "max": 80,
      "step": 8,
      "default": 40,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "bottomMargin",
      "label": "Bottom Margin",
      "min": 40,
      "max": 80,
      "step": 8,
      "default": 40,
      "unit": "px"
    },
    {
      "type": "header",
      "content": "Section Info"
    },
    {
      "type": "text",
      "id": "sectionTitle",
      "label": "Section Title"
    },
    {
      "type": "header",
      "content": "Section Colors"
    },
    {
      "type": "color",
      "id": "sectionBgColor",
      "label": "Background Color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "sectionTitleColor",
      "label": "Section Title Color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "pillColor",
      "label": "Pill Color",
      "default": "#000000"
    }
  ],
  "blocks": [
    {
      "type": "smallLink",
      "name": "Small Link",
      "settings": [
        {
          "type": "text",
          "id": "linkTitle",
          "label": "Link Title"
        },
        {
          "type": "url",
          "id": "linkUrl",
          "label": "Link URL"
        }
      ]
    }
  ],
  "presets": [
      {
        "name": "Collection Pills",
        "category": "Collection"
      }
    ]
}
{% endschema %}
