
{%- capture header_settings -%}
  {
    {% for setting in section.settings %}
      {{ setting | json }}: {{ section.settings[setting] | json }}
      {% unless forloop.last %},{% endunless %}
    {% endfor %}
  }
{%- endcapture -%}
{%- capture header_blocks -%}
  [
    {% for block in section.blocks %}
      {
        "id": {{ block.id | json }},
        "type": {{ block.type | json }},
        {% if block.settings.col1DropdownLinklist != blank %}
          {% assign col1DropdownLinklist = linklists[block.settings.col1DropdownLinklist] %}
          "col1DropdownLinklist": {% render 'json--dropdown-linklist', linklist: col1DropdownLinklist %},
        {% endif %}
        {% if block.settings.col2DropdownLinklist != blank %}
          {% assign col2DropdownLinklist = linklists[block.settings.col2DropdownLinklist] %}
          "col2DropdownLinklist": {% render 'json--dropdown-linklist', linklist: col2DropdownLinklist %},
        {% endif %}
        {% if block.settings.col3DropdownLinklist != blank %}
          {% assign col3DropdownLinklist = linklists[block.settings.col3DropdownLinklist] %}
          "col3DropdownLinklist": {% render 'json--dropdown-linklist', linklist: col3DropdownLinklist %},
        {% endif %}
        {% if block.settings.col4DropdownLinklist != blank %}
          {% assign col4DropdownLinklist = linklists[block.settings.col4DropdownLinklist] %}
          "col4DropdownLinklist": {% render 'json--dropdown-linklist', linklist: col4DropdownLinklist %},
        {% endif %}
        {% if block.settings.col5DropdownLinklist != blank %}
          {% assign col5DropdownLinklist = linklists[block.settings.col5DropdownLinklist] %}
          "col5DropdownLinklist": {% render 'json--dropdown-linklist', linklist: col5DropdownLinklist %},
        {% endif %}
        {% if block.settings.col6DropdownLinklist != blank %}
          {% assign col6DropdownLinklist = linklists[block.settings.col6DropdownLinklist] %}
          "col6DropdownLinklist": {% render 'json--dropdown-linklist', linklist: col6DropdownLinklist %},
        {% endif %}
        {% if block.settings.col6DropdownFeaturedProduct != blank %}
          {% assign featuredProduct = all_products[block.settings.col6DropdownFeaturedProduct] %}
          "col6DropdownFeaturedProduct": {
            "title": {{ featuredProduct.title | json }},
            "price": {{ featuredProduct.price | money | json }},
            "image": {{ featuredProduct.featured_image.src | json }},
            "url": {{ featuredProduct.url | json }}
          },
        {% endif %}
        "settings": {{ block.settings | json }}
      }
      {% unless forloop.last %},{% endunless %}
    {% endfor %}
  ]
{%- endcapture -%}
{%- capture help_links -%}
  [
    {% for link in linklists[section.settings.helpDropdownLinkList].links %}
      {
        "levels": {{ link.levels | json }},
        "title": {{ link.title | json }},
        "url": {{ link.url | json }},
        "links": [
          {% for link in link.links %}
            {
              "title": {{ link.title | json }},
              "url": {{ link.url | json }},
            }
            {% unless forloop.last %},{% endunless %}
          {% endfor %}
        ]
      }
      {% unless forloop.last %},{% endunless %}
    {% endfor %}
  ]
{%- endcapture -%}
{%- capture default_icons -%}
  {
    "cartIconDefault": {{ 'cart-icon-a.png' | asset_img_url: 'x40' | json }},
    "accountIconDefault": {{ 'account-icon-a.png' | asset_img_url: 'x40' | json }},
    "helpIconDefault": {{ 'help-icon-a.png' | asset_img_url: 'x40'  | json}}
  }
{%- endcapture -%}
{% capture cart_bubble_colors %}
  {
    "bubbleBg": {{ settings.cart_bubble | json }},
    "bubbleText": {{ settings.cart_bubble_text | json }}
  }
{% endcapture %}
{% capture customer_name %}
  {% if customer %}
    {{ customer.first_name | default: '' | json }}
  {% else %}
    {{ '' | json }}
  {% endif %}
{% endcapture %}

<header-2-data
  :settings="{{ header_settings | escape }}"
  :blocks="{{ header_blocks | escape }}"
  :default-icons="{{ default_icons | escape }}"
  :help-links="{{ help_links | escape }}"
  :cart-bubble-colors="{{ cart_bubble_colors | escape | strip }}"
  :customer-name="{{ customer_name | escape }}"
  :enable-predictive-search="{{ settings.enable_predictive_search | json }}"
>
</header-data>

{% schema %}
  {
  "name": "Header + Navigation",
  "settings": [
    {
      "type": "header",
      "content": "Brand Logo"
    },
    {
      "type": "image_picker",
      "id": "logoImage",
      "label": "Logo Image",
      "info": "Upload an image. (Recommended size: 370px x 110px)"
    },
    {
      "type": "select",
      "id": "logoAlignment",
      "label": "Logo Alignment (Desktop)",
      "default": "left",
      "options": [
        {
          "label": "Logo Centered",
          "value": "center"
        },
        {
          "label": "Logo Left",
          "value": "left"
        }
      ]
    },
    {
      "type": "paragraph",
      "content": "Or add an SVG image"
    },
    {
      "type": "text",
      "id": "logoSvg",
      "label": "SVG URL",
      "info": "Paste a url for SVG image. (Recommended size: 370px x 110px)"
    },
    {
      "type": "select",
      "id": "logoBackgroundColor",
      "label": "Logo Row Background Color",
      "options": <%- uikit.backgroundOptions -%>,
      "default": "bg-white"
    },
    {
      "type": "header",
      "content": "Search"
    },
    {
      "type": "text",
      "id": "searchFieldText",
      "label": "Search Field Text",
      "info": "Override the default text that displays in the search field."
    },
    {
      "type": "header",
      "content": "Logo Tabs"
    },
    {
      "id": "ltBackgroundColor",
      "type": "select",
      "label": "Logo Background Color",
      "options": <%- uikit.grayscaleBackgroundOptions -%>,
      "default": "bg-off-white"
    },
    {
      "id": "ltBorderDividerColor",
      "type": "select",
      "label": "Border and Divider Line Color",
      "options": <%- uikit.grayscaleBorderOptions -%>,
      "default": "border-light-grey"
    },
    {
      "id": "ltMobileHeadingText",
      "type": "text",
      "label": "Mobile Heading Text",
      "placeholder": "Mobile Heading Text",
      "info": " This text appears as a heading above links."
    },
    {
      "id": "ltMobileIconImage",
      "type": "image_picker",
      "label": "Mobile Icon Image"
    },
    {
      "id": "ltMobileIconSvgUrl",
      "type": "text",
      "label": "Mobile Icon SVG URL",
      "info": "This field will override the Mobile Icon Image field if both have content in them."
    },
    {
      "id": "ltLogoImage1",
      "type": "image_picker",
      "label": "Logo Image 1",
      "info": "Recommended image size: 100px x 22px"
    },
    {
      "id": "ltLogoSvgUrl1",
      "type": "text",
      "label": "Logo SVG URL 1",
      "info": "Recommended image size: 100px x 22px"
    },
    {
      "id": "ltLogoLinkUrl1",
      "type": "url",
      "label": "Logo Link URL 1"
    },
    {
      "id": "ltLogoText1",
      "type": "text",
      "label": "Logo Text 1",
      "info": "This text appears in place of the logo image on mobile."
    },
    {
      "id": "ltLogoImage2",
      "type": "image_picker",
      "label": "Logo Image 2",
      "info": "Recommended image size: 100px x 22px"
    },
    {
      "id": "ltLogoSvgUrl2",
      "type": "text",
      "label": "Logo SVG URL 2",
      "info": "Recommended image size: 100px x 22px"
    },
    {
      "id": "ltLogoLinkUrl2",
      "type": "url",
      "label": "Logo Link URL 2"
    },
    {
      "id": "ltLogoText2",
      "type": "text",
      "label": "Logo Text 2",
      "info": "This text appears in place of the logo image on mobile."
    },
    {
      "id": "ltLogoImage3",
      "type": "image_picker",
      "label": "Logo Image 3",
      "info": "Recommended image size: 100px x 22px"
    },
    {
      "id": "ltLogoSvgUrl3",
      "type": "text",
      "label": "Logo SVG URL 3",
      "info": "Recommended image size: 100px x 22px"
    },
    {
      "id": "ltLogoLinkUrl3",
      "type": "url",
      "label": "Logo Link URL 3"
    },
    {
      "id": "ltLogoText3",
      "type": "text",
      "label": "Logo Text 3",
      "info": "This text appears in place of the logo image on mobile."
    },
    {
      "id": "ltLogoImage4",
      "type": "image_picker",
      "label": "Logo Image 4",
      "info": "Recommended image size: 100px x 22px"
    },
    {
      "id": "ltLogoSvgUrl4",
      "type": "text",
      "label": "Logo SVG URL 4",
      "info": "Recommended image size: 100px x 22px"
    },
    {
      "id": "ltLogoLinkUrl4",
      "type": "url",
      "label": "Logo Link URL 4"
    },
    {
      "id": "ltLogoText4",
      "type": "text",
      "label": "Logo Text 4",
      "info": "This text appears in place of the logo image on mobile."
    },
    {
      "id": "ltLogoImage5",
      "type": "image_picker",
      "label": "Logo Image 5",
      "info": "Recommended image size: 100px x 22px"
    },
    {
      "id": "ltLogoSvgUrl5",
      "type": "text",
      "label": "Logo SVG URL 5",
      "info": "Recommended image size: 100px x 22px"
    },
    {
      "id": "ltLogoLinkUrl5",
      "type": "url",
      "label": "Logo Link URL 5"
    },
    {
      "id": "ltLogoText5",
      "type": "text",
      "label": "Logo Text 5",
      "info": "This text appears in place of the logo image on mobile."
    },
    {
      "id": "ltLogoImage6",
      "type": "image_picker",
      "label": "Logo Image 6",
      "info": "Recommended image size: 100px x 22px"
    },
    {
      "id": "ltLogoSvgUrl6",
      "type": "text",
      "label": "Logo SVG URL 6",
      "info": "Recommended image size:  100px x 22px"
    },
    {
      "id": "ltLogoLinkUrl6",
      "type": "url",
      "label": "Logo Link URL 6"
    },
    {
      "id": "ltLogoText6",
      "type": "text",
      "label": "Logo Text 6",
      "info": "This text appears in place of the logo image on mobile."
    },
    {
      "id": "ltLogoImage7",
      "type": "image_picker",
      "label": "Logo Image 7",
      "info": "Recommended image size:  100px x 22px"
    },
    {
      "id": "ltLogoSvgUrl7",
      "type": "text",
      "label": "Logo SVG URL 7",
      "info": "Recommended image size:  100px x 22px"
    },
    {
      "id": "ltLogoLinkUrl7",
      "type": "url",
      "label": "Logo Link URL 7"
    },
    {
      "id": "ltLogoText7",
      "type": "text",
      "label": "Logo Text 7",
      "info": "This text appears in place of the logo image on mobile."
    },
    {
      "type": "header",
      "content": "Extra Links",
      "info": "These optional links appear in a row below the promo bar."
    },
    {
      "id": "elMobileHeadingText",
      "type": "text",
      "label": "Mobile Heading Text",
      "info": "This text appears as a heading above these links. Keep in mind that this group of content also contains the featured offers if added."
    },
    {
      "id": "elIconImage",
      "type": "image_picker",
      "label": "Icon Image"
    },
    {
      "id": "elSvgUrl",
      "type": "text",
      "label": "Icon SVG URL",
      "info": "This field will override the Icon Image field if both have content in them."
    },
    {
      "id": "elLinkUrl1",
      "type": "url",
      "label": "Link URL 1"
    },
    {
      "id": "elLinkText1",
      "type": "text",
      "label": "Link Text 1"
    },
    {
      "id": "elLinkUrl2",
      "type": "url",
      "label": "Link URL 2"
    },
    {
      "id": "elLinkText2",
      "type": "text",
      "label": "Link Text 2"
    },
    {
      "id": "elLinkUrl3",
      "type": "url",
      "label": "Link URL 3"
    },
    {
      "id": "elLinkText3",
      "type": "text",
      "label": "Link Text 3"
    },
    {
      "id": "elLinkUrl4",
      "type": "url",
      "label": "Link URL 4"
    },
    {
      "id": "elLinkText4",
      "type": "text",
      "label": "Link Text 4"
    },
    {
      "type": "header",
      "content": "Icon Link",
      "info": "Optional link that appears to the left of the Account link. You can either upload an icon image or provide the URL of an SVG icon."
    },
    {
      "id": "navLinkImage",
      "type": "image_picker",
      "label": "Icon Image"
    },
    {
      "id": "navLinkSvg",
      "type": "text",
      "label": "Icon SVG URL"
    },
    {
      "id": "navLinkURL",
      "type": "url",
      "label": "Link URL"
    },
    {
      "id": "navLinkText",
      "type": "text",
      "label": "Link Text"
    },
    {
      "type": "header",
      "content": "Account Dropdown"
    },
    {
      "id": "accountLinkText",
      "type": "text",
      "label": "Link Text",
      "info": "This appears if the user is not logged in. By default, this should be 'Login” or 'Account'."
    },
    {
      "id": "accountIconImage",
      "type": "image_picker",
      "label": "Icon Image"
    },
    {
      "id": "accountIconSvgUrl",
      "type": "text",
      "label": "Icon SVG URL"
    },
    {
      "id": "accountDropdownEnabled",
      "type": "checkbox",
      "label": "Enable Dropdown"
    },
    {
      "id": "accountDropdownHeading",
      "type": "text",
      "label": "Dropdown Heading"
    },
    {
      "id": "accountDropdownContent",
      "type": "richtext",
      "label": "Dropdown Content"
    },
    {
      "type": "header",
      "content": "Help Dropdown"
    },
    {
      "id": "helpLinkText",
      "type": "text",
      "label": "Link Text"
    },
    {
      "id": "helpDropdownLinkURL",
      "type": "url",
      "label": "Link URL"
    },
    {
      "id": "helpDropdownIconImage",
      "type": "image_picker",
      "label": "Icon Image"
    },
    {
      "id": "helpDropdownIconSvgUrl",
      "type": "text",
      "label": "Icon SVG URL"
    },
    {
      "id": "helpDropdownEnabled",
      "type": "checkbox",
      "label": "Enable Dropdown"
    },
    {
      "id": "helpDropdownHeading",
      "type": "text",
      "label": "Dropdown Heading"
    },
    {
      "id": "helpDropdownLinkList",
      "type": "link_list",
      "label": "Optional Link List"
    },
    {
      "id": "helpDropdownContent",
      "type": "richtext",
      "label": "Dropdown Content"
    },
    {
      "type": "header",
      "content": "Cart Icon",
      "info": "Override the default cart icon. You can upload an image file or add the URL of an SVG file."
    },
    {
      "id": "cartIconImage",
      "type": "image_picker",
      "label": "Icon Image"
    },
    {
      "id": "cartIconSvgUrl",
      "type": "text",
      "label": "Icon SVG URL"
    },
    {
      "id": "showCartText",
      "type": "checkbox",
      "label": "Show Cart Text",
      "info": "Checking this box off should display the word \"Cart\" next to the cart icon.",
      "default": false
    },
    {
      "type": "header",
      "content": "Navigation Settings"
    },
    {
      "id": "navDropdownBgColor",
      "type": "select",
      "options": <%- uikit.grayscaleBackgroundOptions -%>,
      "label": "Dropdown Background Color"
    },
    {
      "id": "navDropdownTextLinkColor",
      "type": "select",
      "options": <%- uikit.grayscaleColorOptions -%>,
      "label": "Dropdown Text Link Color"
    },
    {
      "type": "select",
      "id": "navFeaturedLinkColor",
      "options": <%- uikit.colorOptions -%>,
      "default": "color-brand-primary",
      "label": "Featured Link Color",
      "info": "This will be the color of the featured links in the menu and dropdowns"
    },
    {
      "type": "header",
      "content": "Mobile Navigation Settings"
    },
    {
      "id": "mobileNavHeadingText",
      "type": "text",
      "label": "Mobile Heading Text",
      "info": "This text appears as a heading above links."
    },
    {
      "id": "mobileNavIconImage",
      "type": "image_picker",
      "label": "Mobile Icon Image"
    },
    {
      "id": "mobileNavIconSvgUrl",
      "type": "text",
      "label": "Mobile Icon SVG URL",
      "info": "This field will override the Mobile Icon Image field if both have content in them."
    }
  ],
  "blocks": [
    {
      "type": "menuLink",
      "name": "Menu Link",
      "settings": [
        {
          "type": "header",
          "content": "Main Header Link",
          "info": "For each column, you can select up to two content items max.  This could be a link list and an image, two images, just a link list, or just an image.  You do not need to use all 6 columns."
        },
        {
          "id": "menuLinkName",
          "type": "text",
          "label": "Link Name",
          "placeholder": "Name"
        },
        {
          "id": "menuLinkUrl",
          "type": "url",
          "label": "Link URL"
        },
        {
          "id": "menuLinkFeatured",
          "type": "checkbox",
          "label": "Feature Link",
          "info": "Feature this menu link."
        },
        {
          "id": "menuLinkHideDropdown",
          "type": "checkbox",
          "label": "Hide Dropdown",
          "info": "If this menu link does not have dropdown content, check this off."
        },
        {
          "type": "header",
          "content": "Column 1"
        },
        {
          "id": "col1DropdownImage1",
          "type": "image_picker",
          "label": "Column 1: Image 1",
          "info": "Recommended dimensions: 200px x 200px"
        },
        {
          "id": "col1DropdownImageLinkUrl1",
          "type": "url",
          "label": "Column 1: Image 1 Link URL"
        },
        {
          "id": "col1DropdownImageLinkText1",
          "type": "text",
          "label": "Column 1: Image 1 Link Text"
        },
        {
          "id": "col1DropdownImage2",
          "type": "image_picker",
          "label": "Column 1: Image 2",
          "info": "Recommended dimensions: 200px x 200px"
        },
        {
          "id": "col1DropdownImageLinkUrl2",
          "type": "url",
          "label": "Column 1: Image 2 Link URL"
        },
        {
          "id": "col1DropdownImageLinkText2",
          "type": "text",
          "label": "Column 1: Image 2 Link Text"
        },
        {
          "id": "col1DropdownLinklist",
          "type": "link_list",
          "label": "Column 1: Link List"
        },
        {
          "type": "header",
          "content": "Column 2"
        },
        {
          "id": "col2DropdownImage1",
          "type": "image_picker",
          "label": "Column 2: Image 1",
          "info": "Recommended dimensions: 200px x 200px"
        },
        {
          "id": "col2DropdownImageLinkUrl1",
          "type": "url",
          "label": "Column 2: Image 1 Link URL"
        },
        {
          "id": "col2DropdownImageLinkText1",
          "type": "text",
          "label": "Column 2: Image 1 Link Text"
        },
        {
          "id": "col2DropdownImage2",
          "type": "image_picker",
          "label": "Column 2: Image 2",
          "info": "Recommended dimensions: 200px x 200px"
        },
        {
          "id": "col2DropdownImageLinkUrl2",
          "type": "url",
          "label": "Column 2: Image 2 Link URL"
        },
        {
          "id": "col2DropdownImageLinkText2",
          "type": "text",
          "label": "Column 2: Image 2 Link Text"
        },
        {
          "id": "col2DropdownLinklist",
          "type": "link_list",
          "label": "Column 2: Link List"
        },
        {
          "type": "header",
          "content": "Column 3"
        },
        {
          "id": "col3DropdownImage1",
          "type": "image_picker",
          "label": "Column 3: Image 1",
          "info": "Recommended dimensions: 200px x 200px"
        },
        {
          "id": "col3DropdownImageLinkUrl1",
          "type": "url",
          "label": "Column 3: Image 1 Link URL"
        },
        {
          "id": "col3DropdownImageLinkText1",
          "type": "text",
          "label": "Column 3: Image 1 Link Text"
        },
        {
          "id": "col3DropdownImage2",
          "type": "image_picker",
          "label": "Column 3: Image 2",
          "info": "Recommended dimensions: 200px x 200px"
        },
        {
          "id": "col3DropdownImageLinkUrl2",
          "type": "url",
          "label": "Column 3: Image 2 Link URL"
        },
        {
          "id": "col3DropdownImageLinkText2",
          "type": "text",
          "label": "Column 3: Image 2 Link Text"
        },
        {
          "id": "col3DropdownLinklist",
          "type": "link_list",
          "label": "Column 3: Link List"
        },
        {
          "type": "header",
          "content": "Column 4"
        },
        {
          "id": "col4DropdownImage1",
          "type": "image_picker",
          "label": "Column 4: Image 1",
          "info": "Recommended dimensions: 200px x 200px"
        },
        {
          "id": "col4DropdownImageLinkUrl1",
          "type": "url",
          "label": "Column 4: Image 1 Link URL"
        },
        {
          "id": "col4DropdownImageLinkText1",
          "type": "text",
          "label": "Column 4: Image 1 Link Text"
        },
        {
          "id": "col4DropdownImage2",
          "type": "image_picker",
          "label": "Column 4: Image 2",
          "info": "Recommended dimensions: 200px x 200px"
        },
        {
          "id": "col4DropdownImageLinkUrl2",
          "type": "url",
          "label": "Column 4: Image 2 Link URL"
        },
        {
          "id": "col4DropdownImageLinkText2",
          "type": "text",
          "label": "Column 4: Image 2 Link Text"
        },
        {
          "id": "col4DropdownLinklist",
          "type": "link_list",
          "label": "Column 4: Link List"
        },
        {
          "type": "header",
          "content": "Column 5"
        },
        {
          "id": "col5DropdownImage1",
          "type": "image_picker",
          "label": "Column 5: Image 1",
          "info": "Recommended dimensions: 200px x 200px"
        },
        {
          "id": "col5DropdownImageLinkUrl1",
          "type": "url",
          "label": "Column 5: Image 1 Link URL"
        },
        {
          "id": "col5DropdownImageLinkText1",
          "type": "text",
          "label": "Column 5: Image 1 Link Text"
        },
        {
          "id": "col5DropdownImage2",
          "type": "image_picker",
          "label": "Column 5: Image 2",
          "info": "Recommended dimensions: 200px x 200px"
        },
        {
          "id": "col5DropdownImageLinkUrl2",
          "type": "url",
          "label": "Column 5: Image 2 Link URL"
        },
        {
          "id": "col5DropdownImageLinkText2",
          "type": "text",
          "label": "Column 5: Image 2 Link Text"
        },
        {
          "id": "col5DropdownLinklist",
          "type": "link_list",
          "label": "Column 5: Link List"
        },
        {
          "type": "header",
          "content": "Column 6",
          "info": "If you select a product to display here, the site will not display a link list or images in this column. It will only display the product."
        },
        {
          "id": "col6DropdownFeaturedProduct",
          "type": "product",
          "label": "Column 6: Featured Product"
        },
        {
          "id": "col6DropdownFeaturedProductHeadingText",
          "type": "text",
          "label": "Column 6: Featured Product Heading Text",
          "info": " If a product is selected above, you can optionally add a heading that will appear above the product. For example, 'Best Seller'."
        },
        {
          "id": "col6DropdownImage1",
          "type": "image_picker",
          "label": "Column 6: Image 1",
          "info": "Recommended dimensions: 200px x 200px"
        },
        {
          "id": "col6DropdownImageLinkUrl1",
          "type": "url",
          "label": "Column 6: Image 1 Link URL"
        },
        {
          "id": "col6DropdownImageLinkText1",
          "type": "text",
          "label": "Column 6: Image 1 Link Text"
        },
        {
          "id": "col6DropdownImage2",
          "type": "image_picker",
          "label": "Column 6: Image 2",
          "info": "Recommended dimensions: 200px x 200px"
        },
        {
          "id": "col6DropdownImageLinkUrl2",
          "type": "url",
          "label": "Column 6: Image 2 Link URL"
        },
        {
          "id": "col6DropdownImageLinkText2",
          "type": "text",
          "label": "Column 6: Image 2 Link Text"
        },
        {
          "id": "col6DropdownLinklist",
          "type": "link_list",
          "label": "Column 6: Link List"
        },
        {
          "type": "header",
          "content": "Shop All Link",
          "info": "This will hide the Shop All link on desktop. The Shop All link only appears if you’ve added a Main Header Link URL."
        },
        {
          "id": "hideShopAllLink",
          "type": "checkbox",
          "label": "Hide Shop All Link"
        }
      ]
    }
  ]
}

{% endschema %}

<header class="header__no-js" style="display: none">
  {% comment %}SEO Content Here{% endcomment %}

</header>
