<div class="container featured-reviews">
  <div class="yotpo yotpo-reviews-carousel"
   data-background-color="transparent"
   data-mode="top_rated"
   data-type="site"
   data-count="{{- section.settings.number_reivews -}}"
   data-show-bottomline="1"
   data-show-navigation="1">
  </div>
</div>

{% schema %}
  {
    "name": "Featured Reviews Carousel",
    "presets": [
      {
        "name": "Featured Reviews Carousel",
        "category": "Homepage"
      }
    ],
    "settings": [
      {
        "type": "range",
        "id": "number_reivews",
        "label": "Number of Reivews",
        "min": 5,
        "max": 20,
        "step": 1,
        "default": 10
      }
    ]
  }
{% endschema %}
