<div>
  <div class="featured-collection__subtitle-wrapper">
    <span class="featured-collection__subtitle">{{- section.settings.subtitle -}}</span>
  </div>
  <h2 class="featured-collection__title">{{- section.settings.title -}}</h2>
  <div class="featured-collection__grid">
    {%- for block in section.blocks -%}
      <a href="/collections/{{- section.settings.featured_collection -}}/{{- block.settings.tag -}}"
         class="featured-collection__tile">
        <div class="featured-collection__image-wrapper">
          <img class="featured-collection__background"
               src="{{- block.settings.tile_background | img_url: '280x' -}}"
               alt="{{- block.settings.tile_background.alt -}}" />
          <img class="featured-collection__icon"
               src="{{- block.settings.tile_icon | img_url: 'x50' -}}"
               alt="{{- block.settings.tile_icon.alt -}}" />
        </div>
        <p class="featured-collection__text">{{- block.settings.tile_description -}}</p>
        <p class="featured-collection__shop">
          {{- block.settings.tile_link_text -}}
          <icon class="featured-collection__nav-icon" name="nav-arrow-right" size="27px" />
        </p>
      </a>
    {%- endfor -%}
  </div>
</div>

{% schema %}
  {
    "name": "Featured Collection",
    "class": "featured-collection container",
    "tag": "section",
    "max_blocks": 4,
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Get Started Today"
      },
      {
        "type": "text",
        "id": "subtitle",
        "label": "Subtitle",
        "default": "Vitamins Reinvented"
      },
      {
        "type": "collection",
        "id": "featured_collection",
        "label": "Featured Collection",
        "info": "Choose a collection the tiles will link to"
      }
    ],
    "blocks": [
      {
        "type": "tile",
        "name": "Tile",
        "settings": [
          {
            "type": "text",
            "id": "tag",
            "label": "Tag"
          },
          {
            "type": "textarea",
            "id": "tile_description",
            "label": "Description"
          },
          {
            "type": "text",
            "id": "tile_link_text",
            "label": "Link Text"
          },
          {
            "type": "image_picker",
            "id": "tile_background",
            "label": "Tile Image",
            "info": "Size should be 275x365"
          },
          {
            "type": "image_picker",
            "id": "tile_icon",
            "label": "Tile Icon",
            "info": "Size should be 200x50"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Featured Product Grid",
        "category": "Homepage"
      }
    ]
  }
{% endschema %}
