{% assign footer_background_color = section.settings['footer_background_color'] | default: false %}
{% assign subfooter_background_color = section.settings['subfooter_background_color'] | default: false %}
{% assign footer_main_color = section.settings['footer_main_color'] | default: false %}
{% assign footer_subfooter_color = section.settings['footer_subfooter_color'] | default: false %}
{% assign placeholder_text = section.settings['placeholder_text'] | default: false %}

{%- capture copyright_text -%}
  &copy; {{ 'now' | date: "%Y" }} {% if section.settings.copyright_override != blank %}{{ section.settings.copyright_override }}{% else %}{{ shop.name }}{% endif %}
{%- endcapture -%}

<div class="newsletter-form">
  <div class="newsletter-form-title-container">
    <div class="newsletter-form__header">
      <div>
        <img class="newsletter-form__logo" src="{{ section.settings.logo_image | img_url: '276x' }}" alt="{{ section.settings.logo_image.alt }}" />
      </div>
      <div class="newsletter-form__header-content">
        {% if section.settings.email_heading != blank %}
          <p class="newsletter-form-heading h4">{{ section.settings.email_heading }}</p>
        {% endif %}
        {% if section.settings.email_subtext != blank %}
          <p class="newsletter-form-subtext body-md">{{ section.settings.email_subtext }}</p>
        {% endif %}
      </div>
    </div>
    {% assign cta_text = 'general.newsletter_form.submit' | t %}
    {% render 'newsletter-signup' with {
      is_wide: true,
      cta_class: 'icon icon--arrow-right',
      placeholder_text: placeholder_text
    }%}
  </div>
</div>

<footer class="footer">
  <div class="footer__nav-container container">
    <div class="footer__inner-container">
      <div class="footer__content">
        <div class="footer__content-logo-contact-container">
          <div class="footer__text-block">
            {{ section.settings.text_block }}
          </div>
        </div>
        <accordion-group class="footer__accordions">
          {%- for i in (1..4) -%}
            {%- assign linklist_id = 'linklist_' | append: i -%}
            {%- if section.settings[linklist_id] != blank -%}
              <accordion
                heading="{{ linklists[section.settings[linklist_id]].title }}"
                active-icon="chevron-down"
                inactive-icon="chevron-down"
                icon-size="14px"
              >
                  {%- render 'footer-linklist', list: section.settings[linklist_id] -%}
              </accordion>
            {%- endif -%}
          {%- endfor -%}
        </accordion-group>

        {% if section.settings.linklist_3 != blank or section.settings.linklist_4 != blank %}
          <div class="footer__links">
            {%- for i in (1..4) -%}
              {%- assign linklist_id = 'linklist_' | append: i -%}
              {%- if section.settings[linklist_id] != blank -%}
                <div class="footer__links__section">
                  <h3 class="footer__links__header">{{ linklists[section.settings[linklist_id]].title }}</h3>
                  {%- render 'footer-linklist', list: section.settings[linklist_id] -%}
                </div>
              {%- endif -%}
            {%- endfor -%}
          </div>
        {% else %}
          <div class="footer__links-small-layout">
            {%- for i in (1..2) -%}
              {%- assign linklist_id = 'linklist_' | append: i -%}
              {%- if section.settings[linklist_id] != blank -%}
                <div class="footer__links-small-layout__section">
                  <h3 class="footer__links-small-layout__header body-md-mobile body-md-sm-tablet-up strong-medium-tablet-up">{{ linklists[section.settings[linklist_id]].title }}</h3>
                  {%- render 'footer-linklist', list: section.settings[linklist_id] -%}
                </div>
              {%- endif -%}
            {%- endfor -%}
          </div>
        {%- endif -%}
      </div>
    </div>
  </div>

  <hr>
  <div class="footer__footer-privacy {{ subfooter_background_color }} {{ footer_subfooter_color }}">
    <div class="container">
      <div class="footer__footer-privacy-inner-container">
        <div class="footer__footer-privacy-left">
          {%- if section.settings.linklist_privacy != blank -%}
            {%- render 'footer-linklist', list: section.settings.linklist_privacy -%}
          {%- endif -%}
          <p class="footer__copyright">{{ copyright_text }}</p>
        </div>
        <div class="footer__container--social">
          <ul class="footer__social-links">
            {%- for block in section.blocks -%}
              {%- if block.type == 'social' -%}
                {%- assign link_key = 'social_' | append: block.settings.title | append: '_link' -%}
                <li class="footer__social-links__link">
                  <a
                    target="_blank"
                    href="{{ settings[link_key] }}"
                    aria-label="{{ block.settings.title }}">
                      <icon class="{{ block.settings.social_icon_color }}" name="{{ block.settings.title }}" size="29px"></icon>
                  </a>
                </li>
              {%- endif -%}
            {%- endfor -%}
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>


{% schema %}
  {
    "name": "Footer",
    "settings": [
      { "type": "header", "content": "Newsletter" },
      {
        "id": "placeholder_text",
        "type": "text",
        "label": "Email Placeholder text",
        "info": "Default: Email"
      },
      {
        "id": "email_heading",
        "type": "text",
        "label": "Email Heading"
      },
      {
        "id": "email_subtext",
        "type": "text",
        "label": "Email Subtext"
      },
      { "type": "header", "content": "Logo" },
      {
        "type": "image_picker",
        "id": "logo_image",
        "label": "Logo image",
        "info": "Upload an image. (Recommended size: 552px x 144px)"
      },
      { "type": "header", "content": "Or add an SVG image (Remove image above)" },
      {
        "type": "text",
        "id": "logo_svg",
        "label": "Logo image SVG",
        "info": "Paste a url for SVG image."
      },
      {
        "type": "select",
        "id": "footer_background_color",
        "label": "Footer background color",
        "options": [
          {
            "value": "bg-brand-primary",
            "label": "Primary"
          },
          {
            "value": "bg-brand-secondary",
            "label": "Secondary"
          },
          {
            "value": "bg-accent-1",
            "label": "Accent 1"
          },
          {
            "value": "bg-accent-2",
            "label": "Accent 2"
          },
          {
            "value": "bg-accent-3",
            "label": "Accent 3"
          },
          {
            "value": "bg-white",
            "label": "White"
          },
          {
            "value": "bg-off-white",
            "label": "Off-White"
          },
          {
            "value": "bg-grey",
            "label": "Grey"
          },
          {
            "value": "bg-off-black",
            "label": "Off-Black"
          },
          {
            "value": "bg-black",
            "label": "Black"
          }
        ],
        "default": "bg-brand-primary"
      },
      {
        "type":      "select",
        "id":        "footer_main_color",
        "label":     "Footer Links Color",
        "options": [
          {"label": "Light", "value": "footer-main-color-light"},
          {"label": "Dark", "value": "footer-main-color-dark"}
        ],
        "default": "footer-main-color-light"
      },
      {
        "type": "richtext",
        "id": "text_block",
        "label": "Text Block"
      },
      { "type": "header", "content": "Footer Link Lists" },
      {
        "type": "link_list",
        "id": "linklist_1",
        "label": "Menu 1"
      },
      {
        "type": "link_list",
        "id": "linklist_2",
        "label": "Menu 2"
      },
      {
        "type": "link_list",
        "id": "linklist_3",
        "label": "Menu 3"
      },
      {
        "type": "link_list",
        "id": "linklist_4",
        "label": "Menu 4"
      },
      { "type": "header", "content": "Address" },
      {
        "type": "text",
        "id": "support_address",
        "label": "Email"
      },
      { "type": "header", "content": "Subfooter" },
      {
        "type": "link_list",
        "id": "linklist_privacy",
        "label": "Subfooter Menu"
      },
      {
        "type": "text",
        "id": "copyright_override",
        "label": "Copyright Override",
        "info": "Optionally override the storefront name with other text"
      },
      {
        "type": "select",
        "id": "subfooter_background_color",
        "label": "Subfooter Background Color",
        "options": [
          {
            "value": "bg-brand-primary",
            "label": "Primary"
          },
          {
            "value": "bg-brand-secondary",
            "label": "Secondary"
          },
          {
            "value": "bg-accent-1",
            "label": "Accent 1"
          },
          {
            "value": "bg-accent-2",
            "label": "Accent 2"
          },
          {
            "value": "bg-accent-3",
            "label": "Accent 3"
          },
          {
            "value": "bg-white",
            "label": "White"
          },
          {
            "value": "bg-off-white",
            "label": "Off-White"
          },
          {
            "value": "bg-grey",
            "label": "Grey"
          },
          {
            "value": "bg-off-black",
            "label": "Off-Black"
          },
          {
            "value": "bg-black",
            "label": "Black"
          }
        ],
        "default": "bg-brand-primary"
      },
      {
        "type":      "select",
        "id":        "footer_subfooter_color",
        "label":     "Subfooter Links Color",
        "options": [
          {"label": "Light", "value": "subfooter-color-light"},
          {"label": "Dark", "value": "subfooter-color-dark"}
        ],
        "default": "subfooter-color-light"
      },
      { "type": "header", "content": "Social" },
      {
        "type": "text",
        "id": "social_title",
        "label": "Social Media Header"
      }
    ],
    "blocks": [
      {
        "type": "social",
        "name": "Social Link",
        "settings": [
          {
            "type": "select",
            "id": "title",
            "label": "Social Link",
            "options": [
              { "value": "twitter", "label": "Twitter" },
              { "value": "facebook", "label": "Facebook" },
              { "value": "pinterest", "label": "Pinterest" },
              { "value": "instagram", "label": "Instagram" },
              { "value": "youtube", "label": "YouTube" }
            ],
            "info": "To configure the social link, click the back arrow above and use the 'Social Media' section under the 'Theme Settings' tab."
          }
        ]
      }
    ]
  }
{% endschema %}
