{% assign checkfeaturedMenu = false %}
{% assign featuredMenusCount =  0 %}

{%- capture nav_blocks -%}
  [
    {%- for block in section.blocks -%}
      {
        "title": "{{- block.settings.title -}}",
        "icon": "{{- block.settings.category_icon | img_url: 'x80' -}}",
        "image": "{{- block.settings.category_image | img_url: '280x' -}}",
        "image_tag": "{{- block.settings.category_image.alt }}",
        "srcset": "{{ block.settings.category_image | img_url: '280x' }} 1x, {{ block.settings.category_image | img_url: '560x' }} 2x",
        "title_tab_1": {{ block.settings.title_tab_1 | json }},
        "title_tab_2": {{ block.settings.title_tab_2 | json }},
        "title_tab_3": {{ block.settings.title_tab_3 | json }},
        "title_tab_4": {{ block.settings.title_tab_4 | json }},
        "title_tab_5": {{ block.settings.title_tab_5 | json }},
        "title_tab_6": {{ block.settings.title_tab_6 | json }},
        "shop_all_link_1_tab_1": {{ block.settings.shop_all_link_1_tab_1 | json }},
        "shop_all_link_1_tab_2": {{ block.settings.shop_all_link_1_tab_2 | json }},
        "shop_all_link_1_tab_3": {{ block.settings.shop_all_link_1_tab_3 | json }},
        "shop_all_link_1_tab_4": {{ block.settings.shop_all_link_1_tab_4 | json }},
        "shop_all_link_1_tab_5": {{ block.settings.shop_all_link_1_tab_5 | json }},
        "shop_all_link_1_tab_6": {{ block.settings.shop_all_link_1_tab_6 | json }},
        "link_list_1_tab_1_title": {{- block.settings.link_list_1_tab_title | json -}},
        "link_list_1_tab_2_title": {{- block.settings.link_list_2_tab_title | json -}},
        "link_list_1_tab_3_title": {{- block.settings.link_list_3_tab_title | json -}},
        "link_list_1_tab_4_title": {{- block.settings.link_list_4_tab_title | json -}},
        "link_list_1_tab_5_title": {{- block.settings.link_list_5_tab_title | json -}},
        "link_list_1_tab_6_title": {{- block.settings.link_list_6_tab_title | json -}},
        "link_list_1_tab_1": [{% render 'linklist-json', _menu_handle: block.settings.link_list_1_tab_1 %}],
        "link_list_1_tab_2": [{% render 'linklist-json', _menu_handle: block.settings.link_list_1_tab_2 %}],
        "link_list_1_tab_3": [{% render 'linklist-json', _menu_handle: block.settings.link_list_1_tab_3 %}],
        "link_list_1_tab_4": [{% render 'linklist-json', _menu_handle: block.settings.link_list_1_tab_4 %}],
        "link_list_1_tab_5": [{% render 'linklist-json', _menu_handle: block.settings.link_list_1_tab_5 %}],
        "link_list_1_tab_6": [{% render 'linklist-json', _menu_handle: block.settings.link_list_1_tab_6 %}],
        "link_list_2_tab_1": [{% render 'linklist-json', _menu_handle: block.settings.link_list_2_tab_1 %}],
        "link_list_2_tab_2": [{% render 'linklist-json', _menu_handle: block.settings.link_list_2_tab_2 %}],
        "link_list_2_tab_3": [{% render 'linklist-json', _menu_handle: block.settings.link_list_2_tab_3 %}],
        "link_list_2_tab_4": [{% render 'linklist-json', _menu_handle: block.settings.link_list_2_tab_4 %}],
        "link_list_2_tab_5": [{% render 'linklist-json', _menu_handle: block.settings.link_list_2_tab_5 %}],
        "link_list_2_tab_6": [{% render 'linklist-json', _menu_handle: block.settings.link_list_2_tab_6 %}],
        "text_block_title_tab_1": {{ block.settings.text_block_title_tab_1 | json }},
        "text_block_title_tab_2": {{ block.settings.text_block_title_tab_2 | json }},
        "text_block_title_tab_3": {{ block.settings.text_block_title_tab_3 | json }},
        "text_block_title_tab_4": {{ block.settings.text_block_title_tab_4 | json }},
        "text_block_title_tab_5": {{ block.settings.text_block_title_tab_5 | json }},
        "text_block_title_tab_6": {{ block.settings.text_block_title_tab_6 | json }},
        "text_block_description_tab_1": {{ block.settings.text_block_description_tab_1 | json }},
        "text_block_description_tab_2": {{ block.settings.text_block_description_tab_2 | json }},
        "text_block_description_tab_3": {{ block.settings.text_block_description_tab_3 | json }},
        "text_block_description_tab_4": {{ block.settings.text_block_description_tab_4 | json }},
        "text_block_description_tab_5": {{ block.settings.text_block_description_tab_5 | json }},
        "text_block_description_tab_6": {{ block.settings.text_block_description_tab_6 | json }},
        "text_block_background_color_tab_1": {{ block.settings.text_block_background_color_tab_1 | json }},
        "text_block_background_color_tab_2": {{ block.settings.text_block_background_color_tab_2 | json }},
        "text_block_background_color_tab_3": {{ block.settings.text_block_background_color_tab_3 | json }},
        "text_block_background_color_tab_4": {{ block.settings.text_block_background_color_tab_4 | json }},
        "text_block_background_color_tab_5": {{ block.settings.text_block_background_color_tab_5 | json }},
        "text_block_background_color_tab_6": {{ block.settings.text_block_background_color_tab_6 | json }},
        "image_block_title_tab_1": {{ block.settings.image_block_title_tab_1 | json }},
        "image_block_title_tab_2": {{ block.settings.image_block_title_tab_2 | json }},
        "image_block_title_tab_3": {{ block.settings.image_block_title_tab_3 | json }},
        "image_block_title_tab_4": {{ block.settings.image_block_title_tab_4 | json }},
        "image_block_title_tab_5": {{ block.settings.image_block_title_tab_5 | json }},
        "image_block_title_tab_6": {{ block.settings.image_block_title_tab_6 | json }},
        "image_block_image_tab_1": {{ block.settings.image_block_image_tab_1 | json }},
        "image_block_image_tab_2": {{ block.settings.image_block_image_tab_2 | json }},
        "image_block_image_tab_3": {{ block.settings.image_block_image_tab_3 | json }},
        "image_block_image_tab_4": {{ block.settings.image_block_image_tab_4 | json }},
        "image_block_image_tab_5": {{ block.settings.image_block_image_tab_5 | json }},
        "image_block_image_tab_6": {{ block.settings.image_block_image_tab_6 | json }},
        "image_block_link_text_tab_1": {{ block.settings.image_block_link_text_tab_1 | json }},
        "image_block_link_text_tab_2": {{ block.settings.image_block_link_text_tab_2 | json }},
        "image_block_link_text_tab_3": {{ block.settings.image_block_link_text_tab_3 | json }},
        "image_block_link_text_tab_4": {{ block.settings.image_block_link_text_tab_4 | json }},
        "image_block_link_text_tab_5": {{ block.settings.image_block_link_text_tab_5 | json }},
        "image_block_link_text_tab_6": {{ block.settings.image_block_link_text_tab_6 | json }},
        "image_block_link_tab_1": {{ block.settings.image_block_link_tab_1 | json }},
        "image_block_link_tab_2": {{ block.settings.image_block_link_tab_2 | json }},
        "image_block_link_tab_3": {{ block.settings.image_block_link_tab_3 | json }},
        "image_block_link_tab_4": {{ block.settings.image_block_link_tab_4 | json }},
        "image_block_link_tab_5": {{ block.settings.image_block_link_tab_5 | json }},
        "image_block_link_tab_6": {{ block.settings.image_block_link_tab_6 | json }},
        "image_block_cta_text_tab_1": {{ block.settings.image_block_cta_text_tab_1 | json }},
        "image_block_cta_text_tab_2": {{ block.settings.image_block_cta_text_tab_2 | json }},
        "image_block_cta_text_tab_3": {{ block.settings.image_block_cta_text_tab_3 | json }},
        "image_block_cta_text_tab_4": {{ block.settings.image_block_cta_text_tab_4 | json }},
        "image_block_cta_text_tab_5": {{ block.settings.image_block_cta_text_tab_5 | json }},
        "image_block_cta_text_tab_6": {{ block.settings.image_block_cta_text_tab_6 | json }}
      }{%- unless forloop.last -%},{%- endunless -%}
    {%- endfor -%}
  ]
{%- endcapture -%}


{%- capture helper_data -%}
  {%- render 'json--helper-links' -%}
{%- endcapture -%}


{% capture cart_bubble_colors %}
  {
    "bubbleBg": {{ settings.cart_bubble | json }},
    "bubbleText": {{ settings.cart_bubble_text | json }}
  }
{% endcapture %}


{% capture logo_tabs %}
  {
    enabled: false,
    tabBorderColorClass: {{ section.settings.tab_border_color_class | json }},
    logo1: {
      {% if section.settings.logo_tab_svg_1 != blank %}
        imgUrl: {{ section.settings.logo_tab_svg_1 | json }},
      {% else %}
        imgUrl: {{ section.settings.logo_tab_image_1 | img_url | json }},
      {% endif %}
      url: {{ section.settings.logo_tab_url_1 | json }}
    },
    logo2: {
      {% if section.settings.logo_tab_svg_2 != blank %}
        imgUrl: {{ section.settings.logo_tab_svg_2 | json }},
      {% else %}
        imgUrl: {{ section.settings.logo_tab_image_2 | img_url | json }},
      {% endif %}
      url: {{ section.settings.logo_tab_url_2 | json }}
    },
    logo3: {
      {% if section.settings.logo_tab_svg_3 != blank %}
        imgUrl: {{ section.settings.logo_tab_svg_3 | json }},
      {% else %}
        imgUrl: {{ section.settings.logo_tab_image_3 | img_url | json }},
      {% endif %}
      url: {{ section.settings.logo_tab_url_3 | json }}
    }
  }
{% endcapture %}


{%- if linklists[section.settings.menu] -%}
  {%- capture menu_links -%}
    {%- render 'linklist-json', _menu_handle: section.settings.menu -%}
  {%- endcapture -%}
{%- endif -%}

{% capture help_menu %}
  {
    "links": [{%- render 'linklist-json', _menu_handle: section.settings.help_menu -%}],
    "live_chat_icon": {{ section.settings.live_chat_icon | json }},
    "live_chat_hours": {{ section.settings.live_chat_hours | json }},
    "call_icon": {{ section.settings.call_icon | json }},
    "call_number": {{ section.settings.call_number | json }},
    "email_icon": {{ section.settings.email_icon | json }},
    "email_address": {{ section.settings.help_email_address | json }}
  }
{% endcapture %}

{% capture free_design_menu %}
  {
    "heading": {{ section.settings.free_design_heading | json }},
    "content": {{ section.settings.free_design_content | json }},
    "link_1": {
      "title": {{ section.settings.free_design_text_1 | json }},
      "icon":  {{ section.settings.free_design_icon_1 | json }},
      "url":  {{ section.settings.free_design_url_1 | json }}
    },
    "link_2": {
      "title": {{ section.settings.free_design_text_2 | json }},
      "icon":  {{ section.settings.free_design_icon_2 | json }},
      "url":  {{ section.settings.free_design_url_2 | json }}
    },
    "link_3": {
      "title": {{ section.settings.free_design_text_3 | json }},
      "icon":  {{ section.settings.free_design_icon_3 | json }},
      "url":  {{ section.settings.free_design_url_3 | json }}
    },
  }
{% endcapture %}

{%- capture social_json -%}
  {
    "facebook": "{{- settings.social_facebook_link | escape -}}",
    "twitter": "{{- settings.social_twitter_link | escape -}}",
    "instagram": "{{- settings.social_instagram_link | escape -}}",
    "pinterest": "{{- settings.social_pinterest_link | escape -}}"
  }
{%- endcapture -%}
<social-data :social-links="{{ social_json | escape }}" ></social-data>

<navbar
  logo="{% if section.settings.logo_image != blank %}{{ section.settings.logo_image | img_url: '300x' }}{% endif %}"
  mobile-logo="{% if section.settings.logo_image != blank %}{{ section.settings.logo_image | img_url: '120x' }}{% endif %}"
  {% if settings.use_transparent_header == true and template == 'index' -%}
    :use-transparent-menu="true"
  {% endif %}
  mobile-open-logo="{% if section.settings.mobile_logo_image != blank%}{{ section.settings.mobile_logo_image | img_url: '30x' }}{% endif %}"
  shop-name="{{ shop.name }}"
  :h1="{% if template.name == 'index' %}true{% else %}false{% endif %}"
  :blocks="{{ nav_blocks | escape | strip }}"
  :links="[{{- menu_links | escape -}}]"
  {%- if section.settings.shop_all_link != blank -%}
    shop-all-link="{{- section.settings.shop_all_link -}}"
  {%- endif -%}
  :help-menu="{{ help_menu | escape | strip }}"
  :design-menu="{{ free_design_menu | escape | strip }}"
  :helperlinks="{{ helper_data | escape }}"
  :cart-bubble-colors="{{ cart_bubble_colors | escape | strip }}"
  :logo-tabs="{{ logo_tabs | escape | strip }}"
  :enable-predictive-search="false">
</navbar>

{% schema %}
  {
    "name": "Logo + Dropdown Content",
    "max_blocks": 10,
    "settings": [
      {
        "type": "image_picker",
        "id": "logo_image",
        "label": "Logo"
      },
      {
        "type": "image_picker",
        "id": "mobile_logo_image",
        "label": "Mobile Logo"
      },
      {
        "type": "link_list",
        "id": "menu",
        "label": "Menu"
      },
      {
        "type": "url",
        "id": "shop_all_link",
        "label": "Shop All Link"
      },
      {
        "type": "header",
        "content": "Help"
      },
      {
        "type": "link_list",
        "id": "help_menu",
        "label": "Help Menu"
      },
      {
        "type": "header",
        "content": "Live Chat"
      },
      {
        "type": "image_picker",
        "id": "live_chat_icon",
        "label": "Live Chat Icon"
      },
      {
        "type": "text",
        "id": "live_chat_hours",
        "label": "Live Chat Hours"
      },
      {
        "type": "header",
        "content": "Call"
      },
      {
        "type": "image_picker",
        "id": "call_icon",
        "label": "Call Icon"
      },
      {
        "type": "text",
        "id": "call_number",
        "label": "Call Phone Number"
      },
      {
        "type": "header",
        "content": "Email"
      },
      {
        "type": "image_picker",
        "id": "email_icon",
        "label": "Call Icon"
      },
      {
        "type": "text",
        "id": "help_email_address",
        "label": "Email Address"
      },
      {
        "type": "header",
        "content": "Request Free Designs"
      },
      {
        "type": "text",
        "id": "free_design_heading",
        "label": "Free Design Heading"
      },
      {
        "type": "richtext",
        "id": "free_design_content",
        "label": "Free Design Content"
      },
      {
        "type": "header",
        "content": "Free Design Link 1"
      },
      {
        "type": "text",
        "id": "free_design_text_1",
        "label": "Free Design Content"
      },
      {
        "type": "image_picker",
        "id": "free_design_icon_1",
        "label": "Free Design Icon"
      },
      {
        "type": "url",
        "id": "free_design_url_1",
        "label": "Free Design URL"
      },
      {
        "type": "header",
        "content": "Free Design Link 2"
      },
      {
        "type": "text",
        "id": "free_design_text_2",
        "label": "Free Design Content"
      },
      {
        "type": "image_picker",
        "id": "free_design_icon_2",
        "label": "Free Design Icon"
      },
      {
        "type": "url",
        "id": "free_design_url_2",
        "label": "Free Design URL"
      },
      {
        "type": "header",
        "content": "Free Design Link 3"
      },
      {
        "type": "text",
        "id": "free_design_text_3",
        "label": "Free Design Content"
      },
      {
        "type": "image_picker",
        "id": "free_design_icon_3",
        "label": "Free Design Icon"
      },
      {
        "type": "url",
        "id": "free_design_url_3",
        "label": "Free Design URL"
      }
    ],
    "blocks": [
      {
        "type": "mega_category",
        "name": "Mega Menu - Category",
        "settings": [
          {
              "type": "image_picker",
              "id": "category_icon",
              "label": "Category Icon",
              "info": "Size: 260x80"
          },
          {
              "type": "image_picker",
              "id": "category_image",
              "label": "Category Image",
              "info": "Size: 560x300"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Nav Title"
          },
          {
            "type": "header",
            "content": "Mega Nav - Tabs"
          },
          {
            "type": "header",
            "content": "Tab 1",
            "info": "Enter Content in Tabs in order of tabs and not out of order"
          },
          {
            "type": "text",
            "id": "title_tab_1",
            "label": "Title Tab 1"
          },
          {
            "type": "url",
            "id": "shop_all_link_1_tab_1",
            "label": "Shop All Link Tab 1"
          },
          {
            "type": "text",
            "id": "link_list_1_tab_title",
            "label": "Column 1 Link List Title Tab 1"
          },
          {
            "type": "link_list",
            "id": "link_list_1_tab_1",
            "label": "Column 1 Link List Tab 1"
          },
          {
            "type": "link_list",
            "id": "link_list_2_tab_1",
            "label": "Column 2 Link List Tab 1"
          },
          {
            "type": "text",
            "id": "text_block_title_tab_1",
            "label": "Text Block Title Tab 1"
          },
          {
            "type": "richtext",
            "id": "text_block_description_tab_1",
            "label": "Text Block Description Tab 1"
          },
          {
            "type": "color",
            "id": "text_block_background_color_tab_1",
            "label": "Text Block Background Color Tab 1"
          },
          {
            "type": "text",
            "id": "image_block_title_tab_1",
            "label": "Image Block Title Tab 1"
          },
          {
            "type": "image_picker",
            "id": "image_block_image_tab_1",
            "label": "Image Block Image Tab 1"
          },
          {
            "type": "text",
            "id": "image_block_link_text_tab_1",
            "label": "Image Block Link Text Tab 1"
          },
          {
            "type": "url",
            "id": "image_block_link_tab_1",
            "label": "Image Block Link Tab 1"
          },
          {
            "type": "text",
            "id": "image_block_cta_text_tab_1",
            "label": "Image Block CTA Text Tab 1"
          },

          {
            "type": "header",
            "content": "Tab 2"
          },
          {
            "type": "text",
            "id": "title_tab_2",
            "label": "Title Tab 2"
          },
          {
            "type": "url",
            "id": "shop_all_link_1_tab_2",
            "label": "Shop All Link Tab 2"
          },
          {
            "type": "text",
            "id": "link_list_2_tab_title",
            "label": "Column 1 Link List Title Tab 2"
          },
          {
            "type": "link_list",
            "id": "link_list_1_tab_2",
            "label": "Column 1 Link List Tab 2"
          },
          {
            "type": "link_list",
            "id": "link_list_2_tab_2",
            "label": "Column 2 Link List Tab 2"
          },
          {
            "type": "text",
            "id": "text_block_title_tab_2",
            "label": "Text Block Title Tab 2"
          },
          {
            "type": "richtext",
            "id": "text_block_description_tab_2",
            "label": "Text Block Description Tab 2"
          },
          {
            "type": "color",
            "id": "text_block_background_color_tab_2",
            "label": "Text Block Background Color Tab 2"
          },
          {
            "type": "text",
            "id": "image_block_title_tab_2",
            "label": "Image Block Title Tab 2"
          },
          {
            "type": "image_picker",
            "id": "image_block_image_tab_2",
            "label": "Image Block Image Tab 2"
          },
          {
            "type": "text",
            "id": "image_block_link_text_tab_2",
            "label": "Image Block Link Text Tab 2"
          },
          {
            "type": "url",
            "id": "image_block_link_tab_2",
            "label": "Image Block Link Tab 2"
          },
          {
            "type": "text",
            "id": "image_block_cta_text_tab_2",
            "label": "Image Block CTA Text Tab 2"
          },

          {
            "type": "header",
            "content": "Tab 3"
          },
          {
            "type": "text",
            "id": "title_tab_3",
            "label": "Title Tab 3"
          },
          {
            "type": "url",
            "id": "shop_all_link_1_tab_3",
            "label": "Shop All Link Tab 3"
          },
          {
            "type": "text",
            "id": "link_list_3_tab_title",
            "label": "Column 1 Link List Title Tab 3"
          },
          {
            "type": "link_list",
            "id": "link_list_1_tab_3",
            "label": "Column 1 Link List Tab 3"
          },
          {
            "type": "link_list",
            "id": "link_list_2_tab_3",
            "label": "Column 2 Link List Tab 3"
          },
          {
            "type": "text",
            "id": "text_block_title_tab_3",
            "label": "Text Block Title Tab 3"
          },
          {
            "type": "richtext",
            "id": "text_block_description_tab_3",
            "label": "Text Block Description Tab 3"
          },
          {
            "type": "color",
            "id": "text_block_background_color_tab_3",
            "label": "Text Block Background Color Tab 3"
          },
          {
            "type": "text",
            "id": "image_block_title_tab_3",
            "label": "Image Block Title Tab 3"
          },
          {
            "type": "image_picker",
            "id": "image_block_image_tab_3",
            "label": "Image Block Image Tab 3"
          },
          {
            "type": "text",
            "id": "image_block_link_text_tab_3",
            "label": "Image Block Link Text Tab 3"
          },
          {
            "type": "url",
            "id": "image_block_link_tab_3",
            "label": "Image Block Link Tab 3"
          },
          {
            "type": "text",
            "id": "image_block_cta_text_tab_3",
            "label": "Image Block CTA Text Tab 3"
          },

          {
            "type": "header",
            "content": "Tab 4"
          },
          {
            "type": "text",
            "id": "title_tab_4",
            "label": "Title Tab 4"
          },
          {
            "type": "url",
            "id": "shop_all_link_1_tab_4",
            "label": "Shop All Link Tab 4"
          },
          {
            "type": "text",
            "id": "link_list_4_tab_title",
            "label": "Column 1 Link List Title Tab 4"
          },
          {
            "type": "link_list",
            "id": "link_list_1_tab_4",
            "label": "Column 1 Link List Tab 4"
          },
          {
            "type": "link_list",
            "id": "link_list_2_tab_4",
            "label": "Column 2 Link List Tab 4"
          },
          {
            "type": "text",
            "id": "text_block_title_tab_4",
            "label": "Text Block Title Tab 4"
          },
          {
            "type": "richtext",
            "id": "text_block_description_tab_4",
            "label": "Text Block Description Tab 4"
          },
          {
            "type": "color",
            "id": "text_block_background_color_tab_4",
            "label": "Text Block Background Color Tab 4"
          },
          {
            "type": "text",
            "id": "image_block_title_tab_4",
            "label": "Image Block Title Tab 4"
          },
          {
            "type": "image_picker",
            "id": "image_block_image_tab_4",
            "label": "Image Block Image Tab 4"
          },
          {
            "type": "text",
            "id": "image_block_link_text_tab_4",
            "label": "Image Block Link Text Tab 4"
          },
          {
            "type": "url",
            "id": "image_block_link_tab_4",
            "label": "Image Block Link Tab 4"
          },
          {
            "type": "text",
            "id": "image_block_cta_text_tab_4",
            "label": "Image Block CTA Text Tab 4"
          },

          {
            "type": "header",
            "content": "Tab 5"
          },
          {
            "type": "text",
            "id": "title_tab_5",
            "label": "Title Tab 5"
          },
          {
            "type": "url",
            "id": "shop_all_link_1_tab_5",
            "label": "Shop All Link Tab 5"
          },
          {
            "type": "text",
            "id": "link_list_5_tab_title",
            "label": "Column 1 Link List Title Tab 5"
          },
          {
            "type": "link_list",
            "id": "link_list_1_tab_5",
            "label": "Column 1 Link List Tab 5"
          },
          {
            "type": "link_list",
            "id": "link_list_2_tab_5",
            "label": "Column 2 Link List Tab 5"
          },
          {
            "type": "text",
            "id": "text_block_title_tab_5",
            "label": "Text Block Title Tab 5"
          },
          {
            "type": "richtext",
            "id": "text_block_description_tab_5",
            "label": "Text Block Description Tab 5"
          },
          {
            "type": "color",
            "id": "text_block_background_color_tab_5",
            "label": "Text Block Background Color Tab 5"
          },
          {
            "type": "text",
            "id": "image_block_title_tab_5",
            "label": "Image Block Title Tab 5"
          },
          {
            "type": "image_picker",
            "id": "image_block_image_tab_5",
            "label": "Image Block Image Tab 5"
          },
          {
            "type": "text",
            "id": "image_block_link_text_tab_5",
            "label": "Image Block Link Text Tab 5"
          },
          {
            "type": "url",
            "id": "image_block_link_tab_5",
            "label": "Image Block Link Tab 5"
          },
          {
            "type": "text",
            "id": "image_block_cta_text_tab_5",
            "label": "Image Block CTA Text Tab 5"
          },

          {
            "type": "header",
            "content": "Tab 6"
          },
          {
            "type": "text",
            "id": "title_tab_6",
            "label": "Title Tab 6"
          },
          {
            "type": "url",
            "id": "shop_all_link_1_tab_6",
            "label": "Shop All Link Tab 6"
          },
          {
            "type": "text",
            "id": "link_list_6_tab_title",
            "label": "Column 1 Link List Title Tab 6"
          },
          {
            "type": "link_list",
            "id": "link_list_1_tab_6",
            "label": "Column 1 Link List Tab 6"
          },
          {
            "type": "link_list",
            "id": "link_list_2_tab_6",
            "label": "Column 2 Link List Tab 6"
          },
          {
            "type": "text",
            "id": "text_block_title_tab_6",
            "label": "Text Block Title Tab 6"
          },
          {
            "type": "richtext",
            "id": "text_block_description_tab_6",
            "label": "Text Block Description Tab 6"
          },
          {
            "type": "color",
            "id": "text_block_background_color_tab_6",
            "label": "Text Block Background Color Tab 6"
          },
          {
            "type": "text",
            "id": "image_block_title_tab_6",
            "label": "Image Block Title Tab 6"
          },
          {
            "type": "image_picker",
            "id": "image_block_image_tab_6",
            "label": "Image Block Image Tab 6"
          },
          {
            "type": "text",
            "id": "image_block_link_text_tab_6",
            "label": "Image Block Link Text Tab 6"
          },
          {
            "type": "url",
            "id": "image_block_link_tab_6",
            "label": "Image Block Link Tab 6"
          },
          {
            "type": "text",
            "id": "image_block_cta_text_tab_6",
            "label": "Image Block CTA Text Tab 6"
          }
        ]
      }
    ]
  }
{% endschema %}
