{%- render 'logos-carousel', mod_settings: section.settings, mod_blocks: section.blocks -%}
{% schema %}
{
  "name": "Logos Carousel",
  "max_blocks": 16,
  "settings": [
    {
      "type": "richtext",
      "id": "intro_content",
      "label": "Intro Content"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text Color"
    },
    {
      "type": "color",
      "id": "highlight_text_color",
      "label": "Highlight Text Color",
      "info": "Set the text to be set as highlighted in Bold/Strong"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color",
      "default": "#FFFFFF"
    },
    {
      "type": "header",
      "content": "Section Margins",
      "info": "Customize the margin spacing on the top and bottom of this section."
    },
    {
      "label": "Top Margin",
      "id": "margin_top",
      "type": "range",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "default": 80
    },
    {
      "label": "Bottom Margin",
      "id": "margin_bottom",
      "type": "range",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "default": 80
    }
  ],
  "blocks": [
    {
      "name": "Logo",
      "type": "logo",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "url",
          "label": "CTA Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Logos Carousel",
      "category": "Content Blocks"
    }
  ]
}
{% endschema %}
