{%- render 'collection-grid', mod_settings: section.settings, mod_blocks: section.blocks -%}
{% schema %}
{
  "name": "Collections Grid",
  "max_blocks": 7,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Shop By Industry"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text Color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color",
      "default": "#F9F9F9"
    },
    {
      "type": "header",
      "content": "Section Margins",
      "info": "Customize the margin spacing on the top and bottom of this section."
    },
    { 
      "label": "Top Margin",
      "id": "margin_top",
      "type": "range",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "default": 80
    },
    { 
      "label": "Bottom Margin",
      "id": "margin_bottom",
      "type": "range",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "default": 80
    }
  ],
  "blocks": [
    {
      "name": "Collection",
      "type": "collection",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Collections Grid",
      "category": "Home Sections"
    }
  ]
}
{% endschema %}
