{%- render 'gallery-carousel', mod_settings: section.settings, mod_blocks: section.blocks -%}
{% schema %}
{
  "name": "Gallery Carousel",
  "max_blocks": 16,
  "settings": [
    {
      "type": "paragraph",
      "content": "Min 4 photos, max 16 photos"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Gallery Section"
    },
    {
      "type": "textarea",
      "id": "intro_content",
      "label": "Intro Content"
    },
    {
      "type": "text",
      "id": "view_more_cta",
      "label": "View More CTA",
      "default": "View More"
    },
    {
      "type": "url",
      "id": "view_more_link",
      "label": "View More Link"
    },
    {
      "type": "header",
      "content": "Section Margins",
      "info": "Customize the margin spacing on the top and bottom of this section."
    },
    { 
      "label": "Top Margin",
      "id": "margin_top",
      "type": "range",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "default": 56
    },
    { 
      "label": "Bottom Margin",
      "id": "margin_bottom",
      "type": "range",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "default": 56
    }
  ],
  "blocks": [
    {
      "name": "Gallery Item",
      "type": "gallery_item",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "url",
          "label": "CTA Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Gallery Carousel",
      "category": "Home Sections"
    }
  ]
}
{% endschema %}