{%- unless section.settings.feature_collection == blank -%}
  {%- assign _products = collections[section.settings.feature_collection].products -%}
  {%- capture _product_json -%}
    [
      {%- for _product in _products -%}
        {%- render 'json--product', product: _product -%},
      {%- endfor -%}
    ]
  {%- endcapture -%}

  <featured-collection :products="{{ _product_json | escape }}"
                       title="{{- section.settings.title -}}"></featured-collection>
{%- endunless -%}

{% schema %}
  {
    "name": "Featured Products",
    "tag": "section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Best Sellers"
      },
      {
        "type": "collection",
        "id": "feature_collection",
        "label": "Featured Product Collection"
      }
    ],
    "presets": [
      {
        "category": "Homepage",
        "name": "Featured Products"
      }
    ]
  }
{% endschema %}
