{% capture schema %}
  {
    "imageDesktop": "{{ section.settings.image_desktop | img_url: '2880x' }}",
    "imageMobile": "{{ section.settings.image_mobile  | img_url: '750x' }}"
  }
{% endcapture %}

<ol class="how-it-works u-hidden">
  {% for block in section.blocks %}
    <li class="how-it-works__list-item">
      {{ block.settings.text }}
    </li>
  {% endfor %}
</ol>

<how-it-works :schema="{{ schema | escape | strip }}"></how-it-works>


{% schema %}
  {
    "name": "How It Works Section",
    "settings": [
      {
        "type": "header",
        "content": "How It Works Images"
      },
      {
        "type": "image_picker",
        "id": "image_desktop",
        "label": "Desktop Image",
        "info": "Recommended size: 2880px x 4400px"
      },
      {
        "type": "image_picker",
        "id": "image_mobile",
        "label": "Mobile Image",
        "info": "Recommended size: 750px x 1146px"
      }
    ],
    "blocks": [
      {
        "type": "how_it_works_block",
        "name": " How It Works - Block",
        "settings": [
          {
            "type": "text",
            "id": "text",
            "label": "Text"
          }
        ]
      }
    ]
  }
{% endschema %}
