{% capture schema %}
  {
    "settings": {
      "layout": {{ section.settings.ff_layout | json }},
      "imageDesktop": {{ section.settings.ff_image_desktop | json }},
      "imageMobile": {{ section.settings.ff_image_mobile | json }},
      "imageWidth": {{ section.settings.ff_image_width | json }},
      "altText": {{ section.settings.ff_image_alt | json }},
      "backgroundVideoURL": {{ section.settings.ff_background_video_url | json }},
      "youtubeVideoURL": {{ section.settings.ff_youtube_video_url | json }},
      "preheader": {{ section.settings.ff_preheader | json }},
      "header": {{ section.settings.ff_header | json }},
      "subheader": {{ section.settings.ff_subheader | json }},
      "body": {{ section.settings.ff_body | json }},
      "align": {{ section.settings.ff_text_alignment | json }},
      "ctaText": {{ section.settings.ff_cta_text | json }},
      "ctaUrl": {{ section.settings.ff_cta_url | json }},
      "ctaType": {{- section.settings.cta_type | json -}},
      "secondaryCta": {
        "text": {{ section.settings.secondary_cta_text | json }},
        "url": {{ section.settings.secondary_cta_url | json }},
        "type": {{- section.settings.secondary_cta_type | json -}}
      }
    }
  }
{% endcapture %}

<page-404 :schema="{{ schema | escape | strip }}" />

{% schema %}
  {
    "name": "404 Page",
    "settings": [
      {
        "type": "header",
        "content": "Layout"
      },
      {
        "type":      "select",
        "id":        "ff_layout",
        "label":     "Layout",
        "options": [
          {"value": "", "label": "Image on Left"},
          {"value": "sw--reverse", "label": "Image on Right"}
        ],
        "default":   ""
      },
      {
        "type": "header",
        "content": "Image"
      },
      {
        "type": "image_picker",
        "id": "ff_image_desktop",
        "label": "Desktop Image",
        "info": "Minimum Dimensions: 1814x1538"
      },
      {
        "type": "image_picker",
        "id": "ff_image_mobile",
        "label": "Mobile Image",
        "info": "Same minumum dimensions as desktop. Image will be automatically resized."
      },
      {
        "type": "text",
        "id": "ff_image_alt",
        "label": "Image Alt",
        "info": "The alt tag to use for both images"
      },
      {
        "type": "select",
        "id": "ff_image_width",
        "label": "Image Column Width",
        "options": [
          {"label": "40%", "value": "sw--40"},
          {"label": "50%", "value": "sw--50"},
          {"label": "60%", "value": "sw--60"}
        ],
        "default": "sw--50"
      },
      {
        "type": "header",
        "content": "Video"
      },
      {
        "type": "text",
        "id": "ff_background_video_url",
        "label": "Shopify Video URL",
        "info": "Add video to settings/files and paste cdn link here. Removes images"
      },
      {
        "type": "text",
        "id": "ff_youtube_video_url",
        "label": "YouTube Video URL",
        "info": "Add YouTube video link here. Removes images"
      },
      {
        "type": "header",
        "content": "Text Content"
      },
      {
        "type": "text",
        "id": "ff_header",
        "label": "Header"
      },
      {
        "type": "text",
        "id": "ff_subheader",
        "label": "Subheader"
      },
      {
        "type": "textarea",
        "id": "ff_body",
        "label": "Body Copy"
      },
      {
        "type": "select",
        "id": "ff_text_alignment",
        "label": "Text Alignment",
        "options": [
          {"label": "Left", "value": "align-start"},
          {"label": "Center", "value": "u-center"}
        ],
        "default": "align-start"
      },
      {
        "type": "header",
        "content": "Link"
      },
      {
        "type": "text",
        "id": "ff_cta_text",
        "label": "CTA Text",
        "info": "Optional"
      },
      {
        "type": "url",
        "id": "ff_cta_url",
        "label": "CTA Link",
        "info": "Optional"
      },
      {
        "type": "select",
        "id": "cta_type",
        "label": "CTA Type",
        "options": [
          {
            "label": "Primary",
            "value": "button--primary"
          },
          {
            "label": "Secondary",
            "value": "button--secondary"
          },
          {
            "label": "Tertiary",
            "value": "button--tertiary"
          },
          {
            "label": "Outline",
            "value": "button--outline"
          }
        ],
        "default": "button--primary"
      },
      {
        "type": "header",
        "content": "Secondary Link"
      },
      {
        "type": "text",
        "id": "secondary_cta_text",
        "label": "Secondary CTA Text",
        "info": "Optional"
      },
      {
        "type": "url",
        "id": "secondary_cta_url",
        "label": "Secondary CTA Link",
        "info": "Optional"
      },
      {
        "type": "select",
        "id": "secondary_cta_type",
        "label": "Secondary CTA Type",
        "options": [
          {
            "label": "Primary",
            "value": "button--primary"
          },
          {
            "label": "Secondary",
            "value": "button--secondary"
          },
          {
            "label": "Tertiary",
            "value": "button--tertiary"
          },
          {
            "label": "Outline",
            "value": "button--outline"
          }
        ],
        "default": "button--primary"
      }
    ]
  }
{% endschema %}
