{%- assign cf = product.metafields.custom_fields -%}
{% capture schema %}
  {
    "settings": {
      "layout": {{ section.settings.ff_layout | json }},
      "imageWidth": {{ section.settings.ff_image_width | json }},
      "textAlignment": {{ section.settings.ff_text_alignment | json }},
      "bodyColor": "color-black",
      "marginTop": {{ section.settings.margin_top | json }},
      "marginBottom": {{ section.settings.margin_bottom | json }},
      "maxWidth": "1247px",
      "preheader": {{- cf.basic_fifty_fifty_subheader | json -}},
      "header": {{- cf.basic_fifty_fifty_title | json -}},
      "body": {{- cf.basic_fifty_fifty_content | json -}},
      "imageDesktop": {{- cf.basic_fifty_fifty_image | json -}},
      "imageMobile": {{- cf.basic_fifty_fifty_image | json -}},
      "backgroundVideoURL": {{- cf.basic_fifty_fifty_video_url | json -}},
    }
  }
{% endcapture %}

<io-lazy-loader>
  <fifty-fifty :schema="{{ schema | escape | strip }}">
    {%- unless cf.basic_fifty_fifty_cta_url == blank -%}
      <a class="button button--{{ cf.basic_fifty_fifty_cta_type }}"
         href="{{- cf.basic_fifty_fifty_cta_url -}}"
         slot="extraContent">
        {{- cf.basic_fifty_fifty_cta_text -}}
      </a>
    {%- endunless -%}
  </fifty-fifty>
</io-lazy-loader>

{% schema %}
  {
    "name": "Product FiftyFifty",
    "settings": [
      {
        "label": "Top Padding",
        "id": "margin_top",
        "type": "range",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "default": 56
      },
      {
        "label": "Bottom Padding",
        "id": "margin_bottom",
        "type": "range",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "default": 56
      },
      {
        "type": "header",
        "content": "Layout"
      },
      {
        "type":      "select",
        "id":        "ff_layout",
        "label":     "Layout",
        "options": [
          {"value": "", "label": "Image on Left"},
          {"value": "sw--reverse", "label": "Image on Right"}
        ],
        "default":   ""
      },
      {
        "type": "header",
        "content": "Image"
      },
      {
        "type": "image_picker",
        "id": "ff_image_desktop",
        "label": "Desktop Image",
        "info": "Minimum Dimensions: 1814x1538"
      },
      {
        "type": "image_picker",
        "id": "ff_image_mobile",
        "label": "Mobile Image",
        "info": "Same minumum dimensions as desktop. Image will be automatically resized."
      },
      {
        "type": "text",
        "id": "ff_background_video_url",
        "label": "Background Video URL",
        "info": "Add video to settings/files and paste cdn link here. Removes images"
      },
      {
        "type": "select",
        "id": "ff_image_width",
        "label": "Image Column Width",
        "options": [
          {"label": "40%", "value": "sw--40"},
          {"label": "50%", "value": "sw--50"},
          {"label": "60%", "value": "sw--60"}
        ],
        "default": "sw--50"
      },
      {
        "type": "header",
        "content": "Text Content"
      },
      {
        "type": "text",
        "id": "ff_preheader",
        "label": "Preheader"
      },
      {
        "type": "text",
        "id": "ff_header",
        "label": "Header"
      },
      {
        "type": "text",
        "id": "ff_subheader",
        "label": "Subheader"
      },
      {
        "type": "richtext",
        "id": "ff_body",
        "label": "Body Copy"
      },
      {
        "type": "select",
        "id": "ff_text_alignment",
        "label": "Text Alignment",
        "options": [
          {"label": "Left", "value": ""},
          {"label": "Center", "value": "text-center"}
        ],
        "default": ""
      },
      {
        "type": "text",
        "id": "cta_text",
        "label": "CTA Text"
      },
      {
        "type": "url",
        "id": "cta_url",
        "label": "CTA URL"
      },
      {
        "type": "select",
        "id": "cta_type",
        "label": "CTA Type",
        "options": [
          {
            "label": "Primary",
            "value": "button--primary"
          },
          {
            "label": "Secondary",
            "value": "button--secondary"
          }
        ],
        "default": "button--primary"
      }
    ]
  }
{% endschema %}
