<template lang="pug">
  div.header__dropdown-container-wrapper(:class="open ? 'header__dropdown-container-wrapper--open':''" @click="close")
    .header__dropdown-container(@click="e => e.stopPropagation()")
      .header__dropdown-container-inner
        button.header__dropdown-close(@click="close")
          icon(name="close" size="12px")
        .header__dropdown-column.header__dropdown-column--first
          .design-heading {{designMenu.heading}}
          .design-content(v-html="designMenu.content")
        .header__dropdown-column
          a.header__dropdown-column-item.header__dropdown-column-item--live-chat(v-if="designMenu.link_1.title !== ''" :href="designMenu.link_1.url")
            .icon-wrapper
              img(:src="designMenu.link_1.icon")
            .icon-title {{designMenu.link_1.title}}
          a.header__dropdown-column-item.header__dropdown-column-item--call(v-if="designMenu.link_2.title !== ''" :href="designMenu.link_2.url")
            .icon-wrapper
              img(:src="designMenu.link_2.icon")
            .icon-title {{designMenu.link_2.title}}
          a.header__dropdown-column-item.header__dropdown-column-item--email(v-if="designMenu.link_3.title !== ''" :href="designMenu.link_3.url")
            .icon-wrapper
              img(:src="designMenu.link_3.icon")
            .icon-title {{designMenu.link_3.title}}
</template>

<script>
  import Icon from 'scripts/components/basic/Icon.vue'
  import VButton from 'scripts/components/buttons/VButton.vue'
  import VLink from 'scripts/components/buttons/VLink.vue'
  export default {
    name: 'MegaNav',
    components: {
      Icon,
      VButton,
      VLink,
    },
    props: {
      designMenu: {
        type: Object
      },
      onClose: {
        type: Function
      },
      open: {
        default: null
      }
    },
    methods: {
      getImageSource(block) {
        return block.image;
      },
      close(e) {
        e.stopPropagation();
        this.onClose()
      }
    },
    data () {
      return {
        selectedIndex: 1,
      }
    }
  };
</script>

<style lang="scss" scoped>
  div.header__dropdown-container-wrapper {

    &--open {
      display: block;
    }
  }
  div.header__dropdown-container {
    background-color: $color-white;
    box-shadow: 0 1px 1px rgba(0,0,0,0.15);
    padding-bottom: 0;
    padding-top: 0;
    margin: 0 auto;
    max-width: 1259px;
    position: relative;
  }

  /deep/ .link--primary {
    margin-bottom: 16px;
    display: inline-block;
    &.selected {
      .icon {
        color: $color-primary-red;
      }

      &:after {
        content: '';
        background-color: $color-primary-red;
        height: 2px;
        width: 100%;
        display: block;
        position: absolute;
        bottom: 0;
      }
    }
  }

  .header__dropdown-container-inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 180px 0 0;
  }

  .header__dropdown-close {
    position: absolute;
    right: 20px;
    top: 22px;
    height: 22px;
    width: 22px;
    min-width: 0;
    color: $color-primary-red;
    border: 1px solid $color-light-grey;
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  .header__dropdown-column {
    padding-top: 40px;
    padding-bottom: 30px;
    display: flex;
    &--first {
      padding-left: 16px;
      background-color: #F9F9F9;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      > * {
        max-width: 210px;
        width: 100%;
      }
    }

    &--image {
      align-items: flex-start !important;
    }
    &:not(.header__dropdown-column--first) {
      align-items: center;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 48px;
      padding: 50px 48px;
      grid-column: span 2;

      .category__links {
        max-width: 150px;
      }
    }
  }

  .header__dropdown-column-item {
    border: 1px solid $color-light-grey;
    box-shadow: 0 1px 1px rgba(0,0,0,0.15);
    border-radius: 12px;
    height: 218px;
    width: 218px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .header__drop-column-heading {
    font-size: rem(16);
    font-weight: 600;
    line-height: rem(22);
    margin-bottom: 16px;
  }

  .icon-wrapper {
    height: 112px;
    width: 112px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    margin-bottom: 18px;
  }

  .category__links {
    margin: 0;
    padding: 0;
  }

  .icon-title {
    color: $color-black;
    font-size: rem(16);
    font-weight: 500;
    line-height: rem(22);
  }

  .icon-description {
    font-size: rem(12);
    line-height: rem(22);
    color: $color-grayish-gray;
    font-weight: 500;
  }
  .design-heading {
    font-size: rem(16);
    font-weight: 600;
    line-height: rem(22);
    margin-bottom: 16px;
  }
  .design-content {
    max-width: 210px;
    p {
      font-size: rem(14);
      line-height: rem(22);
    }
  }
</style>
