<template lang="pug">
  .header__dropdown-container-wrapper(:class="open ? 'header__dropdown-container-wrapper--open':''" @click="close")
    .header__dropdown-container(@click="e => e.stopPropagation()")
      .header__dropdown-container-inner
        button.header__dropdown-close(@click="close")
          icon(name="close" size="12px")
        .header__dropdown-column.header__dropdown-column--first
          .header__drop-column-heading Help
          ul.category__links
            li(v-for="link in helpMenu.links")
              a(:href="link.url" class="link link--primary") {{ link.title }}
        .header__dropdown-column
          a.header__dropdown-column-item.header__dropdown-column-item--live-chat
            .icon-wrapper
              img(:src="helpMenu.live_chat_icon")
            .icon-title Live Chat
            .icon-description {{helpMenu.live_chat_hours}}
          a.header__dropdown-column-item.header__dropdown-column-item--call(:href="phoneNumber")
            .icon-wrapper
              img(:src="helpMenu.call_icon")
            .icon-title Call
            .icon-description {{helpMenu.call_number}}
          a.header__dropdown-column-item.header__dropdown-column-item--email(:href="`mailto:${helpMenu.email_address}`" target="_blank")
            .icon-wrapper
              img(:src="helpMenu.email_icon")
            .icon-title Email
            .icon-description {{helpMenu.email_address}}
</template>

<script>
  import Icon from 'scripts/components/basic/Icon.vue'
  import VButton from 'scripts/components/buttons/VButton.vue'
  import VLink from 'scripts/components/buttons/VLink.vue'
  export default {
    name: 'MegaNavHelp',
    components: {
      Icon,
      VButton,
      VLink,
    },
    props: {
      helpMenu: {
        type: Object
      },
      onClose: {
        type: Function
      },
      open: {
        default: null
      }
    },
    methods: {
      getImageSource(block) {
        return block.image;
      },
      close(e) {
        e.stopPropagation();
        this.onClose()
      }
    },
    computed: {
      phoneNumber () {
        const theNumber = this.helpMenu.call_number;
        
        return `tel:1${theNumber.replace(/(\D)/g, '')}`;
      }
    },
    data () {
      return {
        selectedIndex: 1,
      }
    },
    mounted () {
      console.log(this.helpMenu);
    }
  };
</script>

<style lang="scss" scoped>
  div.header__dropdown-container-wrapper {
    &--open {
      display: block;
    }
  }
  div.header__dropdown-container {
    padding-bottom: 0;
    padding-top: 0;
    background-color: $color-white;
    margin: 0 auto;
    max-width: 1259px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.15);
    position: relative;
  }

  /deep/ .link--primary {
    margin-bottom: 16px;
    display: inline-block;
    font-weight: 500;
    font-size: rem(14);
    padding: 0;
    &.selected {
      .icon {
        color: $color-primary-red;
      }

      &:after {
        content: '';
        background-color: $color-primary-red;
        height: 2px;
        width: 100%;
        display: block;
        position: absolute;
        bottom: 0;
      }
    }
  }

  .header__dropdown-container-inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 180px 0 0;
  }

  .header__dropdown-close {
    position: absolute;
    right: 20px;
    top: 22px;
    height: 22px;
    width: 22px;
    min-width: 0;
    color: $color-primary-red;
    border: 1px solid $color-light-grey;
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  .header__dropdown-column {
    padding-top: 40px;
    padding-bottom: 30px;
    display: flex;
    &--first {
      padding-left: 121px;
      background-color: #F9F9F9;
      flex-direction: column;

      .category__link {
        margin-bottom: 16px;
      }
    }

    &:not(.header__dropdown-column--first) {
      grid-column: span 2;
      flex-direction: row;
    }

    &--image {
      align-items: flex-start !important;
    }
    &:not(.header__dropdown-column--first) {
      align-items: center;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 48px;
      padding: 0 48px;
      /* flex-direction: column; */

      .category__links {
        max-width: 150px;
      }
    }
  }

  .header__dropdown-column-item {
    border: 1px solid $color-light-grey;
    box-shadow: 0 1px 1px rgba(0,0,0,0.15);
    border-radius: 12px;
    height: 218px;
    width: 218px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .header__drop-column-heading {
    font-size: rem(16);
    font-weight: 600;
    line-height: rem(22);
    margin-bottom: 16px;
  }

  .icon-wrapper {
    height: 112px;
    width: 112px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-primary-red;
    border-radius: 100%;
    margin-bottom: 18px;

    img {
      max-width: 50px;
    }
  }

  .category__links {
    margin: 0;
    padding: 0;
  }

  .icon-title {
    color: $color-black;
    font-size: rem(16);
    font-weight: 500;
    line-height: rem(22);
  }

  .icon-description {
    font-size: rem(12);
    line-height: rem(22);
    color: $color-grayish-gray;
    font-weight: 500;
  }
</style>
