<template lang="pug">
  .mobile-mega-nav
    button.mobile-mega-nav__title(@click="() => openSubMenu()")
      span {{block.title}}
      icon(name="chevron-right" size="10px")
    .category__sub-menu(
      v-if="openMenu"
    )
      button.button--icon.category__close(
        type="button"
        @click="closeSubMenu()"
      )
        icon.category__close-icon(
          name="chevron-left"
          label="close sub menu"
          size="10px"
        )
        span.category__close-text Return to Main Menu
      div.category__heading
        img.category__icon(
          :src="block.icon"
          :alt="block.title"
        )
        span.category__title {{block.title}}
      ul.category__sub-menu-links
        li(v-if="block.title_tab_1")
          a(
            @click="selectedIndex = 1"
            :class="selectedIndex === 1 ? 'selected':''"
            primary
          ) 
            span {{block.title_tab_1}}
            icon(name="chevron-right" size="10px")
        li(v-if="block.title_tab_2")
          a(
            @click="selectedIndex = 2"
            :class="selectedIndex === 2 ? 'selected':''"
            primary
          ) 
            span {{block.title_tab_2}}
            icon(name="chevron-right" size="10px")
        li(v-if="block.title_tab_3")
          a(
            @click="selectedIndex = 3"
            :class="selectedIndex === 3 ? 'selected':''"
            primary
          ) 
            span {{block.title_tab_3}}
            icon(name="chevron-right" size="10px")
        li(v-if="block.title_tab_4")
          a(
            @click="selectedIndex = 4"
            :class="selectedIndex === 4 ? 'selected':''"
            primary
          ) 
            span {{block.title_tab_4}}
            icon(name="chevron-right" size="10px")
        li(v-if="block.title_tab_5")
          a(
            @click="selectedIndex = 5"
            :class="selectedIndex === 5 ? 'selected':''"
            primary
          ) 
            span {{block.title_tab_5}}
            icon(name="chevron-right" size="10px")
        li(v-if="block.title_tab_6")
          a(
            @click="selectedIndex = 6"
            :class="selectedIndex === 6 ? 'selected':''"
            primary
          ) 
            span {{block.title_tab_6}}
            icon(name="chevron-right" size="10px")
      div.category__sub-sub-nav(v-if="selectedIndex")
        .category__sub-close(@click="selectedIndex = false")
          icon(name="chevron-left" size="10px")
          span Return
        .category__sub-title
          span {{block[`title_tab_${selectedIndex}`]}}
        .category__sub-item(v-if="block[`link_list_1_tab_${selectedIndex}`].length")
          ul.category__sub-menu-links
            li(
              v-for="link in block[`link_list_1_tab_${selectedIndex}`]"
              :key="link.title"
            )
              a(
                :href="link.url"
              ) {{ link.title }}
            li.category__shop-all-link
              v-button(
                tag="a"
                :href="block[`shop_all_link_1_tab_${selectedIndex}`]"
                tertiary
              ) Shop All
        .category__sub-item(v-if="block[`link_list_2_tab_${selectedIndex}`].length")
          ul.category__sub-menu-links
            li(
              v-for="link in block[`link_list_2_tab_${selectedIndex}`]"
              :key="link.title"
            )
              a(
                :href="link.url"
              ) {{ link.title }}
        .category__sub-item.category__sub-item--text-block(v-if="block[`text_block_title_tab_${selectedIndex}`] || block[`text_block_description_tab_${selectedIndex}`]")
          .header__block-text(:style="{backgroundColor: block[`text_block_background_color_tab_${selectedIndex}`]}")
            .header__block-text-heading {{ block[`text_block_title_tab_${selectedIndex}`] }}
            .header__block-text-description(v-html="block[`text_block_description_tab_${selectedIndex}`]")
        .category__sub-item.category__sub-item--image(v-if="block[`image_block_title_tab_${selectedIndex}`] || block[`image_block_image_tab_${selectedIndex}`] || block[`image_block_link_text_tab_${selectedIndex}`] || block[`image_block_link_tab_${selectedIndex}`]")
          img.header__block-image(:src="block[`image_block_image_tab_${selectedIndex}`]")
          h1.header__block-heading {{ block[`image_block_title_tab_${selectedIndex}`] }}
          p.header__block-content {{ block[`image_block_link_text_tab_${selectedIndex}`] }}
          v-link(
            :href="block[`image_block_link_tab_${selectedIndex}`]"
            primary
          ) {{ block[`image_block_cta_text_tab_${selectedIndex}`] || 'Buy Now' }}
              

</template>

<script>
  import NavbarMobileAccordion from './NavbarMobileAccordion.vue';
  import Icon from 'scripts/components/basic/Icon.vue';
  import IconLink from 'scripts/components/buttons/IconLink.vue';
  import VButton from 'scripts/components/buttons/VButton.vue'
  import VLink from 'scripts/components/buttons/VLink.vue'

  export default {
    name: 'MobileMegaNav',
    components: {
      Icon,
      VButton,
      VLink,
      IconLink,
      NavbarMobileAccordion,
    },
    props: {
      block: {
        type: Object
      },
      shopAllLink: {
        type: String,
        default: '/collections/all/',
      },
    },
    data() {
      return {
        selectedIndex: false,
        openMenu: false,
      }
    },
    methods: {
      openSubMenu () {
        this.openMenu = true;
      },
      closeSubMenu () {
        this.openMenu = false;
      },
    },
  };
</script>

<style lang="scss" scoped>
  .mobile-mega-nav {
    background-color: $color-white;
  }

  .mobile-mega-nav__title {
    height: 39px;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
    font-weight: 500;
    border-radius: 0;
    box-shadow: none;
    text-transform: none;
    width: 100%;
    border: 0;
    text-transform: none;
    letter-spacing: 0;
  }

  .categories--tiled {
    padding-left: 0;
  }

  .category {
    margin: 20px 20px 0;
    padding: 0 8px;
    height: 90px;
    display: flex;
    align-items: center;
    background-color: $color-white;

    & + & {
      margin-top: 10px
    }
  }

  .category__heading {
    font-size: rem(18);
    line-height: rem(22);
    font-weight: 600;
    display: flex;
    align-items: center;
    padding: 10px 20px;
  }

  .category__sub-menu {
    position: absolute;
    top: 48px;
    left: 0;
    width: 100%;
    height: calc(100% - 48px);
    font-size: rem(16);
    line-height: rem(22);
    font-weight: 500;
    background-color: $color-white;
    z-index: 1;
  }

  .category__sub-sub-nav {
    position: absolute;
    top: 0;
    height: 100%;
    background-color: $color-white;
    width: 100%;
  }

  .category__sub-item {
    padding: 0 20px;
    border-bottom: 1px solid $color-light-grey;
    font-weight: 400;
    background-color: $color-white;

    &:last-child {
      border-bottom: 0;
    }

    .category__sub-menu-links {
      a:not(.button) {
        padding: 0;
        color: $color-black;
      }
    }

    &--image,
    &--text-block {
      padding: 20px;
    }
  }
  .category__sub-title {
    height: 39px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    margin-top: 20px;
  }


  .header__block-text {
    border-radius: 10px;
    padding: 40px 20px;
  }

  .header__block-text-heading {
    font-size: rem(16);
    line-height: rem(22);
    font-weight: 600;
    margin-bottom: 16px;
  }

  .header__block-text-description {
    font-size: rem(14);
    line-height: rem(22);
  }

  .header__block-image {
    max-width: 272px;
    margin-bottom: 16px;
  }

  .header__block-content {
    font-size: rem(12);
    line-height: rem(22);
  }

  .header__block-heading {
    font-size: rem(14);
    line-height: rem(22);
  }

  .category__shop-all-link {
    margin-top: 11px;

    /deep/ .button__content {
      width: 100%;
      justify-content: space-between;
    }
  }


  .category__links {
    padding: 0;
    margin: 0;
  }

  .category__icon {
    max-height: 40px;
    max-width: 105px;

    @media (min-width: 375px) {
      max-width: unset;
    }
  }

  .category__sub-menu-icon {
    display: block;
    margin: 23px 0 18px;
  }

  .category__close,
  .category__sub-close {
    padding: 16px 20px;
    width: 100%;
    height: auto;
    border-bottom: 1px solid $color-light-grey;
    text-align: left;
    border-radius: 0;
    box-shadow: none;
    color: $color-grayish-gray;
  }

  /deep/ .category__sub-close .icon {
    margin-right: 10px;
  }

  .category__close-icon {
    margin-right: 10px;
  }

  .category__image {
    margin-left: auto;
    padding: 13px 0;
    height: 100%;
  }

  .category__sub-menu-links {
    margin: 0;
    padding: 0 0 23px;

    a {
      display: flex;
      justify-content: space-between;
      padding: 0 20px;
      height: 39px;
      align-items: center;
    }
  }

  .category__link {
    font-size: rem(12);
    line-height: 4.17;
    letter-spacing: 1.3px;
    font-family: $font-gibson;
    text-transform: uppercase;
    color: $color-black;
  }

  .category__close-text {
    font-size: rem(16);
    font-weight: 500;
    line-height: rem(22);
    text-transform: none;
    letter-spacing: 0;
  }

  .shop-all {
    display: block;
    margin: 13px 0px;
    text-align: center;
    font-family: $font-gibson;
    font-size: rem(12);
    line-height: 2;
    letter-spacing: .2px;
    font-weight: 700;
    color: $color-black;
  }
</style>
