<template lang="pug">
  button.button--icon(
    :class="buttonClass",
    :disabled="isDisabled",
    @click="$emit('click')"
  )
    icon.icon(
      :name="iconName"
      :size="size"
    )
    span.u-sr-only {{ label }}
</template>

<script>
  import Icon from 'scripts/components/basic/Icon.vue'

  export default {
    components: { Icon },
    name: 'IconButton',
    props: {
      label: String,
      iconName: String,
      size: {
        type: String,
        default: '24px'
      },
      buttonClass: {
        type: String,
        default: '',
      },
      isDisabled: {
        type: Boolean,
        default: false,
      },
    }
  }
</script>

<style scoped lang="scss">
  .icon {
    pointer-events: none;
    touch-action: none;
  }
</style>
