
<template lang="pug">
  component(
    :is="tag"
    :class="buttonClass"
    v-on="$listeners"
  )
    span.button__content
      slot {{ label }}
      icon(
        class="button__icon"
        name="arrow_long_right"
        size="20px"
        v-if="this.tertiary === true"
      )
</template>

<script>
  import Icon from 'scripts/components/basic/Icon.vue'

  export default {
    name: 'VButton',
    components: { Icon },
    props: {
      label: String,
      tag: {
        type: String,
        default: 'button',
      },
      small: {
        type: Boolean,
        default: false
      },
      large: {
        type: Boolean,
        default: false
      },
      full: {
        type: Boolean,
        default: false
      },
      primary: {
        type: Boolean,
        default: false
      },
      secondary: {
        type: Boolean,
        default: false
      },
      tertiary: {
        type: Boolean,
        default: false
      },
      outline: {
        type: Boolean,
        default: false
      },
      inverse: {
        type: Boolean,
        default: false
      }
    },
    computed: {
      buttonClass () {
        return {
          'button button--primary': this.primary === true,
          'button button--secondary': this.secondary === true,
          'button button--tertiary': this.tertiary === true,
          'button button--outline': this.outline === true,
          'button button--small': this.small === true,
          'button button--large': this.large === true,
          'button button--full': this.full === true,
        }
      }
    }
  }
</script>

<style scoped lang="scss">
  .button__icon {
    margin-left: 10px;
  }

  .button__content {
    .sidecart__checkout-cta & {
      font-family: $font-family-primary !important;
      line-height: 50px;
    }
  }
</style>
