<template lang="pug">
  component(
    :is="tag"
    v-on="$listeners"
    :class="[linkClass, customClasses]"
    @mouseover="hovered = true"
    @mouseleave="hovered = false"
  )
    span.link__content
      slot
      icon(
        v-if="primary === true"
        :name="hovered ? 'arrow_long_right' : 'chevron-right'"
        :size="hovered ? '20px' : '6px'"
      )
</template>

<script>
import Icon from '../basic/Icon.vue';

  export default {
    components: {
      Icon
    },
    data() {
      return {
        hovered: false,
      }
    },
    name: 'VLink',
    props: {
      primary: Boolean,
      secondary: Boolean,
      tertiary: Boolean,
      lightLink: Boolean,
      disabled: Boolean,
      customClasses: String,
      light: Boolean,
      tag: {
        type: String,
        default: 'a'
      }
    },
    computed: {
      linkClass () {
        return {
          'link link--primary': this.primary === true,
          'link link--secondary': this.secondary === true,
          'link link--tertiary': this.tertiary === true,
          'link link--light': this.lightLink === true,
          'link--disabled': this.disabled,
          'light': this.light
        }
      }
    }
  }
</script>

<style scoped lang="scss">
  .link .icon {
    display: none;
  }
  .link.link--primary .icon {
    display: inline-block;
  }
  .light {
    color: $color-white;
    .link__content::before {
      background-color: $color-white;
    }
  }
</style>
