<template lang="pug">
  article.pftm.side-padded-mobile
    product-promo-card.u-hidden-mobile-only.margin-top(
      v-if="onSale && product.tags.map(lowercase).includes('deal of the week')"
      style="margin-bottom: 16px;"
    )
      span(slot="heading") 
        icon(name="check", size="24px")
        span.body-md.strong-bold Deal of the Week
      span.body-sm(slot="subheading") This is a one time purchase opportunity!
    p.u-hidden-mobile-only.margin-top(v-show="onSale && product.tags.map(lowercase).includes('deal of the week')")
    .pftm__flex-row
      .pftm__flex-row.pftm__review-row.pftm__space-between
        span.pdp__review-stars-container
          span.pdp__review-stars.shopify-product-reviews-badge(v-if="!settings.hideReviews && reviewSource === 'shopify'" :data-id="product.id")
          bazaar-voice-reviews(v-else-if="!settings.hideReviews && reviewSource === 'bazaarvoice'" format="inline_rating" :productID="product.id" productURL="#BVRRContainer")
        .pftm__badges.u-hidden-tablet-up
          span.badge.button-text(v-for="badge in badges.slice(0,3)", :key="badge" v-if="variant", :class="[$store.state.badgeColorMap[badge][0]]") {{ badge }}
    .pftm__flex-row
      span.pdp-vendor(v-if="displayVendor") {{ product.vendor }}
    .pftm__flex-row
      h1.pdp-product-title {{ product.title }}
    template
      .pftm__flex-row
        v-link.pftm__right-margined(tertiary, v-if="customFields.d2_collection_link", :href="`/collections/${customFields.d2_collection_link}`") {{ customFields.d2_collection_link_text }}
        span.pdp__sku.pftm__sku-mobile.color-off-black.body-sm(v-if="subtitle") {{ subtitle }}
        span.pdp__stock.u-hidden-mobile-only(
          v-if="variant"
          :class="variant.available ? 'pdp-in-stock-flag' : 'pdp-out-of-stock-flag'"
        ) {{ variant.available ? 'in stock' : 'out of stock' }}
    product-upsell-card.u-hidden-mobile-only.margin-top(
      v-if="settings.upsellCardProduct.handle"
      :product="settings.upsellCardProduct"
      :heading="customFields.d2_upsell_heading"
      :description="customFields.d2_upsell_description"
      :callout="customFields.d2_upsell_alert_text"
    )
    .pftm__flex-row.pftm__space-between.pftm__price-container(v-if="!customFields.hide_price")
      span
        span.pftm__price.pdp-price.pftm__right-margined(
          v-if="variant"
          :class="{[$store.state.comparePriceColor]: prices.price < prices.compare_at_price }"
        ) {{ prices.price | money }}
        s.pftm__price-compare.pdp-price-compare(v-if="variant && prices.price < prices.compare_at_price") {{ prices.compare_at_price | money }}
      span.body-sm.color-black(v-if="(variant || {}).d2_msrp || customFields.d2_msrp") MSRP ${{ (variant || {}).d2_msrp || customFields.d2_msrp }}
    .body-md.u-hidden-mobile-only.client-generated(v-html="customFields.d2_short_description" v-if="customFields.d2_short_description")
</template>

<script>
import { badgeList } from '../../../helpers/util';
import VLink from '../../buttons/VLink.vue';
import ProductUpsellCard from './ProductUpsellCard.vue';
import ProductPromoCard from './ProductPromoCard.vue';
import BazaarVoiceReviews from 'scripts/components/product/BazaarVoiceReviews.vue';
import Icon from '../../basic/Icon.vue';
import lowercase from 'lodash/lowerCase';


export default {
  name: "ProductFormTopMobile",
  props: {
    collection: Object,
    product: Object,
    customFields: Object,
    variant: Object,
    settings: Object,
    prices: Object,
    displayVendor: Boolean
  },
  model: {
    prop: 'variant',
  },
  data() {
    return {
      reviewSource: window.bvaccel && window.bvaccel.reviewSource,
    }
  },
  components: {
    VLink,
    Icon,
    ProductUpsellCard,
    ProductPromoCard,
    BazaarVoiceReviews
  },
  methods: {
    lowercase
  },
  computed: {
    subtitle () {
      const { subtitlePretext, showSKU } = this.settings;
      const cfVendor = this.variant && this.variant.cf_vendor ? this.variant.cf_vendor : this.customFields.product_vendor;
      const vendorText = showSKU ? this.variant.sku : cfVendor;

      if(subtitlePretext && vendorText) 
        return subtitlePretext + ' ' + vendorText;
      else if(vendorText) 
        return vendorText;
      return '';
    },
    onSale() {
      return this.variant && this.variant.price < this.variant.compare_at_price;
    },
    badges() {
      return badgeList(this.product, this.variant, this.onSale);
    },
  }
}
</script>

<style lang="scss" scoped>
  .pftm {
    padding-top: 12px;
    padding-bottom: 12px;

    > * + * {
      margin-top: 4px;
    }

    /deep/ .upscard {
      margin-top: 24px;
    }

    &__right-margined {
      margin-right: 12px;
    }

    &__price-compare {
      color: $color-compare-price;
    }

    &__sku-mobile {
      display: inline-block;
      margin-right: 28px;
    }

    &__space-between {
      justify-content: space-between;
    }

    &__flex-row {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      width: 100%;
    }

    &__price-container {
      @include tablet-up {
        padding-top: 20px;
      }
    }

    .link {
      text-decoration: underline;
    }

    .link::before,
    .link__content::before {
      display: none;
    }

    .spr-badge .spr-badge-caption {
      font-size: rem(12);
      font-family: $font-family-primary;
    }

    .spr-starrating {
      padding: 0;
    }

    .badge {
      position: relative;
      top: unset;
      left: unset;
      pointer-events: none;
      float: right;
      margin-left: 8px;
      font-size: rem(12);
      padding: 2px 0;
    }

    @include tablet-up {
      display: none;
      padding-bottom: 24px - 16px;
      margin-bottom: 0; 
      padding-top: 0;
    }
    .pdp-vendor {
      text-transform: uppercase;
      letter-spacing: .5px;
      font-size: 12px;
    }
  }
</style>