<div class="account-dash">
  {%- render 'account-nav' -%}

  <div class="account-content-area">
    <account-panel>
      <template slot="order-history">{%- render 'account-order-history' -%}</template>
      <template slot="subscriptions">{%- render 'account-subscriptions' -%}</template>
    </account-panel>
  </div>
</div>
