{% comment %}
  The data-label attributes on <td> elements are mobile-friendly
  helpers used for responsive-table labels
{% endcomment %}

<div class="customers account-dash order-detail-template">
  {%- render 'account-nav' -%}

  <div class="account-content-area">
    <div id="order-detail-content" class="panel">
      <div class="order-detail-header">
        <h2 class="account-order-back-container">
          <a href="/account">
            <icon class="back-arrow" name="chevron-left" size="14px" /></a>
            Order {{ order.name }}
          </h2>
        <span class="order-date">{{ order.created_at | date: "%b %d, %Y" }}</span>
      </div>
      <div class="order-detail-container">
        {% if order.cancelled %}
          {%- assign cancelled_at = order.cancelled_at | date: "%m/%d/%Y" -%}
          <div class="order-detail-cancellation-info">
            <p><strong>Cancelled On:</strong> {{ cancelled_at }}</p>
            <p><strong>Reason:</strong> {{ order.cancel_reason }}</p>
            <p><strong>Payment Status:</strong> {{ order.financial_status_label }}</p>
          </div>
        {% endif %}

        <div class="order-details order-addresses">
          <div class="detail order-details-shipping-container">
            <p class="h6 order-details-heading">{{ 'customer.order.shipping_address' | t }}</p>
            <p class="order-details-content">{{ order.shipping_address | format_address }}</p>
          </div>
          <div class="detail">
            <p class="h6 order-details-heading">{{ 'customer.order.billing_address' | t }}</p>
            <p class="order-details-content">{{ order.billing_address | format_address }}</p>
          </div>
        </div>

        <div class="order-details">
          <div class="detail">
            {% for shipping_method in order.shipping_methods %}
              <p class="h6 order-details-heading">{{ 'customer.order.shipping' | t }}</p>
              <p class="order-details-content">
                {{ shipping_method.original_price | money }}
                <br>
                {{ shipping_method.title }}
                <br>
                <br>
                <a class="track-shipment link link--secondary" href="{{ order.order_status_url }}">
                  Track Package
                </a>
              </p>
            {% endfor %}
          </div>
          <div class="detail">
            <p class="h6 order-details-heading">Payment Method</p>
            {% for transaction in order.transactions %}
              {% if transaction.status == "success" and transaction.kind == "authorization" or transaction.kind == "sale" %}
                {% if transaction.payment_details.credit_card_company %}
                  {% capture transaction_name %}{{ transaction.payment_details.credit_card_company }} - {{ transaction.payment_details.credit_card_last_four_digits }}{% endcapture %}
                {% else %}
                  {% capture transaction_name %}{{ transaction.gateway | replace: "_", " " }}{% endcapture %}
                {% endif %}
              {% endif %}
            {% endfor %}

            <p class="order-details-content">{{ transaction_name }}</p>
          </div>
        </div>

        <div class="order-line-items">
          {% for line_item in order.line_items %}
            <div class="order-line-item-card">
              <div class="order-line-item-prod-image-details-container">
                <div class="order-line-item-prod-image-container">
                  <img src="{{ line_item.image | img_url: '300x300' }}" alt="{{ line_item.title }}">
                </div>

                <div class="order-line-item-details-container">
                  <p class="order-line-item-product-title">{{ line_item.product.title | link_to: line_item.product.url }}</p>
                  <details class="order-summary">
                    <summary class="order-summary__title">
                      <span class="order-summary__open">Show Product Details</span>
                      <span class="order-summary__closed">Hide Product Details</span>
                    </summary>
                    <p class="order-line-item-qty-details">Qty: {{ line_item.quantity }}</p>
                    <div class="order-line-item-variant-details">
                      <ul class="order-line-item-variant-details">
                        {% for option in line_item.options_with_values %}
                          <li>{{ option.name }}: {{ option.value }}</li>
                        {% endfor %}
                        {% for option in line_item.properties %}
                          <account-properties :option="{{ option | json | escape }}">
                          </account-properties>
                        {% endfor %}
                      </ul>
                    </div>
                  </summary>
                </div>
              </div>

              <div class="order-line-item-price-container">
                <p>{{ line_item.final_line_price | money }}</p>
              </div>
            </div>
          {% endfor %}
        </div>
        <div class="order-totals">
          <div class="order-total-details-main-container">
            <div class="order-total-detail-container">
              <p class="order-total-detail-heading">Subtotal</p>
              <p>{{ order.subtotal_price | money }}</p>
            </div>
            {% for discount in order.discounts %}
              {% if discount.code !== blank %}
                {% assign discount_active  = true %}
              {% endif %}
            {% endfor %}
            {% if discount_active %}
              {% for discount in order.discounts %}
                <div class="order-total-detail-container">
                  <p class="order-total-detail-heading">Discount</p>
                  <div class="order-total-detail-discount-container">
                    <p>{{ discount.code }}</p>
                    <p>{{ discount.savings | money }}</p>
                  </div>
                </div>
              {% endfor %}
            {% endif %}
            {% for tax_line in order.tax_lines %}
              <div class="order-total-detail-container">
               <p class="order-total-detail-heading">Taxes</p>
               <p>{{ tax_line.price | money }}</p>
              </div>
            {% endfor %}
            {% for shipping_method in order.shipping_methods %}
              <div class="order-total-detail-container">
               <p class="order-total-detail-heading">Shipping</p>
               <p>{{ shipping_method.price | money }}</p>
              </div>
            {% endfor %}
            <div class="order-total-container">
              <p class="order-total-main-heading">Total</p>
              <p>{{ order.total_price | money }}</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
