<div class="customers register-template">
  {% if settings.account_image != blank %}
    <div class="login-splash" style="background-image: url('{{ settings.account_image | img_url:'1440x' }}');"></div>
  {% endif %}
  <div class="login-form">
    <h1 class="h3">{{ settings.login_heading }}</h1>
    <p class="login-form__blurb body-md">{{ settings.login_blurb }}</p>
    <div class="form-state-tabs login-form__ctas">
      <a href="/account/login" class="login-form__cta">Login</a>
      <a href="/account/register" class="login-form__cta login-form__cta--active">Create Account</a>
    </div>
    <div class="form-container register">
      {% form 'create_customer' %}
        <div class="register-fields">
          <div class="input input--text input--labeled">
            <input required type="text"
              class="customer-register-input"
              name="customer[first_name]"
              id="FirstName"
              placeholder=" "
              autofocus
              {% if form.first_name %}value="{{ form.first_name }}"{% endif %}>
            <label for="FirstName">{{ 'customer.register.first_name' | t }}</label>
          </div>
          <div class="input input--text input--labeled">
            <input required type="text"
              class="customer-register-input"
              name="customer[last_name]"
              id="LastName"
              placeholder=" "
              {% if form.last_name %}value="{{ form.last_name }}"{% endif %}>
            <label for="FirstName">{{ 'customer.register.last_name' | t }}</label>
          </div>
          <div class="input input--text input--labeled">
            <input required type="email"
              name="customer[email]"
              id="Email"
              class="customer-register-input{% if form.errors contains 'email' %} input-error{% endif %}"
              placeholder=" "
              value="{% if form.email %}{{ form.email }}{% endif %}"
              spellcheck="false"
              autocomplete="off"
              autocapitalize="off">
            <label for="Email">{{ 'customer.register.email' | t }}</label>
          </div>
          <div class="input input--text input--labeled">
            <input required type="password"
              name="customer[password]"
              class="customer-register-input"
              id="CreatePassword"
              class="{% if form.errors contains 'password' %}input-error{% endif %}"
              placeholder=" ">
            <label for="CreatePassword">{{ 'customer.register.password' | t }}</label>
          </div>
          <div class="button-container">
            <input type="submit" value="Create Account" class="account-button button button--primary">
          </div>
        </div>
      {% endform %}
    </div>
  </div>
</div>
