<template lang="pug">
  .basic-text(
    :class="basicTextClasses"
    :style="basicTextStyle"
  )
    .basic-text__copy(v-html="settings.copy")
</template>

<script>
  export default {
    props: {
      settings: {
        type: Object,
        default: () => ({
          copy: String,
          background_color: '#f9f9f9',
          text_color: 'dark',
        }),
      },
    },
    computed: {
      basicTextClasses() {
        return {
          'basic-text--light-text': this.settings.text_color === 'light',
        };
      },
      basicTextStyle() {
        return {
          backgroundColor: this.settings.background_color,
        };
      },
    },
  };
</script>

<style lang="scss">
  .basic-text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 30px;

    @include desktop-up {
      padding: 80px 30px;
    }
  }

  .basic-text__copy {
    margin: 0 auto;
    max-width: 400px;
    text-align: center;
    font-size: rem(14);
    line-height: rem(22);
    color: #222;

    .basic-text--light-text & {
      color: #fff;
    }

    a {
      color: #d63427;
    }
  }
</style>