<template lang="pug">
  section.hpc-linear(
    :class="[`hpc-linear--block-count-${blocksByShape.length}`]"
    :style="componentStyles()"
  )
    .hpc-linear__content.container
      div.container
        div.row.hpc-linear__header-bar(v-if="schema.settings.textAlignment.toLowerCase() === 'center'")
          h5.h3.col-12-sm.hpc-linear__header.text-center(:style="changeColor(schema.settings.titleColor)") {{ schema.settings.sectionHeader }}
        div.row.hpc-linear__header-bar(v-if="schema.settings.textAlignment.toLowerCase() === 'left'")
          h5.h3.col-12-sm.hpc-linear__header.text-left(:style="changeColor(schema.settings.titleColor)") {{ schema.settings.sectionHeader }}
      carousel(ref="categoryBlockCarousel", :infinate="false", :slides-to-show="['mobile', 'tablet'].includes($mq) ? 2.5 : 8")
        slide(v-if="block.settings.linear_image" v-for="(block, index) in blocksByShape" :key="`block-${index}`")
          a.hpc-linear__block(:href="block.settings.linear_link" :class="[`hpc-linear__block--${schema.settings.imageShape}`]")
            figure.hpc-linear__block-content(:class="{'hpc-linear__block-content--rectangle bg-white': schema.settings.imageShape === 'rectangle'}")
              img(v-if="schema.settings.imageShape === 'square'" :src="imageCrop(imageSize(block.settings.linear_image, '320x320'), 'center')", :srcset="srcsetSquare(block.settings.linear_image)", alt="")
              .hpc-linear__block-image-wrapper(v-else)
                img(:src="imageSize(block.settings.linear_image, 'x256')", :srcset="srcsetRectangle(block.settings.linear_image)", alt="")
              figcaption.h7.color-black.text-center {{ block.settings.linear_collection_name }}
      v-button.carousel__nav__prev.collection-layout__linear-arrow(
      v-if="!['mobile', 'tablet'].includes($mq) && schema.blocks.length > 8"
      label="Previous Slide",
      @click="$refs.categoryBlockCarousel.slidePrev()"
      )
       icon(name="arrow-left" size="20px")
      v-button.carousel__nav__next.collection-layout__linear-arrow(
      v-if="!['mobile', 'tablet'].includes($mq) && schema.blocks.length > 8"
      label="Next Slide",
      @click="$refs.categoryBlockCarousel.slideNext()"
      )
        icon(name="arrow-right" size="20px")
</template>



<script>
import VLink from '../buttons/VLink.vue';
import { imageSize, imageCrop } from '../../helpers/util';
import Carousel from 'scripts/components/basic/Carousel.vue';
import Slide from 'scripts/components/basic/Slide.vue';
import VButton from 'scripts/components/buttons/VButton.vue';
import Icon from 'scripts/components/basic/Icon.vue';


export default {
  name: "CollectionLayoutLinear",
  components: {
    VLink,
    Slide,
    Carousel,
    VButton,
    Icon
  },
  props: {
    schema: Object,
  },
  data() {
    return {
      show: false,
      swiperOptions: {
        pagination: {el: '.hpc-linear__pagination--desktop', clickable: true},
        spaceBetween: this.schema.settings.imageShape === 'square' ? 32 : 16,
        slidesPerView: 'auto',
      },
      swiperOptionsMobile: {
        pagination: {el: '.hpc-linear__pagination--mobile', clickable: true},
        spaceBetween: 16,
        slidesPerView: 1,
        slidesPerColumn: 2,
      }
    }
  },
  computed: {
    blocksByShape() {
      const maxBlocks = 99
      return this.schema.blocks.slice(0,maxBlocks);
    },
    showStaticBlocks() {
      return (this.blocksByShape.length <= 4 && (this.schema.settings.imageShape === 'square' || (this.schema.settings.imageShape === 'rectangle' && this.$mq !== 'mobile'))) || (this.$mq === 'hd');
    }
  },
  methods: {
    changeColor (color) {
      return `color: ${color}`;
    },
    componentStyles() {
      if(!['mobile', 'tablet'].includes(this.$mq)){
        return {
          'background-color': this.schema.settings.backgroundColor,
          'padding-top': `${this.schema.settings.marginTop}px`,
          'padding-bottom': `${this.schema.settings.marginBottom}px`
        };
      }else{
        let padTop = this.schema.settings.marginTop / 2;
        let padBottom = this.schema.settings.marginBottom / 2;
        return {
          'background-color': this.schema.settings.backgroundColor,
          'padding-top': `${padTop}px`,
          'padding-bottom': `${padBottom}px`
        };
      }
    },
    srcsetSquare(image) {
      return [
        `${imageCrop(imageSize(image, '240x240'), 'center')} 1.5x`,
        `${imageCrop(imageSize(image, '320x320'), 'center')} 2x`,
      ].join(', ')
    },
    srcsetRectangle(image) {
      return [
        `${imageSize(image, 'x192')} 1.5x`,
        `${imageSize(image, 'x256')} 2x`,
      ].join(', ')
    },
    imageSize,
    imageCrop
  },
}
</script>

<style lang="scss">

button.collection-layout__linear-arrow {
    width: 50px;
    height: 50px;
    min-width: auto;
    padding: 0px;
    background-color: $color-white;
    position: relative;
    top: -130px;
    z-index: 10;
    border-radius: 100px;
    border: none;
}

button.carousel__nav__next.collection-layout__linear-arrow {
    float: right;
}

a.hpc-linear__block {
    width: 151px;
    min-width: 151px;
    height: 100%;
    text-align: center;
    padding: 20px 8px;
    margin: 0px;
    cursor: pointer;
    transition: background-color .4s;
}

a.hpc-linear__block:hover {
    background-color: $color-white;
    box-sizing: border-box;
    height: 174px;
    width: 151px;
    border: 1px solid $color-off-white;
    border-radius: 10px;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.15);
}

a.hpc-linear__block:hover figcaption.h7.color-black.text-center {
    text-decoration: underline #FF0000;
    text-decoration-thickness: 2px;
    text-underline-position: under;
}

a.hpc-linear__block figcaption.h7.color-black.text-center {
    color: $color-off-black;
    margin-bottom: 40px;
    text-transform: none;
}

.hpc-linear__content.container .slide {
    height: 174px;
    width: 151px;
    margin: 10px 0px;
}

.hpc-linear {
  display: flex;
  justify-content: center;

  &__side-by-side-container {
    display: flex;
    align-items: baseline;
    padding: 0 12px;

    @include tablet-up {
      padding: 0;
    }
  }

  &__content {
    width: 100%;
    .hpc-linear--background-image & {
      margin: 0 $grid-gutter-sm;
      padding: 12px;
      max-width: ($container-max-width + ($grid-gutter-sm * 2));
      border-radius: $border-radius;
      overflow: hidden;

      @include tablet-up {
        margin: 0 $grid-gutter;
        padding: 40px;
        max-width: ($container-max-width + ($grid-gutter * 2));
      }
    }
  }

  &__header {
    color: $color-off-black;
    font-size: 2.25rem;
    font-weight: 600;
    letter-spacing: 0px;
    line-height: 2.625rem;
    margin-bottom: 40px;
    text-transform: none;
  }

  &__side-by-side-container * {
    vertical-align: middle;
  }

  &__blocks {
    position: relative;
    font-size: 0rem;
    text-align: center;
    display: flex;
    align-items: flex-start;
    max-width: 1440px;
    margin: 0 auto;
    overflow: hidden;

    .swiper-slide:nth-child(1) {
      margin-left: 12px;
    }

    .swiper-slide:last-child {
      margin-right: 12px !important;
    }

    .swiper-slide--rectangle:nth-child(1) {
      margin-left: 0;
    }

    .swiper-slide--rectangle:last-child {
      margin-right: 0 !important;
    }
  }

  &__blocks--static {
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    overflow: auto;
    white-space: nowrap;
    display: block;
    height: 250px;
    scroll-behavior: smooth;
  }

  &__blocks--static::-webkit-scrollbar {
    display: none;
  }

  &__block {
    display: block;
    margin: 0 8px;

    &:hover figcaption,
    &:focus figcaption {
      // todo
      transform: translateY(-2px);
    }
  }

  &__block--square {
    margin-bottom: 12px;
    width: 108px;
    height: 134px;
    margin-right: 36px;
    display: inline-block;
  }

  &__block--rectangle {
    margin: 0 auto;
    padding: 0 16px;

    @include hd-up {
      margin: 0 8px;
    }

    &:hover figcaption,
    &:focus figcaption {
      // todo
      transform: none;
    }
  }

  &__block * {
    width: 100%;
  }

  &__block:focus {
    outline: none;
  }

  &__block-content--rectangle {
    padding-bottom: 4px;
    border-radius: $border-radius;
    box-shadow: $drop-shadow--light;
    transition: box-shadow 300ms ease-in-out, transform 300ms ease-in-out;

    &:hover {
      transform: translate3d(0, -2px, 0);
      box-shadow: $drop-shadow-hover--light;
    }
  }

  &__block-image-wrapper {
    position: relative;
    width: 96px;
    height: 96px;
    display: inline-block;
    margin-bottom: 16px;
    padding-bottom: 47%;

    img {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      object-fit: cover;
      font-family: 'object-fit: contain;';
    }
  }

  &--block-count-5,
  &--block-count-6,
  &--block-count-7 {
    .hpc-linear__block,
    .swiper-slide {
      width: 134px;
      min-width: 90px;
      max-width: 134px;
    }

    .hpc-linear__block--rectangle,
    .swiper-slide--rectangle {
      width: 100%;
    }

    .hpc-linear__block--square {
      margin-bottom: 0;
    }

    .hpc-linear__block--rectangle {
      max-width: 400px;
    }

    .swiper-slide--rectangle {
      max-width: none;
    }
  }

  &__pagination {
    display: block;

    .swiper-pagination-bullet {
      margin-top: 16px !important;
    }
  }

  &__blocks--static &__block {
    width: calc(50% - 24px);
  }

  figure {
    display: inline-block;
    width: 100%;
  }

  figure img {
    margin-bottom: 18px;
    max-width: 100%;
  }

  figcaption {
    transition: transform .1s ease-in-out;
    white-space: pre-line;
  }

  .swiper-pagination-bullet {
    width: $collection-linear-pagination-size;
    height: $collection-linear-pagination-size;
    background: $collection-linear-pagination-color;
  }

  .swiper-pagination-bullet-active {
    background: $collection-linear-pagination-color--active;
  }

  @include tablet-up {
    &__blocks {
      .swiper-slide--rectangle:nth-child(1) {
        margin-left: 12px;
      }

      .swiper-slide--rectangle:last-child {
        margin-right: 12px !important;
      }
    }

    &__block,
    .swiper-slide {
      width: 160px;
      min-width: 160px;
      max-width: 160px;
    }

    &__block--rectangle,
    .swiper-slide--rectangle {
      padding: 0;
      width: 220px;
      min-width: 220px;
      max-width: 220px;
    }

    &__block--square {
      margin-bottom: 0;
    }

    &__block--rectangle {
      padding-top: 4px;
    }

    &__block-image-wrapper {
      padding-bottom: 58%;
    }

    &--block-count-5 &__block,
    &--block-count-6 &__block,
    &--block-count-7 &__block {
      width: 160px;
      min-width: 160px;
      max-width: 160px;
    }

    &--block-count-5 &__block--rectangle,
    &--block-count-6 &__block--rectangle,
    &--block-count-7 &__block--rectangle {
      width: 220px;
      min-width: 220px;
      max-width: 220px;
    }

    figure img {
      margin-bottom: 24px;
    }
  }
}
</style>
