<template lang="pug">
  .collection-tile-slider__wrapper(:style="wrapperStyle")
    .collection-tile-slider__container.container
      h3.collection-tile-slider__heading.container(:style="changeColor(schema.sectionTitleColor)") {{ schema.sectionTitle }}
        .arrow-container(v-if="!['mobile', 'tablet'].includes($mq)" v-show="show" @click="arrowContainerPosition()")
          Icon(name="ArrowRightDashed" class="leftarrowdashed" @mousedown="slideLeft()" @mouseup="stopSlideLeft()" @mouseleave="stopSlideLeft()")
          Icon(name="ArrowRightDashed" class="rightarrowdashed" @mousedown="slideRight()" @mouseup="stopSlideRight()" @mouseleave="stopSlideRight()")
      .collection-tile-slider__subheading.container {{schema.sectionSubTitle}}
      .collection-tile-slider__links-section
        .collection-tile-slider__link-wrapper(ref="linkWrapper" @scroll="arrowContainerPosition()")
          .collection-tile-slider__link-container(v-for="link in smallLinks" :key="link.id")
            a.collection-tile-slider__link(:href="link.settings.linkUrl")
              img.collection-tile-image(:src="link.settings.tileSlideriImage")
              span.collection-tile-text(:style="tileTitleStyle") {{ link.settings.linkTitle }}
</template>

<script>
import Icon from 'scripts/components/basic/Icon.vue';
import VLink from 'scripts/components/buttons/VLink.vue';

import { px } from 'scripts/filters/string.js';

export default {
  name: 'CollectionTileSlider',
  components: {
    Icon,
    VLink
  },
  data: () => ({ show: false, stopscroll: false}),
  methods: {
    slideRight() {
      this.stopscroll = setInterval(() => {
        this.$refs.linkWrapper.scrollLeft += 1
      }, 1)
    },
    stopSlideRight() {
      clearInterval(this.stopscroll)
    },
    slideLeft() {
      this.stopscroll = setInterval(() => {
        this.$refs.linkWrapper.scrollLeft -= 1
      }, 1)
    },
    stopSlideLeft() {
      var that = this;
      clearInterval(that.stopscroll)
    },
    changebackgroundColor (color) {
      return `background-color: ${color}`;
    },
    changeColor (color) {
      return `color: ${color}`;
    },
    arrowContainerPosition() {
      let that = this;
      setTimeout(function() {
        if(that.$refs.linkWrapper.scrollLeft > 0){
          that.arrowcolor = true
        }else{
          that.arrowcolor = false
        }
      }, 10)
    }
  },
  mounted() {
    if(this.$refs.linkWrapper.clientWidth < this.$refs.linkWrapper.scrollWidth){
      this.show = true
    }
  },
  computed: {
    wrapperStyle() {
      if(!['mobile', 'tablet'].includes(this.$mq)){
        return {
          paddingTop: px(this.schema.topMargin),
          paddingBottom: px(this.schema.bottomMargin),
          backgroundColor: (this.schema.sectionBgColor)
        };
      }else{
        let padTop = this.schema.topMargin / 2;
        let padBottom = this.schema.bottomMargin / 2;
        return {
          'background-color': this.schema.sectionBgColor,
          'padding-top': `${padTop}px`,
          'padding-bottom': `${padBottom}px`
        };
      }
    },
    tileTitleStyle() {
      return {
        color: this.schema.tile_title_color
      };
    },
    largeLinkStyle() {
      if (this.largeLink.settings.bgImage) {
        return {
          backgroundImage: `url(${this.largeLink.settings.bgImage})`
        };
      }
    }
  },
  props: {
    schema: Object,
    smallLinks: Array,
    largeLink: Object
  }
};
</script>

<style lang="scss" scoped>

.collection-tile-slider__link-wrapper::-webkit-scrollbar {
  height: 3.5px;
  display: none;

    @include desktop-up {
      display: block;
    }
}

.collection-tile-slider__link-wrapper::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  margin: 0 calc((100vw - 1400px)/2);
  @media (max-width: 1450px) and (min-width: 1024px) {
    margin: 0px 15px;
  }
}

.collection-tile-slider__link-wrapper::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #d13326;
}

.collection-tile-slider__wrapper {
    padding-top: 40px;
    padding-bottom: 40px;
    @include desktop-up {
      padding-top: 80px;
      padding-bottom: 80px;
    }
}

svg.leftarrowdashed.icon.icon--ArrowRightDashed {
    transform: rotate(180deg);
    padding-top: 1px;
}

svg.leftarrowdashed.icon.icon--ArrowRightDashed, svg.rightarrowdashed.icon.icon--ArrowRightDashed {
  filter: grayscale(100) brightness(2);
  cursor: pointer;
}

svg.leftarrowdashed.icon.icon--ArrowRightDashed:hover {
  filter: none
}

svg.rightarrowdashed.icon.icon--ArrowRightDashed:hover {
  filter: none
}

.icon--ArrowRightDashed {
  margin-left: 5px;
  margin-right: 5px
}
.arrow-container {
    display: inline;
    float: right;
}

.collection-tile-slider {

  @include tablet-up {
    display: none !important;
  }
  &__heading {
    margin-bottom: 12.5px;
    font-size: 1.75rem;
    line-height: 2rem;
    text-transform: none;
    @include desktop-up {
      padding: 0px;
      font-size: 2.25rem;
      line-height: 2.625rem;
    }
    @media (max-width: 1450px) and (min-width: 1024px) {
      padding: 0 8px !important;
    }
  }
  &__subheading {
    color: $color-grayish-gray;
    font-size: 1rem;
    letter-spacing: 0;
    line-height: 1.5;
    @include desktop-up {
      padding: 0px;
      font-size: 1.125rem;
      line-height: 1.625rem;
    }
    @media (max-width: 1450px) and (min-width: 1024px) {
      padding: 0 8px !important;
    }
  }
  &__large-link-heading {
    margin-bottom: 8px;
    max-width: 60%;
  }
  &__large-link-copy {
    margin-bottom: 16px;
    max-width: 60%;
  }
  &__large-link-anchor {
    display: block;
    max-width: 60%;
  }
  &__links-section {
    display: flex;
    flex-direction: column;
    margin-top: 10px
  }
  &__link-wrapper {
    width: 100%;
    overflow: auto;
    display: flex;
    height: auto;
    padding-top: 15px;
    grid-gap: 8px;

    @include desktop-up {

      &:hover{
        &::-webkit-scrollbar{
          display: block;
        }
      }
    }

  }
  &__link-container {
    height: 240px;
    width: 148px;
    min-width: 0;
    display: inline-table;
    overflow: visible;

      &:first-child{
        margin-left: 0;
      }
      &:last-child{
        border-right: 8px solid transparent;
      }

    @include desktop-up {

      height: 385px;
      width: 272px;

      &:first-child {
        @media (min-width: 1450px) {
          margin-left: 0;
        }
      }
      &:last-child {
        @media (min-width: 1450px) {
          border-right: calc( (100vw - 1400px)/2 ) solid transparent;
        }
      }

    }

  }

  &__link {
    display: inline-block;
    min-height: 240px;
    height: auto;
    width: 148px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.15);
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 1px;
    cursor: pointer;

    @include desktop-up {
      margin-right: 8px;
      min-height: 385px;
      width: 272px;

      &:first-child{
        margin-left: 0px;
      }
    }

    span {
      width: 142px;
      color: $color-off-black;
      font-size: .875rem;
      font-weight: 600;
      letter-spacing: 0;
      line-height: 22px;
      text-align: center;
      padding: 16px 9px;
      display: inline-block;
      width: 100%;

    @include desktop-up {
      padding: 16px 0px;
      font-size: 1rem
    }

    }

    img {
      display: block;
      width: 100%;
      height: 180.5px;
      object-fit: cover;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;

      @include desktop-up {
        height: 328px;
      }

    }

    &:hover {
      box-shadow: 0 1px 10px 0 rgba(0,0,0,0.3);
      border-radius: 10px;
    }


  }

  @media (min-width: 960px) {
    &__links-section {
      flex-direction: row;
    }
    &__link-wrapper {
      overflow: auto;
      display: flex;
      height: auto;
      padding-top: 15px;
      padding-bottom: 40px;
    }
    &__large-link {
      margin-bottom: 0;
    }
  }
}
</style>
