<template lang="pug">
  .column-blocks(
    :class="columnBlockClasses"
    :style="columnBlockStyles"
  )
    .column-blocks__header-wrap(:style="{background: block.settings.bg_color_2 ? `linear-gradient(90deg, ${block.settings.bg_color_1}, ${block.settings.bg_color_2})` : block.settings.bg_color_1,}")
      .column-blocks__header
        h2.column-blocks__title(:style="{color: block.settings.title_color}") {{ block.settings.title }}
        p.column-blocks__subtext(v-if="block.settings.subtext" :style="{color: block.settings.subtext_color}") {{ block.settings.subtext }}
        a.column-blocks__cta.button(v-if="block.settings.cta_text" :class="`button--${ block.settings.cta_style }`" :href="block.settings.cta_link") {{ block.settings.cta_text }}
    .column-blocks__blocks-wrap(:style="block.settings.enable_step_numbers ? {height: '252px'}: {}")
      carousel(
        class="column-blocks__blocks"
        ref="columnBlocksCarousel"
        :slides-to-show="($mq === 'mobile') ? 1 : 2"
        :center-mode="($mq === 'mobile')"
        :dots="true"
      )
        slide(
          v-for="column, index in block.settings.columns"
          :key="`${column.image}_${column.title}`"
        )
          .column-blocks__block(
            :style="block.settings.enable_step_numbers && {border: `1px solid ${block.settings.border_color}`}"
          )
            .column-blocks__block-img-wrap
              img.column-blocks__block-img(
                :src="column.image"
                :alt="column.image_alt"
              )
            span.column-blocks__step-number(v-if="block.settings.enable_step_numbers") {{ index + 1 }}
            h3.column-blocks__block-title(:style="{color: block.settings.block_title_color }") {{ column.title }}
            p.column-blocks__block-subtext(:style="{color: block.settings.block_subtitle_color}") {{ column.subtext }}
            span.column-blocks__blocks-line-mobile(:style="block.settings.enable_step_numbers && {background: block.settings.line_color}")
        span.column-blocks__blocks-line(:style="block.settings.enable_step_numbers && { background: block.settings.line_color }")
    .column-blocks__cta-mobile-wrap(v-if="block.settings.cta_text")
      a.column-blocks__cta-mobile.button(:href="block.settings.cta_link" :class="`button--${ block.settings.cta_style }`") {{ block.settings.cta_text }}
</template>

<script>
import Carousel from 'scripts/components/basic/Carousel.vue';
import Slide from 'scripts/components/basic/Slide.vue';
export default {
  name: 'ColumnBlock',
  components: {
    Carousel,
    Slide,
  },
  props: {
    block: {
      type: Object,
    }
  },
  computed: {
    columnBlockStyles() {
      let { margin_top, margin_bottom, bg_color_3, enable_step_numbers } = this.block.settings;

      return {
        marginTop: `${margin_top}px`,
        marginBottom: `${enable_step_numbers ? margin_bottom + 74 : margin_bottom}px`,
        background: bg_color_3
      };
    },
    columnBlockClasses() {
      return {
        'column-blocks--enable-steps': this.block.settings.enable_step_numbers,
        'column-blocks--centered': this.block.settings.header_alignment === 'centered',
      };
    },
  },
}
</script>

<style lang="scss" scoped>

</style>