<template lang="pug">
  .heading-text-block(
    :style="{backgroundColor: block.settings.backgroundColor, paddingTop: `${block.settings.paddingTop}px`, paddingBottom: `${block.settings.paddingBottom}px`}"
  )
    .heading-text-block__wrapper
      h1(:style="{color: block.settings.textColor}" v-html="block.settings.title")
</template>

<script>
export default {
  name: "HeadingTextBlock",
  props: {
    block: {
      type: Object,
    }
  },
  beforeMount() {
    var spantext = this.block.settings.title;
    var spancolor = `<span style="color: ${this.block.settings.textColorAccent}">`
    var newspantext = spantext.replaceAll("<span>", spancolor);
    this.block.settings.title = newspantext;
  },
}
</script>

<style lang="scss" scoped>
  .heading-text-block {

    &__wrapper {
      margin: 0 auto;
      max-width: 600px;
      width: 100%;
      text-align: center;
    }
  }
</style>