<template lang="pug">
  .header__dropdown-container-inner
    .header__dropdown-inner-small-images-container
      .small-featured-image(v-for="(image, index) in block.images")
        a.header__dropdown-image-outer-content-container.clip-transition(v-if="image.url", :href="image.url")
          .header__dropdown-image-container
            img.header__dropdown-image(:src="image.image", :alt="image.text")
          .header-menu-image-title.link.link--primary(v-if="image.text") {{ image.text }}
            icon.menu-image-link-arrow(name="arrow_long_right", size="24px")
        .header__dropdown-image-outer-content-container.clip-transition(v-else)
          .header__dropdown-image-container
            img.header__dropdown-image(:src="image.image", :alt="image.text")
          p.header-menu-image-title(v-if="image.text") {{ image.text }}
    .shop-all(v-if="block.url")
      v-link.header__menu-main-inner-link(
        secondary
        :href="block.url"
      )   Shop All
</template>

<script>
  import Icon from 'scripts/components/basic/Icon.vue'
  import VLink from '../buttons/VLink.vue';

  export default {
    name: 'NavbarMobileSmallImageBlocks',
    components: { Icon, VLink },
    props: {
      block: Object
    }
  }
</script>

<style scoped lang="scss">
  .header__dropdown-inner-small-images-container {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    & > div {
      width: 45%;
    }
  }
  .shop-all {
    padding: 0 16px 16px;
  }
</style>