<template lang="pug">
  .header__dropdown-container
    .header__dropdown-container-inner
      .linklist__featured(v-if="isFeatured")
        ul(v-for="(link, index) in block.linkLists[0]")
          li
            a.bold.link.link--primary(:href="link.url") {{ link.title }}
      .linklist__normal(v-for="(linkList, index) in isFeatured ? block.linkLists.slice(1) : block.linkLists")
        ul(v-for="(link, index) in linkList")
          li
            a.bold.link.link--primary(:href="link.url" :class="{'header__dropdown-list-title--margin-bottom-none': !(link.children && link.children.length > 0)}") {{ link.title }}
            ul(v-for="(child_link, index) in link.children")
              li
                a.link.link--primary(:href="child_link.url") {{ child_link.title }}
</template>

<script>
  export default {
    name: 'NavbarDesktopTextBlocks',
    props: {
      block: Object
    },
    computed: {
      isFeatured() {
        return this.block.featured_link_list_active
      }
    }
  }
</script>
<style scoped lang="scss">
  .header__dropdown-container-inner {
    width: 100%;
    padding: 0 32px;
    display: flex;
    & > div {
      flex: 1;
      margin: 0 24px 0 0;
      padding: 0 24px 0 0;
      max-width: calc(20% - 32px);
      min-width: calc(20% - 32px);
      &:last-of-type {
        margin: 0;
        max-width: calc(20%);
        min-width: calc(20%);
      }
    }
  }

  ul {
    padding: 0;
    margin: 0;
    li {
      a {
        color: $color-black;
        margin-bottom: 8px;
        &.bold {
          font-weight: bold;
        }
      }
    }
  }

  .linklist__featured {
    border-right: 1px solid $color-grey;
  }
</style>
