<template lang="pug">
  .header__dropdown-container
    .header__dropdown-container-inner
      .linklist__featured(v-if="isFeatured && block.show_linklist")
        ul(v-for="(link, index) in block.linkLists[0]")
          li
            a.bold.link.link--primary(:href="link.url") {{ link.title }}
      div(v-if="block.show_linklist")
        .linklist__normal(v-for="(linkList, index) in isFeatured ? block.linkLists.slice(1) : block.linkLists")
          ul(v-for="(link, index) in linkList")
            li
              a.bold.link.link--primary(:href="link.url" :class="{'header__dropdown-list-title--margin-bottom-none': !(link.children && link.children.length > 0)}") {{ link.title }}
              ul(v-for="(child_link, index) in link.children")
                li
                  a.link.link--primary(:href="child_link.url") {{ child_link.title }}
      .header__dropdown-images--large-image-container
        .header__dropdown-images--large-image-inner-container
          .header__dropdown-images-large-image.clip-transition
            img(:src="block.large_image", :alt="block.large_image_title")
          .header__dropdown-images--large-image-description-container
            p.header__dropdown-images--large-image-title(v-if="block.large_image_title") {{ block.large_image_title}}
            div.header__dropdown-images--large-image-description(v-if="block.large_image_description", v-html="block.large_image_description") {{ block.large_image_description }}
            a.header__dropdown-images--large-image-link.link.link--primary.image-link(v-if="block.large_image_link", :href="block.large_image_link") {{ block.large_image_link_text }}
              icon.menu-image-link-arrow(name="arrow_long_right", size="24px")
</template>

<script>
  import Icon from 'scripts/components/basic/Icon.vue'

  export default {
    name: 'NavbarDesktopTextLargeImage',
    components: {
      Icon
    },
    props: {
      block: Object
    },
    computed: {
      isFeatured() {
        return this.block.featured_link_list_active
      }
    }
  }
</script>
<style scoped lang="scss">
  .header__dropdown-container-inner {
    width: 100%;
    padding: 0 32px;
    display: flex;
    justify-content: space-between;
    & > div {
      margin: 0 24px 0 0;
      padding: 0 24px 0 0;
      &:last-of-type {
        margin: 0;
      }
    }
    .small-featured-image {
      margin-left: auto;
    }
  }

  ul {
    padding: 0;
    margin: 0;
    li {
      a {
        color: $color-black;
        margin-bottom: 8px;
        &.bold {
          font-weight: bold;
        }
      }
      a.image-link {
        color: $color-brand-primary;
      }
    }
  }

  .linklist__featured {
    border-right: 1px solid $color-grey;
  }

  .header__dropdown-images--large-image-container {
    width: 75%;
    margin-left: auto;
    .header__dropdown-images--large-image-inner-container {
      margin-left: auto;
      display: flex;
      justify-content: flex-start;
      .header__dropdown-images-large-image {
        width: 75%;
      }
      .header__dropdown-images--large-image-description-container {
        padding: 0 24px;
      }
      .header__dropdown-images--large-image-title {
        font-weight: bold;
        margin-bottom: 8px;
      }
      .header__dropdown-images--large-image-description {
        margin-bottom: 8px;
      }
    }
  }
</style>
