<template lang="pug">
  div
    .quote-section-text__container
      .quote-section-text
        .quote-section-text__content
          .quote-section-text__content-icons-container
            .quote-section-text__content-icons-container--top
              img.quote-section-text__content-icons-container--icon-top-left(:src="quoteSchema.iconTopLeft" :alt="quoteSchema.iconTopLeftAlt")
              img.quote-section-text__content-icons-container--icon-top-right(:src="quoteSchema.iconTopRight" :alt="quoteSchema.iconTopRightAlt")
            .quote-section-text__content-icons-container--bottom
              img.quote-section-text__content-icons-container--icon-bottom-left(:src="quoteSchema.iconBottomRight" :alt="quoteSchema.iconBottomRightAlt")
              img.quote-section-text__content-icons-container--icon-bottom-right(:src="quoteSchema.iconBottomLeft" :alt="quoteSchema.iconBottomLeftAlt")
          .body-lg.client-generated.quote-section-text__quote(v-if="quoteSchema.quote")
            p {{ quoteSchema.quote }}
          hr
          .body-md.quote-section-text__body-copy.client-generated(:class="quoteBodyClasses" v-if="quoteSchema.copy")
            p {{ quoteSchema.copy }}
          .quote-section-text__cta-wrapper(v-if='quoteSchema.enableCta && quoteSchema.ctaText')
            v-button.quote-section-text__cta(v-if="quoteSchema.ctaLayout.includes('button')" :href='quoteSchema.ctaUrl' :class="quoteSchema.ctaLayout" tag="a") {{quoteSchema.ctaText}}
            v-link.quote-section-text__cta(v-if="quoteSchema.ctaLayout.includes('link')" :href='quoteSchema.ctaUrl' :class="quoteSchema.ctaLayout") {{quoteSchema.ctaText}}
            v-link(v-if="quoteSchema.ctaLayout.includes('link')" :href='quoteSchema.ctaUrl')
              icon.icon(name="arrow-right")
</template>

<script>
  import { flexSwitch } from 'scripts/helpers/flex.js'
  import { textAlignSwitch } from 'scripts/helpers/textAlign.js'
  import { scrollBelowElement } from 'scripts/helpers/scroll.js'
  import Icon from 'scripts/components/basic/Icon.vue'
  import VButton from 'scripts/components/buttons/VButton.vue'
  import VLink from 'scripts/components/buttons/VLink.vue'

  export default {
    name: 'QuoteSection',
    components: {
      Icon,
      VButton,
      VLink
    },
    props: {
      quoteSchema: {
        type: Object,
        default: () => ({
          quote: String,
          copy: String,
        })
      }
    },
    computed: {
      quoteBodyClasses() {
        return {
          'quote-section-text__body-copy-margin-bottom--none': !this.quoteSchema.enableCta,
        };
      },
    }
  }
</script>

<style scoped lang="scss">
  .quote-section-text {
    position: relative;
    width: 100%;
    text-align: center;

    @include mobile-only {
      position: auto;
      min-height: 0;
      flex-direction: column;
      padding: 0;
    }

    &__container {
      position: relative;
      margin: 0 auto;
    }

    &__content-container {
      z-index: 21;
      @include desktop-up {
        max-width: $container-max-width;
        width: 100%;
        margin: 0 auto;
        @include ie {
          max-width: none;
        }
      }
    }

    &__content {
      display: block;
      z-index: 21;
      padding: 48px 14px;

      @include tablet-up {
        max-width: 873px;
        margin: 0 auto;
      }
    }

    &__content-icons-container {
      margin: 0 auto 30px;

      & div {
        display: flex ;
        justify-content: space-evenly;
        align-items: center;
        margin: 20px 0;

        @include tablet-up {
          display: contents;

          & img {
            margin: 0 35px;
            vertical-align: middle;
          }
        }
      }

      &--icon-top-left {
        width: 81px;
        height: 40px;

        @include tablet-up {
          width: 116px;
          height: 57px;
        }
      }

      &--icon-top-right {
        width: 74px;
        height: 57px;

        @include tablet-up {
          width: 105px;
          height: 80px;
        }
      }

      &--icon-bottom-left {
        width: 81px;
        height: 40px;

        @include tablet-up {
          width: 116px;
          height: 57px;
        }
      }

      &--icon-bottom-right {
        width: 81px;
        height: 40px;

        @include tablet-up {
          width: 116px;
          height: 57px;
        }
      }
    }

    &__quote {
      margin-bottom: 5px;

      /deep/ p {
        font-size: 21px;
        font-weight: bold;
        letter-spacing: 0.28px;
        line-height: 30px;

        @include tablet-up {
          font-size: 33px;
          letter-spacing: 0.43px;
          line-height: 44px;
        }
      }
    }

    &__body-copy {
      max-width: 535px;
      margin: 8px auto 30px;

      /deep/ p {
        font-family: $font-gibson;
        font-size: 14px;
        font-weight: 300;
        letter-spacing: 0.29px;
        line-height: 20px;
      }

      &-margin-bottom--none {
        margin-bottom: 0;
      }
    }

    &__cta-wrapper {
      display: inline-flex;
      align-items: center;

      .icon {
        padding: 5px;
        margin-left: 10px;
        border: 1px $color-light-grey solid;
        border-radius: 50%;
      }
    }

    hr {
      margin: 10px auto 30px;
      width: 107px;
    }
  }
</style>
