.featured-reviews {
  &::after {
    content: '';
    display: block;
    clear: both;
  }

  * {
    font-family: $font-gibson !important;
  }

  .carousel-review-body,
  .carousel-review-author,
  .carousel-read-more,
  .yotpo-num-of-reviews {
    font-family: $font-gibson !important;
    font-weight: 300;
  }

  .yotpo-small-box {
    display: none;
  }

  #carousel-top-panel {
    border-bottom: 0 !important;
  }

  .headline {
    padding-bottom: 7px;
    border-bottom: 2px solid $color-semi-grey;
    letter-spacing: 0.5px;
    font-size: rem(12) !important;
    color: $color-slate !important;
    text-transform: uppercase;

    @include mobile-only {
      margin-bottom: 20px !important;
      width: 100%;
      text-align: center;
    }
  }

  .carousel-arrows {
    .yotpo_next,
    .yotpo_previous {
      border: 1px solid $color-semi-grey;
      padding: 6px;
      font-size: rem(14);
      color: $color-black !important;
    }
  }

  .yotpo-num-of-reviews {
    color: $color-black !important;
  }

  .small-version,
  .big-version {
    display: grid !important;
    grid-template-columns: 50px 1fr;
    grid-column-gap: 20px;

    @include tablet-up {
      grid-template-columns: 85px 1fr;
    }

    .stars-container,
    .carousel-review-title,
    .right-side {
      grid-column: 2;
    }

    .product-link-container {
      grid-row: 1 / span 3;
    }

    .y-carousel-product-image,
    .product-image-container {
      width: 100% !important;
    }

    .carousel-site-quote-container {
      padding: 14px !important;
      border-color: rgba($color-black, 0.6) !important;

      @include tablet-up {
        padding: 26px !important;
      }
    }

    .yotpo-icon-quote-left {
      font-size: rem(20) !important;
      color: rgba($color-black, 0.6) !important;

      @include tablet-up {
        font-size: rem(30) !important;
      }
    }

    .stars-container {
      height: auto;
    }

    .yotpo-stars .yotpo-icon {
      font-size: rem(16) !important;
    }

    .carousel-review-title {
      margin-top: 5px;
      font-size: rem(16) !important;
      letter-spacing: 0.8px;
      text-transform: uppercase;
      color: $color-black !important;
    }

    .carousel-review-date {
      display: none;
    }

    .right-side.pull-right .carousel-review-body,
    .right-side.pull-right .carousel-read-more {
      line-height: 1.4;
      letter-spacing: 0.3px;
      font-style: normal !important;
      color: $color-black !important;
    }

    .carousel-read-more {
      @extend .link;
    }

    .carousel-review-author {
      margin-top: 15px !important;
      font-weight: 500 !important;
      font-size: rem(14) !important;
      color: $color-black !important;
    }
  }
}
