.featured-collection {
  padding: 25px 0;
}

.featured-collection__subtitle-wrapper {
  margin-bottom: 12px;
  text-align: center;

  @include desktop-up {
    margin-bottom: 20px;
  }
}

.featured-collection__title {
  margin-bottom: 25px;
  text-align: center;
  font-size: rem(26);
  line-height: 1;
  letter-spacing: -0.5px;
  font-family: $font-gibson;
  font-weight: 300;

  @include desktop-up {
    margin-bottom: 40px;
    font-size: rem(33);
  }
}

.featured-collection__grid {
  margin: auto;
  padding: 0 $grid-gutter / 2;
  max-width: 285px;
  display: grid;
  grid-row-gap: 40px;

  @include tablet-up {
    max-width: 580px;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
  }

  @include desktop-up {
    max-width: unset;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 40px;
  }
}

.featured-collection__image-wrapper {
  position: relative;
  height: 365px;
  overflow: hidden;

  &::after {
    content: '';
    position: absolute;
    top: 66%;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(180deg, rgba($color-black, 0) 0%, rgba($color-black, 0.8) 100%);
  }
}

.featured-collection__tile {
  text-decoration: none;
}

.featured-collection__background {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform .3s;

  @include desktop-up {
    .featured-collection__tile:hover & {
      transform: scale(1.1);
    }
  }
}

.featured-collection__icon {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.featured-collection__text {
  margin: 20px 0 10px;
  text-align: center;
  font-size: rem(14);
  line-height: 1.4;
  letter-spacing: 0.3px;
  font-weight: 300;
  font-family: $font-gibson;
  color: $color-black;
}

.featured-collection__shop {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: rem(16);
  line-height: 1;
  letter-spacing: 0.5px;
  font-weight: 700;
  font-family: $font-gibson;
  color: $color-black;
}

.featured-collection__nav-icon {
  margin-left: 8px;
}
