.icon-grid {
  display: flex;
  flex-wrap: wrap;
  height: 350px;
  margin: 24px auto;

  @include desktop-up {
    height: auto;
    flex-wrap: nowrap;
    margin: 50px auto;
  }

  &__icon {
    width: 46px;
    height: 46px;
    margin-right: 5px;

    @include desktop-up {
      width: 56px;
      height: 56px;
      margin: 0 0 10px 0;
    }
  }

  &__icon-container {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    @include desktop-up {
      flex-direction: column;
      padding: 0 5px;
    }
  }

  &__text {
    width: 50%;
    font-family: $font-gibson;
    font-size: 10px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.21px;
    line-height: 14px;
    padding-left: 5px;

    @include desktop-up {
      width: 90px;
      text-align: center;
      padding-left: 0;
    }
  }
}
