.microgel {
  margin-top: 64px;
  margin-bottom: 64px;
  text-align: center;

  @include desktop-up {
    display: grid;
    grid-template-columns: 175px auto 1fr;
    grid-column-gap: 42px;
    text-align: left;
  }
}

.microgel__content-wrapper {
  margin: 0 auto;
  max-width: 385px;
}

.microgel__images {
  margin: 16px auto 0;
  max-width: 385px;
  display: flex;
  justify-content: space-between;

  @include desktop-up {
    margin-top: 0;
    max-width: unset;
  }
}

.microgel__title {
  margin: 19px 0 15px;
  font-size: rem(26);
  line-height: 1;
  letter-spacing: -0.5px;
  font-weight: 300;
  font-family: $font-gibson;
  text-transform: uppercase;
}

.microgel__content {
  font-size: rem(14);
  line-height: 1.3;
  letter-spacing: 0.3px;
  font-weight: 300;
  font-family: $font-gibson;
}

.microgel__figure {
  margin: 0;
  border: 1px solid $color-grayish-gray;
  border-radius: 10px 0 10px 0;
  padding: 17px 12px 20px;
  max-width: 32%;

  @include desktop-up {
    margin: 0 5px;
    padding: 17px 20px 27px;
  }
}

.microgel__figure-image {
  max-width: 135px;
  width: 100%;
}

.microgel__figure-title {
  margin-top: 20px;
  text-align: center;
  font-size: rem(12);
  letter-spacing: 0.5px;
  line-height: 1.2;
  font-weight: 700;
  font-family: $font-gibson;
  color: $color-slate;
  text-transform: uppercase;

  @include desktop-up {
    font-size: rem(16);
    letter-spacing: 0.85px;
  }
}

.microgel__figure-subtitle {
  text-align: center;
  font-size: rem(12);
  letter-spacing: 0.4px;
  line-height: 1.5;
  font-family: $font-gibson;
  font-style: italic;

  @include desktop-up {
    margin-top: 8px;
  }
}
