.three-column-content-blocks-container {
  padding: 48px 0;
  margin-top: 16px;
  @include mobile-only {
    margin-left: 14px;
    margin-right: 14px;
  }
  @include tablet-only {
    margin-top: 56px;
    padding: 56px 0;
  }
  @include desktop-up {
    margin-top: 74px;
  }
  text-align: center;
  border-top: 1px solid $color-grey;
  
  .contact-section-block-heading {
    margin-bottom: 24px;
    @include tablet-up {
      margin: 8px 0;
    }
    &.heading-subheading {
      @include tablet-up {
        margin: 24px 0;
      }
    }
  }

  div.three-column-content-blocks {
    display: flex;
    flex-direction: column;
    @include tablet-up {
      flex-direction: row;
      justify-content: space-between;

      &:before,
      &:after {
        content: '';
        display: block;
      }
    }
  
    &__block {
      text-align: center;
      @include mobile-only {
        margin: 0 0 32px 0;
        width: 100%;
        padding: 0px 14px;
      }
      padding: 42px 20px;
      width: 30%;
      &.grey-background {
        background-color: $color-util-bg-offwhite;
        @include mobile-only {
          padding-top: 42px;
          padding-bottom: 42px;
        }
      }
    }
  }
}


.three-column-content-blocks-container-simple {
  padding: 0;
  margin: 40px 0 0;
  @include tablet-only {
    margin: 40px 0 56px;
  }
  @include desktop-up {
    margin: 40px 0 74px;
  }
  border: 0;
  .three-column-content-blocks__block {
    padding: 0;
    margin: 0;
    .contact-section-block-heading {
      margin-bottom: 8px;
    }
  }
}

.contact-section-block-heading {
  color: $color-black;
}

.three-column-content-blocks__subheading-content-container {

  @include tablet-up {
    margin-top: 24px;
  }
}