{%- capture cart_empty_links -%}
  [
    {
      "text": {{ settings.cart_link_text_1 | json }},
      "url": {{ settings.cart_empty_url_1 | json }}
    },
    {
      "text": {{ settings.cart_link_text_2 | json }},
      "url": {{ settings.cart_empty_url_2 | json }}
    },
    {
      "text": {{ settings.cart_link_text_3 | json }},
      "url": {{ settings.cart_empty_url_3 | json }}
    },
    {
      "text": {{ settings.cart_link_text_4 | json }},
      "url": {{ settings.cart_empty_url_4 | json }}
    },
    {
      "text": {{ settings.cart_link_text_5 | json }},
      "url": {{ settings.cart_empty_url_5 | json }}
    }
  ]
{%- endcapture -%}

{% capture cart_wishlist_cta %}
  {
    "text": {{ settings.wish_cta_text | json }},
    "url": {{ settings.wish_cta_url | json }}
  }
{% endcapture %}

{% capture cart_colors %}
  {
    "cta": {{ settings.cart_cta | json }},
    "shippingBg": {{ settings.cart_shipping_bg | json }},
    "shippingText": {{ settings.cart_shipping_text | json }},
    "shippingProgress": {{ settings.cart_shipping_progress | json }}
  }
{% endcapture %}

<cart
  :colors="{{ cart_colors | escape | strip }}"
  :cart-object="{{ cart | json | escape | strip }}"
  {% if settings.cart_shipping_promo_enable != blank %}
    :shipping-promo-enabled="{{ settings.cart_shipping_promo_enable | default: false }}"
    :shipping-promo-total="{{ settings.cart_shipping_promo_total | default: 0 }}"
    shipping-promo-copy="{{ settings.cart_shipping_promo_copy | default: '' }}"
  {% endif %}
  {% if settings.cart_promo_message != blank %}
    promo-message="{{ settings.cart_promo_message }}"
  {% endif %}
  :empty-link-array="{{ cart_empty_links | escape | strip }}"
  empty-text="{{ settings.cart_empty_message }}">
  <h1>{{ 'cart.general.title' | t }}</h1>
</cart>
