
{%- layout none -%}
{%- comment -%}
  not using the collection object, because it only contains filtered products.
  want access to ALL products for when customer removes filter, we don't want to
  have to grab all products later
{%- endcomment -%}
{%- assign _collection = collections[collection.handle] -%}
{% render 'json--collection', collection: _collection %}
