{%- layout none -%}

{%- comment -%}
  not using the collection object, because it only contains filtered products.
  want access to ALL products for when customer removes filter, we don't want to
  have to grab all products later
{%- endcomment -%}
{%- paginate collection.products by 20 -%}
  {
    "productCount": {{ collection.products_count | json }},
    "products": [
      {%- for product in collection.products -%}
        {%- include 'json--product', product: product, order: forloop.index -%}{%- unless forloop.last -%},{%- endunless -%}
      {%- endfor -%}
    ],
    "tags": [
      {%- for tag in collection.tags -%}
        {{- tag | json -}}{%- unless forloop.last -%},{%- endunless -%}
      {%- endfor -%}
    ]
  }
{%- endpaginate -%}
