{% capture collections_array %}
  [
    {% for collection in collections %}
      {
        title: {{ collection.title | json }},
        {% if collection.image %}
          image: {{ collection.image | img_url: '400x' | json  }},
          alt: {{ collection.image.alt | json }},
        {% else %}
          image: {{ collection.products.first.featured_image | img_url: '400x' | json }},
          alt: {{ collection.title | json }},
        {% endif %}
        url: {{ collection.url | json }}
      }
      {% unless forloop.last %},{% endunless %}
    {% endfor %}
  ]
{% endcapture %}

<collections :collections="{{ collections_array | escape | strip }}"/>