<div class="page-template__hero {% if page.metafields.custom_fields["hero_image"] == blank %}page-template__hero--no-background{%- endif -%}" style="background: {{ page.metafields.custom_fields['hero_background_color'] }}">
  {% unless page.metafields.custom_fields["hero_image"] == blank %}
    {% include 'hero' with {
      should_manually_build_urls: true,
      desktop_image: page.metafields.custom_fields["hero_image"],
      mobile_image: page.metafields.custom_fields["hero_image"],
      header: page.metafields.custom_fields["hero_header"],
      subheader: page.metafields.custom_fields["hero_subheader"],
      copy: page.metafields.custom_fields["hero_copy"],
      text_color: page.metafields.custom_fields["copy_text_color"],
      overlay_color: page.metafields.custom_fields["overlay_color"],
      overlay_opacity: page.metafields.custom_fields["overlay_opacity"],
      mobile_layout: page.metafields.custom_fields["hero_mobile_layout"]
    } %}
  {% endunless %}
  <div class="page-template__hero-text-wrap">
    <h1 class="page-template__title" style="color: {{ page.metafields.custom_fields['hero_text_color'] }}">{{ page.title }}</h1>
    {% if page.metafields.custom_fields["subtitle_text"] != blank %}
      <p class="page-template__subtitle" style="color: {{ page.metafields.custom_fields['hero_text_color'] }}">{{ page.metafields.custom_fields["subtitle_text"] }}</p>
    {% endif %}
  </div>
</div>
<div class="page-container">
  {% if page.metafields.custom_fields.subnav_handle	!= blank %}
    {% assign subnav_linklist = linklists[page.metafields.custom_fields.subnav_handle] %}
    {% capture subnav_options %}
      [
        {% for link in subnav_linklist.links %}
          {
            "label": {{ link.title | json }},
            "value": {{ link.url | json }}
          }
          {% unless forloop.last %},{% endunless %}
        {% endfor %}
      ]
    {% endcapture %}
    <sub-nav title="{{ subnav_linklist.title }}" :options="{{ subnav_options | escape | strip }}" placeholder="" page-path="{{ page.url }}"></sub-nav>
  {% endif %}
  <div class="container page-template{% if page.metafields.custom_fields.subnav_handle	!= blank %} page-template--with-sidebar{% endif %}">
    {% if page.metafields.custom_fields.faqs != blank %}
      {% assign separator = "|###|" %}
      <!-- {% assign faq_categories = .category_group | split: separator %}
      {% assign faq_questions = page.metafields.custom_fields.question | split: separator %}
      {% assign faq_answers = page.metafields.custom_fields.answer | split: separator %}
      {% assign fc_keys = page.metafields.custom_fields.faqs | split: "," %} -->

      {% capture faq_array %}
        [
          {% for faq in page.metafields.custom_fields.faqs %}
            {% assign category = faq.faq_category %}
            {% if category.size > 0 and category %}
              {% if forloop.index > 1 %}
                  ]
                },
              {% endif %}
              {
                "category": {{ category | json }},
                "values": [
            {% else %}
                  {
                    "question": {{ faq.faq_question | json }},
                    "answer": {{ faq.faq_answer | json }}
                  }
              {% if forloop.last %}
                ]
              }
              {% else %}
                ,
              {% endif %}
            {% endif %}
          {% endfor %}
        ]
      {% endcapture %}
      <faqs :faqs-list="{{ faq_array | escape | strip }}"></faqs>
    {% endif %}

    <div class="rte client-generated">
      {{ page.content }}
    </div>
  </div>
</div>
