{% layout none %}

{%- capture products -%}
  {%- for item in search.results -%}
    {%- if item.object_type == 'product' -%}
      {% render 'json--product', product: item %}:::
    {%- endif -%}
  {%- endfor -%}
{%- endcapture -%}

{% assign products_split = products | split: ":::" %}

{
  items: [
    {% for product in products_split %}
      {{ product }}{%- unless forloop.last -%},{%- endunless -%}
    {% endfor %}
  ]
}
