// // ---------------------------------
// //   Colors
// // ---------------------------------

// ---- Brand -------------------------
$color-primary-red: #d63427;
$color-accent-yellow-brand: #ffcc00;
$color-accent-green: #123f31;
$color-accent-blue: #0b5cad;

// ---- Greyscale ---------------------
$color-white: #ffffff;
$color-v-light-grey: #f9f9f9;
$color-off-white: #eeeeee;
$color-light-grey: #cdcdcd;
$color-semi-grey: #7e7e7e;
$color-grayish-gray: #575757;
$color-grey: #404040;
$color-slate: #303030;
$color-off-black: #222222;
$color-black: #000000;

// ---- Product Tile Badges -----------
$color-accent-dark-red: $color-primary-red;
$color-accent-red: #F74226;
$color-accent-yellow: #FFEF01;
$color-accent-pale-yellow: #F1CD0C;
$color-accent-grey: #A5A5A5;
$color-accent-light-grey: #F6F6F6;


// ------------------------------------
// Colors we don't actually care about
// and will remove as we come across
// them but need to keep for now since
// the theme occasionally uses them
// ------------------------------------

// ---- Accent ------------------------
$color-brand-primary: $color-grayish-gray;
$color-brand-secondary: $color-accent-blue;
$color-brand-tertiary: $color-accent-blue;

$color-accent-1: #ddeeff;
$color-accent-2: #fff3c7;
$color-accent-3: #f5bc22;
$color-accent-4: #ffd7d1;
$color-accent-5: #db2204;

// ---- Utility ---------------------
$color-util-error-0: #8d1300;
$color-util-error-1: $color-util-error-0;
$color-util-success: $color-accent-green;
$color-util-ui-grey: #808282;
$color-util-sale: $color-accent-green;
$color-util-bg-offwhite: $color-off-white;

// ---- Light/Dark Mapping ----------
$auto-button-color-switch: false;
$auto-link-color-switch: false;
$dark-color-classes: '';

// ---- Specific Element Colors ------------------
$color-compare-price: $color-grey;
$color-faq-table-border: $color-off-black;

// ---------------------------------
//   Font
// ---------------------------------

$font-gibson: canada-type-gibson, sans-serif;

$font-family-primary: $font-gibson;
$font-family-secondary: $font-gibson;
$font-family-tertiary: $font-gibson;
$font-family-global: $font-family-secondary;

$font-weight-global: 400;
$form-text-input-label-inactive-weight: 400;
$form-text-input-label-active-weight: 500;
$label-font-size: 11px;
$label-font-height: 12px;
$label-letter-spacing: 0.5px;
$label-font-weight: 500;

$font-family-h1: $font-gibson;
$font-family-h2: $font-gibson;
$font-family-h3: $font-gibson;
$font-family-h4: $font-gibson;
$font-family-h5: $font-gibson;
$font-family-h6: $font-gibson;
$font-family-h7: $font-gibson;

$font-size-base: 16; // base size in px

// ---- Font Sizes (px)---------------------
// font size in px. use with rem function in tools / functions
$font-size-h1-mobile: 36;
$font-size-h2-mobile: 28;
$font-size-h3-mobile: 26;
$font-size-h4-mobile: 22;
$font-size-h5-mobile: 18;
$font-size-h6-mobile: 14;
$font-size-h7-mobile: 14;
$font-size-h1-desktop: 48;
$font-size-h2-desktop: 36;
$font-size-h3-desktop: 26;
$font-size-h4-desktop: 24;
$font-size-h5-desktop: 19;
$font-size-h6-desktop: 16;
$font-size-h7-desktop: 16;

$font-transform-h1-mobile: none;
$font-transform-h2-mobile: none;
$font-transform-h3-mobile: none;
$font-transform-h4-mobile: none;
$font-transform-h5-mobile: none;
$font-transform-h6-mobile: none;
$font-transform-h7-mobile: none;
$font-transform-h1-desktop: none;
$font-transform-h2-desktop: none;
$font-transform-h3-desktop: none;
$font-transform-h4-desktop: none;
$font-transform-h5-desktop: none;
$font-transform-h6-desktop: none;
$font-transform-h7-desktop: none;

$font-weight-h1-mobile: 600;
$font-weight-h2-mobile: 600;
$font-weight-h3-mobile: 600;
$font-weight-h4-mobile: 600;
$font-weight-h5-mobile: 600;
$font-weight-h6-mobile: 600;
$font-weight-h7-mobile: 600;
$font-weight-h1-desktop: 600;
$font-weight-h2-desktop: 600;
$font-weight-h3-desktop: 600;
$font-weight-h4-desktop: 600;
$font-weight-h5-desktop: 600;
$font-weight-h6-desktop: 600;
$font-weight-h7-desktop: 600;

$font-color-h7: $color-black;

$font-size-body-lg: 18;
$font-size-body-sm: 12;
$font-size-product-title: 14;
$font-size-form-label: 9;

// ---------------------------------
//   Grid
// ---------------------------------

$content-gutter: 1rem;
$grid-gutter-sm: 16px;
$grid-gutter: 20px;
$grid-column-count: 12;
$block-grid-column-count: 8;
// $container-max-width: 1215px;
$container-max-width: 1360px;

// ---------------------------------
//   Misc
// ---------------------------------

$drop-shadow: 0 3px 8px rgba($color-black, 0.1);
$drop-shadow--light: 0 3px 8px rgba($color-black, 0.05);
$drop-shadow-hover--light: 0 3px 8px rgba($color-black, 0.05);

$breakpoint-mini: 395px;
$breakpoint-mobile: 580px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$breakpoint-hd: 1312px;

$mobile-nav-height: 72px;

$collection-tile-side-margin-mobile: 8px;
$collection-tile-side-margin-tablet: 32px;

$super-collection-border-radius: 0;

// button general
$button-font-family: $font-gibson;
$button-success-background-image: url('../assets/check_black.svg');
$button-error-background-image: url('../assets/close_black.svg');
$button-font-weight: 700;

// primary button
$button-primary-background: $color-black;
$button-primary-color: $color-white;
$button-primary-opacity: 1;
$button-primary-hover-background: $color-white;
$button-primary-hover-color: $color-black;
$button-primary-hover-opacity: 1;
$button-primary-disabled-background: $color-black;
$button-primary-disabled-color: $color-white;
$button-primary-disabled-opacity: 0.6;
$button-primary-loading-background: $color-black;
$button-primary-loading-color: $color-white;
$button-primary-loading-opacity: 1;
$button-primary-success-background: $color-black;
$button-primary-success-color: $color-white;
$button-primary-success-opacity: 1;
$button-primary-error-background: $color-black;
$button-primary-error-color: $color-white;
$button-primary-error-opacity: 1;
$button-primary-progress-background: $color-grey;
$button-primary-success-image: $button-success-background-image;
$button-primary-error-image: $button-error-background-image;

// secondary button
$button-secondary-background: $color-white;
$button-secondary-color: $color-black;
$button-secondary-opacity: 1;
$button-secondary-hover-background: $color-black;
$button-secondary-hover-color: $color-white;
$button-secondary-hover-opacity: 1;
$button-secondary-disabled-background: $color-black;
$button-secondary-disabled-color: $color-white;
$button-secondary-disabled-opacity: 0, 6;
$button-secondary-loading-background: $color-white;
$button-secondary-loading-color: $color-black;
$button-secondary-loading-opacity: 1;
$button-secondary-success-background: $color-white;
$button-secondary-success-color: $color-black;
$button-secondary-success-opacity: 1;
$button-secondary-error-background: $color-white;
$button-secondary-error-color: $color-black;
$button-secondary-error-opacity: 1;
$button-secondary-progress-background: $color-white;
$button-secondary-success-image: $button-success-background-image;
$button-secondary-error-image: $button-error-background-image;

// forms
$form-color-grey: #808282;
$form-error-icon-fill: $color-black;

$form-checkbox-border: 1px solid $color-black;
$form-checkbox-background: $color-white;
$form-checkbox-background-checked: $color-black;
$form-checkbox-check: url('../assets/check_white_14.svg');
$form-checkbox-check-disabled: url('../assets/check_white_14_disabled.svg');

$form-toggle-body-border: 1px solid $color-black;
$form-toggle-body-background-checked: $color-black;
$form-toggle-dot-background: $color-black;
$form-toggle-dot-background-checked: $color-white;

$form-radio-border: 1px solid $color-black;
$form-radio-border-checked: 1px solid $color-black;
$form-radio-dot-background: $color-black;

$form-select-background-hover: $color-brand-tertiary;

// PDP --------------------------------------
$color-zoom-background: #fafafa;

// --- Links ------------------------------
// global
$link-font-weight: 400;

// style types
$link-primary-color: $color-black;
$link-primary-hover-color: $color-black;
$link-primary-underline-color: $color-black;
$link-primary-icon-fill: $color-black;
$link-secondary-color: $color-white;
$link-secondary-hover-color: $color-white;
$link-secondary-underline-color: $color-white;
$link-secondary-overlay-color: $color-white;
$link-secondary-overlay-opacity: 0.2;

// borders
$border-radius--light: 0px;
$border-radius--medium: 0px;
$border-radius: 0px;

// HP Collection Linear
$collection-linear-pagination-size: 5px;
$collection-linear-pagination-color: $color-grey;
$collection-linear-pagination-color--active: $color-off-black;

// ---------------------------------
//   Hero Banner
// ---------------------------------

$hero-content-border-radius: 0px;

// END VARIABLES -----------------------------------------------------------------------------------------

// START MIXINS -----------------------------------------------------------------------------------------
// * Prefer mixins over variables.

// ---------------------------------
//   Button Mixins
//
//   see buttons.scss
// ---------------------------------

@mixin button--arrow-primary {
  .button--arrow-primary {
    min-width: initial; // unsupported by i.e.
    @include ie {
      min-width: 0;
    }
    height: 40px;
    width: 40px;
    border-radius: 100%;
    background: transparent;
    border: 2px solid transparent;
    // box-sizing: content-box;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0;

    .icon {
      margin: 0 !important;
    }

    .button__content {
      padding: 0;
      vertical-align: middle;
      line-height: 0;
    }

    &:not(:disabled):hover {
      background: $color-brand-secondary;
    }

    &:hover .icon {
      fill: $color-white;
    }

    &:focus {
      border: 2px solid $color-brand-secondary;
    }

    &:disabled {
      // background: $color-white;
    }

    &:disabled .icon {
      fill: $color-grey;
    }
  }
}

@mixin button--arrow-secondary {
  .button--arrow-secondary {
    min-width: initial;
    height: 24px;
    width: 24px;
    // box-sizing: content-box;
    border: 2px solid transparent;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0;

    .icon {
      margin: 0 !important;
    }

    .button__content {
      padding: 0;
      vertical-align: middle;
      line-height: 0;
    }

    &:not(:disabled):hover .icon {
      fill: $color-brand-primary;
    }

    &:focus {
      border: 2px solid $color-brand-primary;
    }

    &:disabled .icon {
      fill: $color-grey;
    }
  }
}

// H1 --------------------------------------
@mixin h1 {
  font-weight: $font-weight-h1-mobile;
  font-size: rem($font-size-h1-mobile);
  line-height: 1;
  letter-spacing: -0.3px;
  text-transform: $font-transform-h1-mobile;
  font-family: $font-family-h1;
}
@mixin h1-mobile {
  @include h1();
}
@mixin h1-tablet {
  font-weight: $font-weight-h1-desktop;
  text-transform: $font-transform-h1-desktop;
  line-height: 1.4;
  letter-spacing: -0.3px;
  font-size: rem($font-size-h1-desktop);
}
@mixin h1-tablet-up {
  @include h1-tablet();
}
@mixin h1-desktop {
  @include h1-tablet();
}
@mixin h1-desktop-up {
  @include h1-desktop();
}

// H2 --------------------------------------
@mixin h2 {
  font-weight: $font-weight-h2-mobile;
  font-size: rem($font-size-h2-mobile);
  line-height: 1.2;
  letter-spacing: -0.1px;
  text-transform: $font-transform-h2-mobile;
  font-family: $font-family-h2;
}
@mixin h2-mobile {
  @include h2();
}
@mixin h2-tablet {
  font-weight: $font-weight-h2-desktop;
  text-transform: $font-transform-h2-desktop;
  line-height: 1.2;
  letter-spacing: -0.1px;
  font-size: rem($font-size-h2-desktop);
}
@mixin h2-tablet-up {
  @include h2-tablet();
}
@mixin h2-desktop {
  @include h2-tablet();
}
@mixin h2-desktop-up {
  @include h2-desktop();
}

// h3 --------------------------------------
@mixin h3 {
  font-weight: $font-weight-h3-mobile;
  font-size: rem($font-size-h3-mobile);
  line-height: 1.3;
  letter-spacing: 0px;
  text-transform: $font-transform-h3-mobile;
  font-family: $font-family-h3;
}
@mixin h3-mobile {
  @include h3();
}
@mixin h3-tablet {
  font-weight: $font-weight-h3-desktop;
  line-height: 1.3;
  letter-spacing: 0px;
  font-size: rem($font-size-h3-desktop);
  text-transform: $font-transform-h3-desktop;
  font-family: $font-family-h3;
}
@mixin h3-tablet-up {
  @include h3-tablet();
}
@mixin h3-desktop {
  @include h3-tablet();
}
@mixin h3-desktop-up {
  @include h3-desktop();
}

// h4 --------------------------------------
@mixin h4 {
  font-weight: $font-weight-h4-mobile;
  font-size: rem($font-size-h4-mobile);
  line-height: 1.3;
  letter-spacing: 0px;
  text-transform: $font-transform-h4-mobile;
  font-family: $font-family-h4;
}
@mixin h4-mobile {
  @include h4();
}
@mixin h4-tablet {
  font-weight: $font-weight-h4-desktop;
  text-transform: $font-transform-h4-desktop;
  line-height: 1.3;
  letter-spacing: 0px;
  letter-spacing: normal;
  font-size: rem($font-size-h4-desktop);
}
@mixin h4-tablet-up {
  @include h4-tablet();
}
@mixin h4-desktop {
  @include h4-tablet();
}
@mixin h4-desktop-up {
  @include h4-desktop();
}

// h5 --------------------------------------
@mixin h5 {
  font-weight: $font-weight-h5-mobile;
  font-size: rem($font-size-h5-mobile);
  line-height: 1.7;
  letter-spacing: 0.4px;
  text-transform: $font-transform-h5-mobile;
  font-family: $font-family-h5;
}
@mixin h5-mobile {
  @include h5();
}
@mixin h5-tablet {
  font-weight: $font-weight-h5-desktop;
  text-transform: $font-transform-h5-desktop;
  line-height: 1.7;
  letter-spacing: 0.3px;
  font-size: rem($font-size-h5-desktop);
  text-transform: none;
}
@mixin h5-tablet-up {
  @include h5-tablet();
}
@mixin h5-desktop {
  @include h5-tablet();
}
@mixin h5-desktop-up {
  @include h5-desktop();
}

// h6 --------------------------------------
@mixin h6 {
  font-weight: $font-weight-h6-mobile;
  font-size: rem($font-size-h6-mobile);
  line-height: 1.4;
  letter-spacing: 0.3px;
  font-family: $font-family-secondary;
  text-transform: $font-transform-h6-mobile;
  font-family: $font-family-h6;
}
@mixin h6-mobile {
  @include h6();
}
@mixin h6-tablet {
  font-weight: $font-weight-h6-desktop;
  text-transform: $font-transform-h6-desktop;
  line-height: 1.4;
  line-height: rem(24);
  font-size: rem($font-size-h6-desktop);
}
@mixin h6-tablet-up {
  @include h6-tablet();
}
@mixin h6-desktop {
  @include h6-tablet();
}
@mixin h6-desktop-up {
  @include h6-desktop();
}

// h7 --------------------------------------
@mixin h7 {
  font-weight: $font-weight-h7-mobile;
  font-size: rem($font-size-h7-mobile);
  line-height: 1.4;
  letter-spacing: -0.5px;
  font-family: $font-family-secondary;
  text-transform: $font-transform-h7-mobile;
  font-family: $font-family-h7;
  color: $font-color-h7;
  letter-spacing: 2px;
}
@mixin h7-mobile {
  @include h7();
}
@mixin h7-tablet {
  font-weight: $font-weight-h7-desktop;
  text-transform: $font-transform-h7-desktop;
  letter-spacing: -0.5px;
  line-height: 1.4;
  font-size: rem($font-size-h7-desktop);
}
@mixin h7-tablet-up {
  @include h7-tablet();
}
@mixin h7-desktop {
  @include h7-tablet();
}
@mixin h7-desktop-up {
  @include h7-desktop();
}

// body-sm --------------------------------------
@mixin body-sm {
  font-size: rem(11);
  line-height: 18px;
  letter-spacing: -0.3px;
}
@mixin body-sm-desktop {
  font-size: rem(12);
}
@mixin body-sm-mobile {
  @include body-sm();
}
@mixin body-sm-tablet {
  @include body-sm();
}
@mixin body-sm-tablet-up {
  @include body-sm-tablet();
}
@mixin body-sm-desktop-up {
  @include body-sm-desktop();
}

// body-sm --------------------------------------
@mixin body-md-sm {
  font-size: rem(14);
  line-height: 18px;
  letter-spacing: -0.3px;
}
@mixin body-md-sm-mobile {
  @include body-md-sm();
}
@mixin body-md-sm-tablet {
  @include body-md-sm();
}
@mixin body-md-sm-tablet-up {
  @include body-md-sm-tablet();
}
@mixin body-md-sm-desktop {
  @include body-md-sm-tablet();
}
@mixin body-md-sm-desktop-up {
  @include body-md-sm-desktop();
}

// body-md --------------------------------------
@mixin body-md {
  font-size: rem(13);
  line-height: 22px;
  letter-spacing: -0.2px;
}
@mixin body-md-desktop {
  font-size: rem(14);
}

@mixin body-md-mobile {
  @include body-md();
}
@mixin body-md-tablet {
  @include body-md();
}
@mixin body-md-tablet-up {
  @include body-md-tablet();
}
@mixin body-md-desktop-up {
  @include body-md-desktop();
}

// body-lg --------------------------------------
@mixin body-lg {
  font-size: rem(16);
  line-height: 28px;
  letter-spacing: -0.3px;
}
@mixin body-lg-desktop {
  font-size: rem(18);
  line-height: 28px;
  letter-spacing: -0.3px;
}

@mixin body-lg-mobile {
  @include body-lg();
}
@mixin body-lg-tablet {
  @include body-lg();
}
@mixin body-lg-tablet-up {
  @include body-lg-tablet();
}
@mixin body-lg-desktop-up {
  @include body-lg-desktop();
}

// strong-medium --------------------------------------
@mixin strong-medium {
  font-weight: 500;
}
@mixin strong-medium-mobile {
  @include strong-medium();
}
@mixin strong-medium-tablet {
  @include strong-medium();
}
@mixin strong-medium-tablet-up {
  @include strong-medium-tablet();
}
@mixin strong-medium-desktop {
  @include strong-medium-tablet();
}
@mixin strong-medium-desktop-up {
  @include strong-medium-desktop();
}

// strong-bold --------------------------------------
@mixin strong-bold {
  font-weight: 500;
}
@mixin strong-bold-mobile {
  @include strong-bold();
}
@mixin strong-bold-tablet {
  @include strong-bold();
}
@mixin strong-bold-tablet-up {
  @include strong-bold-tablet();
}
@mixin strong-bold-desktop {
  @include strong-bold-tablet();
}
@mixin strong-bold-desktop-up {
  @include strong-bold-desktop();
}

// preheader-sm --------------------------------------
@mixin preheader-sm {
  font-size: rem(11);
  line-height: 18px;
  font-weight: 500;
  font-family: $font-family-secondary;
  text-transform: uppercase;
}
@mixin preheader-sm-mobile {
  @include preheader-sm();
}
@mixin preheader-sm-tablet {
  @include preheader-sm();
}
@mixin preheader-sm-tablet-up {
  @include preheader-sm-tablet();
}
@mixin preheader-sm-desktop {
  @include preheader-sm-tablet();
}
@mixin preheader-sm-desktop-up {
  @include preheader-sm-desktop();
}

// preheader --------------------------------------
@mixin preheader {
  font-size: rem(14);
  line-height: 18px;
  font-weight: 500;
  font-family: $font-family-secondary;
  text-transform: uppercase;
}
@mixin preheader-mobile {
  @include preheader();
}
@mixin preheader-tablet {
  @include preheader();
}
@mixin preheader-tablet-up {
  @include preheader-tablet();
}
@mixin preheader-desktop {
  @include preheader-tablet();
}
@mixin preheader-desktop-up {
  @include preheader-desktop();
}

// subheader --------------------------------------
@mixin subheader {
  font-size: rem(18);
  line-height: 1.5;
  font-weight: 500;
  font-family: $font-gibson;
  letter-spacing: -0.4px;
  margin-bottom: 24px;
}

@mixin subheader-mobile {
  @include subheader();
}
@mixin subheader-tablet {
  font-size: rem(16);
  line-height: 1.5;
  font-weight: 500;
  font-family: $font-gibson;
  letter-spacing: normal;
  margin-bottom: 16px;
}
@mixin subheader-tablet-up {
  @include subheader-tablet();
}
@mixin subheader-desktop {
  @include subheader();
}
@mixin subheader-desktop-up {
  @include subheader-desktop();
}

// product-tile-title --------------------------------------
@mixin product-tile-title {
  font-size: 16px;
  font-family: $font-family-secondary;
  font-weight: 700;
}
@mixin product-tile-title-mobile {
  @include product-tile-title();
}
@mixin product-tile-title-tablet {
  @include product-tile-title();
}
@mixin product-tile-title-tablet-up {
  @include product-tile-title-tablet();
}
@mixin product-tile-title-desktop {
  @include product-tile-title-tablet();
}
@mixin product-tile-title-desktop-up {
  @include product-tile-title-desktop();
}

// pdp-product-title --------------------------------------
@mixin pdp-product-title {
  @include h4-mobile;
}
@mixin pdp-product-title-mobile {
  @include pdp-product-title();
}
@mixin pdp-product-title-tablet {
  font-size: rem(28);
  line-height: 38px;
  font-weight: 700;
  font-family: $font-family-secondary;
  letter-spacing: normal;
}
@mixin pdp-product-title-tablet-up {
  @include pdp-product-title-tablet();
}
@mixin pdp-product-title-desktop {
  @include pdp-product-title-tablet();
}
@mixin pdp-product-title-desktop-up {
  @include pdp-product-title-desktop();
}

// ---------------------------------
//
//   Single Custom mixin classes
//
// ---------------------------------

@mixin all-h-tags {
  font-family: $font-family-secondary;
  margin: 0;
}

// pdp-price --------------------------------------
@mixin pdp-price {
  font-family: $font-family-primary;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}
@mixin pdp-price-mobile {
  @include pdp-price();
}
@mixin pdp-price-tablet {
  font-size: rem(28);
  line-height: 32px;
  font-weight: 400;
  font-family: $font-family-primary;
  letter-spacing: normal;
}
@mixin pdp-price-tablet-up {
  @include pdp-price-tablet();
}
@mixin pdp-price-desktop {
  @include pdp-price-tablet();
}
@mixin pdp-price-desktop-up {
  @include pdp-price-desktop();
}

// pdp-price-compare --------------------------------------
@mixin pdp-price-compare {
  font-family: $font-family-primary;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}
@mixin pdp-price-compare-mobile {
  @include pdp-price-compare();
}
@mixin pdp-price-compare-tablet {
  font-size: rem(28);
  line-height: 32px;
  font-weight: 400;
  font-family: $font-family-primary;
  letter-spacing: normal;
}
@mixin pdp-price-compare-tablet-up {
  @include pdp-price-compare-tablet();
}
@mixin pdp-price-compare-desktop {
  @include pdp-price-compare-tablet();
}
@mixin pdp-price-compare-desktop-up {
  @include pdp-price-compare-desktop();
}

@mixin button-text {
  font-size: rem(16);
  font-weight: 700;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-family: $button-font-family;
}

@mixin plain-link {
  font-size: rem(16);
  line-height: rem(23);
  color: $color-brand-tertiary;
}

@mixin label {
  font-size: $label-font-size;
  line-height: $label-font-height;
  letter-spacing: $label-letter-spacing;
  font-weight: $label-font-weight;
  font-family: $font-family-primary;
  color: $color-off-black;
}

@mixin pdp-in-stock-flag {
  color: #89bc72;
  text-transform: uppercase;
  font-size: rem(12);
  line-height: 20px;
}

@mixin pdp-out-of-stock-flag {
  color: #db2204;
  text-transform: uppercase;
  font-size: rem(12);
  line-height: 20px;
}

@mixin sidecart-line-item-title {
  font-size: rem(14);
  line-height: 18px;
  font-weight: 500;
}

@mixin cart-line-item-title {
  font-size: rem(20);
  line-height: 18px;
  font-weight: 500;
}

@mixin mobile-accordion-title {
  text-transform: normal;
  font-family: $font-family-primary;
}

// ---------------------------------
//   Text input secondary typography
//
//   second ui kit text input style (label always above input)
//
//   see client-generated.scss
// ---------------------------------
@mixin input--secondary {
  .input--secondary {
    label {
      color: $color-off-black;
      font-size: 9px;
      font-weight: 500;
      letter-spacing: 0.5px;
      line-height: 12px;
      text-align: left;
      display: block;
    }

    input[type='text'],
    input[type='email'],
    input[type='tel'],
    input[type='password'],
    input[type='number'],
    textarea {
      border-radius: 0;
      margin-top: 8px;
      width: 100%;
      border: 1px solid #808282;
      padding: 12px;
      margin-bottom: 8px;
      transition: background-color 0.1s ease;

      &:hover,
      &:active {
        border-color: $color-off-black;
      }

      &:disabled:hover {
        background-color: $color-white;
      }
    }
    textarea {
      min-height: 88px;
    }
  }
}

// ---------------------------------
//   Client generated typography
//
//   Generic style for html from theme settings or metafields
//
//   see client-generated.scss
// ---------------------------------

@mixin client-generated {
  blockquote,
  dd,
  div,
  dl,
  dt,
  figcaption,
  figure,
  hr,
  li,
  main,
  ol,
  p,
  pre,
  ul {
    font-size: rem(16);
    line-height: 22px;
    color: $color-black;
  }

  ol,
  ul {
    padding-left: 20px;
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }

  li {
    font-family: $font-gibson;
    font-weight: 300;
    letter-spacing: 0.25px;
    line-height: 1.5;
    margin-bottom: 8px;
  }

  a {
    font-weight: 400;
    transition: all 0.15s ease;
    text-decoration: none;
    position: relative;
    outline: transparent;
    background: none;
    border: none;
    line-height: rem(20);
    color: $color-black;
    display: inline;
    width: fit-content;
    overflow: hidden;
    font-family: $font-family-primary;
    font-weight: $link-font-weight;
    cursor: pointer;
    z-index: 1;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      width: 0%;
      height: 1px;
      background: $color-brand-primary;
      transform: translateY(-2px);
    }

    &::before {
      content: '';
      position: absolute;
      top: inherit;
      bottom: -2px;
      left: 0;
      width: 0;
      height: 2px;
      background: $color-black;
      transition: width 0.15s;
      z-index: -1;
    }

    &:hover::before,
    &:focus::before,
    &:active::before {
      width: 100%;
    }
  }

  p {
    margin: 8px 0;
  }

  strong {
    font-weight: 500;
    color: $color-black;
  }

  img,
  video {
    height: auto;
  }

  img,
  iframe,
  video {
    max-width: 100%;
    max-width: 100%;
  }

  table {
    margin: 8px 0;
    border: 0;
    border-collapse: collapse;
  }

  tbody {
    border-top: 1px solid $color-light-grey;
  }

  tr {
    &:nth-child(1) {
      td {
        padding-top: 12px;
      }
    }
  }

  td,
  th {
    padding: 4px 7.5% 4px 0;
    text-align: left;
    border: 0;

    &:nth-child(1) {
      width: 40%;
    }
  }
}

// used specifically on blog articles
@mixin client-generated--article {
  h5,
  h5 span {
    @include h5-desktop;
  }
}

// ---------------------------------
//   Product reviews typography
//
//   see product-reviews.scss
// ---------------------------------

@mixin product-reviews {
  .spr-summary-actions-newreview,
  .spr-button-primary {
    font-family: $button-font-family;
    color: $button-primary-color;
    font-weight: $button-font-weight;
    font-size: 1rem;
    line-height: 20px;

    &:hover {
      background: $button-primary-color;
      color: $color-white;
    }
  }

  .spr-form-input-text,
  .spr-form-input-textarea,
  .spr-form-input-email {
    margin-top: 8px !important;
    padding: 8px;
    font-size: rem(14);
    line-height: 1.25;
    font-family: $font-family-primary;
    color: $color-black;
  }

  .spr-review-header-byline .spr-review-author {
    font-size: 14px;
    letter-spacing: 0.2px;
    line-height: 24px;
    display: block;
    font-style: normal !important;
    opacity: 1 !important;
  }

  .spr-review-date {
    font-size: 11px;
    letter-spacing: 0.3px;
    line-height: 12px;
    font-style: normal;
    opacity: 0.5 !important;
  }

  .spr-badge-caption {
    font-size: rem(12);
    font-family: $font-family-primary;
    font-weight: 400;
  }

  .spr-form-input {
    font-size: rem(14);
    line-height: 1.25;
    font-family: $font-family-primary;
    color: $color-black;
    background-color: $color-white;
    border-radius: 0;
  }
}

// ---------------------------------
//   Register/Login typography
//
//   see login-register.scss
// ---------------------------------

@mixin login-register {
  .login-form {
    &__header {
      @include h3-mobile;

      margin-bottom: 16px;

      @include tablet-up {
        @include h3-tablet-up;
      }
    }

    &__blurb {
      margin-top: 16px;
      margin-bottom: 24px;
    }

    .account-link {
      @extend .link--primary;
    }
  }

  .login-reset-cta--submit {
    @extend .button--secondary;
  }

  .login-reset-cta--cancel {
    @extend .button--primary;
  }

  .form-state-tabs {
    text-align: center;
    margin-bottom: 24px;

    .tab {
      font-size: 16px;
      margin: 0 10px;
      line-height: 1.25rem;
      display: inline-block;
    }
    @include tablet-up {
      max-width: 310px;
      margin: 0 auto;
    }
  }
}

// ---------------------------------
//   Account typography
//
//   see account.scss
// ---------------------------------

@mixin account {
  .account-nav-mobile-header,
  .account-nav-desktop-header {
    h1 {
      &,
      .customers & {
        font-weight: 500;
        text-align: left !important;
        font-size: 25px !important;
        margin: 0 0 12px 0;
        line-height: 28px;
        font-family: $font-family-primary;
        letter-spacing: 0.5px;
      }
    }

    p {
      font-family: $font-family-primary;
      margin: 0;
      font-weight: 400;
      font-size: 16px;
      letter-spacing: 0.2px;
    }
  }

  .account-nav-mobile-select {
    margin: 16px 0 0 0;
  }

  .account-nav-desktop-header {
    margin-bottom: 40px;
  }

  .account-nav-menu-item {
    font-family: $font-family-primary;
    font-size: 16px;
  }

  .account-nav-menu-logout {
    @extend .account-nav-menu-item;
  }
}

@mixin cart-bubble {
  .cart-toggle-button {
    overflow: visible;
  }

  .cart-bubble-quantity {
    position: absolute;
    display: block;
    top: 6px;
    left: -4px;
    height: 16px;
    width: 16px;
    border: 1px solid $color-light-grey;
    border-radius: 50%;
    background-color: $color-white;
    pointer-events: none;
    transition: 0.3s ease all;
  }

  .cart-bubble-count {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: rem(12);
    line-height: 14px;
    font-family: $font-gibson;
    font-weight: 300;
    color: $color-black;
  }

  .sidecart__header-total-badge {
    top: -2px;
    right: -8px;
  }
}

@mixin product-tile-compare-price {
  font-weight: 300;
  color: $color-compare-price;
}

@mixin input {
  .input {
    margin-bottom: $content-gutter;
    box-shadow: none;
    border-radius: 0;

    [type='text'],
    [type='password'],
    [type='date'],
    [type='datetime'],
    [type='datetime-local'],
    [type='month'],
    [type='week'],
    [type='email'],
    [type='number'],
    [type='search'],
    [type='tel'],
    [type='time'],
    [type='url'],
    [type='color'],
    textarea,
    .vs__selected {
      font-size: rem(14);
      line-height: 1.25;
      font-family: $font-family-secondary;
      color: $color-black;
      padding: 12px 12px;
      margin: 0;
      background-color: $color-white;
      border: 1px solid $color-light-grey;
      width: 100%;
      transition: border-color 0.5s ease;
      box-shadow: 0 1px 1px 0 rgba($color-black, 0.15);
      border-radius: 4px;
      appearance: none;
      transition: background-color 0.1s ease;

      &:active,
      &:focus {
        background-color: lighten($color-off-white, 5%);
      }

      &:disabled:hover {
        background-color: $color-white;
      }

      .error & {
        border-color: $color-util-error-1;
        background-color: $color-util-error-0;
      }
    }

    label {
      font-family: $font-family-primary;
    }
  }

  .input--invalid.input--dirty {
    input {
      border-color: $color-util-error-1;
      background: $color-util-error-0 !important;
    }
    input:hover,
    input:focus {
      border-color: $color-util-error-1;
    }
    .input__error {
      opacity: 1;
      max-height: 50px;
    }
  }

  .input__error *,
  .input__info * {
    font-size: rem(10);
  }

  .input__error {
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.15s ease, opacity 0.15s 0.15s ease;
    padding-top: 4px;
    max-height: 0;
    line-height: 14px;

    * {
      color: $color-util-error-1;
      vertical-align: middle;
    }

    .icon {
      display: inline-block;
      fill: $form-error-icon-fill !important;
      margin-right: 4px;
      vertical-align: middle;
    }
  }
}

@mixin input--text {
  .input--text {
    /* Remove First */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    position: relative;

    &::-ms-clear {
      display: none;
      height: 0;
      width: 0;
    }

    p {
      margin: 0;
    }

    label {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 5px;
      font-size: rem(14);
      font-weight: $form-text-input-label-inactive-weight;
      line-height: normal;
      padding: 5px;
      transition: all 0.1s ease;
      cursor: text;
      pointer-events: none;
    }

    input,
    textarea {
      transition: all 0.15s ease;
    }

    input:focus + label,
    textarea:focus + label,
    &.input--dirty label {
      top: 0;
      background-color: $color-white;
    }
  }

  .input--text.input--disabled {
    color: $form-color-grey;
    border: 1px solid $form-color-grey;

    &:hover {
      border: 1px solid $form-color-grey;
    }

    input,
    label,
    textarea {
      padding: 12px;
      color: $form-color-grey;
      cursor: not-allowed;
      border: none;
    }
  }
}

@mixin input--select {
  .input--select {
    position: relative;

    > select {
      // Resetting default styles across browsers...
      display: inline-block;
      background-color: transparent;
      -webkit-appearance: none;
      -moz-appearance: none;
      &::-ms-expand {
        display: none;
      }

      // Custom styling
      border: 1px solid $form-color-grey;
      border-radius: 0;
      color: $color-black;
      cursor: pointer;
      font-family: $font-family-secondary;
      padding-right: 40px;
      padding-top: 12px;
      padding-bottom: 12px;
      padding-left: 18px;
      width: 100%;
      line-height: 20px;
      transition: border-color 0.5s ease;

      &:hover,
      &:active {
        border-color: $color-black;
      }
    }

    > .icon {
      position: absolute;
      pointer-events: none;
      top: 50%;
      transform: translateY(-50%);
      right: 12px;
      fill: #909090;
      transition: opacity 0.15s ease;
    }

    .vs--open + .icon {
      transform: translateY(-50%) rotate(180deg);
    }

    .vs__actions {
      display: none;
    }
  }

  .v-select:not(.vs--open) .vs__dropdown-toggle:hover,
  .v-select:not(.vs--open) .vs__dropdown-toggle:active {
    border-color: $color-black;
  }

  .input .v-select {
    .vs__search {
      border: none;
      margin: 0;
      padding: 12px 12px 12px 17px;
      // IE border fix
      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        top: -1px;
        border: 1px solid;
      }
    }

    .vs__selected-options {
      padding: 0;
    }

    .vs__selected {
      position: absolute;
      border: none;
      padding: 12px 12px 12px 17px;
    }

    .vs__dropdown-toggle {
      // padding: 0;
      border: 1px solid $form-color-grey;
      border-radius: 0;
    }

    .vs__dropdown-menu {
      border-color: $color-grey;
      border-radius: 0;
      padding: 0;
      border: 1px solid $form-color-grey;
      border-top-width: 0;
    }

    .vs__dropdown-option {
      padding: 10px;
      font-size: rem(14);
      color: $color-black;
    }

    .vs__dropdown-option:hover,
    .vs__dropdown-option.vs__dropdown-option--selected,
    .vs__dropdown-option.vs__dropdown-option--highlight {
      background: $form-select-background-hover;
      color: $color-white;
    }
  }
}

@mixin input--select--secondary {
  .input--select--secondary {
    // IE
    width: 100%;
    height: 45px;

    .vs__selected {
      padding: 12px 12px 12px calc(50% - 14px);
    }

    .v-select {
      border: 1px solid $color-light-grey !important;
      border-radius: 2px;
      // height: 100%;
      input {
        padding: 12px 12px 12px calc(50% - 14px);
      }
    }

    .v-select.vs--open {
      border-color: $color-brand-primary;
    }

    .vs__dropdown-toggle {
      border: none !important;
      height: 100%;
    }

    .vs__dropdown-toggle::before {
      content: none !important;
    }

    .vs__dropdown-menu {
      min-width: initial;
    }

    .vs__selected {
      font-weight: 500;
      font-size: rem(16);
    }
  }
}

@mixin input--radio {
  .input--radio,
  input[type='radio'] {
    appearance: none;
    width: 16px;
    height: 16px;
    border: 1px solid $color-light-grey;
    border-radius: 100%;
    position: relative;
    margin-right: 8px;
    cursor: pointer;

    &:checked {
      border-color: $color-primary-red;
      background-color: $color-primary-red;
    }

    &:checked::after {
      position: absolute;
      content: '';
      top: 3px;
      left: 3px;
      border-radius: 100%;
      height: 8px;
      width: 8px;
      background-color: $color-white;
      z-index: 1;
    }

    + label {
      font-size: rem(14);
      vertical-align: top;
      display: inline-block;
      line-height: 20px;
      font-weight: $form-text-input-label-inactive-weight;
      font-family: $font-family-primary;
    }

    &:disabled {
      border-color: $color-light-grey;
      background-color: $color-light-grey;
    }

    &:disabled::after {
      border-color: $color-light-grey;
    }

    &:checked:disabled::after {
      box-shadow: 1px 1px 2px -1px rgba($color-black, 0.5);
    }

    &:disabled + label {
      color: $color-off-black;
    }
  }
}

@mixin input--checkbox {
  .input--checkbox,
  input[type='checkbox'] {
    appearance: none;
    width: 16px;
    height: 16px;
    border: 1px solid $color-light-grey;
    border-radius: 2px;
    box-shadow: 0 1px 1px 0 rgba($color-black, 0.15);
    position: relative;
    margin-right: 8px;
    cursor: pointer;
    background: $form-checkbox-background;
    transition: box-shadow 300ms ease;

    &:checked {
      border-color: darken($color-primary-red, 10%);
      background: darken($color-primary-red, 10%);
    }

    &:disabled {
      border-color: $color-off-white;
      background-color: $color-off-white;

      svg {
        fill: $color-semi-grey;
      }
    }

    &:checked::after {
      content: '';
      background-size: contain;
      position: absolute;
      top: 0;
      left: 0;
      background-position: center;
      z-index: 1;
      width: 100%;
      height: 100%;
      background-image: $form-checkbox-check;
    }

    &:disabled:checked::after {
      background-image: $form-checkbox-check-disabled;
    }

    + label {
      font-size: rem(14);
      line-height: 20px;
      display: inline-block;
      vertical-align: top;
      font-weight: $form-text-input-label-inactive-weight;
      font-family: $font-family-primary;
    }

    &:disabled + label {
      color: $color-off-black;
    }

    &:not(:disabled):hover {
      box-shadow: 0 1px 1px 0 rgba($color-black, 0);
    }

    &:focus {
      border: 2px solid $color-brand-secondary;
    }
  }
}

@mixin input--toggle {
  input[type='checkbox'].input--toggle {
    height: 20px;
    width: 50px;
    appearance: none;
    margin: 0;
    position: relative;
    margin-right: 8px;
    border: 1px solid $color-light-grey;
    border-radius: 2px;
    background-color: $color-white;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.15);

    &::before,
    &::after {
      background-image: none;
    }

    &::before {
      // toggle body
      content: '';
      cursor: pointer;
      width: 48px;
      height: 18px;
      background: transparent;
      display: block;
      position: relative;
      visibility: visible;
    }

    &::after {
      // toggle dot
      content: '';
      position: absolute;
      top: 1px !important;
      left: 2px;
      width: 20px;
      height: 16px;
      background: $color-light-grey;
      border-radius: 2px;
      transition: 0.3s;
      visibility: visible;
    }

    &:checked {
      border-color: $color-primary-red;
    }

    &:checked:before {
      // toggle body
      background-color: $color-primary-red;
    }

    &:checked:after {
      // toggle dot
      left: calc(100% - 2px);
      background-color: $form-toggle-dot-background-checked;
      transform: translateX(-100%);
    }

    &:disabled,
    &:disabled:before {
      border-color: $color-off-white;
      background-color: $color-off-white;
    }

    &:disabled:checked,
    &:disabled:checked:before {
      // toggle body
      border-color: $form-color-grey;
    }

    &:disabled:after {
      // toggle dot
      background: $color-semi-grey;
    }

    &:disabled:checked:before {
      // toggle body
      background: $form-color-grey;
    }

    &:disabled:checked:after {
      // toggle dot
      background: $color-white;
    }

    &:active {
      outline: none;
    }

    + label {
      font-family: $font-family-secondary;
    }
  }
}

@mixin tooltip {
  .tooltip {
    display: block !important;
    z-index: 10000;
    box-shadow: 1px 2px 0 rgba(42, 52, 52, 0.15);

    .tooltip-inner {
      background: $color-white;
      color: $color-black;
      border-radius: 2px;
      padding: 28px 40px;
      border: 1px solid #c2c3c3;
      text-align: center;
      max-width: 300px;
    }

    .tooltip-arrow {
      width: 0;
      height: 0;
      border-style: solid;
      position: absolute;
      margin: 3px;
      border-color: #c2c3c3;
    }

    &[x-placement^='top'] {
      margin-bottom: 8px;

      .tooltip-arrow {
        border-width: 8px 8px 0 8px;
        border-left-color: transparent !important;
        border-right-color: transparent !important;
        border-bottom-color: transparent !important;
        bottom: -8px;
        left: calc(50% - 11px);
        margin-top: 0;
        margin-bottom: 0;

        &::after {
          content: '';
          position: absolute;
          display: block;
          border: 7px solid $color-white;
          border-width: 7px 7px 0 7px;
          border-left-color: transparent !important;
          border-right-color: transparent !important;
          border-bottom-color: transparent !important;
          bottom: 2px;
          left: -7px;
        }
      }
    }

    &[x-placement^='bottom'] {
      margin-top: 8px;

      .tooltip-arrow {
        border-width: 0 8px 8px 8px;
        border-left-color: transparent !important;
        border-right-color: transparent !important;
        border-top-color: transparent !important;
        top: -8px;
        left: calc(50% - 11px);
        margin-top: 0;
        margin-bottom: 0;

        &::after {
          content: '';
          position: absolute;
          display: block;
          border: 7px solid $color-white;
          border-width: 0 7px 7px 7px;
          border-left-color: transparent !important;
          border-right-color: transparent !important;
          border-top-color: transparent !important;
          top: 2px;
          left: -7px;
        }
      }
    }

    &[x-placement^='right'] {
      margin-left: 3px;

      .tooltip-arrow {
        border-width: 3px 3px 3px 0;
        border-left-color: transparent !important;
        border-top-color: transparent !important;
        border-bottom-color: transparent !important;
        left: -3px;
        top: calc(50% - 3px);
        margin-left: 0;
        margin-right: 0;
      }
    }

    &[x-placement^='left'] {
      margin-right: 3px;

      .tooltip-arrow {
        border-width: 3px 0 3px 3px;
        border-top-color: transparent !important;
        border-right-color: transparent !important;
        border-bottom-color: transparent !important;
        right: -3px;
        top: calc(50% - 3px);
        margin-left: 0;
        margin-right: 0;
      }
    }

    &[aria-hidden='true'] {
      visibility: hidden;
      opacity: 0;
      transition: opacity 0.15s, visibility 0.15s;
    }

    &[aria-hidden='false'] {
      visibility: visible;
      opacity: 1;
      transition: opacity 0.15s;
    }
  }
}

// ---------------------------------
//   Exports
// ---------------------------------

:export {
  breakTablet: $breakpoint-tablet;
  breakDesktop: $breakpoint-desktop;
  breakHd: $breakpoint-hd;
}
