
<template lang="pug">
  .search-pagination-controls.body-md
    .search-pagination-controls__buttons
      a.button.button--primary(
        aria-controls="SearchResults"
        :href="previousLink"
        :disabled="currentPage === 1"
      ) Previous
      a.button.button--secondary(
        aria-controls="SearchResults"
        :href="nextLink"
        :disabled="!nextLink || atFinalPage"
      ) Next
    .search-pagination-controls__pages Showing page {{ currentPage }} of {{ totalPages }}

</template>

<script>
  import {FadeTransition} from 'vue2-transitions'

  import Icon from 'scripts/components/basic/Icon.vue'

  export default {
    name: 'SearchResultsPaginationControls',
    components: { Icon, FadeTransition },
    props: {
      currentResults: {
        type: Array,
        default: () => [],
      },
      nextLink: String,
      previousLink: String,
      totalPages: Number,
      currentPage: Number,
    },
    computed: {
      numberPages () {
        return Math.ceil(this.currentResults.length * 1.0 / this.perPage);
      },
      productsShowing () {
        const onPage = this.currentPage * this.perPage;
        return Math.min(onPage, this.currentResults.length);
      },
      atFinalPage () {
        return this.currentPage === this.totalPages;
      }
    },
  }
</script>

<style scoped lang="scss">
  .search-pagination-controls {
    display: flex;
    padding: 16px 0 80px 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
  }

  .search-pagination-controls__pages {
    position: relative;
    text-decoration: underline;
  }

  .search-pagination-controls__page-nav-caret {
    margin-left: 4px;
    transition: transform 200ms ease;

    &.flipped {
      transform: rotate(180deg);
    }
  }

  .search-pagination-controls__buttons {
    .button {
      margin: 0 12px 24px;
    }
  }

  .search-pagination-controls__page-nav {
    display: flex;
    position: absolute;
    top: 40px;
    left: 50%;
    padding: 0 8px;
    width: 200px;
    max-height: 300px;
    flex-direction: column;
    background-color: $color-off-white;
    border: 1px solid $color-off-black;
    border-radius: 4px;
    box-shadow: 1px 2px 4px -1px rgba(0,0,0,0.2);
    transform: translateX(-50%);
  }

  .search-pagination-controls__page-nav::before {
    display: block;
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    content: ' ';
    width: 25px;
    height: 25px;
    clip-path: polygon(50% 32%, 0% 100%, 100% 100%);
    background-color: $color-off-black;
  }

  .search-pagination-controls__page-nav::after {
    display: block;
    position: absolute;
    top: -23px;
    left: 50%;
    transform: translateX(-50%);
    content: ' ';
    width: 24px;
    height: 24px;
    clip-path: polygon(50% 32%, 0% 100%, 100% 100%);
    background-color: $color-off-white;
  }

  .search-pagination-controls__page-nav-inner {
    overflow-y: auto;
  }

  .search-pagination-controls__page-nav-button {
    padding: 8px 0;
    width: 100%;
    text-align: left;
    border-bottom: 1px solid $color-off-black;

    &:hover {
      text-decoration: underline;
    }

    &:last-of-type {
      border-bottom: 0;
    }

    span {
      display: flex;
      justify-content: space-between;
      align-items: center;

      /deep/ .icon {
        fill: $color-off-black;
      }
    }
  }

  .search-pagination-controls__arrow-prev,
  .search-pagination-controls__arrow-next {
    cursor: pointer;
  }

  .search-pagination-controls__arrow-prev,
  .search-pagination-controls__disabled-prev {
    margin-right: 20px;
    transform: rotate(180deg);
  }

  .search-pagination-controls__arrow-next,
  .search-pagination-controls__disabled-next {
    margin-left: 20px;
  }

  .search-pagination-controls__disabled-prev,
  .search-pagination-controls__disabled-next {
    fill: $color-grey;
  }

  .search-pagination-controls__arrow-prev,
  .search-pagination-controls__arrow-next,
  .search-pagination-controls__disabled-prev,
  .search-pagination-controls__disabled-next {
    padding: 4px;
    width: 30px;
    height: 30px;
    background-color: $color-white;
    border-radius: 100%;
  }
</style>
