<template lang="pug">
  .search-results
    h1.h3.search-results__title Your Search Results
    search-results-tabs(v-on:change-tab="changeTab")
    search-results-grid(
      :search-results="searchResults"
      :current-tab="currentTab"
      :search-term="term"
      :search-cta-settings="searchCtaSettings"
      :next-link="nextLink"
      :previous-link="previousLink"
      :current-page="currentPage"
      :total-pages="totalPages"
    )
</template>

<script>
  import { mapState } from 'vuex'
  import SearchResultsTabs from './SearchResultsTabs.vue'
  import SearchResultsGrid from './SearchResultsGrid.vue'

  export default {
    name: 'SearchResults',
    components: { SearchResultsTabs, SearchResultsGrid },
    props: {
      searchResults: {
        type: Object,
        default: () => ({
          products: Array,
          articles: Array,
          pages: Array
        })
      },
      term: String,
      searchPerformed: Boolean,
      searchCtaSettings: Object,
      nextLink: String,
      previousLink: String,
      totalPages: Number,
      currentPage: Number,
    },
    data() {
      return {
        currentTab: 'products'
      }
    },
    methods: {
      changeTab(tab) {
        this.currentTab = tab
      }
    }
  }
</script>

<style lang="scss" scoped>
  .search-results {

  }

  .search-results__title {
    margin-top: 40px;
    text-align: center;
  }
</style>
