<template lang="pug">
  .product-custom-lettering
    product-custom-yes-no-toggle.product-custom-lettering__toggle(v-model="active")
    .product-custom-content(v-if="active === 'true'")
      .product-custom-lettering__text
        input.product-custom-lettering__input(type="text" v-model="lettering" placeholder="Please provide us the text here…")
        button.product-custom-lettering__button(
          :disabled="lettering.length > 25"
          @click="setConfirmedLettering"
        )
          span(v-if="confirmedLettering.length > 0") Edit
          span(v-else) Add
      .product-custom-lettering__error(v-if="lettering.length > 25") *Max character limit is 25
      .product-custom-lettering__title Select Text Color
      .product-custom-lettering__colors
        button.color-item(v-for="color in colors" @click="() => setColor(color)" :class="[confirmedColor === color && 'color-item--selected']")
          .color-item__swatch 
            img(:src="fileUrl(`swatch_${color}.png`)")
          .color-item__title {{color}}

</template>

<script>
  import {fileUrl} from 'scripts/helpers/util.js';
  import ProductCustomYesNoToggle from 'scripts/components/product/custom/ProductCustomYesNoToggle.vue';

  export default {
    name: 'ProductCustomLettering',
    components: {
      ProductCustomYesNoToggle,
    },
    props: {
      option: {
        type: Object,
      },
      onSelect: {
        type: Function
      },
      label: {
        type: String,
      },
    },
    data () {
      return {
        active: null,
        selection: null,
        lettering: '',
        confirmedLettering: '',
        confirmedColor: null,
      }
    },
    computed: {
      colors () {
        return this.option.available_text_colors.split(', ').map(color => color.toLowerCase().trim());
      },
    },
    methods: {
      fileUrl,
      setConfirmedLettering () {
        this.confirmedLettering = this.lettering.trim();
        this.select()
      },
      setColor(color) {
        this.confirmedColor = color;
        this.select();
      },
      select () {
        let isCustom = this.active === 'true';
        let formComplete = this.confirmedLettering && this.confirmedColor;

        if (formComplete || !isCustom) {
          this.onSelect({
            type: 'CustomLettering',
            label: this.label,
            lettering: isCustom ? this.confirmedLettering : false,
            color: isCustom ? this.confirmedColor : null,
            displayText: isCustom ? `Yes; Custom Text - ${this.confirmedColor}` : 'No',
            price: 0,
          });
        }
      }
    },
    watch: {
      active (newValue) {
        if (newValue === 'false') this.select();
      }
    }
  }
</script>

<style lang="scss" scoped>
  .product-custom-lettering__text {
    display: flex;
    margin-top: 20px;
    border: 1px solid $color-light-grey;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.15);
    overflow: hidden;
  }

  .product-custom-lettering__input {
    padding: 0 12px;
    height: 42px;
    color: $color-off-black;
    font-size: rem(12);
    line-height: rem(12);
    border: 0;
    flex: 1;
  }

  .product-custom-lettering__button {
    width: 84px;
    height: 42px;
    min-width: 0;
    color: $color-white;
    text-transform: none;
    background-color: $color-grey;
    border-color: $color-off-black;
    border-radius: 4px;

    span {
      font-size: rem(12);
      font-weight: 500;
      line-height: rem(16);
    }
  }

  .product-custom-lettering__error {
    margin-top: 12px;
    color: #B51C1C;
    font-size: rem(10);
    line-height: rem(12);
  }

  .product-custom-lettering__title {
    margin-top: 20px;
    margin-bottom: 16px;
    font-size: rem(12);
    font-weight: 500;
    line-height: rem(16);
  }

  .product-custom-lettering__toggle {
    margin-top: 10px;
  }

  .product-custom-lettering__colors {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-row-gap: 16px;
  }

  .color-item {
    display: flex;
    padding: 0;
    height: auto;
    min-width: 0;
    text-align: center;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .color-item__swatch {
    position: relative;
    width: 30px;
    height: 30px;
    border: 1px solid $color-light-grey;
    border-radius: 16px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.15);
    overflow: hidden;

    .color-item--selected & {
      border-color: $color-off-black;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border: 1px solid $color-white;
      border-radius: 16px;
    }
  }

  .color-item__title {
    font-size: rem(11);
    font-weight: 500;
    line-height: rem(13);
    text-transform: none;
  }
</style>