<template lang="pug">
  div.product-custom-product-item--loading(v-if="product === null") loading...
  button.product-custom-product-item(v-else @click="() => onSelect(product)")
    img.product-custom-product-item__img(:src="product.images[0].src" :alt="product.images[0].alt")
</template>

<script>
import axios from 'axios';
import { parseDataForEditor } from 'scripts/helpers/util.js';

export default {
  name: 'ProductCustomProductItem',
  props: {
    handle: '',
    onSelect: {
      type: Function,
      default: () => {}
    }
  },
  data () {
    return {
      product: null,
    }
  },
  mounted () {
    axios.get(`/products/${this.handle}?view=json`)
      .then(response => {
        let productData = parseDataForEditor(response.data)

        if (productData) this.product = productData;
      });
  }
}
</script>

<style lang="scss" scoped>
.product-custom-product-item {
  position: relative;
  padding-top: 100%;
  border: 1px solid $color-light-grey;
  border-radius: 1px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.08);
  min-width: 0;
  text-transform: none;

  &--loading {
    background-color: $color-light-grey;
    font-size: rem(9);
    align-items: center;
    justify-content: center;
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: fill;
    object-position: center;
  }
}
</style>

