<template lang="pug">
  .product-custom-yes-no-toggle
    input.product-custom-yes-no-toggle__input(type="radio" :name="`active-${_uid}`" :id="`inactive-${_uid}`" v-model="active" value="false")
    label.product-custom-yes-no-toggle__label(:for="`inactive-${_uid}`") No
    input.product-custom-yes-no-toggle__input(type="radio" :name="`active-${_uid}`" :id="`active-${_uid}`" v-model="active" value="true")
    label.product-custom-yes-no-toggle__label(:for="`active-${_uid}`") Yes
</template>

<script>
  export default {
    data() {
      return {
        active: null,
      };
    },
    watch: {
      active() {
        this.$emit('input', this.active);
      }
    }
  };
</script>

<style lang="scss" scoped>
  .product-custom-yes-no-toggle__input {
    margin: 0;
    width: 0;
    height: 0;
    border: 0;

    &:before,
    &:after {
      display: none;
    }

    &:checked + label {
      color: $color-white;
      background-color: $color-grey;
    }
  }

  .product-custom-yes-no-toggle__label {
    display: inline-flex;
    margin-right: 10px;
    padding: 0 16px;
    height: 41px;
    align-items: center;
    font-size: rem(12);
    font-weight: 500;
    line-height: rem(16);
    border: 1px solid $color-light-grey;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12);
  }
</style>