.c__filters-button {
  background: $color-v-light-grey;
  width: 100%;
  color: $color-off-black;
  font-family: $font-family-primary;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
  text-align: center;

  svg {
    display: none;
  }
}

.c__filter-pill {
  height: 38px;
  border-radius: 38px;
  padding: 8px 16px;
  border: 1px solid $color-grey;
  background-color: $color-off-white;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.15);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: $color-off-black;
  font-family: $font-family-primary;
  font-size: 12px;
  letter-spacing: 0;
  font-weight: 400;
  min-width: initial;
  margin: 4px;
  text-transform: initial;

  svg {
    margin-left: 4px;
  }
}

.c__product-count {
  color: $color-grayish-gray;
  font-family: $font-family-primary;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 22px;
}

.c__sort.input--select {
  margin: 0;
  border: none;

  .vs__dropdown-toggle,
  .vs__dropdown-menu,
  .vs__search,
  .vs__selected {
    border: none;
    box-shadow: none !important;
  }

  select {
    border: none;
  }
}

.c__supercollection-link {
  color: $color-off-black;
  font-family: $font-family-primary;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0;
  padding-left: 8px;
}

.c__vertically-centered {
  display: inline-flex;
  align-items: center;
}