.template-password {
  .password-container {
    display: flex;
    width: 100%;
    max-width: 600px;
    min-height: 100vh;
    margin: 0 auto;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .password-header {
    margin-bottom: 24px;

    &__title {
      font-family: $font-family-primary;
    }
  }

  .password-page-content {
    margin-bottom: 16px;
  }

  form {
    width: 100%;
    max-width: 360px;
    margin: 0 auto 32px;
  }

  .form-success {
    color: $color-white;
  }

  .errors {
    color: $color-white;
  }

  .subheader {
    margin-bottom: 8px;
  }

  .button {
    margin-top: 12px;
  }

  .social-sharing {
    display: flex;
    margin: 0 -4px 8px;
    align-items: center;

    a {
      margin: 0 4px;
    }
  }

  .modal__content {
    top: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
  }

  .input-error-message {
    display: inline-block;
    margin-top: 8px;
    color: $color-util-error-1;
  }

  .password__form-heading {
    margin-bottom: 16px;
  }
}