.template-product #MainContent {
  background-color: $color-v-light-grey;
}

.product-placeholder {
  min-height: calc(100vh - 117px);
  display: grid;
  grid-template-rows: 60% 40%;

  @include desktop-up {
    grid-template-rows: 1fr;
    grid-template-columns: minmax(300px, 1fr) 390px;
    align-items: center;
    grid-column-gap: 50px;
  }
}

.product-placeholder__block-two {
  @include desktop-up {
    height: 60%;
  }
}

.product-placeholder__block-one {
  @include desktop-up {
    height: 400px;
    order: 0;
  }
}

.product-placeholder__block-one,
.product-placeholder__block-two {
  background-color: $color-off-white;
}

.reviews {
  margin-top: 65px;
  padding-top: 65px;
  background-color: $color-white;
}

.customer-images--pdp {
  display: flex;
  flex-direction: column-reverse;

  .customer-images__heading {
    color: $color-off-black;
    font-family: $font-family-primary;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 28px;
    margin-bottom: 14px;
    border-top: 1px solid $color-light-grey;
    padding-top: 16px;

    @include desktop-up {
      padding-top: 18px;
    }
  }

  // when there are no photos to show, hide the heading
  #stamped-reviews-widget[style*="display: none"] + .customer-images__heading {
    display: none;
  }

  #stamped-reviews-widget.carousel {
    float: none;
    padding-bottom: 16px;

    @include desktop-up {
      padding-bottom: initial;
    }
  }

  

  #stamped-reviews-widget.carousel .stamped-visual-gallery-media-block-template {
    text-align: left;
  }

  [data-source="review"] + [data-source="review"] {
    margin-left: 3px;

    @include tablet-up {
      margin-left: 16px;
    }
  }
  
  #stamped-reviews-widget.carousel .stamped-visual-gallery-feed {
    height: 50px !important;
  
    @include tablet-up {
      height: 122px !important;
    }
  }

  #stamped-reviews-widget.carousel .stamped-visual-gallery-media-block {
    width: 50px !important;
    height: 50px !important;

    @include tablet-up {
      width: 122px !important;
      height: 122px !important;
    }
  }
}
