@keyframes swap-up {
  0% {
    transform: translateY(0);
  }

  5% {
    transform: translateY(-100%); // check up
  }

  95% {
    transform: translateY(-100%); // check up
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes swap-right {
  0% {
    transform: translateX(0);
  }

  5% {
    transform: translateX(100%); // check up
  }

  95% {
    transform: translateX(100%); // check up
  }

  100% {
    transform: translateX(0);
  }
}