{%- comment -%}
  Required:

    _excerpt: the excerpt to display

  Optional:
    _strip: whether to strip HTML, defaults to true
    _truncate: whether to truncate the excerpt, defaults to true
    _truncate_length: length to cut the excerpt to (only used if _truncate is true), defaults to 100
{%- endcomment -%}

{%- assign _should_strip = _strip_html | default: true -%}
{%- assign _should_truncate = _truncate | default: true -%}
{%- assign _truncate_to = _truncate_length | default: 250 -%}

{%- if _should_strip == true -%}
  {%- assign _content_to_display = _excerpt | strip_html -%}
{%- else -%}
  {%- assign _content_to_display = _excerpt -%}
{%- endif -%}

{%- assign _content_to_display = _content_to_display | replace: "“", '"' | replace: "”", '"' | replace: "‘", "'" | replace: "’", "'" | replace: '™', '&trade;' -%}

{%- if _should_truncate == true -%}
  {{ _content_to_display | truncate: _truncate_to }}
{%- else -%}
  {{- _content_to_display -}}
{%- endif -%}
