{% comment %} 
  if available, add the values in line_item.properties._custom to each line item
{% endcomment %}

<script>
  function renderLineItems(cartData) {
    var elements = document.querySelectorAll('[data-product-id][data-variant-id] .product__description__variant');
    for(var i = 0; i < elements.length; i += 1) {
      var element = elements[i];
      var lineItem = cartData.items[i];

      if(!lineItem.properties || !lineItem.properties._custom) 
        continue;

      /* join custom props as format "[label]: [value] / ..."*/
      var joinedPropertiesText = lineItem.properties._custom.map(function (cp) { 
          return cp.label + ': ' + cp.displayText; 
        })
        .join(' / ');

      /* if there are already variants listed, add a leading slash for continuity */
      if(element.innerHTML)
        joinedPropertiesText = ' / ' + joinedPropertiesText;

      element.innerHTML +=  joinedPropertiesText;
    }
  }

  fetch('/cart.json')
    .then(function (res) {
      return res.json();
    })
    .then(function (json) {
      renderLineItems(json);
    });
</script>