{% capture content_settings %}
  {
    "title": {{ mod_settings.title | json }},
    "titleColor": {{ mod_settings.text_color | json }},
    "backgroundColor": {{ mod_settings.background_color | json }},
    "cards": [
      {%- for block in mod_blocks -%}
        {
          "title": {{ block.settings.title | json }},
          "content": {{ block.settings.content | json }},
          "textColor": {{ block.settings.text_color | json }},
          "image": {{ block.settings.image | img_url: 'master' | json }},
          "mobile_image": {{ block.settings.mobile_image | img_url: 'master' | json }},
          "cta": {{ block.settings.cta | json }},
          "url": {{ block.settings.url | json }},
          "showOverlay": {{ block.settings.show_overlay | json }},
          "overlayColor": {{ block.settings.overlay_color | json }},
          "buttonType": {{ block.settings.button_type | json }}
        }
        {%- unless forloop.last -%},{%- endunless -%}
      {%- endfor -%}
    ]
  }
{% endcapture %}

<editorial-grid
  :settings="{{ content_settings | escape | strip }}"
/>