{% include 'hero-image-urls' with {
  should_manually_build_urls: should_manually_build_urls,
  desktop_image: desktop_image,
  mobile_image: mobile_image
} %}

{% assign heroMobileClass = "" %}
{% if mobile_layout != "Overlaid" %}
  {% assign heroMobileClass = "hero--mobile-below" %}
{% endif %}

<div class="hero {{ heroMobileClass }}">
  <picture class="hero__picture">
    <source
      srcset="{{ desktop_image_url_a_1x }} 1x,
              {{ desktop_image_url_a_2x }} 2x"
      media="(min-width: 2304px)"
    >
    <source
      srcset="{{ desktop_image_url_b_1x }} 1x,
              {{ desktop_image_url_b_2x }} 2x"
      media="(min-width: 2160px)"
    >
    <source
      srcset="{{ desktop_image_url_c_1x }} 1x,
              {{ desktop_image_url_c_2x }} 2x"
      media="(min-width: 1920px)"
    >
    <source
      srcset="{{ desktop_image_url_d_1x }} 1x,
              {{ desktop_image_url_d_2x }} 2x"
      media="(min-width: 1440px)"
    >
    <source
      srcset="{{ desktop_image_url_e_1x }} 1x,
              {{ desktop_image_url_e_2x }} 2x"
      media="(min-width: 1200px)"
    >
    <source
      srcset="{{ desktop_image_url_f_1x }} 1x,
              {{ desktop_image_url_f_2x }} 2x"
      media="(min-width: 1024px)"
    >
    <source
      srcset="{{ desktop_image_url_g_1x }} 1x,
              {{ desktop_image_url_g_2x }} 2x"
      media="(min-width: 768px)"
    >
    <source
      srcset="{{ desktop_image_url_h_1x }} 1x,
              {{ desktop_image_url_h_2x }} 2x"
      media="(min-width: 480px)"
    >
    {% if mobile_image == blank %}
      <source
        srcset="{{ desktop_image_url_h_1x }} 1x,
                {{ desktop_image_url_h_2x }} 2x"
      >
    {% else %}
      <source
        srcset="{{ mobile_image_url_1x }} 1x,
                {{ mobile_image_url_2x }} 2x"
      >
    {% endif %}
    <img
      srcset="{{ desktop_image_url_a_1x }} 1x,
              {{ desktop_image_url_a_2x }} 2x"
      src="{{ desktop_image_url_a_1x }}"
      class="hero__image"
    />
  </picture>
  {%- liquid
    if overlay_opacity != blank
      assign overlay_size = overlay_opacity | strip | size
      if overlay_size == 3
        assign opacity = '1'
      elsif overlay_size < 2
        assign opacity = '0.0' | append: overlay_opacity
      else
        assign opacity = '0.' | append: overlay_opacity
      endif
    endif
  -%}
  {% if overlay_opacity != blank %}
    <div class="hero__opacity-overlay hero__opacity-overlay--{{ overlay_color | downcase }}"
    style="opacity: {{ opacity }}"></div>
  {% endif %}
  <div class="hero__copy-content hero__copy-content--{{ text_color | downcase }}-text">
    {% unless header == blank %}
      <h2 class="hero__header h2">{{ header }}</h2>
    {% endunless %}
    {% unless subheader == blank %}
      <h5 class="hero__subheader subheader">{{ subheader }}</h5>
    {% endunless %}
    {% unless copy == blank %}
      <p class="hero__copy body-md">{{ copy }}</p>
    {% endunless %}
  </div>
</div>
