[
  {
    "type": "helper_1",
    "helper_1_title": "{{ settings.first_helper_text }}",
    "helper_1_url": "{{ settings.first_helper_url }}",
    "helper_1_link_list": [
      {%- for link in linklists[settings.first_helper_menu].links -%}
        {%- assign list_handle = link.title | handleize -%}
        {%- assign child_list = linklists[list_handle] -%}
         {
          "title": "{{ link.title }}", "url": "{{ link.url }}", "handle": "{{ list_handle }}"
          {%- if child_list != blank -%}
            ,
            "children": {%- include 'json--linklist', linklist: child_list.links -%}
          {%- endif -%}
        }{%- unless forloop.last -%},{%- endunless -%}
      {%- endfor -%}
    ],
    "desktop_helper_1_icon":"{% if settings.desktop_first_helper_image != blank %}{{ settings.desktop_first_helper_image | img_url: '60x' }}{% else %}{{ settings.desktop_first_helper_svg }}{% endif %}",
    "mobile_helper_1_icon":"{% if settings.mobile_first_helper_image != blank %}{{ settings.mobile_first_helper_image | img_url: '60x' }}{% else %}{{ settings.mobile_first_helper_svg }}{% endif %}"
  },
  {
    "type": "helper_2",
    "helper_2_title": "{{ settings.second_helper_text }}",
    "helper_2_url": "{{ settings.second_helper_url }}",
    "helper_2_link_list": [
      {%- for link in linklists[settings.second_helper_menu].links -%}
        {%- assign list_handle = link.title | handleize -%}
        {%- assign child_list = linklists[list_handle] -%}
         {
          "title": "{{ link.title }}", "url": "{{ link.url }}", "handle": "{{ list_handle }}"
          {%- if child_list != blank -%}
            ,
            "children": {%- include 'json--linklist', linklist: child_list.links -%}
          {%- endif -%}
        }{%- unless forloop.last -%},{%- endunless -%}
      {%- endfor -%}
    ],
    "desktop_helper_2_icon":"{% if settings.desktop_second_helper_image != blank %}{{ settings.desktop_second_helper_image | img_url: '60x' }}{% else %}{{ settings.desktop_second_helper_svg }}{% endif %}",
    "mobile_helper_2_icon":"{% if settings.mobile_second_helper_image != blank %}{{ settings.mobile_second_helper_image | img_url: '60x' }}{% else %}{{ settings.mobile_second_helper_svg }}{% endif %}"
  }
 ]