{% capture content_settings %}
  {
    "introContent": {{ mod_settings.intro_content | json }},
    "textColor": {{ mod_settings.text_color | json }},
    "highlightTextColor": {{ mod_settings.highlight_text_color | json }},
    "backgroundColor": {{ mod_settings.background_color | json }},
    "marginTop": {{ mod_settings.margin_top | json }},
    "marginBottom": {{ mod_settings.margin_bottom | json }},
    "viewMoreCta": {{ mod_settings.view_more_cta | json }},
    "viewMoreLink": {{ mod_settings.view_more_link | json }},
    "items": [
      {%- for block in mod_blocks -%}
        {
          "image": {{ block.settings.image | img_url: 'master' | json }},
          "url": {{ block.settings.url | json }},
          "alt": {{ block.settings.image.alt | escape | json }}
        }
        {%- unless forloop.last -%},{%- endunless -%}
      {%- endfor -%}
    ]
  }
{% endcapture %}

<logos-carousel
  :settings="{{ content_settings | escape | strip }}"
/>