{% comment %}
  placeholder_text: text to use for placeholder; defaults to "Email",
{% endcomment %}

{% unless placeholder_text %}
  {% assign placeholder_text = 'Email' %}
{% endunless %}

<newsletter-signup
  heading-confirm="{{ settings.confirmation_heading }}"
  copy-confirm="{{ settings.confirmation_blurb }}"
  list-id="{{ settings.klavyio_id }}"
  placeholder-text="{{ placeholder_text | escape | strip }}"
/>
