
<script src="//cdn.secomapp.com/storelocator/assets/cdn/js/infobubble.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
<script>
if("undefined"==typeof Handlebars&&"function"==typeof define&&define.amd){var scasl_tempamd=define.amd;define.amd=void 0;var scasl_fileref=document.createElement("script");scasl_fileref.setAttribute("type","text/javascript"),scasl_fileref.setAttribute("src","//cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"),document.getElementsByTagName("head")[0].appendChild(scasl_fileref),setTimeout(function(){define.amd=scasl_tempamd},1e3)}
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-marker-clusterer/1.0.0/markerclusterer.js"></script>

{{- 'sca.storelocator_scripttag.js' | asset_url | script_tag -}}

<link rel="stylesheet" type="text/css" href='{{ "sca.storelocator.css" | asset_url }}' />
<script id="scasl-infowindow-template" type="text">
{%raw%}
{{#location}}
<div id="scasl-window-container" class="scasl-info-window">
  <div class="scasl-info-location" {{#if store_image}} style="width:50%" {{/if}}>
    <div id="scasl-title" class="scasl-field" >{{name}}</div>
        <div id="scasl-description" class="scasl-field"><p>{{{description}}}</p></div>
        <div id="scasl-address" class="scasl-field">{{address}}</div>
        <div id="scasl-address2" class="scasl-field">{{address2}}</div>
        <div>{{#if city}}<span id="scasl-city" class="scasl-field">{{city}}</span> {{/if}}{{#if state}}<span id="scasl-state" class="scasl-field">{{state}}</span> {{/if}}{{#if postal}}<span id="scasl-zipcode" class="scasl-field">{{postal}}</span> {{/if}}{{#if country}} <span id="scasl-country" class="scasl-field">{{country}}</span>{{/if}}</div>
        {{#if phone}}<div id="scasl-phone" class="scasl-field"><span id="scasl-phone-label">Ph:</span> <a href="tel:{{phone}}">{{phone}}</a> </div>{{/if}}
        {{#if fax}}<div id="scasl-fax" class="scasl-field"><span id="scasl-fax-label">Fax:</span> {{fax}} </div>{{/if}}
        {{#if email}}<div id="scasl-email" class="scasl-field"><span id="scasl-email-label">Email:</span> <a href="mailto:{{email}}">{{email}}</a> </div>{{/if}}
        {{#if schedule}}<div id="scasl-schedule" class="scasl-field"><span id="scasl-schedule-label">Schedule:</span> {{{schedule}}} </div>{{/if}}
        {{#each cfields}}
        <div id="scasl-extra">
          <span>{{key}}</span>:<span>{{{value}}}</span>
        </div>
        {{/each}}
        <div id="scasl-tags" class="scasl-field">
          {{#each tags}}
          <span class="scasl-tags">{{tag}}</span>
          {{/each}}
        </div>
        {{#if web}}
        <div id="scasl-web" class="scasl-field"><a href="{{web}}" target="_blank">{{#if webdisplay}}{{webdisplay}}{{else}}{{niceURL web}}{{/if}}</a></div>
        {{/if}}
        {{#if distance}}
        <div id="scasl-distance" class="scasl-field">{{distance}} {{length}}</div>
        <div id="scasl-direction" class="scasl-field"><a href="https://maps.google.com/maps?saddr={{origin}}&amp;daddr={{address}} {{address2}} {{city}}, {{state}} {{postal}}" target="_blank">Directions</a></div>
        {{/if}}
  </div>

  {{#if store_image}}
  <div id="scasl-store_image" class="scasl-info-image scasl-field">
    <img src="{{store_image}}" />
  </div>
  {{/if}}
</div>
{{/location}}
{%endraw%}
</script>

<script id="scasl-list-template" type="text">
{%raw%}
{{#location}}
<li id="scasl-list-container" data-markerid="{{markerid}}">
  <div class="list-details scasl-list-details" {{#if store_image}} style="width:50%" {{/if}}>
    <div class="list-content scasl-list-content">
      <div id="scasl-title" class="scasl-field" >{{name}}</div>
            <div id="scasl-description" class="scasl-field"><p>{{{description}}}</p></div>
            <div id="scasl-address" class="scasl-field">{{address}}</div>
            <div id="scasl-address2" class="scasl-field">{{address2}}</div>
            <div>{{#if city}}<span id="scasl-city" class="scasl-field">{{city}}</span> {{/if}}{{#if state}}<span id="scasl-state" class="scasl-field">{{state}}</span> {{/if}}{{#if postal}}<span id="scasl-zipcode" class="scasl-field">{{postal}}</span> {{/if}}{{#if country}} <span id="scasl-country" class="scasl-field">{{country}}</span>{{/if}}</div>
            {{#if phone}}<div id="scasl-phone" class="scasl-field"><span id="scasl-phone-label">Ph:</span> <a href="tel:{{phone}}">{{phone}}</a> </div>{{/if}}
          {{#if fax}}<div id="scasl-fax" class="scasl-field"><span id="scasl-fax-label">Fax:</span> {{fax}} </div>{{/if}}
          {{#if email}}<div id="scasl-email" class="scasl-field"><span id="scasl-email-label">Email:</span> <a href="mailto:{{email}}">{{email}}</a> </div>{{/if}}
          {{#if schedule}}<div id="scasl-schedule" class="scasl-field"><span id="scasl-schedule-label">Schedule:</span> {{{schedule}}} </div>{{/if}}
            {{#each cfields}}
            <div id="scasl-extra">
            <span>{{key}}</span>:<span>{{{value}}}</span>
            </div>
            {{/each}}
            <div id="scasl-tags" class="scasl-field">
            {{#each tags}}
            <span class="scasl-tags">{{tag}}</span>
            {{/each}}
            </div>
            {{#if web}}
            <div id="scasl-web" class="scasl-field"><a href="{{web}}" target="_blank">{{#if webdisplay}}{{webdisplay}}{{else}}{{niceURL web}}{{/if}}</a></div>
            {{/if}}
            {{#if distance}}
        <div id="scasl-distance" class="scasl-field">{{distance}} {{length}}</div>
            <div id="scasl-direction" class="scasl-field"><a href="https://maps.google.com/maps?saddr={{origin}}&amp;daddr={{address}} {{address2}} {{city}}, {{state}} {{postal}}" target="_blank">Directions</a></div>
      {{/if}}
    </div>
  </div>
  {{#if store_image}}
  <div id="scasl-store_image" class="list-image scasl-list-image scasl-field">
      <img src="{{store_image}}" />
  </div>
    {{/if}}
</li>
{{/location}}
{%endraw%}
</script>

<script id="scasl-viewmap-btn-template" type="text">
{%raw%}
<button class="scasl-view-map-btn">View Map</button>
{%endraw%}
</script>
