
<div class="social-sharing">
  {%- if settings.share_facebook -%}
    <a
      class="social-share__button"
      label="{{ 'general.social.share_on_facebook' | t }}"
      href="//www.facebook.com/sharer.php?u={{ shop.url | append: share_permalink }}"
      target="_blank">
      <icon name="facebook-outline" size="36px"></icon>
    </a>
    {% comment %} <span class="visually-hidden">{{ 'general.social.alt_text.share_on_facebook' | t }}</span> {% endcomment %}
  {%- endif -%}

  {%- if settings.share_twitter -%}
    <a
      class="social-share__button"
      href="//twitter.com/share?text={{ share_title | url_param_escape }}&amp;url={{ shop.url | append: share_permalink }}"
      label="{{ 'general.social.share_on_twitter' | t }}"
      icon="twitter"
      target="_blank">
      <icon name="twitter-outline" size="36px"></icon>
    </a>
    {% comment %} <span class="visually-hidden">{{ 'general.social.alt_text.share_on_twitter' | t }}</span> {% endcomment %}
  {%- endif -%}

  {%- if settings.share_pinterest -%}
    <a
      class="social-share__button"
      href="//pinterest.com/pin/create/button/?url={{ shop.url | append: share_permalink }}&amp;media={{ share_image | img_url: '1024x1024' }}&amp;description={{ share_title | url_param_escape }}"
      label="{{ 'general.social.share_on_pinterest' | t }}"
      target="_blank">
      <icon name="pinterest-outline" size="36px"></icon>
    </a>
  {%- endif -%}
</div>
