<script type="text/javascript" defer src="{{ 'vendors-main.js' | asset_url }}"></script>
<script type="text/javascript" defer src="{{ 'main.js' | asset_url }}"></script>

<script type="text/javascript">(function e(){var e=document.createElement("script");e.type="text/javascript",e.async=true,e.src="//staticw2.yotpo.com/53RZCmgrruP6uD3yeFzf8VrCktgIGEFMPq34qOBI/widget.js";var t=document.getElementsByTagName("script")[0];t.parentNode.insertBefore(e,t)})();</script>

<!-- Stamped - Begin Script-->
<script async type="text/javascript" data-api-key="pubkey-WM3QD2tfC51K80O2sFpy5i740zibmq" id="stamped-script-widget" src="https://cdn-stamped-io.azureedge.net/files/widget.min.js"></script>
<!-- Stamped - End Script --><br>

<!-- Klaviyo -->
{%- include 'scripts--klaviyo' -%}
<!-- End Klaviyo -->

{%- include 'subscription-theme-footer' -%}

{%- include 'bva-datalayer-body' -%}

{% if settings.myregistry_enabled and settings.myregistry_script != blank %}
  {{ settings.myregistry_script }}
{% endif %}

{%- if template.name == 'product' %}
  <script type="application/ld+json">
    {
      "@context" : "https://schema.org",
      "@type" : "Product",
      "@id" : {{ shop.url | append: product.url | json }},
      "url" : {{ shop.url | append: product.url | json }},
      "name" : {{ product.title | json }},
      "image" : {{ product.featured_image | json }},
      "description" : {{ product.description | json }},
      "sku" : {{ product.selected_or_first_available_variant.sku | json }},
      "brand" : {
        "@type": "Brand",
        "name": {{ product.vendor | json }}
      }
    }
  </script>
{%- endif -%}

{%- if settings.enable_cj_cookie -%}
  {{- 'cj-event-storage2.js' | asset_url | script_tag -}}
{%- endif -%}

{%- if template == 'page.sca-storelocator' -%}
  {%- render 'scripts--page-locator' -%}
{%- endif -%}

<!-- Start of lookourway Zendesk Widget script -->
<script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=78ac1ed1-d27f-4911-bbf0-d2f28cf65b05"> </script>
<!-- End of lookourway Zendesk Widget script -->

<!-- Upload Lift Image Upload -->
<script src="https://assets.cloudlift.app/api/assets/upload.js?shop=lookourway.myshopify.com"></script>

{%- include 'scripts--remarketing' -%}
