<div class="account-nav-desktop">
  <div class="account-nav-desktop-header">
    <div>
      <h1 class="h3">Hello, {{ customer.first_name }}</h1>
      <p class="body-md">{{ customer.email }}</p>
    </div>
  </div>
  <nav>
    {%- capture _link_json -%}
      {%- render 'account-nav-link-options' -%}
    {%- endcapture -%}
    <account-nav :links="{{- _link_json | escape -}}"
                 logout-url="{{ routes.account_logout_url }}">
    </account-nav>

    {% if settings.account_ccpa_title != blank %}
      <a class="account-nav-ccpa-link link link--primary" href="{{ settings.account_ccpa_link }}">{{ settings.account_ccpa_title }}</a>
    {% endif %}
  </nav>
  <div class="need-help">
    {% if settings.account_help_title != blank %}
      <p class="account-help-title">{{ settings.account_help_title }}</p>
    {% endif %}
    {% if settings.account_help_email != blank %}
      <a class="account-help-phone-email link link--primary" href="mailto:{{ settings.account_help_email }}">{{ settings.account_help_email }}</a>
    {% endif %}
    {% if  settings.account_help_phone != blank %}
      <a class="account-help-phone-email link link--primary" href="tel:{{ settings.account_help_phone }}">{{ settings.account_help_phone }}</a>
    {% endif %}
  </div>
</div>

<div class="account-nav-mobile">
  <div class="account-nav-mobile-header">
    <div>
      <h1>Hello, {{ customer.first_name }}</h1>
      <p>{{ customer.email }}</p>
    </div>
    <a class="logout-mobile link link--secondary" href="{{ routes.account_logout_url }}">Log Out</a>
  </div>
  <div class="input account-nav-mobile-select">
    {% capture account_nav_links %}
      {% render 'account-nav-link-options' %}
    {% endcapture %}
    <account-select-nav :selected="'/account'" :options="{{ account_nav_links | escape | strip }}" />
  </div>
</div>
