<template lang="pug">
  .brand-logo-bar__wrapper(v-if="logoLinkArr.length > 0 || extraLinkArr.length > 0" :class="{ [settings.ltBorderDividerColor]: true, [settings.ltBackgroundColor]: true }")
    .container.brand-logo-bar
      .brand-logo-bar__logos
        a.brand-logo-bar__logo-link(
          v-for="logoLink in logoLinkArr"
          :href="logoLink.url"
          :class="settings.ltBorderDividerColor"
        )
          img.svg(v-if="logoLink.svgUrl" :src="logoLink.svgUrl")
          img(v-else :src="logoLink.imageUrl")
      .brand-logo-bar__links
        v-link(
          v-for="extraLink in extraLinkArr"
          :key="extraLink.id"
          :tertiary="true"
          :href="extraLink.url"
        ) {{ extraLink.text }}
</template>

<script>
import VLink from 'scripts/components/buttons/VLink.vue';

const LOGOS_LIMIT = 7; // settings support up to 7 logos
const EXTRA_LINKS_LIMIT = 4; // // settings support up to 4 extra links

export default {
  name: 'BrandLogoBar',
  components: { VLink },
  props: {
    settings: Object
  },
  data() {
    return {
      logoLinkArr: Array.from({ length: LOGOS_LIMIT }).reduce(
        (ac, l, idx) =>
          this.settings[`ltLogoLinkUrl${idx + 1}`]
            ? [
                ...ac,
                {
                  id: `lb_${idx}`,
                  url: this.settings[`ltLogoLinkUrl${idx + 1}`],
                  svgUrl: this.settings[`ltLogoSvgUrl${idx + 1}`],
                  imageUrl: this.settings[`ltLogoImage${idx + 1}`]
                }
              ]
            : ac,
        []
      ),
      extraLinkArr: Array.from({ length: EXTRA_LINKS_LIMIT }).reduce(
        (ac, e, idx) =>
          this.settings[`elLinkUrl${idx + 1}`]
            ? [
                ...ac,
                {
                  id: `el_${idx}`,
                  url: this.settings[`elLinkUrl${idx + 1}`],
                  text: this.settings[`elLinkText${idx + 1}`]
                }
              ]
            : ac,
        []
      )
    };
  }
};
</script>

<style lang="scss">
.brand-logo-bar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 0;
  height: 38px;
  &__wrapper {
    display: none;
    border-style: solid;
    border-width: 1px 0;
  }
  &__logos {
    display: flex;
    align-items: center;
  }
  &__logo-link {
    display: block;
    padding: 8px 18px;
    border-width: 0 1px 0 0;
    border-style: solid;
    &:first-of-type {
      border-left-width: 1px;
    }
    &:hover {
      & > img {
        opacity: 0.5;
      }
    }
    & > img {
      display: block;
      height: 22px;
      width: auto;
      transition: 150ms opacity ease-in-out;
    }
  }
  &__links {
    display: flex;
    align-items: center;
    .link {
      padding: 0 12px;
      &:last-of-type {
        padding-right: 0;
      }
    }
  }
  @include desktop-up {
    &__wrapper {
      display: flex;
    }
  }
}
</style>