<template lang="pug">
  //- Main Search/Logo/Links Bar
  .header-2-search-bar(ref="main" :class="[settings.logoBackgroundColor]")
    .header-2-search-bar__wrapper.container

      .header-2-search-bar__logo-container(:class="`logo-${settings.logoAlignment}`")
        a(href="/")
          img.header-2-search-bar__logo-image.header-2-search-bar__logo-image--svg(v-if="settings.logoSvg" :src="settings.logoSvg")
          img.header-2-search-bar__logo-image(v-else :src="settings.logoImage")

      .header-2-search-bar__search.header-2-search-bar__search--desktop(v-if="!isMobileOrTablet" :class="`logo-${settings.logoAlignment}`")
        search-form(:inputPlaceholder="settings.searchFieldText || 'Search'"  searchIconSize="24px" :enablePredictiveSearch="enablePredictiveSearch")

      .header-2-search-bar__links(:class="`logo-${settings.logoAlignment}`")

        .header-2-search-bar__link-container.header-2-search-bar__link-container--nav-link(v-if="!isMobileOrTablet && settings.navLinkURL && settings.navLinkText")
            a.header-2-search-bar__link(:href="settings.navLinkURL")
              img.header-2-search-bar__link-image(:src="settings.navLinkSvg || settings.navLinkImage")
              span.header-2-search-bar__link-text {{ settings.navLinkText }}

        .header-2-search-bar__link-container.header-2-search-bar__link-container--help(v-if="showHelp")
          a.header-2-search-bar__link(v-if="!settings.helpDropdownEnabled" :href="settings.helpDropdownLinkURL")
              img.header-2-search-bar__link-image(:src="helpIcon" v-if="helpIcon")
              span.header-2-search-bar__link-text {{ settings.helpLinkText || 'Help' }}
          v-popover(v-else popoverClass="help-dropdown" offset="10px")
            button.header-2-search-bar__link
              img.header-2-search-bar__link-image(:src="helpIcon" v-if="helpIcon")
              span.header-2-search-bar__link-text {{ settings.helpLinkText || 'Help' }}
            template(slot="popover")
              .help-dropdown__wrapper
                .help-dropdown__left
                  h6.help-dropdown__heading {{ settings.helpDropdownHeading }}
                  .help-dropdown__content
                    .help-dropdown__richtext(v-html="this.settings.helpDropdownContent")
                .help-dropdown__right
                  v-link(v-for="(link, idx) in helpLinks" :key="`${link.url}_${idx}`" :href="link.url" :tertiary="true") {{ link.title }}

        .header-2-search-bar__link-container.header-2-search-bar__link-container--account
          a.header-2-search-bar__link(v-if="isMobileOrTablet" href="/account")
            img.header-2-search-bar__link-image(:src="accountIcon")
          a.header-2-search-bar__link(v-else-if="customerName || !settings.accountDropdownEnabled" href="/account")
            span.header-2-search-bar__link-text {{ customerName ? `Hi, ${customerName}` : (settings.accountLinkText || 'Account') }}
          v-popover(v-else popoverClass="account-dropdown" offset="10px")
            button.header-2-search-bar__link
              span.header-2-search-bar__link-text {{ settings.accountLinkText || 'Account' }}
            template(slot="popover")
              .account-dropdown__wrapper
                .account-dropdown__sign-in
                  h6.account-dropdown__heading {{ 'Login' }}
                  form(method="post" action="/account/login" id="customer_login")
                    input(type="hidden" name="form_type" value="customer_login")
                    input(type="hidden" name="utf8" value="✓")
                    div(class="login-fields")
                      div(class="input--secondary")
                        label(for="CustomerEmail" class="label") {{ 'Email' }}
                        input(
                          type="email" name="customer[email]"
                          id="CustomerEmail"
                          placeholder="Email"
                          spellcheck="false"
                          autocomplete="off"
                          autocapitalize="off"
                          autofocus)
                      div(class="input--secondary")
                        label(for="CustomerPassword" class="label") {{ 'Password' }}
                        input(
                          type="password" name="customer[password]"
                          id="CustomerPassword"
                          placeholder="Password"
                          spellcheck="false"
                          autocomplete="off"
                          autocapitalize="off"
                          autofocus)
                      v-link(tag='button' type="submit" :primary="true") {{ 'Login' }}
                .account-dropdown__content
                  h6.account-dropdown__heading {{ settings.accountDropdownHeading }}
                  .account-dropdown__richtext.client-generated(v-html="this.settings.accountDropdownContent")
                  v-link(href="/account/register" :primary="true") {{ 'Sign Up' }}

        cart-modal
          .header-2-search-bar__link-container.header-2-search-bar__link-container--cart
            a.header-2-search-bar__link(href="#" @click="onCartClick")
              .header-2-search-bar__cart-image-container
                img.header-2-search-bar__link-image(:src="cartIcon")
                span.cart-bubble-quantity.navbar__cart__quantity(v-if="numCartItems > 0")
                  span.cart-bubble-count.navbar__cart__count(:class="[cartBubbleColors.bubbleText, {'cart-bubble-count--small': numCartItems >= 100}]") {{ numCartItems < 100 ? numCartItems : '99+' }}
              span.header-2-search-bar__link-text(v-if="!isMobileOrTablet && settings.showCartText") Cart
        .header-2-search-bar__link-container.header-2-search-bar__link-container--hamburger(v-if="isMobileOrTablet")
          .hamburger(:class="mobileMenuOpen && 'active'")
            button.hamburger-box(type="button" @click="onHamburgerOpenClick")
              .hamburger-inner
            button.hamburger-close(type="button" @click="onHamburgerCloseClick")
              icon(name="close" size="16px")

    .header-2-search-bar__search(v-if="isMobileOrTablet")
      search-form(:inputPlaceholder="settings.searchFieldText || 'Search'" searchIconSize="24px")
    menu-bar(:settings="settings" :menuLinks="menuLinks")
</template>

<script>
import SearchForm from 'scripts/components/forms/SearchForm.vue';
import VLink from 'scripts/components/buttons/VLink.vue';
import IconButton from 'scripts/components/buttons/IconButton.vue';
import VButton from 'scripts/components/buttons/VButton.vue';
import Icon from 'scripts/components/basic/Icon.vue';
import NavbarHamburger from 'scripts/components/navigation/NavbarHamburger.vue';
import MenuBar from 'scripts/components/header-2/sub/MenuBar.vue';
import CartModal from 'scripts/components/cart/CartModal.vue';

export default {
  name: 'SearchBar',
  props: {
    settings: Object,
    defaultIcons: Object,
    helpLinks: Array,
    menuLinks: Array,
    checkout: Object,
    cartBubbleColors: Object,
    customerName: String,
    mobileMenuOpen: Boolean,
    onHamburgerOpenClick: Function,
    onHamburgerCloseClick: Function,
    enablePredictiveSearch: Boolean
  },
  components: {
    SearchForm,
    VLink,
    Icon,
    IconButton,
    VButton,
    NavbarHamburger,
    MenuBar,
    CartModal
  },
  computed: {
    numCartItems() {
      return this.checkout.item_count || 0;
    },
    isMobileOrTablet() {
      return ['tablet', 'mobile'].includes(this.$mq);
    },
    accountIcon() {
      return (
        this.settings.accountIconSvgUrl ||
        this.settings.accountIconImage ||
        null
      );
    },
    cartIcon() {
      return (
        this.settings.cartIconSvgUrl ||
        this.settings.cartIconImage ||
        this.defaultIcons.cartIconDefault
      );
    },
    helpIcon() {
      return (
        this.settings.helpDropdownIconSvgUrl ||
        this.settings.helpDropdownIconImage ||
        null
      );
    },
    showHelp() {
      return !this.isMobileOrTablet && (this.settings.helpDropdownLinkURL || this.settings.helpDropdownEnabled);
    }
  },
  data() {
    return {
      // menus
      accountDropdownOpen: false,
      helpDropdownOpen: false,
      mainOffset: null,
      mainOffsetMobile: null,
    };
  },
  methods: {
    onCartClick(ev) {
      ev.preventDefault();
      this.$store.dispatch('cart/openSidecart');
    },
    onAccountClick(ev) {
      if (!this.isMobileOrTablet) {
        ev.preventDefault();
        ev.stopPropagation();
        this.accountDropdownOpen = !this.accountDropdownOpen;
        this.helpDropdownOpen = false;
      }
    },
    onHelpClick(ev) {
      if (!this.isMobileOrTablet) {
        ev.preventDefault();
        ev.stopPropagation();
        this.helpDropdownOpen = !this.helpDropdownOpen;
        this.accountDropdownOpen = false;
      }
    }
  },
  watch: {
    $mq() {
      const $main = this.$refs.main;
      const $app = document.querySelector('#app');

      $main.className = $main.className.replace(/\bfixed\b/g, '');
      $app.className = $app.className.replace(/\header-fixed\b/g, '');

      const offset = window.scrollY + $main.getBoundingClientRect().y;

      if (this.isMobileOrTablet) {
        this.mainOffsetMobile = offset;
      } else {
        this.mainOffset = offset;
      }
    }
  },
  mounted() {
    this.mainOffset = window.scrollY + this.$refs.main.getBoundingClientRect().y;
    this.mainOffsetMobile = window.scrollY + this.$refs.main.getBoundingClientRect().y;
    window.addEventListener('scroll', ev => {
      const $main = this.$refs.main;
      const $app = document.querySelector('#app');
      const isFixed = $main.className.match(/fixed/);
      const offset = this.isMobileOrTablet
        ? this.mainOffsetMobile
        : this.mainOffset;
      if (window.scrollY > offset && !isFixed) {
        if ($main.className.split(' ').indexOf('fixed') === -1) {
          $main.className += ' fixed';
        }
        if ($app.className.split(' ').indexOf('fixed') === -1) {
          $app.className += ' header-fixed';
        }
      } else if (window.scrollY <= offset && isFixed) {
        $main.className = $main.className.replace(/\bfixed\b/g, '');
        $app.className = $app.className.replace(/\header-fixed\b/g, '');
      }
    });
  }
};
</script>

<style lang="scss">
$hamburger-layer-width: 24px;
$hamburger-layer-height: 3px;
$hamburger-layer-spacing: 4px;
$hamburger-layer-color: $color-black;
#app.header-fixed {
  padding-top: 124px;
}
.popover {
  &.account-dropdown,
  &.help-dropdown {
    .popover-arrow,
    .popover-inner {
      border-color: $color-brand-primary;
    }
    .popover-inner {
      padding: 24px 40px;
      max-width: none;
    }
  }
  .help-dropdown {
    &__wrapper {
      display: flex;
      width: 332px;
    }
    &__heading {
      margin-bottom: 12px;
    }
    &__left,
    &__right {
      flex: 1;
      text-align: left;
      .link {
        display: block;
        margin-bottom: 4px;
      }
    }
    &__left {
      border-right: 1px solid $color-light-grey;
      padding-right: 20px;
    }
    &__right {
      text-align: left;
      padding-left: 20px;
    }
    &__content {
      p {
        margin-bottom: 16px;
        & > a {
          color: $color-black;
          text-decoration: underline;
        }
      }
    }
  }
  .account-dropdown {
    &__wrapper {
      display: flex;
    }
    &__sign-in {
      min-width: 240px;
      padding-right: 20px;
      border-right: 1px solid $color-light-grey;
    }
    &__heading {
      margin-bottom: 12px;
      text-align: left;
    }
    &__content {
      min-width: 200px;
      padding-left: 20px;
      text-align: left;
    }
    &__richtext {
      margin-bottom: 8px;
    }
  }
}
.header-2-search-bar {
  border-bottom: 1px solid $color-light-grey;
  padding-bottom: 8px;
  @include desktop-up {
    padding: 0;
    border: none;
  }
  &.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 32;
    @include desktop-up {
      .header-2-search-bar {
        &__wrapper {
          height: 80px;
        }
        &__logo-image {
          width: 178px;
        }
      }
    }
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 16px $grid-gutter 8px;
  }
  &__logo-image {
    height: 38px;
    width: auto;
  }
  &__links {
    display: flex;
    order: 2;
  }
  &__link-container {
    display: flex;
    padding: 0 12px;
    align-items: center;
    &--hamburger {
      padding-right: 0;
    }
  }
  &__link {
    display: block;
  }
  &__link-image {
    height: 20px;
    width: auto;
    display: block;
  }
  &__cart-icon {
    height: 20px;
    width: auto;
  }
  .hamburger {
    &.active {
      .hamburger-close {
        display: block;
      }
      .hamburger-box {
        display: none;
      }
    }
    .hamburger-box {
      position: relative;
      display: block;
      width: 24px;
      height: 20px;
    }
    .hamburger-close {
      display: none;
      box-shadow: 0 9px 6px 0 rgba(110, 96, 63, 0.2);
      border-radius: 50%;
      background-color: $color-white;
      width: 24px;
      height: 24px;
    }
    .hamburger-inner {
      top: 50%;
      &,
      &:before,
      &:after {
        display: block;
        position: absolute;
        width: 24px;
        height: 3px;
        border-radius: 4px;
        background-color: $color-black;
      }
      &:before,
      &:after {
        display: block;
        content: '';
      }
      &:before {
        top: -6px;
      }
      &:after {
        bottom: -6px;
      }
    }
  }
  &__search {
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
    &--desktop {
      display: flex;
      align-items: center;
      flex: 1;
      &.logo-center {
        padding: 0 8px 0 0;
        .search-form {
          max-width: 448px;
          &__submit {
            left: 4px;
            right: auto;
            background-color: transparent;
            border: none;
            opacity: 0.465;
            transition: opacity 150ms ease-in;
            &:hover {
              opacity: 1;
            }
          }
          &__modal-close {
            right: 8px;
          }
          .search-input {
            padding-left: 48px;
            &::placeholder {
              color: $color-grey;
            }
          }
        }
      }
      .search-form {
        max-width: 680px;
      }
    }
    .search-form {
      height: 48px;
      border: 1px solid $color-light-grey;
      border-radius: 2px;
      box-sizing: border-box;
      padding: 0;
      &__submit {
        height: 40px;
        width: 40px;
        background-color: $color-light-grey;
        border-radius: 2px;
        right: 4px;
        z-index: 1;
        border: 1px solid transparent;
        transition: border-color 150ms ease-in;
        &:hover {
          border-color: $color-grey;
        }
        .button__content {
          justify-content: center;
        }
      }
      &__modal-close {
        right: 56px;
      }
      .search-input {
        padding: 14px 4px 14px 16px;
        height: auto;
        transition: background 150ms ease-in;
        &:hover,
        &:focus {
          background-color: $color-off-white;
        }
      }
    }
  }
  &__cart-image-container {
    position: relative;
  }
  /**
   *
   * Desktop
   *
  */
  @include desktop-up {
    &__wrapper {
      padding-top: 0;
      padding-bottom: 0;
      align-items: center;
      height: 104px;
      transition: height 150ms ease-in;
    }
    &__logo-container {
      padding-right: 24px;
      &.logo-center {
        order: 1;
        padding-right: 0;
      }
    }
    &__links {
      &.logo-center {
        flex: 1;
        justify-content: flex-end;
      }
    }
    &__logo-image {
      width: 200px;
      height: auto;
      transition: width 150ms ease-in;
    }
    &__link {
      display: inline-flex;
      align-items: center;
      color: $color-black;
      transition: opacity 150ms ease-in;
      &:hover {
        opacity: 0.7;
      }
    }
    &__link-image {
      margin-right: 8px;
    }
    &__search {
      .search-form {
        position: relative;
        &__close {
          display: none;
        }
        &__submit {
          left: auto;
        }
      }
    }
    &__cart-image-container {
      .cart-bubble-quantity {
        right: -2px;
      }
    }
  }
}
</style>
