<template lang="pug">
  .footer-contact-container(:class="[schema.settings.backgroundColor, schema.settings.borderColor]")
    .footer-contact(:class="[schema.settings.textColor]")
      .footer-contact__contact(v-if="schema.settings.contactTitle1 && schema.settings.contactText1" :class="[schema.settings.footerAlign]")
        .footer-contact__contact-title.h7-mobile.h6-tablet-up(:class="[schema.settings.headerColor]") {{schema.settings.contactTitle1}}
        .footer-contact__contact-body.body-sm-mobile.body-md-tablet-up(v-html="schema.settings.contactText1")
      .footer-contact__contact(v-if="schema.settings.contactTitle2 && schema.settings.contactText2" :class="[schema.settings.footerAlign]")
        .footer-contact__contact-title.h7-mobile.h6-tablet-up(:class="[schema.settings.headerColor]") {{schema.settings.contactTitle2}}
        .footer-contact__contact-body.body-sm-mobile.body-md-tablet-up.client-generated(v-html="schema.settings.contactText2")
      .footer-contact__social(v-if="enabledSocial.length > 0")
        .footer-contact__social-title.h7-mobile.h6-tablet-up(:class="[schema.settings.headerColor]") {{schema.settings.socialTitle}}
        .footer-contact__social-list
          a.footer-contact__social-link(v-for="social in enabledSocial" :key="social.id" :href="social.url" target="_blank")
            icon.footer-contact__social-icon(:name="social.id" :fillClass="schema.settings.socialIconColor" :size="'16px'")
</template>

<script>
import Icon from 'scripts/components/basic/Icon.vue';

export default {
  name: 'FooterContactSocial',
  components: {
    Icon,
  },
  props: {
    schema: Object,
  },
  methods: {},
  data() {
    return {};
  },
  computed: {
    enabledSocial() {
      return this.schema.settings.socialLinks.filter((social) => social.id !== 'none');
    },
  },
};
</script>

<style lang="scss">
.footer-contact-container {
  padding: 16px 16px 12px;
  border-top: 1px solid;

  @include tablet-up {
    padding: 32px 16px 12px;
  }
}

.footer-contact {
  display: flex;
  max-width: #{$container-max-width - 40px};
  margin: 0 auto;
  flex-wrap: wrap;
  overflow: hidden;
  
  @include tablet-up {
    flex-wrap: nowrap;
    justify-content: center;
  }

  &__contact,
  &__social {
    margin-bottom: 16px;
    flex-basis: 50%;
    flex-grow: 1;
    order: 1;

    @include tablet-up {
      margin: 0 16px;
      flex-basis: auto;
    }
    @include desktop-up {
      margin: 0 20px 16px;
    }

    &:nth-child(1) {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    .footer-content--center & {
      @include mobile-only {
        text-align: center;
      }
    }
  }

  &__contact {
    padding-right: 4px;

    @include tablet-up {
      min-width: 200px;
      padding-right: 0;
      flex-grow: 0;
    }

    &:nth-child(2) {
      order: 2;

      @include tablet-up {
        order: 1;
      }

      .footer-content--center & {
        @include mobile-only {
          order: 1;
        }
      }
    }
  }

  &__social {
    padding-left: 4px;

    @include tablet-up {
      max-width: 200px;
      padding-left: 0;
    }
  }

  &__contact-title,
  &__social-title {
    margin-bottom: 8px;

    @include tablet-up {
      margin-bottom: 16px;
    }
  }

  &__contact-body {
    p,
    span,
    em,
    strong,
    a {
      font-size: inherit;
      line-height: inherit;
    }

    p:empty {
      margin: 4px 0;
    }
  }

  &__social-list {
    margin: 0 -8px;
  }

  &__social-link {
    display: inline-block;
    margin: 4px 8px;

    @include tablet-up {
      margin: 8px 8px;
    }
  }
}
</style>
