
<template lang="pug">
  .footer-value-props-container(:class="[schema.settings.backgroundColor, schema.settings.borderColor]")
    header.text-center(v-if="schema.settings.sectionHeading")
      h4.footer-value-prop-heading.h4.color-black {{ schema.settings.sectionHeading }}
    swiper.footer-value-prop-slider(:options="swiperOptions" :class="{ 'swiper-no-swiping' : !shouldSwipe }")
      swiperSlide.footer-value-prop(v-for="block in schema.blocks" :key="block.id" :class="schema.settings.dividerColor")
        .footer-value-prop__content
          .footer-value-prop__icon-wrapper(v-if="block.settings.icon")
            img.footer-value-prop__icon(:src="block.settings.icon" :alt="block.settings.iconAlt")
          .footer-value-prop__text(:class="schema.settings.textColor")
            .footer-value-prop__title(v-if="block.settings.title") {{ block.settings.title }}
            .footer-value-prop__body.body-md.client-generated(v-if="block.settings.body" v-html="block.settings.body")
    .footer-value-prop__pagination(v-if="schema.blocks.length > 1")
    div.text-center
      v-link.footer-value-props-link(
        v-if="schema.settings.linkUrl && schema.settings.linkText"
        primary
        :href="schema.settings.linkUrl"
      ) {{ schema.settings.linkText }}
</template>

<script>
  import { swiper, swiperSlide } from 'vue-awesome-swiper';
  import VLink from '../buttons/VLink.vue';

  export default {
    name: 'FooterValueProps',
    components: {
      swiper,
      swiperSlide,
      VLink
    },
    props: {
      schema: Object
    },
    methods: {},
    data() {
      return {
        swiperOptions: {
          pagination: {
            el: '.footer-value-prop__pagination',
            clickable: true,
          },
          slidesPerView: 3,
          spaceBetween: 40,
          breakpoints: {
            1023: {
              slidesPerView: 1,
              spaceBetween: 0,
            }
          }
        }
      }
    },
    computed: {
      shouldSwipe() {
        const slidesInView = this.$mq === 'desktop' || this.$mq === 'hd' ? 3 : 1;

        return this.schema.blocks.length > slidesInView;
      },
    },
  }
</script>

<style scoped lang="scss">
  .footer-value-props-container {
    padding: 40px 20px;
    border-top: 1px solid;

    @include tablet-up {
      padding-bottom: 32px;
    }
    @include desktop-up {
      padding-bottom: 40px;
    }
  }

  .footer-value-prop-slider {
    @include desktop-up {
      max-width: #{$container-max-width - 40px};
    }

    /deep/ .swiper-wrapper {
      align-items: center;

      @include desktop-up {
        justify-content: center;
        align-items: stretch;
      }
    }
  }

  .footer-value-prop-heading {
    margin-bottom: 8px;

    @include tablet-up {
      margin-bottom: 48px;
    }
  }

  .footer-value-props-link {
    margin-top: 20px;

    @include tablet-up {
      margin-top: 40px;
    }
  }

  .footer-value-prop {
    @include desktop-up {
      width: 100% !important;
      height: auto;
      margin-right: 2.75vw !important;
      padding-right: 1.325vw;
      border-right: 2px solid;
      flex-shrink: 1;
    }

    &:last-child {
      margin-right: 0 !important; //Override swiper spacebetween
      border-right: 0;
    }

    &__pagination {
      font-size: rem(8);
      line-height: 1;
      text-align: center;
      margin-top: 24px;

      @include desktop-up {
        display: none;
      }
      
      /deep/ .swiper-pagination-bullet {
        margin: 0 4px;
        background-color: $color-white;
        opacity: 1;
      }

      /deep/ .swiper-pagination-bullet-active {
        background-color: $color-brand-primary;
      }
    }

    &__content {
      display: flex;
      height: 100%;
      flex-direction: column;
      align-items: center;
      
      @include tablet-up {
        flex-direction: row;
        justify-content: center;
      }
      @include desktop-up {
        justify-content: flex-start;
      }
    }

    &__icon-wrapper {
      margin-bottom: 15px;

      @include tablet-up {
        margin-right: 32px;
        margin-bottom: 0;
      }
      @include desktop-up {
        margin-right: 2vw;
        width: 50%;
      }
    }

    &__icon {
      display: block;
    }

    &__text {
      margin-bottom: 16px;
      text-align: center;

      @include tablet-up {
        margin-bottom: 0;
        text-align: left;
      }
      @include desktop-up {
        width: 100%;
      }
    }

    &__title {
      @include h7-tablet-up();

      margin-bottom: 8px;
    }

    /deep/ &__body {
      blockquote, dd, div, dl, dt, figcaption, figure, hr, li, main, ol, p, pre, ul, strong, a {
        color: inherit;
      }
    }
  }
</style>