
<!doctype html>
<html class="no-js supports-no-cookies" lang="{{ shop.locale }}">
  <head>
    {%- include 'template-head' -%}
    {{ content_for_header }}
  </head>

  <body class="template-{{ template.name | handle }}">
    {%- include 'gtm-body-script' -%}
    {%- include 'icon-store' -%}

    <div id="app" v-cloak>
      <div id="MainContentWrapper">
        <main class="bg-off-white" role="main" id="MainContent">
          {{ content_for_layout }}
        </main>
      </div>
    </div>

    {%- include 'template-scripts' -%}

    {% if settings.html_block != blank %}
      {{ settings.html_block }}
    {% endif %}
  </body>
</html>