<!doctype html>
<html class="no-js supports-no-cookies" lang="{{ shop.locale }}">
  <head>
    {%- include 'template-head' -%}
    {{ content_for_header }}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/shopify-cartjs/1.1.0/cart.min.js"></script>

  </head>

  <body class="template-{{ template.name | handle }} layout--default{% if settings.hide_shopify_preview_menu %} hide-shopify-preview{% endif %}">
    {%- include 'gtm-body-script' -%}
    {%- include 'icon-store' -%}

    <div id="app" v-cloak>

      {%- include 'header' -%}

      <div id="MainContentWrapper">
        {% if settings.use_transparent_header == true and template == 'index' -%}
          {%- assign _main_classes = 'class="main--under-nav"' -%}
        {%- endif -%}
        <main role="main" id="MainContent" {{ _main_classes }}>
          {{ content_for_layout }}
        </main>
      </div>

      {%- render 'footer' -%}

      <toast></toast>
      <video-modal></video-modal>
      <portal-target name="pdp-modal-portal" class="pb-var-select"></portal-target>
      <full-overlay></full-overlay>
      {%- capture cart_empty_links -%}
        [
          {
            "text": {{ settings.cart_link_text_1 | json }},
            "url": {{ settings.cart_empty_url_1 | json }}
          },
          {
            "text": {{ settings.cart_link_text_2 | json }},
            "url": {{ settings.cart_empty_url_2 | json }}
          },
          {
            "text": {{ settings.cart_link_text_3 | json }},
            "url": {{ settings.cart_empty_url_3 | json }}
          },
          {
            "text": {{ settings.cart_link_text_4 | json }},
            "url": {{ settings.cart_empty_url_4 | json }}
          }
        ]
      {%- endcapture -%}

      <sidecart
        :cart-object="{{ cart | json | escape | strip }}"
        {% if settings.cart_shipping_promo_enable != blank %}
          :shipping-promo-enabled="{{ settings.cart_shipping_promo_enable | default: false }}"
          :shipping-promo-total="{{ settings.cart_shipping_promo_total | default: 0 }}"
          shipping-promo-copy="{{ settings.cart_shipping_promo_copy | default: '' }}"
        {% endif %}
        {% if settings.cart_promo_message != blank %}
          promo-message="{{ settings.cart_promo_message }}"
        {% endif %}
        :empty-link-array="{{ cart_empty_links | escape | strip }}"
        empty-text="{{ settings.cart_empty_message }}"></sidecart>
    </div>

    {%- include 'template-scripts' -%}

    {% if settings.html_block != blank %}
      {{ settings.html_block }}
    {% endif %}
    {% if settings.css_block != blank %}
      <style>
        {{ settings.css_block }}
      </style>
    {% endif %}
    {% include 'customUpload' %}
    <!-- Begin Shopify-Afterpay JavaScript Snippet (v1.0.10) -->
    <script type="text/javascript">
    // Overrides:
    // var afterpay_min = 0.04;            // As per your Afterpay contract.
    // var afterpay_max = 2000.00;         // As per your Afterpay contract.
    // var afterpay_cbt_enabled = false;   // As per your Afterpay contract; change to true to display Cross-Border Trade artwork (for AU/NZ).
    var afterpay_logo_theme = 'black'; // Can be 'colour', 'black' or 'white'.
    var afterpay_product_selector = '#product-price';
    
    // Non-editable fields:
    var afterpay_shop_currency = {{ shop.currency | json }};
    var afterpay_cart_currency = {{ cart.currency.iso_code | json }};
    var afterpay_shop_money_format = {{ shop.money_format | json }};
    var afterpay_shop_permanent_domain = {{ shop.permanent_domain | json }};
    var afterpay_theme_name = {{ theme.name | json }};
    var afterpay_product = {{ product | json }};
    var afterpay_current_variant = {{ product.selected_or_first_available_variant | json }};
    var afterpay_cart_total_price = {{ cart.total_price | json }};
    var afterpay_js_snippet_version = '1.0.10';
    </script>
    <script type="text/javascript" src="https://static.afterpay.com/shopify-afterpay-javascript.js"></script>

    {% if template.name == 'product' %}
      <script type="text/javascript" src="https://static-us.afterpay.com/javascript/present-afterpay.js"></script>
    {% endif %}
    <!-- End Shopify-Afterpay JavaScript Snippet (v1.0.10) -->
  </body>
</html>
