<!doctype html>
<html class="no-js supports-no-cookies" lang="{{ shop.locale }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, user-scalable=0">
    <meta name="referrer" content="origin">
    {{ content_for_header }}
    {% include 'font-declarations' %}
    {{ 'bvaccel.css' | asset_url | stylesheet_tag }}
    {{ 'bvaccel-app.css' | asset_url | stylesheet_tag }}
    <link rel="stylesheet" href="https://use.typekit.net/kma5aol.css">
    <script>
      window.bvaccel = {% render 'json--global' %};
    </script>
  </head>
  <body>
    {%- include 'icon-store' -%}

    <div id="app" v-cloak>
      {{ content_for_layout }}
    </div>
    <style>
      main {
        padding: 5% 5% 200px 5%;
        height: auto;
      }
    </style>
    {{ 'vendors-main.js' | asset_url | script_tag }}
    {{ 'main.js' | asset_url | script_tag }}
  </body>
</html>
