* {
  font-family: canada-type-gibson, sans-serif;
}

:root {
  --color-primary-red: #D63427;
  --color-primary-red-dark: #C72518;
}

.breadcrumb__text,
.breadcrumb__link {
  color: black;
  font-size: 18px;
  font-weight: 400;
}

.breadcrumb__item--current .breadcrumb__text,
[href*='/account/login'],
.step__footer__previous-link-content,
.link--small {
  color: var(--color-primary-red);
}

#continue_button {
  background: linear-gradient(to bottom, var(--color-primary-red), var(--color-primary-red-dark));
  opacity: 1;
  border-radius: 22px;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1.2px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 12px;
  padding-bottom: 12px;
}

#continue_button:focus {
  border-color: rgba(76, 152, 219, 0.59);
}

.product-thumbnail__quantity {
  background: var(--color-primary-red);
  color: white;
  font-weight: 400;
}

.input-checkbox:checked:hover, 
.input-radio:checked:hover, 
.input-checkbox:checked, 
.input-radio:checked {
  border-color: var(--color-primary-red-dark);
}