.pac-container {z-index: 10000000 !important;}
.scasl-location-mobile-wrap {
  clear: left;
  float: left;
  width: 100%;
  display:none;
}
.scasl-location-mobile {
  height: 50px !important;cursor: pointer !important;
}
#scasl-app-container {margin-left: 10px;margin-right: 10px;z-index: 0 !important; position: relative;}
#bh-sl-map div {  box-sizing: initial !important;}
#scasl-window-container div, #scasl-window-container div span{word-break:     normal !important;}
#scasl-description p {word-break: break-all !important;}
.bh-sl-container { padding: 0 !important; }
#bh-sl-map-container { display: block !important; margin-bottom: 27px !important; }
#scasl-tab-radius { border: 1px solid #ccc; padding: 20px; }
#scasl-tab-radius h3 { text-transform: uppercase; margin-top: 0; padding-bottom: 10px; font-weight: normal; border-bottom: 1px solid #ccc; }
.scasl-distance, .scasl-distance label { width: 100% !important; }
.scasl-distance { display: inline-block; margin: 0; }
.scasl-distance .form-input { margin-bottom: 10px; }
.scasl-container .form-input input, .scasl-container .form-input select { height: 35px; background-color: #fff; }
.scasl-tag { margin: 0 !important; }
.scasl-tag > label { font-weight: bold; }
.scasl-tag-list { width: 100%; }
.scasl-tag-list, .scasl-tag-list li { margin: 0 20px 0 0 !important; }
.scasl-tag-list li { padding: 0; clear: none !important; width: auto !important; }
.scasl-tag-list li label { font-weight: normal; }
.scasl-tag-list li label input { margin-top: 2px; }
.scasl-search-btn { padding-top: 15px; width: 100%; float: left; margin: 10px 0 0; display: flex; justify-content: center; }
.bh-sl-loc-list, .bh-sl-map { border: 1px solid #ccc; }
.bh-sl-loc-list ul li { margin: 0 !important; }
.scasl-location-list { width: 30% !important; }
.scasl-map { float: right !important; width: 69% !important; }
.scasl-search-btn button, #scapl-geocode-btn { height: 34px; width: 20%; }
#scapl-geocode-btn { float: right; }
.scasl-list-image, .scasl-info-image { float: right; }
.scasl-list-image {/* width: 22%;*/ margin: 10px 10px 0 0; }
.scasl-info-image {/* width: 28%; */margin: 5px 0 0 5px; }
.scasl-list-image img, .scasl-info-image img { width: 100%;height: auto; }
#scasl-list-container #scasl-store_image, #scasl-window-container #scasl-store_image {width: 40%;}
.scasl-info-location, .scasl-location-list { float: left; }
#scasl-list-container {background-color: #fff !important;border-bottom: 1px solid #ccc; }
#scasl-list-container.list-focus, .scasl-view-map-btn { border: 1px solid #5a5a5a !important; background: rgb(238, 238, 238) none repeat scroll 0% 0% !important; }
.scasl-tags { background: url("//cdn.secomapp.com/storelocator/assets/cdn/img/tag.png") no-repeat scroll 0 1px transparent; padding: 2px 10px 0 16px; float: left;background-position-y:4px;}
.bh-sl-container .form-input, .bh-sl-container .form-input input, .bh-sl-container .form-input select { width: 100% !important; opacity: 1 !important;}
#bh-sl-user-location input {max-width: none !important;}

.bh-sl-container .form-input input, .bh-sl-container .form-input select { margin: 0 !important; }
.bh-sl-container button { margin-top: 0 !important; }
#bh-sl-address { float: left; clear: both; width: 78% !important; }
.scasl-field { display:none; clear: both; }
#scasl-store_image { clear: none !important; }

/* Screens */
@media screen and (max-width: 600px) {
  .scasl-location-list, .scasl-map { width: 100% !important; }
  .scasl-location-list {height: 468px !important;}
  .scasl-map { margin-top: 10px; }
}
@media screen and (max-width: 768px) {
  .scasl-search-btn button, #scapl-geocode-btn { width: auto !important; }
  #scapl-geocode-btn { float: left; margin-top: 10px !important; }
  #bh-sl-address { width: 100% !important; }
}
#scasl-title {font-weight: bold !important;}
#scasl-infowindow-template,#scasl-list-template { display: none; }

/* New CSS for new mobile design */
.new-for-mobile #scasl-viewmap-btn-template { display: none; }
.new-for-mobile .scasl-see-more, .new-for-mobile .scasl-see-less { font-size: 16px; margin-top: 5px; }
.new-for-mobile .scasl-address-wrap { position: relative; }
.new-for-mobile .scasl-see-more, .new-for-mobile .scasl-see-less, .new-for-mobile a#scapl-geocode-btn, .new-for-mobile ul#scasl-tabs { display: none; }
.new-for-mobile ul#scasl-tabs { padding: 0; margin: 10px 0 0 0; float: left; width: 100%; }
.new-for-mobile ul#scasl-tabs li.scasl-tab-list, .new-for-mobile ul#scasl-tabs li.scasl-tab-map { width: 49.2%; text-align: center; display: inline-block; padding: 5px 0; border: 1px solid #cccccc; background: #fff; }
.new-for-mobile ul#scasl-tabs li.active { background: #727272; color: #fff; }
.new-for-mobile .scasl-view-map-btn { border-radius: 0; -webkit-border-radius: 0; background-color: #fff; color: #000; padding: 10px 0; width: 100%; border: 1px solid #ccc; }
@media screen and (max-width: 425px) {
  .new-for-mobile .scasl-search-btn {width: auto;}
  .new-for-mobile a#scapl-geocode-btn {display: block;}
  .new-for-mobile button#scapl-geocode-btn {display: none;}
  .new-for-mobile .scasl-see-more {display: block;}
  .new-for-mobile .scasl-see-more-content {display: none; float: left; margin-bottom: 10px; }
  .new-for-mobile .scasl-see-more, .new-for-mobile .scasl-see-less { float: right; }
  .new-for-mobile .scasl-search-btn { border: none; margin: 0; padding: 0; }
  .new-for-mobile a#scapl-geocode-btn { position:absolute; top: -8px; right: 2px; margin:0; float:none; background: none !important; }
  .new-for-mobile a#scapl-geocode-btn, .new-for-mobile a#scapl-geocode-btn img { width: 30px !important; height: 30px !important; }
  .new-for-mobile a#scapl-geocode-btn:hover { opacity: 1; }
  .new-for-mobile ul#scasl-tabs { display: block; }
  .new-for-mobile  #bh-sl-map-container { margin-top: 10px; }
  .new-for-mobile #bh-sl-map { height: 468px; display: none; }
  .new-for-mobile .bh-sl-container .bh-sl-map-container { margin-top: 0 !important; }
  .new-for-mobile .bh-sl-container .bh-sl-loc-list { margin-top: 10px; }
  .new-for-mobile .scasl-info-location, .new-for-mobile #scasl-window-container #scasl-store_image { width: 94% !important; }
  .new-for-mobile #scasl-window-container #scasl-store_image { float: left; margin: 10px 0; }
}
/* End */
