<template lang="pug">
  .planetbox-compare
    .planetbox-compare__desktop(v-if="$mq !== 'mobile'")
      .planetbox-compare__product-overviews.container
        .planetbox-compare__product-overview(v-for="product in compareSettings.products" :key="product.data.id", @click="scrollToId($event, `#${productTitleFormatted(product.data.title)}`)")
          .planetbox-compare__product-overview-image(:style="{backgroundImage: `url('${product.topImage}')`}")
          h2 {{productTitleFormatted(product.data.title)}}
          .planetbox-compare__product-overview-prices
            span.planetbox-compare__product-overview-price {{ product.data.price | money }}
            span.planetbox-compare__product-overview-compare(v-if="product.data.compare_at_price && product.data.compare_at_price != product.data.price") {{ product.data.compare_at_price | money }}
          .planetbox-compare__product-overview-included-text
            strong.body-sm.strong-bold Includes:
            span.body-sm {{product.includesText}}
          .planetbox-compare__product-overview-included-product-images
            img(v-for="image in product.includesImages" :src="image")
          .planetbox-compare__product-overview-divider
          .planetbox-compare__product-overview-specs
            .planetbox-compare__product-overview-spec(v-for="(spec, index) in product.specs" :key="index")
              h5 {{spec.title}}
              p {{spec.spec}}
                span.u-hidden-desktop-up :
          .planetbox-compare__product-overview-divider
          .planetbox-compare__product-overview-learn-more
            v-link(primary @click="scrollToId($event, `#${productTitleFormatted(product.data.title)}`)") LEARN MORE
      .planetbox-compare__product-details
        .planetbox-compare__product-details-container(v-for="product in compareSettings.products" :key="product.data.id" :id="productTitleFormatted(product.data.title)")
          .planetbox-compare__product-detail.container
            .planetbox-compare__product-detail-image
              img(:src="product.bottomImage && product.bottomImage.length ? product.bottomImage : product.data.featured_image" :alt="product.data.title")
              .planetbox-compare__product-detail-badge(v-if="product.badgeText")
                .ribbon-tail
                  .top-triangle(:class="compareSettings.badgeColors.bg")
                  .bottom-triangle(:class="compareSettings.badgeColors.bg")
                .ribbon-under(:class="compareSettings.badgeColors.bg")
                .ribbon-top(:class="compareSettings.badgeColors.bg")
                  span(:class="compareSettings.badgeColors.text") {{product.badgeText}}
            .planetbox-compare__product-detail-content
              h2 {{productTitleFormatted(product.data.title)}} LUNCHBOX
              .planetbox-compare__product-detail-price-reviews(@click="goToProduct(`/products/${product.data.handle}`)")
                span.planetbox-compare__product-detail-price ${{ decimalPrice(product.data.price) }}
                span.planetbox-compare__review-stars.shopify-product-reviews-badge(v-if="disableReviews !== true && reviewSource === 'shopify'" :data-id="product.data.id")
                bazaar-voice-reviews(v-else-if="disableReviews !== true && reviewSource === 'bazaarvoice'" format="inline_rating" :productID="product.data.id" :productURL="product.data.url")
              p.planetbox-compare__product-detail-description {{ product.description }}
              v-button.planetbox-compare__product-detail-cta(secondary full @click="goToProduct(`/products/${product.data.handle}`)") VIEW PRODUCT
              .planetbox-compare__product-detail-features
                strong Features
                ul(:class="productHasOverlayImage(product.overlayImg) ? 'has-overlay' : ''")
                  li.planetbox-compare__product-detail-feature(v-for="(feature, index) in splitFeatures(product.featureList)" :key="index" v-html="feature")
                img.planetbox-compare__product-detail-features-overlay-image(v-if="product.overlayImg && $mq !== 'desktop'" :src="product.overlayImg")
    .planetbox-compare__mobile(v-else)
      .planetbox-compare__product-overviews.container
        .planetbox-compare__product-overview(v-for="product in compareSettings.products" :key="product.data.id")
          .planetbox-compare__product-overview-image(:style="{backgroundImage: `url('${product.topImage}')`}")
          .planetbox-compare__product-overview-mobile-heading
            h2 {{productTitleFormatted(product.data.title)}}
            .planetbox-compare__product-overview-prices
              span.planetbox-compare__product-overview-price {{ product.data.price | money }}
              span.planetbox-compare__product-overview-compare(v-if="product.data.compare_at_price && product.data.compare_at_price != product.data.price") {{ product.data.compare_at_price | money }}
          .planetbox-compare__product-overview-included-text
            strong.body-sm.strong-bold Includes:
            span.body-sm {{product.includesText}}
          .planetbox-compare__product-overview-divider
          .planetbox-compare__product-overview-specs
            .planetbox-compare__product-overview-spec(v-for="(spec, index) in product.specs" :key="index")
              p {{spec.spec}}:
              h5 {{spec.title}}
          .planetbox-compare__product-overview-divider
          .planetbox-compare__product-overview-learn-more(@click="openDetails(product)")
            span.strong-medium LEARN MORE
            icon(v-if="!product.active" name="plus" size="16px")
            icon(v-else name="minus" size="16px")
          transition(name="collapse")
            .planetbox-compare__product-detail.container(v-show="product.active")
                .planetbox-compare__product-detail-image
                  img(:src="product.bottomImage && product.bottomImage.length ? product.bottomImage : product.data.featured_image" :alt="product.data.title")
                  .planetbox-compare__product-detail-badge(v-if="product.badgeText")
                    .ribbon-tail
                      .top-triangle(:class="compareSettings.badgeColors.bg")
                      .bottom-triangle(:class="compareSettings.badgeColors.bg")
                    .ribbon-under(:class="compareSettings.badgeColors.bg")
                    .ribbon-top(:class="compareSettings.badgeColors.bg")
                      span(:class="compareSettings.badgeColors.text") {{product.badgeText}}
                .planetbox-compare__product-detail-content
                  .planetbox-compare__product-detail-content-mobile-header
                    h2 {{productTitleFormatted(product.data.title)}} LUNCHBOX
                    span.planetbox-compare__product-detail-price ${{ decimalPrice(product.data.price) }}
                  .planetbox-compare__product-detail-price-reviews(@click="goToProduct(`/products/${product.data.handle}`)")
                    span.planetbox-compare__review-stars.shopify-product-reviews-badge(v-if="disableReviews !== true && reviewSource === 'shopify'" :data-id="product.data.id")
                    bazaar-voice-reviews(v-else-if="disableReviews !== true && reviewSource === 'bazaarvoice'" format="inline_rating" :productID="product.data.id" :productURL="product.data.url")
                  p.planetbox-compare__product-detail-description {{ product.description }}
                  .planetbox-compare__product-detail-features
                    strong Features
                    ul(:class="productHasOverlayImage(product.overlayImg) ? 'has-overlay' : ''")
                      li.planetbox-compare__product-detail-feature(v-for="(feature, index) in splitFeatures(product.featureList)" :key="index" v-html="feature")
                    img.planetbox-compare__product-detail-features-overlay-image(v-if="product.overlayImg" :src="product.overlayImg")
                v-button.planetbox-compare__product-detail-cta(secondary full @click="goToProduct(`/products/${product.data.handle}`)") VIEW PRODUCT
</template>

<script>
  import {CollapseTransition} from 'vue2-transitions'

  import VLink from 'scripts/components/buttons/VLink.vue'
  import VButton from 'scripts/components/buttons/VButton.vue'
  import Icon from 'scripts/components/basic/Icon.vue'
  import BazaarVoiceReviews from 'scripts/components/product/BazaarVoiceReviews.vue'
  import { scrollToId } from '../../helpers/scroll';

  export default {
    name: "PlanetboxCompare",
    components: { VLink, VButton, Icon, CollapseTransition, BazaarVoiceReviews },
    props: {
      compareSettings: {
        type: Object,
        default: () => ({
          "products": {
            type: Array,
            default: () => ([
              {
                "data": Object,
                "specs": {
                  type: Array,
                  default: () => ({
                    "title": String,
                    "spec": String
                  })
                },
                "includesImages": {
                  type: Array,
                  default: String
                },
                "description": String,
                "topImage": String,
                "bottomImage": String,
                "includesText": String,
                "featureList": String,
                "overlayImg": String,
                "badgeText": String
              }
            ])
          },
          "badgeColors": {
            type: Object,
            default: () => ({
              "bg": String,
              "text": String
            })
          }
        })
      },
      disableReviews: {
        type: Boolean,
        required: true
      },
    },
    data() {
      return {
        reviewSource: window.bvaccel && window.bvaccel.reviewSource,
      }
    },
    methods: {
      scrollToId,
      productTitleFormatted(title) {
        return title.split(' ')[0].toUpperCase()
      },
      splitFeatures(featuresString) {
        return featuresString.split('::')
      },
      decimalPrice(price) {
        return (price / 100).toFixed(2)
      },
      roundedPrice(price) {
        return Math.round(price / 100).toFixed(0)
      },
      openDetails(product) {
        product.active = !product.active
        this.$forceUpdate()
      },
      goToProduct(productUrl) {
        window.location = productUrl
      },
      productHasOverlayImage(overlayImage) {
        if (overlayImage && overlayImage.length) {
          return true
        } return false
      }
    }
  }
</script>

<style lang="scss" scoped>
  .planetbox-compare {
    .container {
      padding-right: 12px;
      padding-left: 12px;
    }

    &__product-overviews {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding-top: 56px;
      padding-bottom: 56px;
      @include mobile-tablet {
        flex-direction: column;
      }
    }
    &__product-overview {
      width: 100%;
      text-align: center;
      padding: 24px;
      margin: 0 16px;
      border-radius: 10px;
      transition: background-color 200ms ease, box-shadow 200ms ease;
      &:hover {
        background-color: $color-off-white;
        box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
      }
      @include desktop-up {
        cursor: pointer;
        border: 1px solid $color-grey;
      }
      @include desktop-only {
        &:first-child {
          margin-left: 0;
        }
        &:last-child {
          margin-right: 0;
        }
      }
      @include mobile-tablet {
        background-color: $color-off-white;
        margin: 0 0 16px;
        text-align: left;
      }
      &-mobile-heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 16px 0 0;
        width: 100%;
      }
      &-image {
        width: 100%;
        height: 274px;
        background-size: cover;
        background-position: center;
      }
      h2 {
        font-size: 48px;
        line-height: 68px;
        margin: 16px auto 0;
        @include mobile-tablet {
          margin: 0;
          font-size: 35px;
          line-height: 44px;
          letter-spacing: 0.5px;
        }
      }
      &-price {
        display: inline-block;
        font-weight: 500;
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 32px;
        @include mobile-tablet {
          margin: 0;
        }
      }
      &-compare {
        display: inline-block;
        font-weight: 500;
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 32px;
        text-decoration: line-through;
        color: $color-grey;
        margin-left: 8px;
      }
      &-included-text {
        font-size: 12px;
        line-height: 22px;
        strong {
          margin-right: 8px;
        }
      }
      &-included-product-images {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80px;
        width: 100%;
        margin-top: 8px;
        img {
          height: 100%;
          // width: 20%;
          margin: 0 8px;
          max-height: 80px;
        }
      }
      &-divider {
        border-bottom: 1px solid $color-grey;
        width: 100%;
        margin: 16px 0;
      }
      &-spec {
        margin-bottom: 16px;

        h5 {
          font-family: $font-family-primary;
          font-weight: 400;
        }

        @include mobile-tablet {
          width: 100%;
          display: flex;
          justify-content: space-between;
          h5 {
            font-weight: 400;
          }
          p {
            font-weight: bold;
          }
        }

        @include tablet-only {
          flex-direction: row-reverse;
        }
      }
      &-learn-more {
        margin-top: 32px;
        @include mobile-tablet {
          display: flex;
          align-items: center;
          justify-content: center;
          color: $color-brand-primary;
          cursor: pointer;
          user-select: none;
          /deep/ .icon {
            fill: $color-brand-primary;
            margin-bottom: 2px;
            margin-left: 4px;
          }
        }
      }
    }
    &__product-details {
      &-container {
        &:nth-child(2) {
          @include tablet-only() {
            .planetbox-compare__product-detail-content {
              margin-right: 16px;
            }
          }

          .planetbox-compare__product-detail.container {
            flex-direction: row-reverse;
          }
        }
      }
      &-container:first-child, &-container:last-child {
        background-color: $color-off-white;

        @include tablet-only() {
          .planetbox-compare__product-detail-content {
            margin-left: 16px;
          }
        }
      }
    }
    &__product-detail {
      display: flex;
      justify-content: space-around;
      padding: 56px 0;
      @include mobile-tablet {
        flex-direction: column;
        padding: 32px 0 0;
        // fixes strange glitch after accordion animation in mobile where text floats to bottom of container
        /deep/ .button {
          display: flex !important;
          justify-content: center !important;
        }
      }
      @include tablet-only() {
        flex-direction: row;
      }
      &-image {
        position: relative;
        width: 45%;
        align-self: center;
        max-width: 528px;
        @include mobile-tablet {
          width: 100%;
          max-width: none;
        }
        img {
          width: 100%;
        }
      }
      &-content {
        width: 45%;
        @include mobile-tablet {
          width: 100%;
        }
        h2 {
          font-size: 36px;
          line-height: 50px;
          // margin-bottom: 16px;
        }
        p {
          font-size: 16px;
          line-height: 22px;
        }
        &-mobile-header {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin: 16px 0 0;
          h2 {
            margin-bottom: 0;
            font-size: 24px;
            letter-spacing: 0.67px;
            line-height: 24px;
          }
        }
      }
      &-price-reviews {
        display: flex;
        align-items: center;
        margin-bottom: 16px;
        cursor: pointer;
      }
      &-price {
        font-size: 28px;
        line-height: 28px;
        margin-right: 64px;
        @include mobile-tablet {
          margin-right: 0;
          font-size: 18px;
          line-height: 24px;
        }
      }
      &-cta {
        max-width: 414px;
        margin: 16px 0 24px;
        @include mobile-tablet {
          max-width: none;
        }
      }
      &-features {
        position: relative;
        padding: 16px;
        border: 1px solid $color-grey;
        @include mobile-tablet {
          padding: 0;
          border: none;
          margin: 16px 0;
        }
        strong {
          display: block;
          margin-bottom: 12px;
        }
        ul {
          list-style: disc;
          padding-left: 40px;
          width: 100%;
          max-width: none;
          &.has-overlay {
            max-width: 70%;
            @include mobile-tablet {
              max-width: none;
            }
          }
          li {
            margin-bottom: 8px;
          }
        }
        &-overlay-image {
          position: absolute;
          top: -8px;
          right: -48px;
          height: 112px;
          pointer-events: all;
          @include mobile-tablet {
            display: none;
          }
        }
      }
      &-badge {
        position: absolute;
        top: 40px;
        left: 0;
        .ribbon-tail {
          position: absolute;
          left: -24px;
          top: 10px;
          width: 24px;
          height: 40px;
          filter: brightness(75%);
          @include ie {
            display: none;
          }
          @include safari {
            display: none;
          }
          .top-triangle {
            clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 100%);
            width: 100%;
            height: 50%;
            margin-bottom: -1px;
          }
          .bottom-triangle {
            clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%);
            width: 100%;
            height: 50%;
          }
        }
        .ribbon-under {
          /* clip-path: polygon(75% 0, 100% 0, 100% 100%, 75% 75%); */
          position: absolute;
          left: -8px;
          top: 10px;
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75%);
          width: 8px;
          height: 40px;
          filter: brightness(50%);
          @include ie {
            display: none;
          }
          @include safari {
            display: none;
          }
        }
        .ribbon-top {
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: center;
          left: -9px;
          height: 40px;
          text-align: center;
          vertical-align: middle;
          padding: 0 20px;
          width: fit-content;
          @include safari {
            width: 200px;
          }
          @include ie {
            width: 200px;
          }
          span {
            display: block;
            white-space: nowrap;
            width: 100%;
            font-family: $font-family-primary;
            font-size: 24px;
            line-height: 34px;
            margin-bottom: -2px;
          }
        }
      }
    }
    .spr-badge {
      .spr-badge-caption {
        font-family: $font-family-secondary !important;
        font-weight: bold !important;
      }
    }
  }
</style>