<template lang="pug">
  .carousel--promobar(v-if="promos.length < 2")
    .promobar-block-container(v-for="(promo, index) in promos", :key="index + '_'")
      .promobar-block-content(v-html='promo.promocontent')
  .carousel--promobar(v-else :class="loading ? 'loading' : ''")
    v-button.carousel__nav__prev(
      :class="bgColor"
      label="Previous Slide",
      @click="$refs.promobarCarousel.slidePrev()"
    )
      icon(:name="iconArrowLeft")
    carousel(
      :class="promos.length < 2 && 'carousel-hide-arrows'"
      ref="promobarCarousel",
      :infinite="infiniteScroll",
      :slides-to-show="slidesToShow",
      @before-slide="beforeSlide",
      @after-slide="afterSlide"
    )
      slide(v-for="(promo, index) in promos", :key="index + '_'")
        .promobar-block-content(v-html='promo.promocontent') 
    v-button.carousel__nav__next(
      :class="bgColor"
      label="Next Slide",
      @click="$refs.promobarCarousel.slideNext()"
    )
      icon(:name="iconArrowRight")

</template>

<script>
  import { clone } from 'scripts/helpers/util.js'

  import Carousel from 'scripts/components/basic/Carousel.vue'
  import Icon from 'scripts/components/basic/Icon.vue'
  import Slide from 'scripts/components/basic/Slide.vue'
  import VButton from 'scripts/components/buttons/VButton.vue'

  export default {
    name: 'PromobarCarousel',
    components: { Carousel, Slide, VButton, Icon },
    props: {
      promos: {
        type: Array,
        default: () => []
      },
      textColor: {
        type: String
      },
      bgColor: {
        type: String
      },
      iconArrowRight: {
        type: String,
        default: 'arrow-right'
      },
      iconArrowLeft: {
        type: String,
        default: 'arrow-left'
      }
    },
    data () {
      return {
        activeIndex: null,
        loading: true
      }
    },
    computed: {
      slidesToShow () {
        return 1
      },
      infiniteScroll () {
        return true
      }
    },
    mounted () {
      this.activeIndex = 0
      let self = this
      setTimeout(() => {
        self.loading = false
      }, 1000)
    },
    methods: {
      beforeSlide ({ from, to }) {
        if (from !== to) this.activeIndex = null
      },
      afterSlide (index) {
        this.activeIndex = index
      }
    }
  }
</script>

<style scoped lang="scss">
  .carousel--promobar {
    position: relative;
    opacity: 1;
    transition: opacity 200ms ease;
  }

  .carousel {
    overflow: visible;
    padding: 0 20px;
  }

  .promobar-block-content {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .carousel__nav__next,
  .carousel__nav__prev {
    position: absolute;
    top: 0;
    z-index: 1;
    display: flex;
    align-items: center;
  }

  .carousel__nav__next {
    right: 0;
  }

  .carousel__nav__prev {
    left: 0;
  }

  .carousel__nav__next svg,
  .carousel__nav__prev svg {
    width: 10px !important;
    height: 10px !important;

    @include desktop-up {
      width: 14px !important;
      height: 14px !important;
    }
  }

  .carousel__nav__prev.button--primary {

    &:focus {
      background-color: transparent;
    }
  }

  .carousel__nav__next.button--primary {

    &:focus {
      background-color: transparent;
    }
  }

  .promo-color-light .carousel__nav__next svg,
  .promo-color-light .carousel__nav__prev svg {
    fill: $color-white;
  }

  .promo-color-dark .carousel__nav__next svg,
  .promo-color-dark .carousel__nav__prev svg {
    fill: $color-black;
  }
  .loading {
    opacity: 0;
  }

</style>