<template lang="pug">
  div
    .container
      .collection-hero.t-d(
        :class="{ 'collection-hero--no-image' : !settings.imageUrl }"
      )
        .collection-hero__with-image(v-if="settings.imageUrl")
          img.collection-hero__image(v-if="$mq === 'mobile'", v-lazy="settings.mobileImageUrl || settings.imageUrl")
          .collection-hero__text.color-off-black
            h1.h3.collection-hero__heading.defaultcase {{ settings.heading }}
            .collection-hero__description.body-sm-mobile.body-md-tablet-up(v-if="settings.description", v-html="settings.description")
          .collection-hero__image-wrap(v-if="$mq !== 'mobile'")
            img.collection-hero__image(v-lazy="settings.imageUrl")

        .collection-hero__no-image(v-else)
          .collection-hero__text.color-off-black
            h1.h3.collection-hero__heading {{ settings.heading }}
            .collection-hero__description.body-sm-mobile.body-md-tablet-up(v-if="settings.description", v-html="settings.description")
</template>

<script>
  export default {
    name: 'CollectionHero',
    props: {
      settings: {
        type: Object,
        required: true,
        default: () => ({
          heading: String,
          description: String,
          imageUrl: String,
          mobileImageUrl: String,
        }),
      },
    },
  };
</script>

<style scoped lang="scss">
  .container {
    background-color: transparent;

    @include mobile-only {
      padding: 0;
    }
  }

  .collection-hero {
    width: 100%;
    display: flex;
    align-items: center;

    @include tablet-up {
      padding: 24px 0;
      min-height: 200px;

      &.collection-hero--no-image {
        padding: 0;
      }
    }
  }

  .collection-hero__with-image,
  .collection-hero__no-image {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    @include tablet-up {
      flex-direction: row;
    }
  }

  .collection-hero__with-image {
    @include tablet-up {
      position: relative;
      padding: 24px 0;
    }
  }

  .collection-hero__image-wrap {
    max-width: 50%;
  }

  .collection-hero__image {
    width: 100%;

    @include tablet-up {
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      width: 65%;
      max-width: 815px;
      border-radius: 10px;
      object-fit: cover;
      object-position: center;
    }
  }

  .collection-hero__text {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 30px 16px;

    @include tablet-up {
      padding: 40px 0;
      max-width: 674px;
    }

    .collection-hero__with-image & {
      padding: 30px 17px;

      @include tablet-up {
        position: relative;
        padding: 40px 37px;
        align-self: stretch;
        justify-content: center;
        border-radius: 10px;
        box-shadow: 0 1px 1px rgba($color-black, 0.15);
        background-color: rgba($color-v-light-grey, 0.9);
        border: 1px solid $color-util-bg-offwhite;
        z-index: 1;
      }
    }
  }

  .collection-hero__heading {
    margin: 0;
    text-transform: initial;
  }

  .collection-hero__description {
    margin-top: 8px;

    @include tablet-up {
      margin-top: 16px;
    }

    &,
    /deep/ p {
      letter-spacing: 0;
    }
  }
</style>
