
<template lang="pug">
  .collection-sorting.border
    select-input(v-if="$mq !== 'mobile'" :disableDefault="true" :options="sortingOptions", v-model="currentValue")
    .collection-sorting__mobile(v-else)
      .collection-sorting__mobile-option(
          v-for="option in sortingOptions"
          :key="option.value"
          :class="isActvieSortMethod(option.value)"
          @click="mobileSortSelect(option.value)")
        span.body-md {{option.label}}
</template>

<script>
  import { mapState } from 'vuex';
  import SelectInput from 'scripts/components/forms/SelectInput.vue'

  export default {
    name: 'CollectionSorting',
    components: { SelectInput },
    props: {
      defaultSort: String,
      mobileClickBinding: Function
    },
    data () {
      return {
        currentValue: this.defaultSort,
        sortingOptions: [
          { label: 'Featured', value: 'manual' },
          { label: 'Most Popular', value: 'best-selling' },
          { label: 'Newest Arrivals', value: 'created-descending' },
          { label: 'Price: Low to High', value: 'price-ascending' },
          { label: 'Price: High to Low', value: 'price-descending' },
          { label: 'A-Z', value: 'title-ascending' },
          { label: 'Z-A', value: 'title-descending' }
        ]
      }
    },
    methods: {
      mobileSortSelect(value) {
        this.currentValue = value
        if(this.mobileClickBinding) {
          this.mobileClickBinding()
        }
      },
      isActvieSortMethod(value) {
        if(this.currentValue === value) {
          return 'sort-active'
        }
      }
    },
    watch: {
      currentValue() {
        this.$store.dispatch('collections/updateSort', this.currentValue)
        this.$emit('input', this.currentValue)
      }
    }
  }
</script>

<style scoped lang="scss">
  .collection-sorting {
    max-width: 304px;
    @include mobile-only {
      max-width: none;
      width: 100%;
    }
    &__mobile {
      &-option {
        padding: 16px;
        border-bottom: 1px solid $color-grey;
        cursor: pointer;
        &.sort-active {
          color: $color-brand-tertiary;
        }
      }
    }
  }
</style>