<template lang="pug">
  form.filters(@submit.prevent="() => false")
    //- Tag based filters
    fieldset(
      v-for="category in filters" 
      :key="category.category")
      legend 
        button.filters__accordion-button(
          @click.stop="() => accordionStates[category.category] = !accordionStates[category.category]"
          :aria-controls="`${idPrefix}${category.category}-accordion`" 
          :aria-expanded="accordionStates[category.category]"
          :aria-label="`toggle ${category.category} filter menu`"
        )
          span(:id="`${idPrefix}${category.category}-name`") {{ category.category }}
          icon(name="chevron-down" size="8px" :style="{transform: `rotate(${accordionStates[category.category] ? 180 : 0}deg)`}") 
      transition-expand
        div.filters__accordion-content(
          :data-category="category.category"
          :id="`${idPrefix}${category.category}-accordion`"
          role="region"
          v-if="accordionStates[category.category]" 
        )
          div.filters__input-pair-container(
            :aria-labelledby="`${idPrefix}${category.category}-name`"
            v-for="filter in category.filters.slice(0, getFilterCount(category.category))" 
            :key="`${filter}-t`"
          )
            //- swatches
            template(v-if="isColorFilter(category.category)")
              input.u-sr-only(
                type="checkbox"
                :key="`${filter}-i`"
                :id="`${idPrefix}${filter}-i`"
                :checked="activeFilters.includes(`${category.category}${tagDelimiter}${filter}`)"
                @change="onFilterToggle(`${category.category}${tagDelimiter}${filter}`)"
              )
              label.filters__swatch-container(
                :for="`${idPrefix}${filter}-i`"
                :aria-label="`${category.category} ${filter}`"
              )
                v-image.filters__swatch(
                  :src="fileUrl(`swatch_${handleize(filter)}.png`)"
                  :default-src="fileUrl(`swatch_default_color.png`)"
                )
                div.filters__swatch-label {{ filter }}
            //- Checkboxes
            template(v-else)
              input(
                type="checkbox"
                :key="`${filter}-i`"
                :id="`${idPrefix}${filter}-i`"
                :checked="activeFilters.includes(`${category.category}${tagDelimiter}${filter}`)"
                @change="onFilterToggle(`${category.category}${tagDelimiter}${filter}`)"
              )
              label.body-md(:for="`${idPrefix}${filter}-i`" :key="`${filter}-l`") {{ filter }}
          v-button.filters__show-more(
            v-if="shouldShowShowMoreButton(category)"
            tertiary
            @click="() => $set(showMoreStates, category.category, true)"
          ) Show More
    //- Optional availability filter
    fieldset(v-if="showAvailability")
      legend 
        button.filters__accordion-button(
          @click.stop="() => accordionStates['Availability'] = !accordionStates['Availability']"
          :aria-controls="`${idPrefix}${'Availability'}-accordion`" 
          :aria-expanded="accordionStates['Availability']"
          :aria-label="`toggle ${'Availability'} filter menu`"
        )
          span(:id="`${idPrefix}${'Availability'}-name`") Availability
          icon(name="chevron-down" size="8px" :style="{transform: `rotate(${accordionStates['Availability'] ? 180 : 0}deg)`}") 
        transition-expand
          div.filters__accordion-content(v-if="accordionStates['Availability']")
            div.filters__input-pair-container(v-for="option in availabilityFilterOptions")
              input(
                type="radio"
                :key="`${option}-i`"
                :id="`${idPrefix}${option}-i`"
                :checked="option === activeAvailabilityFilter"
                :name="`${idPrefix}availability`"
                @change="onAvailabilityFilterToggle && onAvailabilityFilterToggle(option)"
              )
              label(:for="`${idPrefix}${option}-i`") {{ option }}
</template>

<script>
import { fileUrl } from '../../helpers/util';
import { normalize, handleize } from '../../filters/string';
import VImage from '../basic/VImage.vue';
import Icon from '../basic/Icon.vue';
import VButton from '../buttons/VButton.vue';
import TransitionExpand from '../basic/TransitionExpand.vue';

export default {
  props: {
    filters: Array,
    activeFilters: Array,
    onFilterToggle: Function,
    tagDelimiter: {
      type: String,
      default: '::'
    },
    // availability options
    availabilityFilterOptions: Array,
    onAvailabilityFilterToggle: Function,
    activeAvailabilityFilter: String,
    showAvailability: Boolean,
    idPrefix: String
  },
  data() {
    const defaultAccordionStates = { 'Availability': true };
    const defaultShowMoreStates = { 'Availability': false };
    return {
      accordionStates: this.filters.reduce((acc, filter) => ({...acc, [filter.category]: true}), defaultAccordionStates), // { [category]: boolean }
      showMoreStates: this.filters.reduce((acc, filter) => ({...acc, [filter.category]: false}), defaultShowMoreStates), // { [category]: boolean }
    }
  },
  components: {
    VImage,
    TransitionExpand,
    Icon,
    VButton
  },
  methods: {
    fileUrl,
    normalize,
    handleize,
    isColorFilter (category) {
      return /color/i.test(category);
    },
    getFilterCount(category) {
      if(this.isColorFilter(category) || this.showMoreStates[category]) return;
      return 5;
    },
    shouldShowShowMoreButton ({ category, filters }) {
      return filters.length > 5 && !this.showMoreStates[category] && !this.isColorFilter(category);
    }
  }
}
</script>

<style lang="scss" scoped>
  fieldset {
    border: none;
    padding: 12px 0 17px;
    margin: 0;
  }

  // prevent legend from overlapping fieldset top border
  legend {
    float: left;
    width: 100%;
  }

  .filters {
    border-top: 1px solid $color-light-grey;
    border-bottom: 1px solid $color-light-grey;
  }

  .filters fieldset + fieldset {
    border-top: 1px solid $color-light-grey;
  }

  .filters__accordion-button {
    all: initial;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-family: $font-family-primary;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    text-transform: none;
    cursor: pointer;
  }

  .filters__input-container + .filters__input-container {
    margin-top: 10px;
  }

  .filters__input-pair-container + .filters__input-pair-container {
    margin-top: 12px;
  }

  .filters__accordion-content {
    padding-top: 12px;
    display: inline-block;
    width: 100%;
  }

  .filters__accordion-content[data-category*="color"] .filters__input-pair-container,
  .filters__accordion-content[data-category*="Color"] .filters__input-pair-container {
    margin-top: 0px;
    text-align: center;
  }

  .filters__accordion-content[data-category*="color"],
  .filters__accordion-content[data-category*="Color"] {
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-auto-flow: row;
    column-gap: 6px;
    row-gap: 12px;
  }

  .filters__swatch-container {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .filters__swatch {
    display: inline-block;
    width: 27px;
    height: 27px;
    min-width: 27px;
    border-radius: 50%;
    flex: 0;
    border: 1px solid $color-white;
    box-shadow: 0px 0px 0px 1px $color-light-grey;
    margin: 0 2px;
    padding: 0;
    font-size: 0;
    line-height: normal;
    cursor: pointer;
    line-height: normal;
  }

  .filters__swatch-label {
    color: $color-off-black;
    font-family: $font-family-primary;
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 13px;
    margin-top: 8px;
  }

  /deep/ .filters__swatch img {
    width: 100%;
    border-radius: 100%;
  }

  @include tablet-up {
    input:not(:disabled) + label:hover .filters__swatch {
      box-shadow: 0px 0px 0px 1px $color-semi-grey;
    }
  }

  input:not(:disabled):not(:checked) + label:focus .filters__swatch {
    box-shadow: 0px 0px 0px 1px $color-semi-grey;
  }

  input:checked + label .filters__swatch {
    box-shadow: 0px 0px 0px 1px $color-off-black;
  }

  /deep/ .filters__show-more {
    width: 100%;
    height: 32px;
    margin-top: 16px;

    .button__content {
      font-size: 12px;
      font-weight: 500;
    }

    svg {
      display: none;
    }
  }
</style>