<template lang="pug">
  div
    .container
      .collection-hero.t-d

        img.collection-hero__image(v-if="$mq === 'mobile'", v-lazy="settings.mobileImageUrl || settings.imageUrl")
        .collection-hero__text.color-off-black
          h1.h3.collection-hero__heading.defaultcase {{ settings.heading }}
          .collection-hero__content.body-sm-mobile.body-md-tablet-up(v-if="settings.content", v-html="settings.content", :class="{ 'collection-hero__content--expanded' : contentExpanded }", ref="content")
          v-link.collection-hero__content-toggle.body-md-sm.defaultcase(v-if="enableShowMore", @click="expandContent", :secondary="true", tag="button") 
            span Read More
            icon(name="chevron-down", size="12px")
          v-button.collection-hero__cta(v-if="settings.ctaText && settings.ctaLink", tag="a", :primary="true", :label="settings.ctaText", :href="settings.ctaLink")
        .collection-hero__image-wrap(v-if="$mq !== 'mobile'")
          img.collection-hero__image(v-lazy="settings.imageUrl")
</template>

<script>
  import Icon from 'scripts/components/basic/Icon.vue';
  import VButton from 'scripts/components/buttons/VButton.vue';
  import VLink from 'scripts/components/buttons/VLink.vue';

  export default {
    name: 'CollectionBanner',
    components: { Icon, VButton, VLink },
    props: {
      settings: {
        type: Object,
        required: true,
        default: () => ({
          heading: String,
          content: String,
          ctaText: String,
          ctaLink: String,
          imageUrl: String,
          mobileImageUrl: String,
        }),
      },
    },
    data() {
      return {
        contentHasOverflow: false,
        contentExpanded: false,
      };
    },
    computed: {
      enableShowMore() {
        return this.contentHasOverflow && !this.contentExpanded;
      },
    },
    mounted() {
      this.$nextTick(this.checkContentOverflow);
    },
    methods: {
      checkContentOverflow() {
        this.contentHasOverflow = this.$refs.content.scrollHeight > this.$refs.content.offsetHeight;
      },
      expandContent() {
        this.contentExpanded = true;
      },
    },
    watch:{
      $mq() {
        this.checkContentOverflow();
      },
    }
  };
</script>

<style scoped lang="scss">
  .container {
    background-color: transparent;

    @include tablet-up {
      padding-top: 24px;
      padding-bottom: 24px;
    }

    @include mobile-only {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .collection-hero {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 40px 18px;
    background-color: $color-v-light-grey;

    @include tablet-up {
      position: relative;
      flex-direction: row;
      padding: 47px 0;
      min-height: 200px;
      background-color: transparent;
    }
  }

  .collection-hero__image-wrap {
    max-width: 50%;
  }

  .collection-hero__image {
    width: 100%;
    border-radius: 10px;

    @include tablet-up {
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      width: 65%;
      max-width: 815px;
      object-fit: cover;
      object-position: center;
    }
  }

  .collection-hero__text {
    padding: 24px 4px 0;
    width: 100%;
    display: flex;
    flex-direction: column;

    @include tablet-up {
      position: relative;
      align-self: stretch;
      justify-content: center;
      padding: 40px 37px;
      max-width: 674px;
      border-radius: 10px;
      background-color: $color-v-light-grey;
      border: 1px solid $color-util-bg-offwhite;
      box-shadow: 0 1px 1px rgba($color-black, 0.15);
      z-index: 1;
    }
  }

  .collection-hero__heading {
    margin: 0;
  }

  .collection-hero__content {
    margin-top: 16px;
    max-height: 72px; // line-height is 18 X 4 (4 rows)
    overflow: hidden;

    &,
    /deep/ p {
      letter-spacing: 0;
    }

    @include tablet-up {
      max-height: 134px;
    }
  }

  .collection-hero__content--expanded {
    max-height: none;
  }

  .collection-hero__content-toggle {
    border-radius: 0;
    box-shadow: none;
    min-width: unset;
    letter-spacing: 0;
    
    .icon {
      display: inline-block;
      fill: $color-primary-red;
    }
  }

  .collection-hero__cta {
    margin-top: 24px;
    align-self: flex-start;
  }
</style>
