<template lang="pug">
  .collections-featured__container(:style="containerStyle" :class="schema.settings.backgroundColor" ref="main")
    .container
      .collections-featured__wrapper
        .collections-featured
          .collections-featured__nav-button-container.prev(v-if="showControls")
            v-arrow-button.collections-featured__nav-button.prev(:primary="true")
              icon(name="arrow-right" size="24px")
          .collections-featured__nav-button-container.next(v-if="showControls")
            v-arrow-button.collections-featured__nav-button.next(:primary="true")
              icon(name="arrow-right" size="24px")
          h3.collections-featured__heading(:class="schema.settings.titleColor") {{ schema.settings.heading }}
          swiper.desktop(:options="swiperOptionsDesktop" ref="featuredCarousel")
            swiper-slide.collections-featured__slide(v-for="(block, idx) in schema.blocks" :key="block.id")
              a.collections-featured__collection( :href="block.link")
                .collections-featured__collection-img(:style="{ backgroundImage: `url(${block.featuredImage})` }")
                .collections-featured__collection-content(:class="block.contentBackgroundColor")
                  h5.collections-featured__collection-content-heading(:class="block.titleColor") {{ block.title }}
                  p.body-md(:class="block.shortDescriptionColor") {{ block.shortDescription }}
          swiper.mobile(:options="swiperOptionsMobile" ref="featuredCarouselMobile")
            swiper-slide.collections-featured__slide(v-for="(slide, idx) in mobileSlides" :key="`ms_${idx}`")
              a.collections-featured__collection.collections-featured__collection--mobile(v-for="block in slide" :key="block.id" :href="block.link")
                .collections-featured__collection-img(:style="{ backgroundImage: `url(${block.featuredImage})` }")
                .collections-featured__collection-content(:class="block.contentBackgroundColor")
                  h5.collections-featured__collection-content-heading(:class="block.titleColor") {{ block.title }}
                  p.body-md(:class="block.shortDescriptionColor") {{ block.shortDescription }}
            .collections-featured__pagination(v-if="showControls" slot="pagination")

</template>

<script>
import { swiper, swiperSlide } from 'vue-awesome-swiper';
import VArrowButton from 'scripts/components/buttons/VArrowButton.vue';
import Icon from 'scripts/components/basic/Icon.vue';

import { scrollToElement } from 'scripts/helpers/scroll.js';

/**
 * @constant MIN_SLIDES_THRESHOLD
 * if # of slides is below this threshold,
 * the swiper only has one slide and all
 * controls are hidden
 */
const MIN_SLIDES_THRESHOLD = 3;

export default {
  name: 'CollectionsFeatured',
  components: {
    swiper,
    swiperSlide,
    Icon,
    VArrowButton
  },
  props: {
    schema: Object
  },
  data() {
    return {
      swiperOptionsDesktop: {
        slidesPerView: 2,
        spaceBetween: 20,
        loop: this.schema.blocks.length >= MIN_SLIDES_THRESHOLD,
        navigation: {
          nextEl: '.collections-featured__nav-button.next',
          prevEl: '.collections-featured__nav-button.prev'
        }
      },
      swiperOptionsMobile: {
        slidesPerView: 1,
        spaceBetween: 0,
        loop: this.schema.blocks.length >= MIN_SLIDES_THRESHOLD,
        pagination: {
          el: '.collections-featured__pagination',
          clickable: true
        },
        on: {
          slideChange: () => {
            // if odd number
            if (this.schema.blocks.length % 2) {
              const { header } = window.bvaccel;
              const offset =
                header && typeof header.topOffset === 'number'
                  ? header.topOffset
                  : 0;

              scrollToElement(this.$refs.main, offset);
            }
          }
        }
      }
    };
  },
  computed: {
    containerStyle() {
      return {
        marginBottom: `${this.schema.settings.bottomMargin}px`,
        marginTop: `${this.schema.settings.topMargin}px`
      };
    },
    showControls() {
      return this.schema.blocks.length >= MIN_SLIDES_THRESHOLD;
    },
    mobileSlides() {
      // generates 2d array (2 blocks per slide on mobile)
      return this.schema.blocks.reduce(
        (rows, key, index) =>
          (index % 2 == 0
            ? rows.push([key])
            : rows[rows.length - 1].push(key)) && rows,
        []
      );
    },
    isMobileOrTablet() {
      return ['mobile', 'tablet'].includes(this.$mq);
    }
  }
};
</script>

<style lang="scss">
.collections-featured {
  .swiper-container {
    &.desktop {
      display: none;
    }
    @include desktop-up {
      &.desktop {
        display: block;
      }
      &.mobile {
        display: none;
      }
    }
  }
  &__slide {
    height: 0;
    overflow: hidden;
    &.swiper-slide-active {
      height: auto;
    }
  }
  &__container {
    overflow: hidden;
    padding: 52px 0;
    @include desktop-up {
      padding: 64px 0;
    }
  }
  &__heading {
    text-align: center;
    margin-bottom: 20px;
  }
  &__collection {
    box-shadow: 1px 2px 2px -1px rgba(0, 0, 0, 0.24);
    max-width: 600px;
    margin: 0 auto 16px;
    display: block;
    color: inherit;
    transition: opacity 150ms ease-in;
    &:hover {
      opacity: 0.75;
    }
  }
  &__collection-content {
    padding: 16px;
  }
  &__collection-content-heading {
    margin-bottom: 8px;
  }
  &__collection-img {
    width: 100%;
    padding-top: 66%;
    background-size: cover;
  }
  &__nav-button-container {
    display: none;
  }
  &__pagination {
    text-align: center;
    .swiper-pagination-bullet {
      background: $color-grey;
    }
    .swiper-pagination-bullet-active {
      background: $color-brand-primary;
    }
  }

  @include desktop-up {
    position: relative;
    padding: 0 66px;
    &__collection {
      max-width: auto;
      margin: 0 0 16px 0;
    }
    &__slide {
      height: auto;
    }
    &__wrapper {
      padding: 0 40px;
    }
    &__nav-button-container {
      display: inline-block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      &.next {
        right: 0;
      }
      &.prev {
        left: 0;
        svg {
          transform: rotate(180deg);
        }
      }
    }
  }
}
</style>