<template lang="pug">
  section.cgrid
    collection-links.cgrid__collection-links(v-if="superCollectionLinks && superCollectionLinks.length > 0" v-bind="collectionLinksData" :activeLink="`/collections/${collectionHandle}`")
    portal(to="header-portal")
      transition-expand
        div.fixed-collection-bar.container(v-if="filterBarShowing")
          p.h6.fixed-collection-bar__title {{ collectionTitle | truncateToCharCount(56) }}
          v-button.c__filters-button.fixed-collection-bar__button(tertiary @click="onFilterButtonClick") Filters
    div.u-hidden-tablet-up
      v-button.c__filters-button#mobile-collection-filters-button(
        tertiary
        @click="() => onFilterButtonClick && onFilterButtonClick()"
      ) {{ filtersButtonText }}
      div.collection-sort-bar
        span.c__product-count {{ productCountText }}
        v-select.c__sort(
          :options="sortOptions" 
          :selected="sortCurrent" 
          iconName="chevron-down" 
          iconSize="8px" 
          dir="rtl" 
          disableDefault 
          @input="onSortSelect"
        )
      div.grid-filters(v-if="activeFilters.length > 0")
        span.grid-filters__label Filtered:
        button.grid-filters__clear.link.link--secondary(@click="onClearFilters") clear all
        button.c__filter-pill(
          v-for="filter in activeFilters"
          :key="filter.value"
          @click="filter.remove"
        )
          span {{ filter.value }}
          icon(name="close" size="8px")
    div.u-hidden-mobile-only
      div.collection-sort-bar.collection-sort-bar--desktop
        span.c__product-count {{ productCountText }}
        div.grid-filters(v-if="activeFilters.length > 0")
          span.grid-filters__label Filtered:
          button.grid-filters__clear.link.link--secondary(@click="onClearFilters") clear all
          button.c__filter-pill(
            v-for="filter in activeFilters"
            :key="filter.value"
            @click="filter.remove"
          )
            span {{ filter.value }}
            icon(name="close" size="8px")
        v-select.c__sort(
          :options="sortOptions" 
          :selected="sortCurrent" 
          iconName="chevron-down" 
          iconSize="8px" 
          dir="rtl" 
          disableDefault 
          @input="onSortSelect"
        )
    .collection-grid
      product-tile(
        v-for="product in products.slice(0, productsToShow)"
        :key="product.id"
        :selected-variant="product.variants[0]"
        :show-mobile-ATC="true"
        :collection-handle="collectionHandle"
        :product="product"
        :onAddToCart="addToCart"
      )
    div.load-more
      div.load-more__button-container(v-if="!allProductsVisible")
        v-button(primary @click="showMore") Show More
        v-button(secondary @click="showAll") View All
      p.load-more__text.body-md {{ productsShowingText }}
</template>

<script>
  import CollectionLinks from 'scripts/components/sections/CollectionLinks.vue';
  import ProductTile from 'scripts/components/product/ProductTile.vue';
  import SelectInput from 'scripts/components/forms/SelectInput.vue';
  import VButton from 'scripts/components/buttons/VButton.vue';
  import VSelect from 'scripts/components/forms/SelectInput.vue';
  import Icon from 'scripts/components/basic/Icon.vue';
  import TransitionExpand from 'scripts/components/basic/TransitionExpand.vue';
  import { truncateToCharCount } from 'scripts/filters/string';

  export default {
    name: 'CollectionGrid',
    components: { CollectionLinks, ProductTile, SelectInput, VButton, VSelect, Icon, TransitionExpand },
    props: {
      collectionHandle: String,
      collectionTitle: String,
      sortOptions: Array, //[{ "label": "Bestsellers", "value": "bestseller" }]
      products: Array,
      superCollectionLinks: {
        type: Array,
        required: false,
        default: () => ([])
      },
      superCollectionLinksTitle: {
        type: String,
        required: false,
        default: 'Categories'
      },
      onFilterButtonClick: Function,
      onSortSelect: Function,
      sortCurrent: String,
      activeFilters: Array, // { remove: () => void, value: string }[]
      onClearFilters: Function,
      showMoreProductCount: {
        default: 12
      }
    },
    data() {
      return {
        productsToShow: this.showMoreProductCount,
        filterBarShowing: false,
      }
    },
    mounted () {
      this.initScrollingStickyBar();
    },
    filters: {
      truncateToCharCount
    },
    computed: {
      collectionLinksData() {
        return {
          schema: {
            sectionTitle: this.superCollectionLinksTitle,
            sectionTitleColor: '#000000'
          },
          smallLinks: this.superCollectionLinks.map(link => {
            return {
              settings: {
                linkUrl: link.url,
                linkTitle: link.title
              }
            }
          })
        }
      },
      productCountText () {
        return `${this.products.length} Products`;
      },
      filtersButtonText () {
        let text = 'Filters';

        if(this.activeFilters && this.activeFilters.length > 0) {
          text += ` (${this.activeFilters.length})`;
        }
        
        return text;
      },
      isMobileDevice () {
        return ['mobile', 'tablet'].includes(this.$mq);
      },
      productsShowingText() {
        return `Showing ${Math.min(this.products.length, this.productsToShow)} of ${this.products.length} products`
      },
      allProductsVisible() {
        return this.productsToShow >= this.products.length;
      }
    },
    methods: {
      addToCart (id) {
        let addProduct = {
          id: id,
          quantity: 1
        }
        this.$store.dispatch('cart/addItems', addProduct)
          .then(() => this.$store.dispatch('cart/afterAddToCart'))
          .catch(error => this.$store.dispatch('toast/send', { text: error, type: 'error' }))
      },
      showMore() {
        this.productsToShow += this.showMoreProductCount;
      },
      showAll() {
        this.productsToShow = this.products.length;
      },
      initScrollingStickyBar() {
        // when the mobile filter button is NOT visible, show the fixed title/filter bar
        const intersectionCallback = ([ intersectionEvent ]) => {
          if(intersectionEvent) 
            this.filterBarShowing = !intersectionEvent.isIntersecting && document.readyState === 'complete'
        };

        this.$nextTick(() => {
          const scrollingHeader = document.querySelector('#main-header-scrolling-nav');
          let rootMargin = '-116px 0px 0px 0px';

          if(scrollingHeader) {
            rootMargin = `-${scrollingHeader.offsetHeight}px 0px 0px 0px`;
          }

          new IntersectionObserver(intersectionCallback, {root: null, rootMargin, threshold: 1})
            .observe(document.querySelector('#mobile-collection-filters-button'))
        })
      }
    },
  }
</script>

<style lang="scss">
  .collection-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 24px;
    width: 100%;
    clear: both;
    min-height: 65px;

    @include mq-from(1024px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @include mq-from(1250px) {
      grid-template-columns: repeat(4, 1fr);
      grid-column-gap: 16px;
      grid-row-gap: 40px;
    }
  }

  .fixed-collection-bar {
    position: absolute;
    top: 100%;
    left: 0;
    padding: 14px 20px 14px;
    background: $color-white;
    border-top: 1px solid $color-light-grey;
    border-bottom: 1px solid $color-light-grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    @include tablet-up {
      display: none;
    }
  }

  .fixed-collection-bar__title {
    text-transform: initial;
    padding-right: 24px;
  }
  
  .fixed-collection-bar__button {
    width: auto;
    min-width: 100px;
    padding-left: 38px;
    padding-right: 38px;
  }
</style>

<style lang="scss" scoped>
  .cgrid {
    width: 100%;
  }

  .filter-button {
    display: flex;
    width: 100%;
  }

  .collection-sort-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
  }

  .grid-filters {
    margin-bottom: 12px;
  }

  .grid-filters__label {
    @include h7;
    letter-spacing: 0;
    float: left;
    padding: 13px 0;
    text-transform: capitalize;
  }

  .grid-filters__clear {
    box-shadow: none;
    border: none;
    min-width: initial;
    height: auto;
    min-height: initial;
    float: right;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0;
    padding: 13px 0;
  }

  .collection-sort-bar--desktop {
    align-items: flex-start;
  }

  .collection-sort-bar--desktop .grid-filters__clear {
    margin-left: 8px;
    margin-right: 16px;
  }

  .collection-sort-bar--desktop .grid-filters__label {
    margin-right: 8px;
  }

  .collection-sort-bar--desktop .c__product-count {
    white-space: nowrap;
    margin-top: 10px;
    padding-right: 16px;
  }

  .load-more {
    text-align: center;
  }

  .load-more__button-container {
    padding: 40px 0 24px;
  }

  .load-more button {
    margin: 0 4px;
    @include tablet-up {
      margin: 0 10px;
    }
  }

  .load-more__text {
    padding-bottom: 24px;
    border-bottom: 1px solid $color-light-grey;
    margin-bottom: 40px;
  }

  /deep/ .cgrid__collection-links {
    border-bottom: 1px solid $color-light-grey;
    margin-bottom: 8px;

    .collection-links__link-container--active .collection-links__link {
      background: $color-grey;
      border-color: $color-off-black;

       * {
        color: $color-white;
      }
    }

    @include mobile-only {
      padding: 20px 0;
      border-top: 1px solid $color-light-grey;
      
      .collection-links__heading {
        display: none;
      }
  
      .collection-links__links-section {
        margin: 0;
      }

      .collection-links__link-wrapper {
        width: calc(100% + 20px); // purposely overflow right side of container
      }
    }

    @include tablet-up {
      padding: 0;

      .collection-links__container {
        padding: 0;
      }

      .collection-links__links-section,
      .collection-links__link-wrapper {
        height: initial;
        padding-top: initial;
        overflow-x: auto;
      }

      .collection-links__link-container {
        display: inline-block;
      }

      .collection-links__link {
        display: flex;
        justify-content: center;
        width: auto;
      }

      .collection-links__link span {
        max-width: initial;
      }

      .collection-links__container {
        padding-bottom: 24px;
      }
    }

    .collection-links__link-container:first-child {
      border-left: 0;
    }
  }
</style>
