<template lang="pug">
  .collection-filters(v-if="currentFilters && currentFilters.length")
    span.collection-filters__title(v-if="$mq !== 'mobile'") Filters:
    .collection-filters__active-filters
      .collection-filters__active-filter(v-for="filter in currentFilters" @click="removeFilter(filter)")
        span {{unhandleizeFilter(filter)}}
        icon(name="close" size="10px")
      .collection-filters__filters-clear
          v-link(v-if="currentFilters.length" :secondary="true" @click="removeAllFilters") Clear All
</template>

<script>
  import { mapState } from 'vuex'

  import { unhandleize } from 'scripts/filters/string.js'

  import Icon from '../basic/Icon.vue'
  import VLink from '../buttons/VLink.vue'

  export default {
    name: 'CollectionActiveFiltersB',
    components: { Icon, VLink },
    computed: {
      ...mapState({
        currentFilters: state => state.collections.currentFilters
      })
    },
    methods: {
      unhandleizeFilter(handleizedFilter) {
        return unhandleize(handleizedFilter)
      },
      removeFilter(filter) {
        let newCurrentFilters = this.currentFilters.splice(this.currentFilters.indexOf(filter), 1)
        this.$store.dispatch('collections/updateFilters', this.newCurrentFilters)
      },
      removeAllFilters() {
        let newCurrentFilters = []
        this.$store.dispatch('collections/updateFilters', newCurrentFilters)
      }
    }
  }
</script>

<style lang="scss" scoped>
  .collection-filters {
    display: flex;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 32px;
    @include mobile-only {
      padding: 16px;
      margin-bottom: 0;
    }
    &__title {
      font-weight: bold;
      font-family: $font-family-secondary;
      margin-right: 8px;
      font-size: 14px;
      line-height: 24px;
    }
    &__active-filters {
      display: flex;
      flex-wrap: wrap;
    }
    &__active-filter {
      cursor: pointer;
      display: flex;
      align-items: center;
      padding: 4px;
      border-radius: 4px;
      color: $color-brand-primary;
      border: 1px solid $color-light-grey;
      box-shadow: 1px 1px 4px -1px rgba(0,0,0,0.08);
      transition: border-color 200ms ease;
      margin-right: 16px;
      margin-bottom: 8px;
      &:hover {
        border-color: $color-brand-primary;
      }
      &:active {
        border-color: darken($color: $color-brand-primary, $amount: 20);
      }
      span {
        margin-right: 8px;
      }
    }
    &__filters-clear {
      margin-top: 4px;
    }
  }
</style>