
<template lang="pug">
  .collection-filters(v-if="$mq !== 'mobile' && filterGroups.length")
    .collection-filters__filter-menu
      .collection-filters__filter-menu-item(v-for="filter in filtersWithoutDuplicates.slice(0,5)" v-if="isUseableFilter(filter)" @click="setCurrentFilterPanel(filter)" :class ="currentFilterPanel === filter ? 'panel-active' : ''" :key="filter")
        span {{unhandleizeFilter(filter)}}
        icon.collection-filters__filter-menu-item-arrow(name="chevron-down" size="10px")
    collapse-transition
      .collection-filters__filter-panels(v-if="filterPanelOpen")
        fade-transition(group)
          .collection-filters__filter-panel(v-for="filterGroup in filterGroups" :key="filterGroup.name" v-if="currentFilterPanel === filterGroup.name && !fetchingStatus")
            .collection-filters__filter-panel-filters(v-if="filterGroup.name === 'color'")
              .collection-filters__filter-panel-filter-color-swatch(v-for="color in filterGroup.tags" :key="`${filterGroup.name}-${color}`")
                input.collection-filters__filter-panel-filter-color-swatch-checkbox(
                    :id="`${filterGroup.name}-${color}`"
                    :value="`${filterGroup.name}-${color}`"
                    type="checkbox"
                    v-model="currentFilterArray"
                    :style="`backgroundImage: url(${getFileUrl(`swatch_${handleizedFilter(color)}.png`)})`")
                label(:for="`${filterGroup.name}-${color}`") {{unhandleizeFilter(color)}}
            .collection-filters__filter-panel-filters(
              v-if="filterGroup.name === 'pattern' && currentFilterPanel === filterGroup.name")
              .collection-filters__filter-panel-filter-color-swatch(v-for="pattern in filterGroup.tags" :key="`${filterGroup.name}-${pattern}`")
                input.collection-filters__filter-panel-filter-color-swatch-checkbox(
                    :id="`${filterGroup.name}-${pattern}`"
                    :value="`${filterGroup.name}-${pattern}`"
                    type="checkbox"
                    v-model="currentFilterArray"
                    :style="`backgroundImage: url(${getFileUrl(`swatch_${handleizedFilter(pattern)}.png`)})`")
                label(:for="`${filterGroup.name}-${pattern}`") {{unhandleizeFilter(pattern)}}
            .collection-filters__filter-panel-filters(v-if="currentFilterPanel === filterGroup.name && currentFilterPanel !== 'color' && currentFilterPanel !== 'pattern'")
              .collection-filters__filter-panel-filter(v-for="filter in filterGroup.tags" :key="`${filterGroup.name}-${filter}`")
                input(:id="`${filterGroup.name}-${filter}`" :value="`${filterGroup.name}-${filter}`" type="checkbox" v-model="currentFilterArray")
                label(:for="`${filterGroup.name}-${filter}`") {{unhandleizeFilter(filter)}}
        fade-transition(:duration="{enter: 600, leave: 200}")
          collection-filters-skeleton(v-if="fetchingStatus" collection="a")
    .collection-filters__active-filters.body-sm(v-if="currentFilterArray.length")
      .collection-filters__active-filter(v-for="filter in currentFilterArray" @click="removeFilter(filter)")
        icon(name="close" size="20px")
        span {{unhandleizeFilter(filter)}}
      .collection-filters__filters-clear
          v-link(v-if="currentFilterArray.length" :secondary="true" @click="removeAllFilters") Clear All
  .collection-filters(v-else)
    transition-group(name="fade" :duration="{enter: 600, leave: 200}")
      .collection-filters__filter-accordion(v-for="filterGroup in filterGroups.slice(0,5)" :key="filterGroup.name" v-if="!fetchingStatus")
        .collection-filters__filter-accordion-header(@click="setCurrentMobileFilter(filterGroup.name)")
          .collection-filters__filter-accordion-title.body-md
            span {{unhandleizeFilter(filterGroup.name)}}
            span.collection-filters__filter-accordion-title-active-filters.body-sm {{getMobilePanelFilters(filterGroup.name)}}
          icon(v-if="currentFilterPanel !== filterGroup.name" name="plus" size="20px")
          icon(v-if="currentFilterPanel === filterGroup.name" name="minus" size="20px")
        collapse-transition
          .collection-filters__filter-panel-filters(
            v-if="filterGroup.name === 'color' && currentFilterPanel === filterGroup.name")
            .collection-filters__filter-panel-filter-color-swatch(v-for="color in filterGroup.tags" :key="`${filterGroup.name}-${color}`")
              input.collection-filters__filter-panel-filter-color-swatch-checkbox(
                  :id="`${filterGroup.name}-${color}`"
                  :value="`${filterGroup.name}-${color}`"
                  type="checkbox"
                  v-model="currentFilterArray"
                  :style="`backgroundImage: url(${getFileUrl(`swatch_${handleizedFilter(color)}.png`)})`")
              label.body-sm(:for="`${filterGroup.name}-${color}`") {{unhandleizeFilter(color)}}
        collapse-transition
          .collection-filters__filter-panel-filters(
            v-if="filterGroup.name === 'pattern' && currentFilterPanel === filterGroup.name")
            .collection-filters__filter-panel-filter-color-swatch(v-for="pattern in filterGroup.tags" :key="`${filterGroup.name}-${pattern}`")
              input.collection-filters__filter-panel-filter-color-swatch-checkbox(
                  :id="`${filterGroup.name}-${pattern}`"
                  :value="`${filterGroup.name}-${pattern}`"
                  type="checkbox"
                  v-model="currentFilterArray"
                  :style="`backgroundImage: url(${getFileUrl(`swatch_${handleizedFilter(pattern)}.png`)})`")
              label(:for="`${filterGroup.name}-${pattern}`") {{unhandleizeFilter(pattern)}}
        collapse-transition
          .collection-filters__filter-panel-filters(
            v-if="currentFilterPanel === filterGroup.name && currentFilterPanel !== 'color' && currentFilterPanel !== 'pattern'")
            .collection-filters__filter-panel-filter(v-for="filter in filterGroup.tags" :key="`${filterGroup.name}-${filter}`")
              input.collection-filters__filter-panel-filter-checkbox(:id="`${filterGroup.name}-${filter}`" :value="`${filterGroup.name}-${filter}`" type="checkbox" v-model="currentFilterArray")
              label.body-sm(:for="`${filterGroup.name}-${filter}`") {{unhandleizeFilter(filter)}}
    fade-transition(:duration="{enter: 600, leave: 200}")
      collection-filters-skeleton(v-if="fetchingStatus" collection="a")
</template>

<script>
  import { mapState } from 'vuex';
  import {FadeTransition, CollapseTransition} from 'vue2-transitions'

  import { handleize, unhandleize } from 'scripts/filters/string.js'
  import { fileUrl } from 'scripts/helpers/util';

  import Icon from 'scripts/components/basic/Icon.vue'
  import VLink from 'scripts/components/buttons/VLink.vue'
  import CollectionFiltersSkeleton from './CollectionFiltersSkeleton.vue'

  export default {
    name: 'CollectionFiltersA',
    components: { VLink, Icon, FadeTransition, CollapseTransition, CollectionFiltersSkeleton },
    props: {
      filters: {
        type: Array,
        required: true
      },
      tags: {
        type: Array,
        required: true
      }
    },
    data() {
      return {
        currentFilterArray: [],
        currentFilterPanel: "",
        filterPanelOpen: false
      }
    },
    computed: {
      ...mapState({
        currentFilters: state => state.collections.currentFilters,
        currentTags: state => state.collections.currentTags,
        fetchingStatus: state => state.collections.fetchingStatus,
      }),
      splitTags() {
        return this.currentTags.map((tag) => {
          const valueArray = tag.split('::')
          return {tag: handleize(valueArray[0]), value: valueArray[1]}
        })
      },
      filterGroups() {
        let filterGroups = []
        this.filtersWithoutDuplicates.forEach(filter => {
          let filterGroup = {
            name: filter,
            tags: []
          }
          this.splitTags.forEach(tag => {
            if (tag.tag === filter && tag.value) {
              filterGroup.tags.push(tag.value)
            }
          })
          filterGroups.push(filterGroup)
        })
        return filterGroups
      },
      currentFilterArrayUnhandelized() {
        return this.currentFilterArray.map(filter => {
          return unhandleize(filter)
        })
      },
      filtersWithoutDuplicates() {
        let filters = [...new Set(this.filters)]
        return filters
      }
    },
    methods: {
      unhandleizeFilter(handleizedFilter) {
        return unhandleize(handleizedFilter)
      },
      handleizedFilter(unhandelizedFilter) {
        return handleize(unhandelizedFilter, false)
      },
      removeFilter(filter) {
        this.currentFilterArray.splice(this.currentFilterArray.indexOf(filter), 1)
      },
      removeAllFilters() {
        this.currentFilterArray = []
      },
      getFileUrl(file) {
        return fileUrl(file)
      },
      setCurrentFilterPanel(filter) {
        if (this.currentFilterPanel === filter) {
          this.currentFilterPanel = ""
          this.$forceUpdate()
          this.filterPanelOpen = !this.filterPanelOpen
        } else if (!this.filterPanelOpen) {
          this.currentFilterPanel = filter
          this.$forceUpdate()
          this.filterPanelOpen = !this.filterPanelOpen
        } else {
          this.currentFilterPanel = filter
          this.$forceUpdate()
        }
      },
      setCurrentMobileFilter(filter) {
        if(filter === this.currentFilterPanel) {
          this.currentFilterPanel = ""
          this.$forceUpdate()
        } else {
          this.currentFilterPanel = filter
          this.$forceUpdate()
        }
      },
      isUseableFilter(currentFilter) {
        return this.splitTags.some(filter => {return filter.tag === currentFilter})
      },
      getMobilePanelFilters(filterName) {
        if (this.currentFilters.length) {
          let filters = this.currentFilters.map(filter => {
            if (filter.includes(filterName) && !filter.includes(`-${filterName}`)) {
              return filter
            } return ''
          })

          let activeFilters = filters.filter(filter => filter !== "")

          if (activeFilters.length) {
            let unhandelizedFilters = activeFilters.map(filter => {
              let replacedFilter = filter.replace(`${filterName}`, '')
              return unhandleize(replacedFilter)
            })
            let joinedFilters = unhandelizedFilters.join(', ').slice(0,30)
            return `${joinedFilters}${joinedFilters.length >= 30 ? '...' : ''}`
          } return ''
        } return ''
      }
    },
    watch: {
      currentFilterArray() {
        this.$store.dispatch('collections/updateFilters', this.currentFilterArray)
      },
      currentFilters() {
        if (this.currentFilters !== this.currentFilterArray) {
          this.currentFilterArray = this.currentFilters
        }
      }
    }
  }
</script>

<style scoped lang="scss">
  .collection-filters {
    margin-left: auto;
    @media(min-width: 1260px) {
      margin-top: 24px;
    }
    @include mobile-only {
      margin-left: 0;
    }
    &__filter-menu {
      display: flex;
      justify-content: flex-end;
      margin-top: -38px;
      margin-bottom: 16px;
      &-item {
        cursor: pointer;
        margin-left: 40px;
        display: flex;
        align-items: center;
        transition: transform 300ms ease-in-out, color 200ms ease;
        span {
          margin-right: 4px;
          -webkit-font-smoothing: antialiased;
        }
        /deep/ .icon {
          transition: transform 300ms ease-in-out, color 200ms ease;
        }
        &:hover {
          /deep/ .icon {
            transform: translate3d(0,-1px,0);
          }
        }
      }
      &-item.panel-active {
        position: relative;
        color: $color-brand-tertiary;
        /deep/ .icon {
          fill: $color-brand-tertiary;
          transform: rotate(-180deg);
        }
        &::after {
          position: absolute;
          left: 45%;
          bottom: -18px;
          content: '';
          width: 24px;
          height: 16px;
          background: $color-util-bg-offwhite;
          -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
          clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
        }
      }
      @media(max-width: 1260px) {
        margin-top: 0;
        padding-top: 16px;
        margin-bottom: 16px;
        justify-content: center;
        border-top: 1px solid $color-grey;
        &-item {
          margin-left: 0;
          margin-right: 40px;
        }
        &-item:last-child {
          margin-right: 0;
        }
      }
    }
    &__filter-panel {
      padding: 24px 0;
      background: $color-util-bg-offwhite;
      &-filters {
        padding: 0 24px;
        display: flex;
        flex-wrap: wrap;
      }
      &-filter-color-swatch {
        display: flex;
        max-width: 220px;
        width: 100%;
        &-checkbox {
          margin: 0;
          border-radius: 100%;
          width: 24px;
          height: 24px;
          background-size: 150%;
          background-position: center;
          border-color: rgba(0,0,0,0.1);
          flex-shrink: 0;
          @include ie {
            &::-ms-check {
              display: none;
            }
          }
          &:checked {
            background: none;
            background-size: cover;
            background-position: center;
            border: 1px solid $color-brand-primary;
            &::after {
              display: block;
              background-image: none;
              width: 100%;
              height: 100%;
              border-radius: 100%;
              border: 3px solid white;
              top: 0%;
              left: 0%;
            }
          }
        }
        label {
          margin-top: 2px;
          padding-bottom: 16px;
          padding-left: 8px;
        }
      }
      &-filter {
        display: flex;
        max-width: 220px;
        width: 100%;
        &-checkbox {
          flex-shrink: 0;
        }
        label {
          padding-bottom: 16px;
          margin-top: -2px;
        }
      }
    }
    &__filter-accordion {
      padding: 16px;
      border-bottom: 1px solid $color-grey;
      &-header {
        width: 100%;
        display: flex;
        justify-content: space-between;
      }
      &-title {
        &-active-filters {
          color: $color-util-ui-grey;
          margin-left: 8px;
        }
      }
      .collection-filters__filter-panel-filters {
        padding: 0;
        justify-content: space-between;
        font-size: 12px;
        line-height: 20px;
        @include mobile-only {
          padding: 24px 0 0;
        }
      }
      .collection-filters__filter-panel-filter-color-swatch {
        width: 100%;
        max-width: 140px;
        margin: 0 10px;
        text-align: left;
        flex-direction: row;
        &-checkbox {
          margin-right: 8px;
        }
      }
      .collection-filters__filter-panel-filter {
        width: 35%;
      }
    }
    &__active-filters {
      padding-top: 16px;
      display: flex;
      flex-wrap: wrap;
      @include mobile-only {
        padding: 12px;
      }
    }
    &__active-filter {
      display: flex;
      align-items: center;
      margin-right: 20px;
      padding-bottom: 12px;
      cursor: pointer;
      user-select: none;
      /deep/ .icon {
        transition: transform 200ms ease;
      }
      &:hover {
        /deep/ .icon {
          transform: scale3d(0.8,0.8,0.8);
        }
      }
    }
    &__filters-clear {
      cursor: pointer;
    }
  }
</style>