
<template lang="pug">
  .collection-sidebar
    collection-sorting(v-if="!filtersDisabled" :default-sort="defaultSort")
    .collection-sidebar__global-menu
      v-link.collection-sidebar__global-menu-item(v-for="(link,index) in globalMenu" tertiary :key="`${link.title}-${index}`" :href="link.url") {{link.title}}
    .collection-sidebar__custom-menu(v-for="(link, index) in collectionMenu")
      a.h5(:href="link.url" :class="link.links.length < 1 ? 'remove-bottom-spacing' : ''") {{link.title}}
      v-link.collection-sidebar__custom-menu-item(v-for="(link, index) in link.links" tertiary :key="`${link.title}-${index}`" :href="link.url") {{link.title}}

</template>

<script>
  import CollectionSorting from 'scripts/components/collection/CollectionSorting.vue'
  import VLink from 'scripts/components/buttons/VLink.vue'

  export default {
    name: 'CollectionSidebarA',
    components: { CollectionSorting, VLink },
    props: {
      defaultSort: String,
      globalMenu: {
        type: Array,
        default: () => ([
          {
            url: String,
            title: String
          }
        ])
      },
      collectionMenu: {
        type: Array,
        default: () => ([
          {
						handle: String,
						title: String,
						links: {
              type: Array,
              default: () => ([
                {
                  title: String,
                  url: String,
                  link: {
                    type: Array,
                    default: () => ({
                      title: String,
                      url: String
                    })
                  }
                }
              ])
            }
          }
        ])
      },
      filtersDisabled: {
        type: Boolean,
        default: false
      }
    },
    computed: {},
    methods: {}
  }
</script>

<style scoped lang="scss">
  .collection-sidebar {
    min-width: 302px;
    margin-top: 32px;
    margin-right: 32px;
    
    &__global-menu {
      display: flex;
      flex-direction: column;
      padding: 24px 0 16px;
      border-bottom: 1px solid $color-grey;
      > a {
        margin-bottom: 8px;
        color: $color-black;
      }

      > a:visited {
        color: $color-black;
      }
    }
    &__custom-menu {
      display: flex;
      flex-direction: column;
      .h3 {
        padding: 24px 0 16px;
      }
      a {
        margin-bottom: 8px;
      }
    }
  }
  .remove-bottom-spacing {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
  }
</style>