<template lang="pug">
  .collection-mobile-menu(:class="menuActive ? 'menu-active' : ''")
    .collection-mobile-menu__header
      .collection-mobile-menu__header-title
        h3.h2 {{menuTitle}}
        .collection-mobile-menu__filters-clear(v-if="enableClearAll")
          v-link(v-if="currentFilters.length" :secondary="true" @click="removeAllFilters") Clear All
      icon(@click="closeBinding" name="close" size="24px")
    .collection-mobile-menu__contents
      slot
    .collection-mobile-menu__apply-button
      v-button(v-if="enableApplyButton" :secondary="true" :full="true" @click="closeBinding" label="APPLY")
</template>

<script>
  import { mapState } from 'vuex'

  import Icon from 'scripts/components/basic/Icon.vue'
  import VButton from 'scripts/components/buttons/VButton.vue'
  import VLink from 'scripts/components/buttons/VLink.vue'

  export default {
    name: "CollectionMobileMenuA",
    components: { Icon, VButton, VLink },
    props: {
      menuActive: {
        type: Boolean,
        default: false
      },
      menuTitle: {
        type: String,
        required: true
      },
      enableApplyButton: {
        type: Boolean,
        default: false
      },
      closeBinding: {
        type: Function,
        required: true
      },
      enableClearAll: {
        type: Boolean,
        default: false
      }
    },
    computed: {
      ...mapState({
        currentFilters: state => state.collections.currentFilters
      })
    },
    methods: {
      removeAllFilters() {
        this.$store.dispatch('collections/updateFilters', [])
      }
    }
  }
</script>

<style lang="scss" scoped>
  .collection-mobile-menu {
    background-color: $color-util-bg-offwhite;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    opacity: 0;
    transform: translate3d(-100%,0,0);
    transition: transform 250ms ease-in-out, opacity 200ms ease;
    display: flex;
    flex-direction: column;
    &.menu-active {
      opacity: 1;
      transform: translate3d(0,0,0);
    }
    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: $color-white;
      padding: 16px;
      &-title {
        display: flex;
        align-items: center;
        /deep/ .link {
          margin-left: 16px;
        }
      }
    }
    &__contents {
      position: relative;
      width: 100%;
      height: 100%;
      overflow-y: scroll;
    }
    &__apply-button {
      background-color: #fff;
      width: 100%;
      padding: $grid-gutter;
      padding-bottom: 48px;

      /* iPhone XR XS & XS Max media queries */
      @media only screen
      and (device-width : 414px)
      and (device-height : 896px)
      and (-webkit-device-pixel-ratio : 2) {
        padding-bottom: 91px;
      }

      @media only screen
      and (device-width : 375px)
      and (device-height : 812px)
      and (-webkit-device-pixel-ratio : 3) {
        padding-bottom: 91px;
      }
      @media only screen
      and (device-width : 414px)
      and (device-height : 896px)
      and (-webkit-device-pixel-ratio : 3) {
        padding-bottom: 91px;
      }
    }
    &__filters-clear {
      cursor: pointer;
    }
  }
</style>