<template lang="pug">
  .featured-products
    .featured-products__background
      icon(
        name="collection-hero-desktop"
        size="100%"
      )
    h2.featured-products__title {{ title }}
    .carousel-wrapper.container
      button.featured-products__button.featured-products__button--prev.button--icon(
        @click="slidePrevMain"
        aria-label="Previous Featured Image"
      )
        icon(
          name="nav-arrow-left"
          size="47px"
        )
      button.featured-products__button.featured-products__button--next.button--icon(
        @click="slideNextMain"
        aria-label="Next Featured Image"
      )
        icon(
          name="nav-arrow-right"
          size="47px"
        )
      carousel(
        :slides-to-show="['mobile', 'tablet'].includes($mq) ? 1 : 3"
        :infinite="true"
        ref="carousel"
      )
        slide.feature-products__slide(
          v-for="product in products"
          :key="product.id"
        )
          product-tile(
            :product="product"
            :quickshopEnabled="false"
          )
</template>

<script>
  import Carousel from 'scripts/components/basic/Carousel.vue';
  import Slide from 'scripts/components/basic/Slide.vue';
  import ProductTile from 'scripts/components/product/ProductTile.vue';
  import Icon from 'scripts/components/basic/Icon.vue';

  export default {
    name: 'FeaturedCollection',
    components: { Carousel, Slide, ProductTile, Icon },
    props: {
      title: String,
      products: Array,
    },
    methods: {
      slideNextMain() {
        this.$refs.carousel.slideNext();
      },
      slidePrevMain() {
        this.$refs.carousel.slidePrev();
      },
    }
  };
</script>

<style lang="scss" scoped>
  .featured-products {
    position: relative;
    padding: 25px 0;
    background: linear-gradient(to bottom, $color-white 0%, $color-white 61%, $color-grayish-gray 100%);

    @include desktop-up {
      padding: 55px 0;
      background: linear-gradient(to bottom, $color-white 0%, $color-white 68%, $color-grayish-gray 100%);
    }
  }

  .featured-products__title {
    margin-bottom: 22px;
    text-align: center;
    font-size: rem(26);
    line-height: 1;
    letter-spacing: -0.5px;
    font-family: $font-gibson;
    font-weight: 300;

    @include desktop-up {
      margin-bottom: 42px;
      font-size: rem(33);
    }
  }

  .carousel-wrapper {
    position: relative;
  }

  .featured-products__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
  }

  .featured-products__button--prev {
    left: 15px;

    @include desktop-up {
      left: 5px;
    }

    @include hd-up {
      left: -15px;
    }
  }

  .featured-products__button--next {
    right: 15px;

    @include desktop-up {
      right: 5px;
    }

    @include hd-up {
      right: -15px;
    }
  }

  .feature-products__slide {
    justify-content: flex-start;

    /deep/ .product-tile {
      background-color: transparent;
    }
  }

  .featured-products__background {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $color-white;

    /deep/ .icon--collection-hero-desktop {
      display: block;
    }
  }
</style>
