<template lang="pug">
  .mobile-takeover.container
    header.mobile-takeover__header
      h2.mobile-takeover__title {{ title }}
      icon(
        @click="close"
        name="bordered-close"
      )
    ul.mobile-takeover__options
      li.mobile-takeover__option(
        v-for="option in options"
        :key="option.value"
        @click="selectOption(option)"
        :class="optionClass"
      )
        img.mobile-takeover__image(
          v-if="useOptionImages"
          :src="option.image"
          :alt="option.value"
          :class="{ 'is-active' : option.value === selectedOption }"
        )
        span.mobile-takeover__option-label(
          v-else
        )
          icon.is-active-icon(
            v-if="option.value === selectedOption"
            name="check"
          )
          | {{ option.label }}
    v-button.apply(
      :full="true"
      :primary="true"
      tag="button"
      @click="applyOption"
    ) Apply

</template>

<script>
  import VButton from 'scripts/components/buttons/VButton.vue';
  import Icon from 'scripts/components/basic/Icon.vue';

  export default {
    name: 'MobileTakeover',
    components: { Icon, VButton },
    data () {
      return {
        selectedOption: false,
      }
    },
    props: {
      useOptionImages: {
        type: Boolean,
        default: false,
      },
      allowNoSelectedOption: {
        type: Boolean,
        default: false,
      },
      optionClass: {
        type: String,
        default: '',
      },
      options: Array,
      title: String,
      initialOption: String,
    },
    mounted () {
      if (this.initialOption !== '' ) this.selectedOption = this.initialOption;
    },
    methods: {
      selectOption (option) {
        if (this.selectedOption === option.value && this.allowNoSelectedOption === true) {
          this.selectedOption = false;
        } else {
          this.selectedOption = option.value;
        }
      },
      applyOption () {
        this.$emit('selected', this.selectedOption);
      },
      close () {
        this.$emit('close');
      }
    },
  };
</script>

<style scoped lang="scss">
  .mobile-takeover {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    background-color: $color-white;
  }

  .mobile-takeover__header {
    margin: 20px 0;
    padding-bottom: 20px;
    border-bottom: 1px solid $color-semi-grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .mobile-takeover__title {
    font-size: rem(26);
    line-height: 1;
    letter-spacing: -0.5px;
    font-family: $font-gibson;
    font-weight: 300;
  }

  .mobile-takeover__options {
    padding-left: 0;
    text-align: center;
  }

  .mobile-takeover__option {
    margin-bottom: 16px;
  }

  .mobile-takeover__option.filter-category {
    margin-bottom: 10px;
    width: 100%;
    border: 1px solid $color-grayish-gray;
    border-radius: 10px 0 10px 0;
    padding: 16px 20px;
    text-align: left;
  }

  .mobile-takeover__image {
    opacity: 0.4;
    transition: opacity .3s;

    &.is-active {
      opacity: 1;
    }
  }

  .mobile-takeover__option-label {
    position: relative;
    font-size: rem(16);
    line-height: 2.2;
    letter-spacing: 0.25px;
    font-weight: 700;
    font-family: $font-gibson;
  }

  .is-active-icon {
    position: absolute;
    top: -2px;
    left: -30px;
  }

  .apply {
    margin-top: 100px;

    /deep/ .button__content {
      text-transform: capitalize;
    }
  }
</style>
