<template lang="pug">
  section.header-2(v-if="settings")
    slot(name="topbar")
    brand-logo-bar(:settings="settings")
    search-bar(
      :settings="settings"
      :defaultIcons="defaultIcons"
      :helpLinks="helpLinks"
      :checkout="checkout"
      :cartBubbleColors="cartBubbleColors"
      :menuLinks="menuLinks"
      :onHamburgerCloseClick="onHamburgerCloseClick"
      :onHamburgerOpenClick="onHamburgerOpenClick"
      :mobileMenuOpen="mobileMenuOpen"
      :customerName="customerName"
      :enablePredictiveSearch="enablePredictiveSearch"
    )
    menu-mobile(
      v-if="['mobile', 'tablet'].includes($mq)"
      :settings="settings"
      :defaultIcons="defaultIcons"
      :menuLinks="menuLinks"
      :mobileMenuOpen="mobileMenuOpen"
      :helpLinks="helpLinks"
      :onClose="onHamburgerCloseClick"
    )
</template>

<script>
// * imports: vuex
import { mapState } from 'vuex';
// * imports: components
import BrandLogoBar from 'scripts/components/header-2/sub/BrandLogoBar.vue';
import SearchBar from 'scripts/components/header-2/sub/SearchBar.vue';
import MenuMobile from 'scripts/components/header-2/sub/MenuMobile.vue';
import PromobarCarousel from 'scripts/components/promobar/PromobarCarousel.vue';

export default {
  name: 'Header2',
  components: {
    BrandLogoBar,
    SearchBar,
    PromobarCarousel,
    MenuMobile
  },
  props: {
    settings: Object,
    blocks: Array,
    defaultIcons: Object,
    helpLinks: Array,
    checkout: Object,
    cartBubbleColors: Object,
    customerName: String,
    enablePredictiveSearch: Boolean
  },
  computed: {
    searchBarProps() {
      return { ...this.settings, ...this.defaultIcons };
    },
    menuLinks() {
      return this.blocks.filter(blk => blk.type === 'menuLink');
    }
  },
  methods: {
    onHamburgerOpenClick() {
      this.mobileMenuOpen = true;
    },
    onHamburgerCloseClick() {
      this.mobileMenuOpen = false;
    }
  },
  watch: {
    $mq() {
      if (!['mobile', 'tablet'].includes(this.$mq)) {
        this.mobileMenuOpen = false;
        document.querySelector('body').classList.remove('no-overflow');
      }
    }
  },
  data() {
    return {
      mobileMenuOpen: false
    };
  }
};
</script>

<style lang="scss">
.header-2 {
  position: relative;
  width: 100%;
  @include desktop-up {
    border-bottom: none;
    padding-bottom: 0;
  }
}
</style>