
<template lang="pug">
    tr.cart__line-item(v-if="item", :class="[itemClass, inKit ? `kit-${kitId}-${line - 1}` : '', inKit ? 'kit-item' : '']")
      .cart__line-item__product-info-container
        .cart__line-item__image-product-details-container
          .cart__line-item__outer-image-wrapper
            .cart__line-item__image-wrapper(:style="{backgroundImage: `url(${item.image})`}" :alt="item.title")
          .cart__line-item__product-details
            .cart__line-item__title
              p {{ itemName }}
              .cart__line-item__options
                span.body-sm
                  span.cart__line-item__sku(v-if="subtitlePreText") {{`${subtitlePreText} `}}
                  span {{ item.sku }}
                span.body-sm(v-for="option in item.options_with_values" v-if="option.value !== 'Default Title'") {{option.name}}: {{option.value}}
        td.cart__line-item__quantity(v-if="!disableQuantity")
          quantity-selector(
            :value="item.quantity"
            @input="updateQuantity"
          )
        td.cart__line-item__quantity(v-else)
          div
        td.cart__line-item__price-remove-container
          p.cart__line-item__price
            span.cart__line-item__price--compare-at.body-md-sm(v-if="isDiscounted") {{ comparePrice | money }}
            span.body-md(v-if="item.line_price > 0" :class="{ [`cart__line-item__price--discount strong-bold ${$store.state.comparePriceColor}`]: isDiscounted }") {{ item.line_price | money }}
            span.body-md(v-else) FREE
          .cart__line-item__remove(v-if="!disableRemove")
            v-link(@click="removeItem" :secondary="true") Remove
</template>

<script>
  import { mapState } from 'vuex'
  import range from 'lodash/range';
  import { debounce } from 'scripts/helpers/util.js'
  import VLink from 'scripts/components/buttons/VLink.vue'
  import Icon from 'scripts/components/basic/Icon.vue'
  import QuantitySelector from 'scripts/components/basic/Quantity.vue';

  export default {
    name: 'CartLineItem',
    components: { Icon, VLink, QuantitySelector },
    props: {
      item: Object,
      line: Number,
      inKit: Boolean,
      kitId: [Number, String],
      disableQuantity: Boolean,
      disableRemove: Boolean,
    },
    data () {
      return {
        updating: false,
        selectOptions: range(1, 11).map(qty => ({label: qty, value: qty})),
        isPDPDesign2: window.bvaccel && window.bvaccel.themeTemplates && window.bvaccel.themeTemplates.product === 'BourdainProductDisplay',
      }
    },
    computed: {
      ...mapState({
        allProducts: state => state.products.all,
      }),
      itemClass () {
        return {
          'updating': this.updating
        }
      },
      product () {
        return this.allProducts.find(product => {
          return Boolean(product.variants.find(variant => this.item.id === variant.id))
        })
      },
      variant () {
        return this.product ? this.product.variants.find(variant => variant.id === this.item.id) : null
      },
      hasBaseProduct () {
        return this.item.properties && !!this.item.properties._base_product;
      },
      baseProduct () {
        if(this.hasBaseProduct) {
          return this.allProducts.find(product => product.handle === this.item.properties._base_product)
        }

        return null;
      },
      itemName () {
        if(this.baseProduct) {
          const freq = this.item.properties.shipping_interval_frequency
          const unit = this.item.properties.shipping_interval_unit_type

          return `${this.item.product_title} - ${freq} ${unit} Subscription`;
        }

        return this.item.product_title;
      },
      comparePrice () {
        if(this.baseProduct) {
          return this.baseProduct.price * this.item.quantity;
        }

        return (this.variant) ? parseInt(this.variant.compare_at_price, 10) * this.item.quantity : this.item.price * this.item.quantity
      },
      isDiscounted () {
        return !isNaN(this.comparePrice) && this.item.price * this.item.quantity < this.comparePrice
      },
      subtitlePreText() {
        return window.bvaccel.schema.productTile.subtitle_pretext
      }
    },
    methods: {
      removeItem () {
        this.updating = true

        this.$store.dispatch('cart/removeItems', {key: this.item.key})
          .catch(error => this.$store.dispatch('toast/send', { text: error, type: 'error' }))
          .then(() => this.updating = false)
      },
      increment () {
        this.updateQuantity(this.item.quantity + 1)
      },
      decrement () {
        if (this.item.quantity > 0) {
          this.updateQuantity(this.item.quantity - 1)
        }
      },
      updateQuantity: debounce(function (newQuantity) {
        this.updating = true

        if (newQuantity < 1) {
          this.removeItem()
          return
        }

        this.$store.dispatch('cart/updateItems', { key: this.item.key, quantity: newQuantity })
          .catch(error => this.$store.dispatch('toast/send', { text: error, type: 'error' }))
          .then(() => this.updating = false)
      }, 100)
    },
    created () {
      if(this.hasBaseProduct && !this.baseProduct) {
        this.$store.dispatch('products/addProduct', this.item.properties._base_product)
      }
    }
  }
</script>

<style scoped lang="scss">
  .cart__line-item:first-of-type  {
    margin-top: 12px;
    border-top: 1px solid $color-light-grey;
  }
  .cart__line-item {
    display: flex;
    position: relative;
    align-items: center;
    padding: 14px 0;
    border-bottom: 1px solid $color-light-grey;

    &.updating {
      opacity: 0.5;
      pointer-events: none;

      &.slide-fade-left-leave-active {
        opacity: 0;
      }
    }

    &__product-info-container {
      width: 100%;
      display: flex;
      align-items: center;
    }

    &__image-product-details-container {
      display: flex;
      width: 60%;
      align-items: center;
    }

    &__product-details {
      margin-right: 24px;
      margin-left: 24px;
    }

    &__image-wrapper {
      width: 112px;
      height: 112px;
      padding: 0;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }

    &__image {
      max-height: 100%;
      flex-shrink: 0;
    }

    &__content {
      margin-left: 24px;
    }

    &__header,
    &__details {
      display: flex;
    }

    &__details {
      justify-content: space-between;
      margin-top: 12px;
    }

    &__title {
      p {
        @include cart-line-item-title;
        text-align: left;
      }
    }

    &__options {
      padding-top: 12px;
      display: flex;
      flex-direction: column;
      color: $color-off-black;
    }

    &__sku {
      span {
        font-size: inherit;
      }
    }

    &__price-remove-container {
      display: flex;
      justify-content: space-between;
      width: 20%;
    }

    &__remove {
      text-align: right !important;
    }

    &__remove a {

      @media screen and (min-width: 1024px) and (max-width: 1150px) {
        font-size: 14px;
      }
    }

    &__price {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      line-height: 32px;

      &--compare-at {
        color: $color-grey;
        text-decoration: line-through;
      }
    }

    &__price span {

      @media screen and (min-width: 1024px) and (max-width: 1150px) {
        font-size: 14px;
      }
    }

    &__quantity {
      display: flex;
      border: none;
      justify-content: flex-start;
      width: 20%;
      &__label {
        width: 27px;
        line-height: 28px;
        color: $color-black;
        text-align: center;
        margin: 0;
        margin: 0 12px;

        @media screen and (min-width: 1024px) and (max-width: 1150px) {
          margin: 0 5px;
        }
      }

      &__change {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        border-radius: 100%;
        transition: box-shadow 200ms ease;

        &[disabled] {
          background-color: transparent;
          opacity: 0.3;
        }
      }

      /deep/ .quantity {
        padding: 8px;
        width: 100%;
        max-width: 120px;
        border: 1px solid $color-light-grey !important;
        border-radius: 2px;
        background-color: $color-white;
      }

      /deep/ .quantity__label {
        width: 100%;
      }

      /deep/ .quantity__change {
        flex: 0 0 auto;

        &:not(:hover) {
          box-shadow: none;
        }
      }
    }

    &__price-remove-container {
      display: flex;
      align-items: center;
    }

    /deep/ &-quantity-select {
      max-width: 50px;
      margin: 0;

      .vs__dropdown-menu {
        max-width: 50px;
      }
    }
  }
  tr {
    display: table;
    width: 100%;
  }
</style>
