<template lang="pug">
  .cart
    .cart__wrapper.container(v-if="$mq !== 'mobile' && $mq !== 'tablet'")
      .cart__container(v-if="totalItems > 0")
        .cart__heading-container.container(v-if="totalItems > 0")
          h1.h4.text-center My Shopping Cart
          span.cart__heading-total {{totalItems}} items
          cart-shipping-promo(:subtotal="totalPrice" v-bind="$props")
        transition(name="fade", mode="out-in")
          .cart__contents-wrapper
            .cart__contents
              sidecart-line-item(
                v-for="(item, index) in itemsNotInKits",
                v-if="item.handle !== 'customizations'"
                :item="item",
                :key="item.key"
              )
      .cart__empty(v-else)
        p.cart__empty__message {{ emptyText }}
        v-button.cart__empty__link(v-for="(link, index) in emptyLinkArray" :primary="true" :href="link.url", :label="link.text" :key="index" tag="a" v-if="link.text")
      .cart__sidebar(v-if="totalItems > 0")
        form.cart__total-checkout(action="/cart")
          table.cart__table
            thead
              tr.cart__table-body
                th(colspan="2")
                  h3.h5.text-center.table-body-title Order Summary
            tbody.cart__table-body
              tr.cart__table-row
                td.cart__table-data-type.subtotal.strong-bold Subtotal
                td.cart__table-data-price.subtotal {{ totalPrice | money }}
              tr.cart__table-row(v-if="savingsTotal > 0", :class="$store.state.comparePriceColor")
                td.cart__table-data-type.savings.strong-bold You Saved
                td.cart__table-data-price.savings {{ savingsTotal | money }}
          v-button.cart__checkout-cta(@click="goToCheckout($event)" :full="true" type="submit" name="checkout" value="Checkout" :class="[{'cart__checkout-cta-promo-active' : promoMessage }, colors.cta]" label="CHECKOUT")
          v-link.cart__shipping-promo-continue-shopping.u-hidden-mobile-only(:primary="true" :href="continueShoppingLink") Continue Shopping
        .cart__promo(v-if="promoMessage")
          p.cart__promo__copy.body-sm {{ promoMessage }}
    .cart__container-mobile(v-else)
      .cart__heading-container.container(v-if="totalItems > 0")
        h1.h4.text-center My Shopping Cart
        span.cart__heading-total {{totalItems}} items
        cart-shipping-promo(:subtotal="totalPrice" v-bind="$props")
      transition(name="fade")
        .cart__contents-wrapper(v-if="totalItems > 0")
          .cart__contents
            sidecart-line-item(
              v-for="(item, index) in itemsNotInKits",
              v-if="item.handle !== 'customizations'"
              :item="item",
              :key="item.key"
            )
          .cart__footer
            form.cart__total-checkout(action="/cart")
              table.cart__table
                thead
                  tr.cart__table-body
                    th(colspan="2")
                      h3.h5.text-center.table-body-title Order Summary
                tbody.cart__table-body
                  tr.cart__table-row
                    td.cart__table-data-type.subtotal.strong-bold.body-md Subtotal
                    td.cart__table-data-price.subtotal.body-md {{ totalPrice | money }}
                  tr.cart__table-row(v-if="savingsTotal > 0", :class="$store.state.comparePriceColor")
                    td.cart__table-data-type.savings.strong-bold.body-md You Saved
                    td.cart__table-data-price.savings.body-md {{ savingsTotal | money }}
              v-button.cart__checkout-cta(primary @click="goToCheckout($event)" name="checkout" :full="true" :class="[{'cart__checkout-cta-promo-active' : promoMessage }, colors.cta]" label="CHECKOUT")
            .cart__promo(v-if="promoMessage")
              p.cart__promo__copy.body-sm {{ promoMessage }}
            .cart__continue-shopping-link-container
              v-link.cart__continue-shopping(:primary="true" href="/collections/all") Continue Shopping
        .cart__empty(v-if="totalItems === 0")
          p.cart__empty__message {{ emptyText }}
          v-button.cart__empty__link(v-for="(link, index) in emptyLinkArray" :primary="true" :href="link.url", :label="link.text" :key="index" tag="a" v-if="link.text")
</template>

<script>
  import { mapState } from 'vuex';

  import Icon from 'scripts/components/basic/Icon.vue';
  import VButton from 'scripts/components/buttons/VButton.vue';
  import VLink from 'scripts/components/buttons/VLink.vue';
  import AsyncButton from 'scripts/components/buttons/AsyncButton.vue';
  import TextAreaInput from 'scripts/components/forms/TextAreaInput.vue';
  import CartLineItem from 'scripts/components/cart/CartLineItem.vue';
  import SidecartLineItem from 'scripts/components/cart/SidecartLineItem.vue';
  import CartLineItemKit from './CartLineItemKit.vue';
  import SidecartLineItemKit from './SidecartLineItemKit.vue';
  import CartShippingPromo from './CartShippingPromo.vue';
  import axios from 'axios';

  export default {
    name: 'Cart',
    components: { VButton, CartLineItem, SidecartLineItem, Icon, VLink, TextAreaInput, AsyncButton, CartLineItemKit, SidecartLineItemKit, CartShippingPromo },
    props: {
      cartObject: Object,
      promoMessage: String,
      emptyText: String,
      emptyLinkArray: Array,
      wishlistCta: Object,
      continueShoppingLink: String,
      colors: {
        type: Object,
        default: () => window.bvaccel.cart.colors,
      },
      ...CartShippingPromo.props,
    },
    data() {
      return {
        giftEnabled: false,
        giftMessageEnabled: false,
        giftMessage: null,
        lineItemsBottom: false,
        giftMessageConfirmationActive: false,
        giftMessageConfirmationMessage: '',
      };
    },
    computed: {
      ...mapState({
        allProducts: (state) => state.products.all,
        sidecartOpen: (state) => state.cart.sidecartOpen,
        items: (state) => state.cart.checkout.items,
        itemsSubtotal: (state) => state.cart.checkout.items_subtotal_price,
        totalDiscount: (state) => state.cart.checkout.total_discount,
        totalPrice: (state) => state.cart.checkout.total_price,
        totalItems: (state) => state.cart.checkout.item_count,
        kits: (state) => state.cart.kits,
      }),
      normalizedTotalPrice() {
        return parseFloat(this.totalPrice / 100);
      },
      remainingThresholdValue() {
        if (this.normalizedTotalPrice < this.shippingPromoTotal) {
          return parseFloat(this.shippingPromoTotal - this.normalizedTotalPrice).toFixed(2);
        }
        return 0;
      },
      remainingThresholdPercentage() {
        if (this.normalizedTotalPrice < this.shippingPromoTotal) {
          return parseInt(((this.normalizedTotalPrice / this.shippingPromoTotal) * 100).toFixed(0));
        }
        return 100;
      },
      savingsTotal() {
        let totalFullPrices = 0;
        let totalDiscounts = 0;
        let fullPrices = [];
        let discountedPrices = [];
        this.items.forEach((item) => {
          this.allProducts.forEach((product) => {
            if (item.id === product.id && product.compare_at_price !== item.price) {
              fullPrices.push(product.compare_at_price * item.quantity);
            }
            product.variants.forEach((variant) => {
              if (item.id === variant.id && variant.compare_at_price !== variant.price) {
                fullPrices.push(variant.compare_at_price * item.quantity);
              }
            });
          });
        });
        this.items.forEach((item) => {
          this.allProducts.forEach((product) => {
            if (item.id === product.id && product.compare_at_price !== item.price) {
              discountedPrices.push(product.price * item.quantity);
            }
            product.variants.forEach((variant) => {
              if (item.id === variant.id && variant.compare_at_price !== variant.price) {
                discountedPrices.push(variant.price * item.quantity);
              }
            });
          });
        });

        discountedPrices.forEach((price) => (totalDiscounts += price));
        fullPrices.forEach((price) => (totalFullPrices += price));

        return totalFullPrices - totalDiscounts;
      },
      pageTopHeight() {
        let navHeight = document.querySelector('.main-navigation-container').offsetHeight;
        let headingHeight = 48;
        let promoHeight;
        if (document.querySelector('.cart__shipping-promo--wrapper.mobile')) {
          promoHeight = document.querySelector('.cart__shipping-promo--wrapper.mobile').offsetHeight;
        } else {
          promoHeight = 0;
        }
        return navHeight + headingHeight + promoHeight;
      },
      itemsNotInKits() {
        return this.items.filter((item) => !item.properties || !item.properties._kitId);
      },
      cartContainsSubscription() {
        return this.items.some((item) => !!item.properties && item.properties.og_subscription);
      },
    },
    mounted() {
      if (this.thresholdProductHandle) {
        this.$store.dispatch('products/addProduct', this.thresholdProductHandle);
      }
      this.getGiftMessage();
      this.updateGiftMessage();
      this.initBoldUpsell();
    },
    updated() {
      this.initBoldUpsell();
    },
    methods: {
      initBoldUpsell() {
        // init bold
        if (window.BOLD && BOLD.common && BOLD.common.eventEmitter && typeof BOLD.common.eventEmitter.emit === 'function') {
          BOLD.common.eventEmitter.emit('BOLD_COMMON_cart_loaded');
        }
      },
      toggleGift() {
        this.giftEnabled = !this.giftEnabled;
        this.updateGiftMessage();
      },
      addRemoveGiftMessage() {
        this.giftMessageEnabled = !this.giftMessageEnabled;
        if (this.giftMessageEnabled === false) {
          this.giftMessage = null;
        }
        this.updateGiftMessage();
      },
      checkSpecialChars(message) {
        let pattern = RegExp(/[^\u0020-\u007E]/gm);
        return pattern.test(message);
      },
      updateGiftMessage() {
        if (this.giftEnabled === true && this.giftMessage !== '') {
          if (this.checkSpecialChars(this.giftMessage)) {
            this.giftMessageConfirmationMessage = 'Error! Please remove special characters and returns.';
            this.giftMessageConfirmation();
          } else {
            this.giftMessageConfirmationMessage = 'Message Saved!';
            this.giftMessageSuccess = axios.post('/cart/update.js', {
              attributes: {
                giftEnabled: this.giftEnabled,
                giftMessage: this.giftMessage,
              },
            });
          }
        }
        if (this.giftEnabled === true && this.giftMessage === '') {
          this.giftMessageSuccess = axios.post('/cart/update.js', {
            attributes: {
              giftEnabled: this.giftEnabled,
            },
          });
        }
        if (this.giftEnabled === false) {
          this.giftMessageSuccess = axios.post('/cart/update.js', {
            attributes: {
              giftEnabled: this.giftEnabled,
            },
          });
        }
      },
      getGiftMessage() {
        if (!this.cartObject.attributes.giftEnabled && !this.cartObject.attributes.giftMessage) {
          this.giftEnabled = false;
        }
        if (this.cartObject.attributes.giftEnabled === 'true' && this.cartObject.attributes.giftMessage) {
          this.giftEnabled = true;
          this.giftMessageEnabled = true;
          this.giftMessage = this.cartObject.attributes.giftMessage;
        }
        if (this.cartObject.attributes.giftEnabled === 'true' && !this.cartObject.attributes.giftMessage) {
          this.giftEnabled = true;
          this.giftMessageEnabled = false;
        }
        if (this.cartObject.attributes.giftEnabled === 'false') {
          this.giftEnabled = false;
        }
      },
      debouncedUpdateGiftMessage() {
        this.giftMessageConfirmationActive = false;
        clearTimeout(this.timeout);
        let self = this;
        this.timeout = setTimeout(function() {
          self.updateGiftMessage();
          document.getElementById('giftMessageInput').blur();
          self.giftMessageConfirmation();
        }, 3000);
      },
      giftMessageConfirmation() {
        this.giftMessageConfirmationActive = true;
      },
      goToCheckout(event) {
        if (!this.cartContainsSubscription || (this.cartContainsSubscription && window.bvaccel.customer.active)) {
          event.preventDefault();
          window.location = '/checkout';
        }
      },
    },
  };
</script>

<style scoped lang="scss">
  .cart {
    display: flex;
    flex-direction: column;
    background-color: $color-white;
    h1 {
      text-align: left;
    }
    &__wrapper {
      display: flex;
      justify-content: space-between;
      padding-bottom: 50px;
      width: 100%;
      padding-top: 24px;

      @include tablet-up {
        padding-top: 40px;
      }

      @include mobile-only {
        flex-direction: column;
      }
    }

    &__container {
      width: 100%;
    }

    &__contents-wrapper {
      display: flex;
      flex-grow: 1;
      width: 100%;
      @include desktop-up {
        max-width: 864px;
      }
      &-mobile {
        width: 100%;
        height: 100%;
        position: relative;
      }
    }
    &__sidebar {
      width: 100%;
      max-width: 416px;
      @include mobile-tablet {
        max-width: none;
      }
    }

    &__contents-table-header {
      &--product {
        width: 60%;
      }
      &--quantity {
        width: 20%;
      }
      &--price {
        width: 20%;
      }
      // @media screen and (width: 1024px) {
      //   &--product {
      //   width: 50%;
      //   }
      //   &--quantity {
      //     width: 25%;
      //   }
      // }
    }

    &__heading-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      padding-left: 20px;

      > * + * {
        margin-top: 8px;
      }

      @include mobile-only {
        border-bottom: 1px solid $color-light-grey;
      }

      @include mobile-tablet {
        padding-bottom: 24px;
      }
      @include desktop-up {
        padding-bottom: 32px;
      }

      h1 {
        margin-top: 24px;
        display: block;
        font-family: $font-gibson;
        font-weight: 300;

        @include desktop-up {
          margin-top: 0;
        }
      }

      span {
        font-family: $font-family-primary;
      }

      .cart__heading-total {
        font-family: $font-gibson;
        font-weight: 300;
      }
    }
    &__shipping-promo.container {
      padding: 9px $grid-gutter;
    }
    &__shipping-promo {
      padding: 10px;
      text-align: center;

      @include desktop-up {
        > * {
          display: block;
        }
      }

      &-continue-shopping {
        width: auto;
      }

      &--main-wrapper {
        padding: 10px;
        text-align: center;
        font-size: 0.75rem;
        line-height: 1.4;
        letter-spacing: 0.5px;
        font-weight: 700;
        text-transform: uppercase;
        background-color: $color-black;
        color: $color-white;
      }
    }

    &__shipping-promo-progress-bar-desktop {
      background-color: $color-off-white;
      width: 100%;
      max-width: 416px;
      height: 8px;
      margin: 12px auto 0;
      border-radius: $border-radius--light;
    }

    &__shipping-promo-progress-bar {
      height: 4px;
      transition: width 200ms ease;
      margin-bottom: 50px;

      @include mobile-tablet {
        margin-bottom: 24px;
      }
      @include desktop-up {
        margin: 0;
        height: 8px;
      }
    }

    &__contents {
      flex-grow: 1;
      padding: 0 $grid-gutter * 2 0 0;
      overflow: visible; // allow quantity select dropdown to overflow

      @include mobile-tablet {
        width: 100%;
        padding: 0 $grid-gutter;
      }
      &-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-grow: 1;
      }
    }
    &__footer {
      padding-top: 8px;
      border: none;
      @include mobile-tablet {
        display: flex;
        flex-direction: column;
        padding: 16px;
        width: 100%;
        background-color: $color-white;
        align-content: flex-end;
      }
    }
    &__total-checkout {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 24px;
      border-radius: $border-radius--medium;
      border: 1px solid #EEEEEE;
      border-radius: 4px;
      background-color: #F9F9F9;
      box-shadow: 0 1px 1px 0 rgba(0,0,0,0.12);

      @include mobile-tablet {
        padding: 24px 12px;
        margin-bottom: 16px;
        box-shadow: none;
      }

      @include desktop-up {
        margin-bottom: 16px;
      }
    }
    &__gift-messaging {
      padding: 24px;
      background: $color-light-grey;
      border-radius: $border-radius--medium;

      @include mobile-tablet {
        padding: 24px 16px;
        box-shadow: none;
        margin: 8px 0 16px;
      }
      &-header {
        display: flex;
        justify-content: space-between;
        width: 100%;
      }
      &-edit {
        cursor: pointer;
      }
      &-message {
        display: flex;
        flex-direction: column;
        &-confirmation {
          color: $color-util-success;
          margin-top: 8px;
        }
      }
      &-textarea {
        margin-top: 18px;
      }
      &-submit {
        align-self: flex-end;
      }
    }
    &__table {
      display: table;
      width: 100%;
      margin-bottom: 12px;
      &-body {
        width: 100%;
      }
      &-row {
        display: table;
        width: 100%;
      }
      &-data-price {
        text-align: right;
      }
    }
    &__promo {
      background-color: $color-off-white;
      padding: 26px $grid-gutter;

      @include desktop-up {
        margin-top: 16px;
      }
      &__copy {
        margin: 0;
        padding: 0;
        text-align: center;
      }
    }
    &__empty {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 100%;
      padding: 32px $grid-gutter 42px;

      &__message {
        @include h5-desktop;
      }
      &__image,
      &__message {
        margin: 0 0 24px;
      }
      &__link {
        width: 220px;
        margin-bottom: 16px;
        padding: 0;
      }
    }

    &__checkout-cta {
      height: 50px;
      margin-bottom: 24px;

      /deep/ .button__content {
        line-height: 50px;
        font-family: $font-family-primary !important;
      }
    }

    &__checkout-cta-promo-active {
      margin-bottom: 16px;

      @include desktop-up {
        margin-bottom: 0;
      }
    }
    &__continue-shopping {
      padding-top: 16px;
      padding-bottom: 4px;
      text-align: center;
      width: 100%;
    }
    &__continue-shopping-link-container {
      display: inline-block;
      margin: 0 auto;
    }

    .cart__shipping-promo-continue-shopping {
      margin-top: 8px;
    }
  }

  .cart__checkout-cta.link--secondary {
    &:hover {
      &:before {
        height: 100%;
      }
    }
  }

  .cart__gift-messaging-header label {
    font-family: $font-family-primary !important;
  }

  .cart-type-bar {
    padding-top: 28px;
    padding-bottom: 24px;
    width: 100%;

    @include mobile-only {
      justify-content: center;
    }

    &__tab-wrap {
      display: flex;
      width: 100%;

      @include tablet-up {
        width: 75%;
      }
    }

    &__tab {
      width: 170px;
      height: 40px;
      background: $color-white;
      border: 1px solid $color-black;
      border-radius: $border-radius--light;

      @include mobile-only {
        width: 50%;
      }
    }

    &__tab:disabled {
      background: $color-light-grey;
      border: none;
    }
  }

  .table-body-title {
    text-transform: uppercase;
  }
</style>
