<template lang="pug">
  .sidecart-wrapper
    transition(name="fade")
      .sidecart__overlay(v-if="sidecartOpen", @click="$store.dispatch('cart/closeSidecart')")
    transition(name="off-canvas-right")
      .sidecart(
        v-show="sidecartOpen"
        v-scroll-lock="sidecartOpen && isNotMobile"
      )
        .sidecart__header(:class="{'sidecart__header--border-bottom': !shippingPromoEnabled}")
          h3.sidecart__title My Shopping Cart
          icon-button.sidecart__close.button--icon(
            ref="sidecartClose"
            label="Close side cart",
            @click="$store.dispatch('cart/closeSidecart')",
            aria-label="Close side cart"
            iconName="bordered-close"
            size="24px"
          )
        sidecart-shipping-promo(:subtotal="totalPrice" v-bind="$props")
        .sidecart__container
          transition(name="fade", mode="out-in")
            .sidecart__contents-wrapper(v-if="totalItems > 0", key="content")
              .sidecart__contents(
                id="sidecartContents"
                ref="sidecartItemsWrapper"
              )
                sidecart-line-item(
                  v-for="(item, index) in itemsNotInKits"
                  v-if="item.handle !== 'customizations'"
                  :item="item",
                  :key="item.key")
                div(v-if="kits && kits.length")
                  sidecart-line-item-kit(
                    v-for="kit in kits"
                    :kit="kit"
                    :key="kit.id")
              .sidecart__footer
                form(action="/cart")
                  p.sidecart__subtotal
                    | Subtotal
                    span.sidecart__subtotal-amount {{ `$${this.normalizedTotalPrice.toFixed(2)}` }}
                  v-button.sidecart__checkout-cta(
                    primary
                    :full="true"
                    type="submit"
                    name="checkout"
                    value="Checkout"
                    :class="[{'sidecart__checkout-cta-promo-active' : promoMessage }, colors.cta]"
                    :label="getCheckoutText"
                    @click="goToCheckout"
                  )
                .sidecart__promo(v-if="promoMessage")
                  p.sidecart__promo-copy.body-sm {{ promoMessage }}
            .sidecart__empty(v-else, key="empty")
              p.sidecart__empty-message {{ emptyText }}
              v-button.sidecart__empty-link(v-for="(link, index) in emptyLinkArray" :primary="true" :href="link.url", :label="link.text" :key="index" tag="a" v-if="link.text")
</template>

<script>
  import { mapState } from 'vuex';

  import Icon from 'scripts/components/basic/Icon.vue';
  import IconButton from 'scripts/components/buttons/IconButton.vue';
  import VButton from 'scripts/components/buttons/VButton.vue';
  import VLink from 'scripts/components/buttons/VLink.vue';
  import AsyncButton from 'scripts/components/buttons/AsyncButton.vue';
  import TextAreaInput from 'scripts/components/forms/TextAreaInput.vue';
  import SidecartLineItem from './SidecartLineItem.vue';
  import SidecartLineItemKit from './SidecartLineItemKit.vue';
  import SidecartShippingPromo from './SidecartShippingPromo.vue';
  import axios from 'axios';

  export default {
    name: 'Sidecart',
    components: {
      VButton,
      SidecartLineItem,
      Icon,
      VLink,
      TextAreaInput,
      AsyncButton,
      SidecartLineItemKit,
      IconButton,
      SidecartShippingPromo
    },
    props: {
      cartObject: Object,
      promoMessage: String,
      emptyText: String,
      emptyLinkArray: Array,
      shippingPromoEnabled: Boolean,
      shippingPromoCopy: String,
      colors: {
        type: Object,
        default: () => window.bvaccel.cart.colors,
      },
      ...SidecartShippingPromo.props
    },
    computed: {
      ...mapState({
        allProducts: (state) => state.products.all,
        sidecartOpen: (state) => state.cart.sidecartOpen,
        items: (state) => state.cart.checkout.items,
        itemsSubtotal: (state) => state.cart.checkout.items_subtotal_price,
        totalDiscount: (state) => state.cart.checkout.total_discount,
        totalPrice: (state) => state.cart.checkout.total_price,
        totalItems: (state) => state.cart.checkout.item_count,
        kits: (state) => state.cart.kits,
        cartIcon: (state) => state.header.settings && (state.header.settings.cartIconSvgUrl || state.header.settings.cartIconImage || state.header.defaultIcons.cartIconDefault),
      }),
      isNotMobile() {
        if (this.$mq !== 'mobile') {
          return true;
        }
        return false;
      },
      normalizedTotalPrice() {
        return parseFloat(this.totalPrice / 100);
      },
      getCheckoutText() {
        return `Checkout`;
      },
      remainingThresholdValue() {
        if (this.normalizedTotalPrice < this.shippingPromoTotal) {
          return parseFloat(this.shippingPromoTotal - this.normalizedTotalPrice).toFixed(2);
        }
        return 0;
      },
      remainingThresholdPercentage() {
        if (this.normalizedTotalPrice < this.shippingPromoTotal) {
          return parseInt(((this.normalizedTotalPrice / this.shippingPromoTotal) * 100).toFixed(0));
        }
        return 100;
      },
      savingsTotal() {
        let totalFullPrices = 0;
        let totalDiscounts = 0;
        let fullPrices = [];
        let discountedPrices = [];
        this.items.forEach((item) => {
          this.allProducts.forEach((product) => {
            if (item.id === product.id && product.compare_at_price !== item.price) {
              fullPrices.push(product.compare_at_price * item.quantity);
            }
            product.variants.forEach((variant) => {
              if (item.id === variant.id && variant.compare_at_price !== variant.price) {
                fullPrices.push(variant.compare_at_price * item.quantity);
              }
            });
          });
        });
        this.items.forEach((item) => {
          this.allProducts.forEach((product) => {
            if (item.id === product.id && product.compare_at_price !== item.price) {
              discountedPrices.push(product.price * item.quantity);
            }
            product.variants.forEach((variant) => {
              if (item.id === variant.id && variant.compare_at_price !== variant.price) {
                discountedPrices.push(variant.price * item.quantity);
              }
            });
          });
        });

        discountedPrices.forEach((price) => (totalDiscounts += price));
        fullPrices.forEach((price) => (totalFullPrices += price));

        return totalFullPrices - totalDiscounts;
      },
      itemsNotInKits() {
        return this.items.filter((item) => !item.properties || !item.properties._kitId);
      },
      cartContainsSubscription() {
        return this.items.some((item) => !!item.properties && item.properties.og_subscription);
      },
    },
    mounted() {
      if (this.thresholdProductHandle) {
        this.$store.dispatch('products/addProduct', this.thresholdProductHandle);
      }
      document.addEventListener('keydown', this.shouldCloseSidecart);
    },
    watch: {
      sidecartOpen(isOpen) {
        if (isOpen) {
          setTimeout(() => {
            this.$refs.sidecartClose.$el.focus();
            this.$refs.sidecartItemsWrapper.scrollTop = 0;
          }, 100);
        }
      },
    },
    methods: {
      checkSpecialChars(message) {
        let pattern = RegExp(/[^\u0020-\u007E]/gm);
        return pattern.test(message);
      },
      goToCheckout() {
        if (!this.cartContainsSubscription || (this.cartContainsSubscription && window.bvaccel.customer.active)) window.location = '/checkout';
      },
      shouldCloseSidecart() {
        if (event.keyCode === 27) this.$store.dispatch('cart/closeSidecart');
      },
    },
  };
</script>

<style scoped lang="scss">
  .sidecart {
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: $color-white;
    max-width: calc(100vw - 16px);

    @include tablet-up {
      max-width: 480px;
    }
  }

  .sidecart__overlay {
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
  }

  .sidecart__container {
    display: flex;
    flex-grow: 1;
    min-height: 0; // override auto to prevent growing too tall
    height: 100%;
  }

  .sidecart__contents {
    flex-grow: 1;
    padding: 0 $grid-gutter;
    overflow-y: auto;
    overflow-x: hidden;

    &::-webkit-scrollbar {
      width: 0;
    }
    &::-webkit-scrollbar-track,
    &::-webkit-scrollbar-thumb {
      background-color: transparent;
    }
  }

  .sidecart__contents-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    height: -webkit-fill-available; // adjusts for bottom bar on iOS - will fallback safely if not supported
  }

  .sidecart__overlay {
    background-color: $color-black;
    opacity: 0.5;
  }

  .sidecart__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 67px;
    border: none;
    position: relative;
  }

  .sidecart__header--border-bottom {
    border-bottom: 1px solid $color-grey;
  }

  .sidecart__close {
    opacity: 1;
    transition: opacity 200ms ease;

    &:hover,
    &:focus {
      opacity: 0.5;
    }
  }

  .sidecart__icon-total-container {
    position: relative;
  }

  .sidecart__shipping-promo {
    padding: 10px;
    text-align: center;
    background-color: $color-black;
    color: $color-white;
  }

  .sidecart__shipping-promo-message {
    font-size: rem(14);
    line-height: 1.4;
  }

  .sidecart__footer {
    padding-top: 8px;
    border: none;
    position: relative;
    &.footer-dropshadow-enabled {
      z-index: 1;
      box-shadow: 0 -1px 8px rgba(0, 0, 0, 0.1);
    }
  }

  .sidecart__promo {
    margin-bottom: 24px;
    padding: 8px;
  }

  .sidecart__promo-copy {
    margin: 0;
    padding: 0;
    text-align: center;
  }

  .sidecart__empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 0 $grid-gutter;
  }

  .sidecart__empty-message {
    @include h5-desktop;
    margin: 0 0 16px;
  }

  .sidecart__empty-link {
    width: 220px;
    margin-bottom: 16px;
  }

  .sidecart__checkout-cta {
    margin-top: 10px;
    margin-bottom: 24px;

    // prevents IOS bottom nav bar from covering checkout cta
    @supports (-webkit-touch-callout: none) {
      margin-bottom: 100px;
    }
  }

  .sidecart__checkout-cta-promo-active {
    margin-bottom: 7px;
  }

  .sidecart__header,
  .sidecart__footer {
    padding: $grid-gutter;
    flex-shrink: 0;
  }

  .sidecart__footer {
    padding-top: 8px;
  }

  .sidecart__empty-link {
    padding: 0;
  }

  .sidecart__cart-image {
    width: 30px;
    height: auto;
  }

  .sidecart__checkout-cta.link--secondary {
    &:hover {
      &:before {
        height: 100%;
      }
    }
  }

  .sidecart__subtotal {
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
    font-size: rem(16);
    line-height: rem(22);
    letter-spacing: rem(0.3);
    font-weight: 500;

    span {
      font-weight: 300;
    }
  }

  // TODO: Move line-item styles to SidecartLineItem.vue
  .sidecart__line-item__title,
  .sidecart__line-item__options span,
  .sidecart__line-item__quantity__label,
  .sidecart__line-item__price span,
  .sidecart__checkout-cta .button__content,
  .sidecart__gift-messaging-edit,
  .sidecart__table-data-type,
  .sidecart__table-data-price,
  .sidecart__gift-messaging-header label {
    font-family: $font-family-primary !important;
  }
</style>
