<template lang="pug">
  .product-tile__badge.uppercase(:class="badgeClass") {{ name }}
</template>

<script>
import { handleize } from 'scripts/filters/string';

export default {
  name: 'ProductTileBadge',
  props: {
    name: String,
  },
  computed: {
    badgeHandle() {
      return handleize(this.name);
    },
    badgeClass() {
      return `product-tile__badge--${this.badgeHandle}`;
    },
  },
}
</script>

<style lang="scss">
  .product-tile__badge {
    position: relative;
    display: inline-block;
    align-self: flex-start;
    font-size: rem(9);
    line-height: 1.3;
    font-weight: 500;
    letter-spacing: 0.8px;
    padding: 4px 16px;
    border-radius: 4px 4px 0 0;
    color: $color-white;
    background-color: $color-accent-red;
    z-index: 1;

    @include tablet-up {
      font-size: rem(12);
      line-height: 1.1;
      letter-spacing: 0.6px;
    }
  }

  .product-tile__badge--sale {
    background-color: $color-accent-dark-red;
  }

  .product-tile__badge--new {
    background-color: $color-accent-yellow;
    color: $color-black;
  }

  .product-tile__badge--out-of-stock {
    background-color: $color-black;
  }

  .product-tile__badge--best-seller {
    background-color: $color-accent-pale-yellow;
    color: $color-black;
  }

  .product-tile__badge--limited-stock {
    background-color: $color-accent-grey;
    color: $color-black;
  }

  .product-tile__badge--now-available {
    background-color: $color-accent-light-grey;
    color: $color-black;
  }
</style>
