<template lang="pug">
  .product-form-color
    .product-form-color__button(
      @click="() => isOpen = true"
      v-show="!isOpen"
    )
      .swatch
        img(v-for="_variant of variants" v-if="_variant[`option${optIndex + 1}`] === selectedOptions[optIndex]" :src="fileUrl(`swatch_${imageName(_variant, optIndex)}.png`)")
      span + {{variants.length - 1}} Colors
    .product-form-color__modal(:class="isOpen && 'product-form-color__modal--open'")
      div.product-form-color__close(@click="() => isOpen = false")
        icon(name="close" size="8px")
      template(v-for="_variant of variants")
        .product-form__variant-wrapper(:key="_variant.id")
          input.product-form__option-button-input(
            type="radio" tabindex="0" :name="option"
            :value="_variant[`option${optIndex + 1}`]"
            :checked="_variant[`option${optIndex + 1}`] === selectedOptions[optIndex]"
            @change="variantChange(optIndex, _variant[`option${optIndex + 1}`])"
            :id="`${option}-${_variant[`option${optIndex + 1}`]}`"
          )
          label.product-form__variant-label( tabindex="0" :for="`${option}-${_variant[`option${optIndex + 1}`]}`")
            .swatch
              img(:src="fileUrl(`swatch_${imageName(_variant, optIndex)}.png`)")
            <span v-if="_variant[`option${optIndex + 1}`].split(' / ').length > 1">{{ _variant[`option${optIndex + 1}`].split(' / ')[0] }} <span class="variant-subtext">({{_variant[`option${optIndex + 1}`].split(' / ')[1]}})</span></span>
            span(v-else) {{ _variant[`option${optIndex + 1}`] }}
</template>

<script>
import Icon from 'scripts/components/basic/Icon.vue';
import {fileUrl} from 'scripts/helpers/util.js';

export default {
  name: "ProductColorVariant",
  components: {
    Icon
  },
  props: {
    variants: {
      type: Array
    },
    optIndex: {
      type: Number,
    },
    selectedOptions: {
      type: Array,
    },
    option: {
      type: String,
    },
    variantChange: {
      type: Function,
    }
  },
  data () {
    return {
      isOpen: false,
    }
  },
  mounted () {

  },
  methods: {
    fileUrl,
    imageName (_variant, optIndex) {
      return _variant[`option${optIndex + 1}`].trim().toLowerCase()
              .replaceAll(/[&\s\/\\#,+()$~%.'":*?<>{}]/g,'-')
              .replaceAll(/-+/g,"-");
    },
  },
}
</script>

<style lang="scss" scoped>
.product-form-color {
  position: relative;
  width: 100%;
  &__button {
    border: 1px solid $color-light-grey;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12);
    height: 41px;
    padding: 0 8px;
    align-items: center;
    border-radius: 21px;
    display: inline-flex;

    .swatch {
      margin-right: 8px;
    }
  }

  &__modal {
    display: none;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 10px;
    border: 1px solid $color-light-grey;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12);
    padding: 16px;
    z-index: 1;
    background-color: $color-white;

    &--open {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__close {
    position: absolute;
    left: 100%;
    top: 0;
    transform: translate(-50%, -50%);
    color: $color-primary-red;
    background-color: $color-white;
    height: 22px;
    width: 22px;
    border-radius: 11px;
    border: 1px solid $color-light-grey;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.product-form__option-button-input {
  height: 0;
  width: 0;
  margin: 0;
  border: 0;
  &:after {
    display: none;
  }

  &:checked + label .swatch {
    border-color: $color-primary-red;
  }

  &:disabled + label .swatch {
    opacity: 0.3;
    cursor: not-allowed;
  }
}

.product-form__variant-label {
  font-size: rem(11);
  font-weight: 500;
  line-height: rem(13);
  display: flex;
  flex-direction: column;
  align-items: center;

  span {
    text-align: center;
    word-break: break-word;
  }
}

.product-form__variant-wrapper {
  max-width: 25%;
  width: 100%;
}

.swatch {
  border: 1px solid $color-light-grey;
  box-shadow: 0 1px 1px rgba(0,0,0,0.15);
  height: 30px;
  width: 30px;
  border-radius: 15px;
  overflow: hidden;
  img {
    height: 100%;
    width: 100%;
    border: 1px solid $color-white;
    border-radius: 15px;
  }
}
</style>
