<template lang="pug">
  .product-form(
    ref="observable"
    :style="{ top: `${stickyFormTop}px` }"
  )
    .product-form__rating
      product-rating-summary.product-form__bottomline(
        :productId="product.id"
        :displayNoReviews="true"
      )
    h1.product-form__title {{ product.title }}
    .product-form__price
      span(
        id="product-price"
        :class="compare_at_price > variantBasePrice && 'product-form__price--sale'"
      ) {{ variantBasePrice | money }}
      span.product-form__compare-price(
        v-if="compare_at_price > variantBasePrice"
      ) {{ compare_at_price | money}}
    .product-form__info SKU: {{ variant.sku }}, Weight: {{ variant.weight }}
    portal(to="pdp-modal-portal")
      modal.modal--size-chart(v-if="productInfo.sizeChart" ref="sizeGuide")
        div(slot="content")
          img(:src="productInfo.sizeChart")
    .product-form__variants(
      v-if="!addonOpen"
      :class="{ 'product-form__variants--with-customizer': customOptionsEnabled, 'product-form__variants--open': variantSelectorIsOpen }"
    )
      .product-form__options-container(v-if="filteredVariants.length > 0")
        .product-form__variant-option-sets
          .product-form__variant-option-set.option-set(
            :key="optIndex"
            v-for="(option, optIndex) in product.options"
            :class="{ 'product-form__variant-option-set--open': openVariantSelectorIndex === optIndex }"
          )
            .product-form__variant-selected-indicator(
              v-if="customOptionsEnabled"
              :class="{ 'product-form__variant-selected-indicator--selected': selectedVariant }"
            )
              icon(name="check" size="9px")
            component.product-form__variant-option-toggle(
              :is="customOptionsEnabled ? 'button' : 'div'"
              @click="() => { openVariantSelectorIndex = optIndex; }"
            )
              p.option-set__label
                span(v-if="customOptionsEnabled") {{ optIndex + 1 }}. 
                span Select {{ option }}
                span.custom-selector__icon(v-if="customOptionsEnabled")
                  icon(:name="variantSelectorIsOpen ? 'chevron-up' : 'chevron-down'" size="8px")
              p.option-set__top
                span.option-set__value {{ selectedOptions[optIndex] }}
            button.product-form__size-guide(
              v-if="option.toLowerCase().includes('size') && productInfo.sizeChart"
              @click="() => $refs.sizeGuide.open()"
            )
              span
                icon(name="ruler" size="22px")
              span Size Chart
            .product-form__variants-list(
              v-if="filteredVariants.length > 0 && (openVariantSelectorIndex === optIndex || !customOptionsEnabled)"
            )
              .product-form__variants-list-wrapper(v-if="option.toLowerCase().indexOf('color') === -1")
                template(v-for="_variant of uniqBy(filteredVariants, `option${optIndex + 1}`)")
                  .product-form__variant-wrapper(:key="_variant.id")
                    input.product-form__option-button-input(
                      type="radio" tabindex="0" :name="option"
                      :value="_variant[`option${optIndex + 1}`]"
                      :checked="_variant[`option${optIndex + 1}`] === selectedOptions[optIndex]"
                      @change="variantChange(optIndex, _variant[`option${optIndex + 1}`])"
                      :id="`${option}-${_variant[`option${optIndex + 1}`]}`"
                    )
                    label.product-form__variant-label( tabindex="0" :for="`${option}-${_variant[`option${optIndex + 1}`]}`")
                      span(v-if="_variant[`option${optIndex + 1}`].split(' / ').length > 1") {{ _variant[`option${optIndex + 1}`].split(' / ')[0] }}
                        span(class="variant-subtext") ({{_variant[`option${optIndex + 1}`].split(' / ')[1]}})
                      span(v-else) {{ _variant[`option${optIndex + 1}`] }}
              product-form-color-variant(
                v-else
                :variants="uniqBy(filteredVariants, `option${optIndex + 1}`)"
                :optIndex="optIndex"
                :option="option"
                :selectedOptions="selectedOptions"
                :variantChange="variantChange"
              )
    product-custom-selector(
      v-if="customOptionsEnabled && !addonOpen"
      :selectedOptions="selectedCustomOptions"
      :selectOption="selectCustomOption"
      :customOptions="currentCustomOptions"
      :variant-selector-is-open="variantSelectorIsOpen"
      :has-variants="!!filteredVariants.length"
      :variant-count="product.options.length"
      @opened="openVariantSelectorIndex = -1"
    )
    .product-form__similar(v-if="similarProducts.length > 0")
      .product-form__similar-title {{product.custom_fields.similar_products_title}}
      .product-form__similar-tiles
        product-similar-tile(v-for="similarProduct in similarProducts" :key="similarProduct" :productHandle="similarProduct")
    .product-form__addon(v-if="showAddons" :class="addonOpen && 'product-form__addon--open'")
      .product-form__addon-header(@click="toggleAddon")
        .product-form__addon-title Add Ons
        button.product-form__addon-edit(v-if="!addonOpen")
          icon(v-if="addonItems.length === 0" name="plus" size="19px" label="Expand")
          span(v-else) Edit
        button.product-form__addon-close(v-if="addonOpen" @click="toggleAddon") Close
      .product-form__addon-list(v-if="addonItems.length !== 0 && !addonOpen")
        .product-form__addon-list-item(v-for="addon in addonItems")
          span {{addon.title}}
          span +{{addon.price | money}}
      .product-form__addon-content(v-if="addonOpen")
        product-addons(:addons="addons" :onConfirm="closeAddon" :setAddons="addAddon" :selectedAddons="addonItems")
    .product-form__quantity(v-if="!addonOpen")
      p.product-form__quantity-label Quantity
      .product-form__quantity-selector
        .product-form__quantity-input
          icon-button.product-form__quantity-button.product-form__quantity-down(
            @click="setQuantity(-1)"
            icon-name="minus"
            size="11px"
          )
          .product-form__quantity-display {{ quantity }}
          icon-button.product-form__quantity-button.product-form__quantity-up(
            @click="setQuantity(1)"
            icon-name="plus"
            size="10px"
          )
    v-button.product-form__customize(v-if="product.custom_fields.customize_cta_link" tag="a" :href="`/apps/zakeke/c/${product.handle}?variant=${product.variants[0].id}&locale=en`" tertiary)
      span
        icon(name="color-wheel" size="16px" aria-hidden="true")
        span Customize Your Own
    .product-form__button-wrapper(v-if="!addonOpen" ref="buttonWrapper")
      .product-form__addon-price(v-if="customOptionsEnabled") {{ price | money }}
      v-button.product-form__atc(
        :disabled="!variant.available || (customOptionsEnabled !== 0 && currentCustomOptions !== undefined && currentCustomOptions.length !== selectedCustomOptions.length)"
        tag="button"
        :primary="true"
        :full="true"
        @click="addToCart"
      )
        span(
          v-if="variant.available"
        ) Add To Cart
        span(
          v-else
        ) Out Of Stock
    .product-form__afterpay(ref="afterpay")
      .product-form__afterpay-target
    v-button.product-form__learn-more(
      v-if="showLearnMore"
      tag="a"
      :secondary="true"
      :full="true"
      :href="product.url"
      label="Learn more"
    )
    p.product-form__fine-print(
      v-if="showFinePrint"
    ) {{ productFinePrint }}
    .sticky-atc(
      v-if="isPdp && !['mobile', 'tablet'].includes($mq)"
      :class="{ 'is-loaded' : displayStickyAtc }"
    )
      .container
        span.preheader.sticky-atc__title {{ product.title }}
      v-button.sticky-atc__button(
        :primary="true"
        label="Buy Now"
        @click="goToTop"
      )
    .product-form__value-props
      .product-form__value-prop.product-form__value-prop--globalv(v-if="productInfo.valueProps" v-for="valueProp in productInfo.valueProps")
        img(:src="valueProp.icon" aria-hidden="true")
        span {{valueProp.heading}}
        span(v-html="valueProp.description")
      .product-form__value-prop(v-for="valueProp in valueProps")
        img(:src="valueProp.icon" aria-hidden="true")
        span {{valueProp.heading}}
        span {{valueProp.description}}
    slot(name="customer-images-mobile")

</template>

<script>
  import axios from 'axios';
  import { mapState } from 'vuex';

  import uniqBy from 'lodash/uniqBy';
  import Icon from 'scripts/components/basic/Icon.vue';
  import IconButton from 'scripts/components/buttons/IconButton.vue';
  import VButton from 'scripts/components/buttons/VButton.vue';
  import Modal from 'scripts/components/basic/Modal.vue'
  import ProductAddons from 'scripts/components/product/ProductAddons.vue';
  import ProductSimilarTile from 'scripts/components/product/ProductSimilarTile.vue';
  import ProductFormColorVariant from 'scripts/components/product/ProductFormColorVariant.vue';
  import ProductCustomSelector from 'scripts/components/product/ProductCustomSelector.vue';
  import ProductRatingSummary from 'scripts/components/product/ProductRatingSummary.vue';

  import IoLazyLoader from 'scripts/mixins/IOLazyLoader.js';
  import { debounce } from 'scripts/helpers/util.js';
  import { parseDataForEditor } from 'scripts/helpers/util.js';

  export default {
    name: 'ProductForm',
    components: { Icon, VButton, Modal, IconButton, ProductSimilarTile, ProductAddons, ProductCustomSelector,ProductFormColorVariant, ProductRatingSummary },
    data () {
      return {
        selectedOptions: [],
        SUBSCRIPTION_SKU_CHAR: 'S',
        SUBSCRIPTION_QUARTERLY_SKU_CHAR: 'X3S',
        loaderShouldPersist: true,
        selectedVariant: false,
        quantity: 1,
        canDisplaySticky: false,
        addons: [],
        addonOpen: false,
        addonItems: [],
        addonProducts: [],
        selectedCustomOptions: [],
        stickyFormTop: 0,
        defaultStickyDistance: 175,
        openVariantSelectorIndex: 0,
        customizationsProductHandle: 'customizations',
      };
    },
    mixins: [IoLazyLoader],
    props: {
      isPdp: {
        type: Boolean,
        default: false,
      },
      product: Object,
      showLearnMore: {
        type: Boolean,
        default: true,
      },
      showFinePrint: {
        type: Boolean,
        default: false,
      },
      productFinePrint: {
        type: String,
        default: '',
      },
      setVariationForImage: {
        type: Function
      },
      productInfo: {
        type: Object,
      }
    },
    mounted () {
      this.selectedVariant = this.product.variants.find((variant) => variant.available);
      this.selectedOptions = [this.selectedVariant.option1, this.selectedVariant.option2, this.selectedVariant.option3];
      setTimeout(() => this.canDisplaySticky = true, 1000);
      this.initAfterpayPolling();
      this.addListeners();
      this.initAddons();

      if (!this.customizationsProduct) {
        this.$store.dispatch('products/addProduct', this.customizationsProductHandle)
      }

      setTimeout(() => {
        this.measureFormTop();
      }, 2000);
    },
    beforeDestroy() {
      this.removeListeners();
    },
    computed: {
      ...mapState({
        allProducts: state => state.products.all
      }),
      customizationsProduct() {
        return this.allProducts.find(product => product.handle === this.customizationsProductHandle)
      },
      customizationsVariantId() {
        return this.customizationsProduct ? this.customizationsProduct.variants[0].id : null;
      },
      addToCartPrice () {
        return this.variant.price * this.quantity;
      },
      addonPrice() {
        return this.addonItems.reduce((total, item) => total + item.price, 0);
      },
      customOptionsPrice() {
        return this.selectedCustomOptions.reduce((total, option) => total + option.price, 0)
      },
      variantSelectorIsOpen() {
        return this.openVariantSelectorIndex !== -1;
      },
      compare_at_price() {
        return this.variant.compare_at_price;
      },
      variantBasePrice() {
        return this.variant.price;
      },
      price () {
        return (this.variant.price + this.customOptionsPrice) * this.quantity + this.addonPrice;
      },
      displayStickyAtc() {
        return !this.loaded & this.canDisplaySticky === true;
      },
      purchaseFrequency() {
        if (!this.selectedVariant.sku.endsWith(this.SUBSCRIPTION_SKU_CHAR)) return false;
        if (this.selectedVariant.sku.endsWith(this.SUBSCRIPTION_QUARTERLY_SKU_CHAR)) return 90;
        return 30;
      },
      filteredVariants () {
        return this.product.variants.filter(v => v.title.toLowerCase() !== 'default title')
      },
      valueProps () {
        const icons = this.product.custom_fields.value_icon ? this.product.custom_fields.value_icon.split('|###|') : [];
        const headings = this.product.custom_fields.value_heading ? this.product.custom_fields.value_heading.split('|###|') : [];
        const descriptions = this.product.custom_fields.value_description ? this.product.custom_fields.value_description.split('|###|') : [];
        let props = []

        for (let i = 0; i < icons.length; i++) {
          props.push({
            icon: icons[i],
            heading: headings[i],
            description: descriptions[i]
          });
        }
        return props;
      },
      variant () {
        const params = new URLSearchParams(window.location.href);
        const variantId = params.variant ? params.variant : false;
        const selectedItems = this.selectedOptions;
        let theVariant;
        if (selectedItems.length > 0) {
          theVariant = this.product.variants.find((theVariant) => {
            let isVariant = false;

            if (theVariant.option1 === selectedItems[0] && theVariant.option2 === selectedItems[1] && theVariant.option3 === selectedItems[2]) isVariant = true;

            return isVariant;
          });
        } else {
          theVariant = variantId ? this.product.variants.find((variant) => variant.id === variantId) : this.product.variants[0];
        }

        this.$nextTick(() => {
          this.initAddons();
        });

        return theVariant;
      },
      currentCustomOptions() {
        if (this.variant.custom_fields.custom_product_builder && this.variant.custom_fields.enable_builder_form) {
          return this.variant.custom_fields.custom_product_builder
        }
        
        return this.product.custom_fields.custom_product_builder;
      },
      customOptionsEnabled() {
        if (this.variant.custom_fields.enable_builder_form && this.variant.custom_fields.custom_product_builder) {
          return true;
        }

        return this.product.custom_fields.enable_builder_form;
      },
      showAddons() {
        return this.addons.some(addon => addon.addons.length > 0);
      },
      similarProducts () {
        return this.product.custom_fields.similar_products ? this.product.custom_fields.similar_products.split('|') : []
      },
      afterpayConfig () {
        return {
          priceSelector: '.product-form__afterpay-target',
          amount: this.variant.price,
          locale: 'en_US',
          currency: 'USD',
          giftCard: this.product.type === 'Gift Card',
          afterpayLogoColor: 'black',
          minMaxThreshold: {
            min: 3500,
            max: 100000
          },  
        }
      },
    },
    methods: {
      uniqBy,
      addListeners() {
        window.addEventListener('resize', this.measureFormTop);
      },
      removeListeners() {
        window.removeEventListener('resize', this.measureFormTop);
      },
      /**
       * @desc Keep the ATC button on screen for shorter viewports.
       *     defaultStickyDistance: 175 value comes from height of nav + promo bar.
       *     Ideally, this value would be stored in vuex rather than used statically.
       *     TODO: have Navbar component dispatch its height to a vuex module for use
       *     calculating UI measurements where needed.
       *     additional static values: layout.scss:50
       *                               FAQS.vue:55
       */
      measureFormTop: debounce(function() {
        const { buttonWrapper, observable } = this.$refs;
        if (buttonWrapper && observable) {
          const { top } = observable.getBoundingClientRect();
          const { bottom } = buttonWrapper.getBoundingClientRect();
          const marginBottom = parseInt(getComputedStyle(buttonWrapper)['margin-bottom'], 10);

          this.defaultStickyDistance = 175 + parseInt(getComputedStyle(observable.parentNode)['padding-top'], 10);

          if (bottom > window.innerHeight) {
            this.stickyFormTop = (top - (bottom - window.innerHeight)) - marginBottom;
          } else {
            this.stickyFormTop = this.defaultStickyDistance;
          }  
        }
      }, 50),
      initAddons: debounce(function() {
        const theAddons = this.variant.custom_fields.add_on_products ? this.variant.custom_fields.add_on_products : this.product.custom_fields.add_on_products;
        this.addons = [];

        theAddons.forEach((addon) => {
          let addonHandles = addon.addon_products.split('|');

          this.addons.push({
            title: addon.addon_category_title,
            addons: [],
          });

          addonHandles.forEach(async (handle) => {
            if (handle) {
              let response = await axios.get(`/products/${handle}?view=json`);
              let product = parseDataForEditor(response.data);

              if (product.available) {
                let addonIndex = this.addons.findIndex(a => a.title === addon.addon_category_title);
                this.addons[addonIndex].addons.push(product);
              }  
            }
          }); 
        });
      }, 50),
      initAfterpayPolling() {
        const polls = 100;
        let counter = 0;

        const interval = setInterval(() => {
          if (presentAfterpay) {
            this.displayAfterpay();
            clearInterval(interval);
          }

          if (counter >= polls) {
            clearInterval(interval);
            console.warn('No presentAfterpay.');
          }
          counter++;
        }, 100);
      },
      displayAfterpay() {
        try {
          new presentAfterpay(this.afterpayConfig).init();
        } catch (e) {
          console.error('Afterpay widget initialization failed.');
          console.error(e);
        }
      },
      resetAfterpay() {
        const afterpayText = this.$refs.afterpay.querySelector('.afterpay-paragraph');
        if (afterpayText) {
          afterpayText.remove();
        }
      },
      variantChange (optionIndex, optionValue) {
        let {selectedOptions} = this;
        this.$set(this.selectedOptions, optionIndex, optionValue)

        const [newVariant] = this.product.variants
          .filter(v => v.option1 === this.selectedOptions[0])
          .filter(v => v.option2 === this.selectedOptions[1])
          .filter(v => v.option3 === this.selectedOptions[2])
        this.$emit('input', newVariant)
      },
      selectCustomOption (optionValue, selectedIndex) {
        if ( this.selectedCustomOptions[selectedIndex]) {
          this.$set(this.selectedCustomOptions, selectedIndex, optionValue)
        } else {
          this.selectedCustomOptions.push(optionValue);
        }
      },
      addToCart () {
        let additionalCost = 0;
        for(let i = 0 ; i < this.selectedCustomOptions.length; i++) {
          if(this.selectedCustomOptions[i].price !== undefined) {
            additionalCost += parseInt(this.selectedCustomOptions[i].price)
          }
        }

        const items = [
          {
            id: this.variant.id,
            quantity: this.quantity,
            subscriptionFrequency: this.purchaseFrequency,
            price: this.selectedVariant.price + additionalCost,
            properties: {
              _custom: this.selectedCustomOptions.length > 0 ? this.selectedCustomOptions : null,
              ...this.selectedCustomOptions.reduce((obj, option) => {
                obj[option.label] = option.lettering ? `${option.displayText} - ${option.lettering}` : option.displayText;
                return obj;
              }, {})
            },
          },
        ];

        if (additionalCost > 0) {
          items.push({
            id: this.customizationsVariantId,
            quantity: additionalCost / 100,
            properties: {
              _customizedItemId: this.variant.id,
              'Customization costs for': this.variant.title,
              _customProperties: this.selectedCustomOptions.length > 0 ? this.selectedCustomOptions : null
            }
          });
        }

        if (this.addonItems.length > 0) {
          this.addonItems.forEach((addonItem) => {
            items.push({
              id: addonItem.variants[0].id,
              quantity: 1,
              subscriptionFrequency: false,
              price: addonItem.price
            });
          });
        }

        this.addToCartPromise = this.$store.dispatch('cart/addItems', items)
          .then(() => window.setTimeout(() => this.$store.dispatch('cart/afterAddToCart'), 1000))
          .catch(error => this.$store.dispatch('toast/send', { text: error, type: 'error' }))
      },
      closeAddon() {
        this.addonOpen = false;
      },
      toggleAddon: debounce(function() {
        this.addonOpen = !this.addonOpen;
      }, 20),
      addAddon(selectedAddons) {
        this.addonItems = selectedAddons;
      },
      setQuantity (quantityAdjustment) {
        this.quantity += quantityAdjustment;
        this.quantity = Math.max(1, this.quantity);
      },
      setSelectedVariant (variant) {
        this.selectedVariant = variant;
      },
      goToTop () {
        window.scrollTo({
          top: 0,
          behavior: 'smooth',
        });
      },
    },
    watch: {
      variant(newValue, oldValue) {
        this.setVariationForImage(newValue);
        this.addonItems = [];

        if (newValue.id !== oldValue.id) {
          this.resetAfterpay();
          this.displayAfterpay();
        }
      }
    }
  };
</script>

<style lang="scss" scoped>
  .product-form {
    text-align: left;
    position: sticky;

    /deep/ .button__content {
      font-size: rem(16);
      text-transform: none;
    }
  }

  .product-form__title {
    margin-bottom: 8px;
    font-size: rem(24);
    line-height: rem(32);
    font-family: $font-gibson;
    font-weight: 600;
    color: $color-off-black;
    text-transform: none;
    margin-bottom: 8px;
  }

  .product-form__price {
    font-size: rem(22);
    font-weight: 500;
    line-height: rem(24);
    margin-bottom: 8px;
  }

  .product-form__price--sale {
    color: $color-primary-red;
    margin-right: 8px;
  }

  .product-form__compare-price {
    color: $color-semi-grey;
    text-decoration: line-through;
  }

  .product-form__info {
    color: $color-grayish-gray;
    font-size: rem(12);
    line-height: rem(22);
    margin-bottom: 16px;
  }

  .product-form__bottomline {
    margin-bottom: 20px;
  }

  .product-form__description {
    font-size: rem(16);
    line-height: 1.5;
    letter-spacing: 0.25px;
    font-family: $font-gibson;
    font-weight: 300;
  }

  .product-form__value-props {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 13px;
    row-gap: 13px;
    margin-top: 16px;
    padding-bottom: 16px;
  }

  .product-form__value-prop {
    border-radius: 10px;
    background-color: $color-v-light-grey;
    box-shadow: 0 1px 1px rgba(0,0,0,0.08);
    padding: 8px 12px;
    display: grid;
    grid-template-columns: 24px 1fr;
    grid-template-rows: 32px 1fr;
    grid-column-gap: 8px;
    grid-row-gap: 14px;

    span {
      font-size: rem(12);
      line-height: rem(16);
      font-weight: 500;
    }

    span:last-child {
      font-size: rem(11);
      line-height: rem(16);
      font-weight: 400;
      grid-column: span 2;
    }
  }

  .product-form__variant-option-toggle {
    padding: 0;
    width: 100%;
    line-height: normal;
    letter-spacing: inherit;
    text-align: left;
    text-transform: none;
    border: 0;
    border-radius: 0;
    box-shadow: none;

    &:focus {
      outline: 0;
      box-shadow: none;
    }
  }

  .product-form__variant-selected-indicator {
    position: absolute;
    top: 20px;
    right: 20px;
    border: 1px solid $color-light-grey;
    border-radius: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.15);
    height: 17px;
    width: 17px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

    &--selected {
      background-color: #52B87A;
      border-color: #52B87A;
    }
  }

  .custom-selector__icon {
    margin-left: 7px;
  }

  .product-form__variant-option-set {
    position: relative;
    padding-bottom: 16px;

    .product-form__variants--with-customizer & {
      padding: 20px;
      border: 1px solid #cdcdcd;

      &:first-child {
        border-radius: 10px 10px 0 0;
      }
    }

    .product-form__variants--with-customizer &.product-form__variant-option-set--open {
      border-color: #404040;
    }
  }

  .product-form__size-guide {
    border: 0;
    min-width: 0;
    position: absolute;
    right: 0;
    top: 0;
    box-shadow: none;
    font-size: rem(12);
    font-weight: 500;
    line-height: rem(16);
    height: auto;
    padding: 0;
    border-radius: 0;

    .product-form__variants--with-customizer & {
      top: 20px;
      right: 80px;
    }

    span {
      color: $color-primary-red;
      text-transform: none;
      letter-spacing: normal;
    }
  }

  .option-set__top {
    margin-bottom: 12px;

    .product-form__variants--with-customizer & {
      margin-bottom: 0;
    }
  }

  .option-set__label {
    font-size: rem(12);
    font-weight: 600;
    line-height: rem(16);
  }

  .option-set__value {
    font-size: rem(11);
    line-height: rem(16);
    color: $color-grayish-gray;
  }

  .product-form__variant {
    margin-top: 10px;
    border: 1px solid $color-semi-grey;
    padding: 13px 10px;
    width: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;

    &:active {
      text-decoration: none;
    }

    &.is-active {
      border-color: $color-black;
    }
  }

  .product-form__variants-list {
    display: flex;
    flex-wrap: wrap;
  }

  .product-form__variants-list-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .product-form__variant-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: 6px;
  }

  .product-form__option-button-input {
    height: 0;
    width: 0;
    margin: 0;
    visibility: hidden;
    &:after {
      display: none;
    }
    &:checked + .product-form__variant-label {
      background-color: $color-grey;
      border-color: #CA392F;
      color: $color-white;
    }

    &:disabled + .product-form__variant-label {
      background: $color-light-grey;
    }
  }

  .product-form__variant-label {
    display: flex;
    border: 1px solid $color-light-grey;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12);
    height: 40px;
    padding: 0 16px;
    align-items: center;
    justify-content: center;
    margin-right: 10px;

    span {
      font-size: rem(12);
      font-weight: 500;
      line-height: rem(16);
    }
  }

  .product-form__customize {
    margin-bottom: 16px;
    width: 100%;
    .icon {
      margin-right: 8px;
    }
    /deep/ .button__content {
      font-weight: 500;
      justify-content: space-between;
      span {
        display: flex;
        align-items: center;
      }
    }
  }

  .product-form__variant-selected {
    position: relative;
    margin-right: 10px;
    border: 2px solid $color-black;
    border-radius: 100%;
    width: 18px;
    height: 18px;

    .is-active &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border: 3px solid $color-black;
      border-radius: 100%;
    }

    &.is-disabled,
    &.is-disabled .is-active &::after {
      border-color: rgba($color-light-grey, 0.3);
    }
  }

  .product-form__variant-title {
    margin-right: auto;
    font-size: rem(14);
    line-height: 1;
    font-family: $font-gibson;
    font-weight: 300;
  }

  .product-form__variant-original-price,
  .product-form__variant-price {
    font-size: rem(14);
    line-height: 1.4;
    letter-spacing: 0.3px;
    font-family: $font-gibson;
    font-weight: 300;
  }

  .product-form__variant-original-price {
    text-decoration: line-through;

    @include mini-only {
      display: none;
    }
  }

  .product-form__variant-price {
    margin-left: 10px;
    font-weight: 700;
  }

  .product-form__quantity {
    margin: 16px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .product-form__quantity-button {
    height: 33px;
    width: 33px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.08);
    border: 1px solid $color-light-grey;
  }

  .product-form__quantity-up,
  .product-form__quantity-down {
    cursor: pointer;
  }

  .product-form__quantity-label {
    font-size: rem(14);
    line-height: rem(16);
    letter-spacing: 0.32px;
    font-weight: 600;
    font-family: $font-gibson;
  }

  .product-form__quantity-input {
    padding: 0 10.5px;
    display: flex;
    align-items: center;
  }

  .product-form__quantity-display {
    margin: 0 10px;
    font-size: rem(14);
    line-height: 1;
    font-family: $font-gibson;
  }

  .product-form__sample-link {
    font-size: rem(12);
    line-height: 2;
    letter-spacing: 0.2px;
    font-weight: 700;
    font-family: $font-gibson;
    color: $color-black;
  }

  .product-form__atc {
    text-transform: uppercase;
    font-weight: 500;
  }

  .product-form__button-wrapper {
    background: linear-gradient(180deg, #5B5B5B 0%, #2A2A2A 100%);
    margin-bottom: 10px;
    display: flex;
    border-radius: 24px;
  }

  .product-form__afterpay {
    position: relative;
    border: 1px solid $color-off-white;
    border-radius: 13.5px;
    background-color: $color-v-light-grey;
    height: 33px;
    display: flex;
    align-items: center;
    font-size: rem(10);
    line-height: rem(16);
    padding: 0 16px;

    /deep/ img {
      height: 13px;
      margin-left: 5px;
    }
  }

  .product-form__addon {
    padding: 18px 0;
    border: 1px solid $color-light-grey;
    border-left: 0;
    border-right: 0;
    margin-top: 16px;
  }

  .product-form__addon-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .product-form__addon-title {
    font-size: rem(14);
    line-height: rem(16);
    font-weight: 600;
  }

  .product-form__addon-edit,
  .product-form__addon-close {
    border: 0;
    box-shadow: none;
    padding: 0;
    height: auto;
    text-transform: none;
    color: $color-accent-red;
    font-size: rem(14);
    line-height: rem(16);
    font-weight: 600;
    min-width: 0;
  }
  .product-form__addon-edit {
    font-size: rem(12);
  }

  .product-form__addon-list{

  }

  .product-form__addon-list-item{
    color: $color-grayish-gray;
    display: flex;
    justify-content: space-between;
    font-size: rem(12);
    line-height: rem(16);
    font-weight: 500;
    margin-top: 8px;

    span:last-child {
      color: #52B87A;
    }
  }

  .product-form__addon-price {
    font-size: rem(14);
    font-weight: 600;
    line-height: rem(20);
    color: $color-white;
    padding: 0 16px 0 20px;
    display: flex;
    align-items: center;
  }

  .product-form__similar {
    border-top: 1px solid $color-light-grey;
  }

  .product-form__similar-title {
    padding: 16px 0;
    font-size: rem(12);
    font-weight: 600;
    line-height: rem(16);
  }

  .product-form__similar-tiles {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    column-gap: 6px;
    row-gap: 6px;
  }

  .quantity-icon {
    display: block;
  }

  .product-form__fine-print {
    text-align: center;
    font-size: rem(12);
    line-height: 1.4;
    letter-spacing: 0.3px;
    font-family: $font-gibson;
    font-weight: 300;

    @include desktop-up {
      font-size: rem(14);
    }
  }

  .sticky-atc {
    position: fixed;
    top: 117px;
    left: 0;
    right: 0;
    border-bottom: 1px solid $color-semi-grey;
    height: 46px;
    background-color: $color-white;
    opacity: 0;
    z-index: 5;
    transition: opacity 0.5s;

    &.is-loaded {
      opacity: 1;
    }

    .container {
      height: 100%;
      display: flex;
      align-items: center;
    }
  }

  .sticky-atc__title {
    border-bottom: 2px solid $color-grayish-gray;
    padding-bottom: 5px;
    font-size: rem(12);
  }

  .sticky-atc__button {
    position: absolute;
    right: 0;
    top: 0;
    min-width: 480px;
  }
</style>
