<template lang="pug">
  .product-bottomline
    .product-bottomline__rating(v-if="loaded")
      star-rating.product-bottomline__stars(
        :rating="rating"
        v-if="count > 0"
      )
      a.product-bottomline__count.color-black(v-if="count > 0" href="#" v-scroll-to="{ el: '#stamped-main-widget' }") ({{ count }})
      a.product-bottomline__no-ratings.color-black(v-else-if="displayNoReviews" href="#" v-scroll-to="{ el: '#stamped-main-widget' }") No reviews yet!
</template>

<script>
  import StarRating from 'scripts/components/basic/StarRating.vue';

  // add client APPKEY here (public facing)
  const STAMPED_API_KEY = 'pubkey-WM3QD2tfC51K80O2sFpy5i740zibmq';

  export default {
    name: 'ProductRatingSummary',
    components: { StarRating },
    data () {
      return {
        loaded: false,
        rating: false,
        count: false,
      }
    },
    props: {
      productId: Number,
      displayNoReviews: {
        type: Boolean,
        default: false,
      },
    },
    created() {
      fetch('http://stamped.io/api/widget/badges?isIncludeBreakdown=true&isincludehtml=false', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({
          apiKey: STAMPED_API_KEY,
          storeUrl: 'lookourway.myshopify.com',
          productIds: [{ productId: this.productId }],
        })
      })
        .then((blob) => blob.json())
        .then((data) => {
          // Stamped.io API docs: https://developers.stamped.io/#6b4f7fff-d119-41c7-8bef-dc93ad77c032
          if (!data.length) return console.error('No review data recevied for product id:', this.productId);
          const ratingSummary = data[0];
          const { count } = ratingSummary;
          this.count = count;
          if (count > 0) this.rating = ratingSummary.rating;
        })
        .finally(() => this.loaded = true)
        .catch((err) => console.error(err.exceptionMessage));
    },
  };
</script>

<style scoped lang="scss">
  .product-bottomline {}

  .product-bottomline__rating {
    display: flex;
    align-items: center;
  }

  .product-bottomline__stars {
    margin-right: 4px;
    height: 18px;
    font-size: 0;
  }

  .product-bottomline__count,
  .product-bottomline__no-ratings {
    margin: 0;
    font-size: rem(10);
    line-height: 1.4;

    @include tablet-up {
      font-size: rem(11);
      line-height: 1.1;
    }
  }
</style>
