<template lang="pug">
  .product-tile(
    :href='product.url'
    :id='id'
    tabindex='0'
    aria-live='polite'
    :is="fullTileClick ? 'a' : 'div'"
  )
    .product-tile__badge-container
      span.product-tile__badge.badge(
        :class='$store.state.badgeColorMap[productBadge]'
        v-if='productBadge'
        ) {{ productBadge }}
    div.product-tile__images
      a(:href='product.url')
        svg.product-tile__img-main.product-tile__img-main--placeholder(
          v-if='!loaded'
          viewBox="0 0 304 304"
          width="100%"
        )
          rect(x="0" y="0" width="100%" height="100%")
        img.product-tile__img-main(
          v-show="loaded"
          :src="imageCrop(imageSize(images.default, '304x304'), 'center')"
          :alt='images.defaultAlt'
          :srcset="`${imageCrop(imageSize(images.default, '168x168'), 'center')} 168w, ${imageCrop(imageSize(images.default, '304x304'), 'center')} 304w, ${imageCrop(imageSize(images.default, '456x456'), 'center')} 1.5x`"
          @load="function () { loaded = true; }"
        )
        img.product-tile__img-hover(
          :src="imageCrop(imageSize(images.hover, '304x304'), 'center')"
          :alt='images.hoverAlt'
          :srcset="`${imageCrop(imageSize(images.hover, '168x168'), 'center')} 168w, ${imageCrop(imageSize(images.hover, '304x304'), 'center')} 304w, ${imageCrop(imageSize(images.hover, '456x456'), 'center')} 1.5x`"
        )
    div.product-tile__static-text-content(:class="textAlignment")
      .row
        .col-12-sm.product-tile__title.color-black
          span.product-tile-title {{ staticProductTitle }}
      .row
        .product-tile__price-container(v-if="!product.hidePrice")
          span.product-tile__price.strong-medium(:class="{[$store.state.comparePriceColor]: onSale}") {{ variant.price | money }}
          span.product-tile__compare-price.strong-medium(
            v-if='onSale'
          )
            s(:class="$store.state.comparePriceColor") {{ variant.compare_at_price | money }}
      .row(v-if="hasColorVariants && $mq !== 'mobile'")
        span.product-tile__description.body-md-sm.color-off-black(
            v-if='hasColorVariants'
          ) {{ variant[`option${colorIndex + 1}`] }}
      .row(v-if="hasColorVariants && product.variants.length > 1 && $mq !== 'mobile'")
        span.product-tile__description.color-off-black.body-md-sm {{`${product.variants.length} more colors available`}}
      .row.mobile-variant-info(v-if="$mq === 'mobile' && hasColorVariants")
        span.product-tile__description.body-md-sm.color-off-black(
          v-if='hasColorVariants') {{ variant[`option${colorIndex + 1}`] }}
        span.product-tile__description.color-off-black.body-md-sm(v-if="product.variants.length > 1") {{`+${product.variants.length} colors`}}
      .row.button-row(v-if="enableSimpleTileCta")
        .button-wrapper
          a.button.button--primary.button--full(
            :href='url'
          )
            span.button__content View Product
</template>

<script>
  import ProductSwatchesSimple from './ProductSwatchesSimple.vue';
  import { imageSize, imageCrop, badge, getProductImageAlt, getProductImageHover } from '../../helpers/util';
  import { withId } from '../../helpers/props';
  import uniqBy from 'lodash/uniqBy';

  /**
   * @typedef ImageSource
   * @type {Object}
   * @prop {String} default
   * @prop {String} defaultAlt
   * @prop {String} hoverAlt
   * 
   * @typedef Buttons
   * @type {Object}
   * @prop {Boolean} showOptions
   * @prop {Boolean} showAtc
   */

  export default {
    name: 'ProductTileSimple',
    data () {
      return {
        variant: this.selectedVariant || this.product.selected_or_first_available_variant || this.product.variants[0],
        loaded: false,
      }
    },
    props: {
      product: Object,
      onAddToCart: Function, // if not provided, the atc will not show
      collectionHandle: String, // used for linking to pdp with proper collection
      textAlignment: String,
      enableSimpleTileCta: {
        type: Boolean,
        default: true
      },
      truncateTitle: {
        type: Boolean,
        default: true
      },
      fullTileClick: {
        type: Boolean,
        default: false,
      },
      ...withId()
    },
    filters: {
      truncated(s) {
        if(s.length > 42)
          return `${s.substring(0, 42)}...`;
        return s;
      }
    },
    methods: {
      imageSize,
      imageCrop,
    },
    watch: {
      selectedVariant (n, o) {
        if(n.id !== o.id) {
          this.variant = n;
        }
      }
    },
    computed: {
      selectOptionsVerbiage () {
        const { available } = this.variant;
        return available ? 'More Options' : 'Out of Stock';
      },

      /** @returns {String} */
      url() {
        const urlParts = [];
        if(this.collectionHandle)
          urlParts.push(`/collections/${this.collectionHandle}`);

        urlParts.push(`/products/${this.product.handle}`);

        // only add variant if we're not the default
        if(this.product.variants.map(v => v.id)[0] !== this.variant.id)
          urlParts.push(`?variant=${this.variant.id}`);

        return urlParts.join('');
      },

      /** @returns {ImageSource} */
      images() {
        const defaultImage = /no-image/.test(this.variant.image.src) && this.product.images[0]
          ? this.product.images[0]
          : this.variant.image;
        const defaultImageAlt = defaultImage.alt;
        const nextImage = /no-image/.test(this.variant.image.src) ? (this.product.images[1] || this.product.images[0] || defaultImage) : this.variant.image;
        const altHoverImage = getProductImageHover(defaultImage);
        const altHoverImageAlt = altHoverImage ? altHoverImage.replace(/hover::.+?\s/, '') : nextImage.alt;

        return {
          default: defaultImage.src,
          defaultAlt: defaultImageAlt,
          hover: altHoverImage || nextImage.src,
          hoverAlt: altHoverImageAlt
        }
      },

      /** @returns {Boolean} */
      hasColorVariants() {
        return this.product.options.some(opt => /color/i.test(opt));
      },

      /** @returns {Buttons} */
      buttons() {
        return {
            showOptions: this.product.magnetProductHandle || (!this.hasColorVariants && this.filteredVariants.length > 0),
            showAtc: !this.product.magnetProductHandle && this.variant.available && this.filteredVariants.length < 1
          }
      },

      /** @returns {Number} */
      colorIndex() {
        if(!this.hasColorVariants) return 0;

        return this.product.options.reduce((acc, opt, i) => /color/i.test(opt) ? i : acc, 0);
      },

      /** @returns {String} */
      colorsAvailable() {
        if(!this.hasColorVariants) return;
        const { colorIndex } = this;

        const colors = new Set(this.product.variants.map(variant => variant[`option${colorIndex + 1}`]));

        if(colors.size >= 1) {
          return `${colors.size} color${colors.size > 1 ? 's' : ''} available`;
        }
      },

      /** @returns {Array<Object>} */
      filteredVariants() {
        return this.product.variants.filter(v => v.title.toLowerCase() !== 'default title');
      },

      filteredColorVariants() {
        if(!this.hasColorVariants) return [];

        return uniqBy(this.product.variants, `option${this.colorIndex + 1}`);
      },

      /** @returns {Boolean} */
      onSale() {
        return this.variant.available && this.variant.compare_at_price && this.variant.price < this.variant.compare_at_price;
      },

      /** @returns {String} */
      productBadge() {
        return badge(this.product, this.variant, this.onSale);
      },

      /** @returns {Boolean} */
      hasLogoBadge() {
        return this.product.logoBadge && this.product.logoBadge.length
      },

      /** @returns {String} */
      staticProductTitle() {
        return this.truncateTitle ? this.$options.filters.truncated(this.product.title) : this.product.title
      }
    },
  }
</script>

<style scoped lang="scss">
  .product-tile {
    position: relative;
    background-color: $color-white;
    user-select: none;
    box-shadow: 1px 2px 2px -1px rgba(0,0,0,0.08);
    border: 1px solid #DFE0E1;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    transition: box-shadow 200ms ease;
    @include mobile-tablet {
      box-shadow: none;
      border: none;
    }

    &:hover {
      cursor: pointer;
      box-shadow: 1px 2px 2px -1px rgba(0,0,0,0.4);
    }

    &:hover &__img-hover,
    &:focus &__img-hover {
      opacity: 1;
    }

    span:not(.button__content) {
      display: inline-block;
    }

    .row > * {
      margin-bottom: 8px;
    }

    .button-row {
      margin-top: auto;
      .button-wrapper {
        margin-bottom: 0;
      }
      .button__content {
        font-size: 14px;
      }
      @include mobile-tablet {
        .button__content {
          font-size: 12px;
        }
      }
    }

    &__price-container {
      span, s {
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 0;
        line-height: 24px;
      }
    }

    &__price {
      padding-right: 8px;
      &:not([class*="color-"]) {
        color: $color-black;
      }
    }

    &__compare-price {
      color: $color-grey;
    }

    &__badge-container {
      position: absolute;
      top: 12px;
      left: 12px;
      display: flex;
      align-items: center;
      width: calc(100% - 12px);
      z-index: 6;
      height: 20px;
      .badge {
        border-radius: 4px;
        padding: 4px 18px;
      }
      @include mobile-only {
        top: 4px;
        left: 4px;
      }
    }

    &__logo-badge {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 4px 0;
      border-top: 1px solid #DFE0E1;
      border-bottom: 1px solid #DFE0E1;
      width: 100%;
      img {
        width: auto;
        height: 24px;
      }
      @include mobile-only {
        img {
          height: 20px;
        }
      }
      @media screen and (max-width: 320px) {
        img {
          height: 18px;
        }
      }
    }

    @media screen and (max-width: 400px) {
      max-width: 100%;
    }

    &:focus {
      outline: none !important;
    }

    a {
      line-height: normal;
    }

    &__images {
      position: relative;
      font-size: 0;
      background-color: $color-white;
    }

    &__images a {
      font-size: 0;
    }

    &__img-hover {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      transition: opacity .2s linear;
      z-index: 5;
      width: 100%;
      height: 100%;
      object-fit: cover;
      font-size: 'object-fit: cover;';
    }

    &__img-main {
      z-index: 2;
      position: relative;
      transition: none;
      transition: opacity .2s linear;
    }

    &__img-main--placeholder {
      width: 100%;
      height: 100%;
      z-index: 4;
      fill: $color-off-white;
    }

    &__img-main {
      width: 100%;
      height: 100%;
      min-width: 100%;
      min-height: 100%;
      object-fit: cover;
      font-family: 'object-fit: cover;';
    }

    &__static-text-content {
      background-color: $color-white;
      padding: 8px;
      border-top: 1px solid #DFE0E1;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      height: 100%;
      @include mobile-only {
        border-top: none;
      }
      &__title {
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 22px;
      }
    }

    &__img-main--placeholder {
      width: 100%;
      height: 100%;
    }

    &__description {
      color: $color-off-black;
      @include body-sm;
      line-height: rem(16);
      letter-spacing: normal;
    }

    &__compare-price,
    &__compare-price s {
      @include product-tile-compare-price;
    }

    @media screen and (max-width: 400px) {
      .button {
        min-width: initial;

        .button__content {
          font-size: 12px;
          letter-spacing: normal;
        }
      }
    }
    .mobile-variant-info {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }
</style>