<template lang="pug">
  .product-bottomline
    .product-bottomline__rating(v-if="loaded")
      star-rating.product-bottomline__stars(
        :rating="rating"
        v-if="count > 0"
      )
      a.product-bottomline__count(v-if="count > 0" href="#" v-scroll-to="{ el: '#pdp_yotpo_reviews' }") {{ reviewMessage }}
      a.product-bottomline__no-ratings(v-else-if="displayNoReviews" href="#" v-scroll-to="{ el: '#pdp_yotpo_reviews' }") No reviews yet!
</template>

<script>
  import StarRating from 'scripts/components/basic/StarRating.vue';

  // add client APPKEY here (public facing)
  const YOTPO_APP_KEY = '53RZCmgrruP6uD3yeFzf8VrCktgIGEFMPq34qOBI';

  export default {
    name: 'ProductBottomLine',
    components: { StarRating },
    data () {
      return {
        loaded: false,
        rating: false,
        count: false,
      }
    },
    props: {
      productId: Number,
      displayMobileReviewMessage: {
        type: Boolean,
        default: false,
      },
      displayNoReviews: {
        type: Boolean,
        default: false,
      },
    },
    created() {
      fetch(`https://api.yotpo.com/products/${YOTPO_APP_KEY}/${this.productId}/bottomline`)
        .then((blob) => blob.json())
        .then((data) => {
          // endpoint returns => average_score and total_reviews
          const count = data.response.bottomline.total_reviews || 0;

          this.count = count;
          if (count > 0) this.rating = data.response.bottomline.average_score;
        })
        .finally(() => this.loaded = true)
        .catch((err) => console.error(err.response.data.status.message));
    },
    computed: {
      reviewMessage () {
        if (this.$mq === 'mobile' && this.displayMobileReviewMessage === false) return `${this.count}`;
        return `${this.count} reviews`;
      },
    },
  };
</script>

<style scoped lang="scss">
  .product-bottomline {
    &__rating {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__stars {
      margin-right: 8px;
      height: 18px;
      font-size: 0;
    }

    &__count,
    &__no-ratings {
      margin: 0;
      font-family: $font-gibson;
      font-weight: 300;
      font-size: rem(14);
      letter-spacing: 0.3px;
      line-height: 1.4;
      color: $color-black;
    }
  }
</style>
