<template lang="pug">
  .product-carousel
    span.pdp-gallery__zoom-icon(@click="() => zoomState = false" v-if="zoomState")
      icon(name="zoom_out" size="20px")
    span.pdp-gallery__zoom-icon(v-else @click="zoomCenter")
      icon(name="zoom_in" size="20px")

    button.pdp-gallery__video(
      v-if="videoMedia.length > 0"
      :style="videoButtonStyles"
      @click="() => $refs.videoModal.open()"
    )
      span
        icon(name="arrow_right_solid" size="20px")
      span Watch Video
    modal(ref="videoModal")
      div(slot="content")
        media( :media="videoMedia[0]")

    div.product-carousel__navigation--desktop(
      v-if="!['mobile', 'tablet'].includes($mq)"
    )
      .product-carousel__thumbnails-wrapper
        ul.product-carousel__thumbnails(ref="thumbnailContainer")
          li.product-carousel__thumbnail-wrapper(
            v-for="(media, index) in filterMedia"
            :key="'thumbnail' + index"
          )
            button.product-carousel__button(
              @click="setSlide(index)"
              :label="'Go to slide ' + index",
              :class="{ 'is-active' : currentSlideIndex === index }"
            )
              img.product-carousel__thumbnail(
                :src="media.src || media.preview_image.src"
                :alt="media.alt"
              )
              span.u-sr-only Go to slide {{ index }}
        .product-carousel__scroll-indicator(
          v-if="productMedia.length > 2" 
          :class="hideScrollIndicator ? 'product-carousel__scroll-indicator--hide' : ''"
          @click="scrollThumbnailContainer"
        )
          icon(name="chevron-down" size="9px")
      div.product-carousel__image-count(v-if="filterMedia.length > 2")
        span
          icon(name="view-module" size="14px")
        span {{filterMedia.length}} photos available
    carousel(
      ref="productImageCarousel",
      :slides-to-show="1",
      :infinite="true",
      :dots="renderPagination"
      @after-slide="setCurrentSlide"
    )
      slide.product-slide(v-for="(media, index) in filterMedia", :key="index")
        div(@click="setZoom($event, !zoomState)" @mouseleave="() => zoomState = false")
          media( :media="media")
            zoom(ref="zoom" slot="image" :img-normal-attrs="{ src: media.src, alt: getProductImageAlt(media) }" :img-zoom-attrs="{ src: media.src, alt: getProductImageAlt(media) }" :zooming="zoomState" :disabled="!zoomState")
</template>

<script>
  import { getProductImageAlt, getVariantImages } from 'scripts/helpers/util'
  import Carousel from 'scripts/components/basic/Carousel.vue';
  import Slide from 'scripts/components/basic/Slide.vue';
  import Icon from 'scripts/components/basic/Icon.vue';
  import Zoom from 'scripts/components/basic/Zoom.vue';
  import Media from 'scripts/components/basic/Media.vue';
  import Modal from 'scripts/components/basic/Modal.vue'

  export default {
    name: "ProductCarouselFull",
    components: {
      Carousel,
      Slide,
      Zoom,
      Icon,
      Media,
      Modal,
    },
    props: {
      productMedia: Array,
      theVariant: Object,
    },
    data () {
      return {
        zoomState: false,
        currentSlideIndex: 0,
        hideScrollIndicator: false,
        videoModalOpen: false,
        videoButtonStyles: {
          bottom: '16px',
        },
      };
    },
    methods: {
      getProductImageAlt, getVariantImages,
      addResizeListener() {
        window.addEventListener('resize', this.measurePagination);
      },
      removeResizeListener() {
        window.removeEventListener('resize', this.measurePagination);
      },
      measurePagination() {
        const { pagination } = this.$refs.productImageCarousel.$refs;
        let total = 16;

        if (this.renderPagination && pagination) {
          const marginTop = getComputedStyle(pagination)['margin-top'];
          total += pagination.offsetHeight + parseInt(marginTop, 10);
        }
        
        this.videoButtonStyles.bottom = `${total}px`;
      },
      zoomCenter (event) {
        if(['mobile', 'tablet'].includes(this.$mq)) {
          return;
        }
        this.zoomState = true
        this.$nextTick(() => {
          const zoomContainer = this.$refs.zoom[this.currentSlideIndex]
          if (zoomContainer) { zoomContainer.zoomCenter() }
        })
      },
      setZoom (event, state) {
        if(['mobile', 'tablet'].includes(this.$mq)) {
          return;
        }
        this.zoomState = state
        this.$nextTick(() => {
          const zoomContainer = this.$refs.zoom[this.currentSlideIndex]
          if (zoomContainer) { zoomContainer.move(event) }
        })
      },
      setSlide (index) {
        this.$refs.productImageCarousel.slideTo(index);
      },
      setCurrentSlide (index) {
        this.currentSlideIndex = index;
      },
      sizedImage (imageSrc, imageSize) {
        return imageSrc.replace('.png', `_${imageSize}x.png`)
                       .replace('.jpg', `_${imageSize}x.jpg`)
                       .replace('.jpeg', `_${imageSize}x.jpeg`);
      },
      slideNextMain () {
        this.$refs.productImageCarousel.slideNext();
      },
      slidePrevMain () {
        this.$refs.productImageCarousel.slidePrev();
      },
      scrollThumbnailContainer () {
        const thumbnailContainer = this.$refs.thumbnailContainer;
        const scrollHeight = thumbnailContainer.querySelector('.product-carousel__thumbnail-wrapper').offsetHeight;
        thumbnailContainer.scroll(0, thumbnailContainer.scrollTop + scrollHeight);
      },
    },
    mounted() {
      const thumbnailContainer = this.$refs.thumbnailContainer;
      if (thumbnailContainer) {
        thumbnailContainer.addEventListener('scroll', (e) => {
          const scrollTop = thumbnailContainer.scrollTop;
          const scrollHeight = thumbnailContainer.scrollHeight;
          const height = thumbnailContainer.clientHeight;
  
          if (Math.abs(scrollTop + height - scrollHeight) < 100) {
            this.hideScrollIndicator = true;
          } else {
            this.hideScrollIndicator = false;
          }
        });
        this.$nextTick(() => {
          if (this.productMedia.length > 3) {
            let secondImage = thumbnailContainer.querySelector('.product-carousel__thumbnail-wrapper:nth-child(2)');
            let offsetTop = secondImage.offsetTop;
            this.$refs.thumbnailContainer.scrollTo(0, offsetTop);
          }
        });
      }

      this.addResizeListener();
      this.measurePagination();
    },
    updated() {
      this.measurePagination();
    },
    beforeDestroy() {
      this.removeResizeListener();
    },
    computed: {
      filterMedia () {
        return this.productMedia.filter((media) => media.media_type === 'image');
      },
      videoMedia () {
        return this.productMedia.filter(media => media.media_type === 'video');
      },
      renderPagination() {
        return ['mobile', 'tablet'].includes(this.$mq);
      },
    },
    watch: {
      theVariant (newValue) {
        let parseNewSrc = newValue.image.src.split('?v')[0];
        const selectedVariantImage = this.filterMedia.findIndex((media) => {
          if (media.src) {
            let parsedSource = media.src.replace('https:', '').split('?v')[0]
            return parsedSource === parseNewSrc;
          }
          return false;
        });
        if (selectedVariantImage !== -1) {
          this.setSlide(selectedVariantImage);
        }
      }
    }
  }
</script>

<style lang="scss" scoped>
  .product-carousel {
    position: relative;
    margin-bottom: 0px;
    z-index: 0;

    @include desktop-up {
      display: grid;
      grid-template-columns: minmax(150px, 200px) 1fr;
      grid-column-gap: 18px;
      grid-template-rows: 680px;
    }
  }

  .pdp-gallery__zoom-icon {
    position: absolute;
    left: 250px;
    top: 24px;
    z-index: 1;
    height: 36px;
    width: 36px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.15);
    border-radius: 16px;
    display: none;
    align-items: center;
    justify-content: center;

    @include desktop-up {
      display: flex;
    }
  }

  .pdp-gallery__video {
    position: absolute;
    right: 16px;
    z-index: 1;
    border: 1px solid $color-v-light-grey;
    border-radius: 4px;
    background: $color-white;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12);
    span {
      font-size: rem(14);
      font-weight: 500;
      line-height: rem(17);
      text-transform: none;
    }

    &:active {
      top: auto;
    }
  }

  .product-slide {
    padding: 0;

    @include mobile-tablet {
      max-height: 545px;
      background-color: $color-white;
      box-shadow: 0 1px 1px rgba(0,0,0,0.12);
    }

    div,
    /deep/ div {
      height: 100%;
    }

    /deep/ .normal {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }

  .product-carousel__image {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }

  .product-carousel__navigation {
    position: absolute;
    top: 50%;
    left: 5px;
    right: 5px;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    touch-action: none;
    pointer-events: none;
    z-index: 1;
  }
  .product-carousel__navigation--desktop {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 37px;
    grid-row-gap: 8px;
    overflow: visible;
    padding: 0 2px 2px;
  }

  .featured-products__button {
    touch-action: all;
    pointer-events: all;
  }

  .product-carousel__thumbnails-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  .product-carousel__thumbnails {
    overflow-y: auto;
    scroll-snap-type: y mandatory;
    padding: 0;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-row-gap: 8px;
    margin: 0;
    height: 100%;
    flex: 1;
  }

  .product-carousel__scroll-indicator {
    position: absolute;
    bottom: 18px;
    background-color: $color-white;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12);
    height: 36px;
    width: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: 1px solid $color-v-light-grey;
    left: 50%;
    transform: translateX(-50%);
    transition: opacity .2s linear;

    &--hide {
      opacity: 0;
      visibility: hidden;
    }
  }

  .product-carousel__thumbnail-wrapper {
    scroll-snap-align: start;
    background-color: $color-white;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12);
  }

  .product-carousel__image-count {
    background-color: $color-white;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12);
    height: 37px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: rem(12);
    line-height: rem(14);

    span {
      display: inline-flex;
      align-items: center;
    }
  }

  .product-carousel__button {
    border: none;
    background: none;
    border-radius: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    min-width: 0;
    overflow: hidden;

    &:active {
      top: 0;
    }

    &.is-active {
      border: 2px solid $color-accent-red;
    }
  }

  .product-carousel__thumbnail {
    display: block;
    width: 100%;
    object-fit: cover;
  }

  .product-carousel__thumbnail-wrapper {
    & + & {
      margin-top: 8px;
    }
  }

  /deep/ .carousel {

    @include desktop-up {
      background-color: $color-white;
      box-shadow: 0 1px 1px rgba(0,0,0,0.12);
    }

    .carousel__track {
      max-height: 100%;
      height: 100%;
    }

    .carousel__dots {

      @include mobile-tablet {
        margin-top: 10px;
      }

      li {
        background-color: #D8D8D8;
        border: 0;
        height: 10px;
        width: 10px;
        margin-top: 0;
        margin-bottom: 0;
        &.is-active {
          background-color: $color-primary-red;
        }
      }
    }
  }
</style>
