<template lang="pug">
  .product-display__wrapper
    section.container.product-display(
      v-if="product"
      :class="{ 'product-display--grid': !['mobile', 'tablet'].includes($mq) }"
    )
      main.product-display__main
        .product-display__carousel
          product-carousel-full(
            :productMedia="product.media"
            :theVariant="selectedVariant"
          )
        slot(name="stamped-customer-photos" v-if="!['mobile', 'tablet'].includes($mq) && showCustomerPhotos")
        .product-display__accordions.desktop-up
          product-accordions(
            :product="product"
            :productInfo="productInfo"
          )
        .recommended-wrapper.desktop-up
          .recommended__title.h6 You May Also Like
          .recommended
            product-tile.recommended__product(
              v-for="recommendation in recommended"
              :key="recommendation.id"
              :product="recommendation"
              :selected-variant="recommendation.variants[0]"
            )

      aside.product-display__form
        img.product-display__icon(
          v-if="productIcon"
          :src="productIcon"
        )
        product-form(
          :is-pdp="true"
          :product="product"
          :showLearnMore="false"
          :showFinePrint="true"
          :productFinePrint="productFinePrint"
          :setVariationForImage="selectVariant"
          :productInfo="productInfo"
        )
          div(slot="customer-images-mobile" v-if="['mobile', 'tablet'].includes($mq) && showCustomerPhotos")
            slot(name="stamped-customer-photos")
      div.mobile-tablet-only
        .product-display__accordions
          product-accordions(
            :product="product"
            :productInfo="productInfo"
          )
        .recommended-wrapper
          .recommended__title.h6 You May Also Like
          .recommended
            product-tile.recommended__product(
              v-for="recommendation in recommended"
              :key="recommendation.id"
              :product="recommendation"
              :selected-variant="recommendation.variants[0]"
            )
    slot(
      v-else
    )
</template>

<script>
  import ProductMixin from 'scripts/mixins/storeProduct.js';

  import ProductAccordions from 'scripts/components/product/ProductAccordions.vue'
  import ProductTile from 'scripts/components/product/ProductTile.vue'

  import ProductCarouselFull from 'scripts/components/product/ProductCarouselFull.vue';
  import ProductForm from 'scripts/components/product/ProductForm.vue';

  export default {
    name: 'ProductDisplay',
    mixins: [ProductMixin],
    components: { ProductCarouselFull, ProductForm, ProductAccordions, ProductTile },
    props: {
      productInfo: Object,
      productIcon: String,
      productFinePrint: String,
    },
    data () {
      return {
        recommended: [],
        selectedVariant: null,
        showCustomerPhotos: true,
      }
    },
    methods: {
      selectVariant (newVariant) {
        this.selectedVariant = newVariant;
      }
    },
    mounted() {
      /** hide customer images section when no customer images */
      if(document.querySelectorAll('.photo .stamped-photo').length < 1) {
        this.showCustomerPhotos = false;
      }

      window.setTimeout(StampedFn.init, 2000);// customer images widget can get stuck on the loading view without this
    },
    watch: {
      product (newProduct) {
        if (this.recommended.length > 0) return;
        fetch(`/recommendations/products.json?product_id=${newProduct.id}`, {
          headers: {
            'Content-Type': 'application/json'
          },
        })
          .then((blob) => blob.json())
          .then((data) => {
            this.recommended = data.products.slice(0, 3);
          });
      }
    }
  }
</script>

<style lang="scss" scoped>
  .product-display {
    position: relative;
    margin-top: 0;
  }

  .product-display__icon {
    margin: 0 auto 40px;
    display: block;
  }

  .product-display--grid {
    display: grid;
    grid-template-columns: 663px auto;
    grid-column-gap: 36px;
    max-width: 1140px;
  }

  .product-display__main {
    padding-top: 48px;
    grid-row: 1;
    grid-column: 1;
    order: 1;
  }

  .product-display__carousel {
    overflow: hidden;
    background-color: $color-white;

    @include desktop-up {
      background-color: transparent;
    }

    /deep/ .carousel__dots {
      flex-wrap: wrap;

      li {
        margin-bottom: 5px;
      }
    }
  }

  .product-display__form {
    padding: 10px 24px 0;
    grid-row: 1;
    grid-column: 2;
    box-shadow: 0 1px 1px rgba(0,0,0,0.15);
    background-color: $color-white;
    position: relative;

    @include desktop-up {
      padding: 48px 24px 0;
    }
  }

  .recommended {
    margin-bottom: 25px;
    display: flex;
    overflow: scroll;

    @include desktop-up {
      margin-bottom: 0;
      overflow: hidden;
      justify-content: space-between;
    }
  }

  .recommended__product {
    margin-right: 8px;
    min-width: 156px;
    background-color: transparent;

    @include desktop-up {
      margin-right: 0;
      width: calc(100% / 3 - 13px);
      min-width: unset;
    }

    /deep/ .product-tile__images {
      background-color: $color-white;
    }
  }

  .mobile-tablet-only {
    @include desktop-up {
      display: none;
    }
  }

  .desktop-up {
    display: none;

    @include desktop-up {
      display: block;
    }
  }
</style>
