{%- if product.metafields.custom_fields.trial_product != blank and all_products[product.metafields.custom_fields.trial_product].variants[0] != blank -%}
  {%- assign _trial_product = all_products[product.metafields.custom_fields.trial_product] -%}

  {% capture schema %}
    {
      "settings": {
        "layout": "",
        "margin-top": 0,
        "margin-bottom": 0,
        "imageDesktop": {{ _trial_product.featured_image | image_url: '500x' | json }},
        "imageMobile": {{ _trial_product.featured_image | image_url: '500x' | json }},
        "altText": {{- _trial_product.featured_image.alt | json -}},
        "imageWidth": "sw--50",
        "align": "left",
      }
    }
  {% endcapture %}

  <div class="trial-product-anchor-wrap">
    <div id="trial-product" class="trial-product-anchor"></div>
  </div>
  <div class="free-trial-wrapper">
    <fifty-fifty :schema="{{ schema | escape | strip }}">
      <div slot="extraContent" class="free-sample__wrapper">
        <h4 class="free-sample__title">{{ section.settings.title }}</h4>
        <p class="ff__body body-md">{{ section.settings.content }}</p>
        <add-to-cart label="{{- section.settings.cta_text -}}"
                     :variant-id="{{- _trial_product.variants[0].id -}}">
        </add-to-cart>
      </div>
    </fifty-fifty>
  </div>
{%- endif -%}

{% schema %}
  {
    "name": "Free Trial Product",
    "settings": [
      {
        "id": "title",
        "type": "text",
        "label": "Title",
        "default": "Try a Free Sample"
      },
      {
        "id": "content",
        "type": "textarea",
        "label": "Content",
        "default": "Try a Free Sample"
      },
      {
        "id": "cta_text",
        "type": "text",
        "label": "CTA Text",
        "default": "Add to cart"
      }
    ]
  }
{% endschema %}
