{%- assign _product_icon = false -%}
{%- for block in section.blocks -%}
  {%- if product.tags contains block.settings.tag -%}
    {%- assign _product_icon = block.settings.image | img_url : '175x'  -%}
    {%- break -%}
  {%- endif -%}
{%- endfor -%}

{%- capture product_info -%}
  {
    "shipping": {{- section.settings.shipping | json -}},
    "returns": {{- section.settings.return_policy | json -}},
    "warranty": {{- section.settings.warranty | json -}},
    {% if product.metafields.custom_fields.size_guide %}
    "sizeChart": {{ collections[product.metafields.custom_fields.size_guide].metafields.custom_fields.product_size_guide | json }},
    {% endif %}
    "valueProps": [
      {% if settings.product_value_title_1 != empty %}
      {
        "heading": {{- settings.product_value_title_1 | json -}},
        "icon": {{- settings.product_value_icon_1 | json -}},
        "description": {{- settings.product_value_body_1 | json -}}
      }{% if settings.product_value_title_2%},{% endif %}
      {% endif %}
      {% if settings.product_value_title_2 != empty %}
      {
        "heading": {{- settings.product_value_title_2 | json -}},
        "icon": {{- settings.product_value_icon_2 | json -}},
        "description": {{- settings.product_value_body_2 | json -}}
      }
      {% endif %}
    ]
  }
{%- endcapture -%}

<product-display product-handle="{{- product.handle -}}"
                 product-fine-print="{{- section.settings.fine_print -}}"
                 :product-info="{{- product_info | escape -}}"
                 {%- unless _product_icon == blank -%}product-icon="{{- _product_icon -}}"{%- endunless -%}>
  <div class="customer-images--pdp" slot="stamped-customer-photos">
    <div id="stamped-reviews-widget" data-widget-type="visual-gallery" data-feed-type="carousel" data-height="120" data-auto-play="false" data-auto-play-speed="-3" data-style-color-star="transparent" data-style-color-hover-opacity="100" data-take="30" data-product-ids="{{product.id}}" data-min-rating="4" data-fill-empty="false" data-random="false" data-with-photos="true"data-with-photos="true"></div>
    <p class="customer-images__heading">Customer Photos</p>
  </div>
</product-display>

{% schema %}
{
  "name": "Product Display",
  "settings": [
    {
      "type": "text",
      "id": "fine_print",
      "label": "Fine Print"
    },
    {
      "type": "richtext",
      "id": "shipping",
      "label": "Shipping Info"
    },
    {
      "type": "richtext",
      "id": "warranty",
      "label": "Warranty Info"
    },
    {
      "type": "richtext",
      "id": "return_policy",
      "label": "Return Policy"
    }
  ],
  "blocks": [
    {
      "type": "icon",
      "name": "Icon",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "Should be 175x60"
        },
        {
          "type": "text",
          "id": "tag",
          "label": "Tag",
          "info": "the tag the image should display for"
        }
      ]
    }
  ]
}
{% endschema %}
