{%- capture _ingredients -%}
  {%- for block in section.blocks -%}
    {
      "title": {{- block.settings.title | json -}},
      "categories": {{- block.settings.categories | json -}},
      "image": {{- block.settings.image | img_url: '175x' | json -}},
      "imageAlt": {{- block.settings.image.alt | default: block.settings.title | json -}},
    },
  {%- endfor -%}
{%- endcapture -%}

<target-areas :ingredients="[{{- _ingredients | escape -}}]"
              product-handle="{{- product.handle -}}">
</target-areas>

{% schema %}
  {
    "name": "Product Ingredients",
    "settings": [],
    "blocks": [
      {
        "type": "ingredient",
        "name": "Ingredient",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Ingredient Title"
          },
          {
            "type": "text",
            "id": "categories",
            "label": "Categories",
            "label": "Comma seperated list of category IDs"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image",
            "info": "Should be 175x175"
          }
        ]
      }
    ]
  }
{% endschema %}
