// Account Dash - shared by account.liquid,
.account-dash {
  max-width: $breakpoint-hd;
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  margin: 0 auto 40px auto;
  .account-nav-desktop {
    display: none;
    width: 100%;

    @include desktop-up {
      max-width: 344px;
      margin-right: 16px;
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    .account-nav-menu-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 264px;
      width: 100%;
      padding: 0 0 0 20px;
      text-decoration: none;
      color: $color-black;
      line-height: 46px;
      font-weight: 500;

      @include tablet-up {
        transition: background-color .3s;
      }

      &.active {
        border-radius: 22px;
        box-shadow: 0 1px 1px 0 rgba($color-black, 0.15);
        background: $color-v-light-grey;
      }
      .arrow-icon {
        margin-right: 20px;
        fill: $color-black;
      }
    }

    .account-nav-menu-logout {
      padding-left: 20px;
      font-size: rem(14);
      color: $color-primary-red;
    }

    .account-nav-ccpa-link {
      padding: 0 0 0 20px;
      font-family: $font-family-primary;
      color: $color-off-black;
      line-height: 30px;
      font-size: 14px;
      font-weight: 500;
      margin-top: 16px;

      &:before {
        background: $color-off-black;
        margin-left: 20px;
      }
    }
    @include tablet-up {
      display: flex;
    }

    @include desktop-up {
      display: block;
    }
    .need-help {
      display: none;

      @include desktop-up {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 20px;
        margin-top: 120px;
        margin-bottom: 16px;
        .account-help-title {
          font-family: $font-family-primary;
          letter-spacing: 2px;
          font-weight: 700;
          color: $color-black;
          font-size: 11px;
          line-height: 18px;
          margin-top: 0;
          margin-bottom: 8px;
        }
        .account-help-phone-email {
          font-family: $font-family-primary;
          color: $color-black;
          margin: 0;
          margin-bottom: 4px;
          font-weight: normal;

          &:before {
            background: $color-black;
          }
        }
      }
    }
  }
  .account-nav-desktop-header {
    display: none;

    @include desktop-up {
      display: flex;
      padding-left: 20px;

      p {
        letter-spacing: 0.2px;
      }
    }
  }
  nav {
    display: none;

    @include desktop-up {
      display: block;
      width: 100%;
    }
  }
  .account-nav-mobile {
    display: block;
    padding: 16px;

    select {
      margin: 12px 0 0;
    }

    @include desktop-up {
      display: none;
    }

    .account-nav-mobile-select {
      border: 1px solid $form-color-grey;

      select {
        display: none;
      }
    }
  }

  .account-content-area {
    margin: 0;
    padding: 0 $grid-gutter;
    width: 100%;

    .panel {
      display: flex;
      flex-direction: column;

      h2 {
        line-height: 22px;
        text-align: left;
        font-size: 16px;
        margin-bottom: 17px;
      }
    }

    @include tablet-up {
      margin: 0 0 0 20px;
      width: 100%;

      h2 {
        line-height: 22px;
        display: inline-block;
      }
    }

    @include desktop-up {
      padding: 0;
      max-width: 800px;
    }
  }
  .table-wrapper {
    padding: 16px;
    min-height: 367px;
    width: 100%;
    background-color: $color-v-light-grey;

    @include tablet-up {
      max-width: 100%;
    }

    @include desktop-up {
      margin: 0;
      max-width: 720px;
    }

    .no-orders {
      text-align: center;
      margin-top: 60px;

      p {
        margin: 0;
      }
    }
    .no-order-link-container {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 15px !important;

      a {
        &:visited {
          color: $color-brand-primary;
          &:before {
            background: $color-brand-primary;
          }

          svg {
            fill: $color-brand-primary;
          }
        }
      }
    }
    thead {
      border-bottom: 1px solid $color-light-grey;
      padding: 0 17px;
    }
    th {
      @include body-md;

      width: auto;
      padding: 0;
      color: $color-black;
      font-family: $font-family-primary;
      padding: 0 7px;
    }
  }
  .orders-table {
    font-family: $font-family-primary;
    border-collapse: collapse;
    text-align: left;
    width: 100%;

    th, tr {
      @include body-md;
      line-height: 4.5;
    }

    a {
      text-decoration: none;
      font-size: 12px;

      @media screen and (min-width: 900px) {
        font-size: 16px;
      }
    }

    td {
      font-size: 12px;

      @media screen and (min-width: 900px) {
        font-size: 16px;
      }
      img {
        width:12px;
        height: 12px;
      }
    }

    .accounts-order-data a {
      text-decoration: none;
    }

    .accounts-order-data, .accounts-order-data-head {
      padding-left: 6px;
      font-weight: 400;

      @include tablet-up {
        padding-left: 20px;
      }
    }
  }

  @include tablet-up {
    padding: 60px 46px;
    flex-direction: column;
  }
  @include desktop-up {
    flex-direction: row;
  }
}

.accounts-order-data-head-icon {
  opacity: 0;
}

.customer-address-container {
  .input {
    label {

    }
    input:not(.vs__search):not([type="radio"]):not([type="checkbox"]),
    select,
    textarea,
    .v-select {
      height: 44px;
      width: 100%;
      font-size: 16px;
      line-height: 22px;
      padding: 0 0 0 15px;
      margin-bottom: 0;
    }

    span:not(.vs__selected) {
      color: $color-black;
      font-size: 16px;
      line-height: 22px;
    }

    .vs__search,
    .vs__dropdown-toggle {
      height: 100%;
      padding: 0;
      margin: 0;
      border: 0;
      background-color: transparent;
      font-size: 16px;
      line-height: 22px;
    }

    .vs__selected {
      margin: 0;
      padding: 0;
      height: 50px;
      line-height: 50px;
    }

    .vs__dropdown {

      &-menu {
        border: 1px solid $color-brand-tertiary;
        width: calc(100% + 2px);
        left: -1px;
      }

      &-option {
        height: 50px;
        line-height: 50px;
        font-size: rem(16);

        &--highlight {
          background-color: $color-black;
          color: $color-black;
        }
      }
    }

    &--radio-group,
    &--checkbox-group {
      margin: 0;
      padding: 0;

      label {
        display: inline-block;
        position: relative;
        line-height: 22px;
        padding-left: 28px;
        margin: 12px 0 0 12px;
        font-family: $font-family-primary;
        font-size: rem(16);
        font-weight: 400;
        text-transform: none;
        letter-spacing: normal;
        color: $color-off-black;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        cursor: pointer;
        &:before {
          display: none;
        }

        input {
          position: absolute;
          opacity: 0;
          cursor: pointer;
        }

        .radio-toggle,
        .checkbox-toggle {
          position: absolute;
          top: 1px;
          left: 0;
          height: 16px;
          width: 16px;
        }
      }
    }

    &--checkbox-group {
      .checkbox-toggle {
        border-radius: 1px;
        border: 1px solid $color-black;
      }

      .checkbox-checkmark.icon {
        display: none;
        position: relative;
        fill: $color-white;
        left: 2px;
        top: 2px;
      }

      label:hover input:not([disabled="disabled"]) ~ .checkbox-toggle {
        border: 1px solid $color-brand-tertiary;
      }

      input:checked {
        & ~ .checkbox-toggle {
          border: 1px solid $color-brand-primary;
          background-color: $color-brand-primary;
        }

        & ~ .checkbox-toggle .checkbox-checkmark {
          display: block;
        }
      }

      input[disabled="disabled"] {
        & ~ .checkbox-toggle {
          border: 1px solid $color-black;
          background-color: $color-black;
        }

        & ~ .checkbox-toggle .checkbox-checkmark.icon {
          fill: $color-black;
        }
      }
    }

    &--radio-group {
      .radio-toggle {
        background-color: $color-white;
        border: 1px solid $color-black;
        border-radius: 50%;

        &::after {
          content: "";
          position: absolute;
          display: none;
          top: 3px;
          left: 3px;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background-color: $color-brand-primary;
        }
      }

      label:hover input:not([disabled="disabled"]) ~ .radio-toggle {
        border: 1px solid $color-brand-tertiary;
      }

      input:checked {
        & ~ .radio-toggle {
          border: 1px solid $color-brand-primary;
        }

        & ~ .radio-toggle::after {
          display: block;
        }
      }

      input[disabled="disabled"] {
        & ~ .radio-toggle {
          border: 1px solid $color-black;
          background-color: $color-black;
        }

        & ~ .radio-toggle::after {
          background-color: $color-black;
        }
      }
    }
  }
}

.account-nav-mobile-select .vs__selected {
  &:hover {
    background-color: $color-white;
  }
}

.account-add-address {
  height: 56px;
  width: 100%;
  border: 1px solid $color-off-white;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba($color-black, 0.15);
  padding: 16px;
  font-size: rem(14);
  line-height: rem(22);
  font-weight: 500;
  background-color: $color-v-light-grey;

}

.edit-address-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    .default-group {
      display: flex;
      align-items: center;
      margin-bottom: 24px;
      .input {
        margin: 0 0 30px;
      }
      label {
        margin: 0;
      }
    }
  }
  .customer-address-form {
    background-color: $color-v-light-grey;
    padding: 24px 16px;
    margin: 0 0 24px 0;
    font-family: $font-family-primary;

    @include tablet-up {
      padding: 24px 50px;
    }
    .input {
      margin: 0 0 16px;

      label {
        color: $color-off-black;
        margin-bottom: 8px;
      }
    }
    .input--checkbox-group {
      label {
        margin-left: 0;
      }
    }
  }
  .customer-address {
    background-color: $color-v-light-grey;
    padding: 16px;
    margin: 0 0 24px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;

    @include tablet-up {
      padding: 24px 40px;
      flex-direction: row;
    }
  }

  .edit,
  .delete {
    text-transform: none;
    letter-spacing: normal;
    margin-bottom: 7px;
    font-weight: 400;
  }
  .customer-address-name {
    font-size: 12px;
    line-height: 20px;

    @include tablet-up {
      font-size: 16px;
      line-height: 22px;
    }
  }

  .customer-address-details span {
    font-size: 12px;
    line-height: 20px;

    @include tablet-up {
      font-size: 16px;
      line-height: 22px;
    }
  }
  .customer-address-name, .customer-address-details {
    margin: 0;
  }
  .address-name {
    font-size: 16px;
    line-height: 22px;
    color: $color-black;
  }
  .address-name {
    font-size: 16px;
    line-height: 22px;
    color: $color-black;
  }
  .customer-address-default-title {
    display: block;
    font-family: $font-gibson;
    margin-bottom: 15px;
  }
  .address-default {
    font-size: 12px;
    color: $color-brand-primary;
    font-weight: normal;
    margin-left: 4px;
  }
  .customer-address-details {
    font-family: $font-family-primary;
    font-size: 16px;
    color: $color-black;
    line-height: 22px;
    display: flex;
    flex-direction: column;
  }
  .new-address-button {
    @include body-md;

    background-color: $color-off-white;
    font-family: $font-family-primary;
    cursor: pointer;
    border: none;
    color: $color-black;
    padding: 24px 0;
    width: 100%;
    letter-spacing: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: none;
    transition: background-color .3s;

    &:hover {
      background-color: $color-grey;
    }
    span {
      margin-right: 8px;
    }
  }
  .account-content-area {
    padding: 18px 0;
    padding-top: 0;
    margin-bottom: 80px;
    @include tablet-up {
      padding: 0;
    }
  }

.order-detail-template {
  .order-detail-container {
    box-shadow: 0 1px 2px 0 rgba($color-black, 0.15);
    background-color: $color-v-light-grey;
    padding: 18px;
    line-height: 24px;
    font-family: $font-family-primary;
    @include tablet-up {
      padding: 50px 48px;
    }
  }
  .account-content-area {
    margin: 0;
    width: 100%;
    .panel {
      display: flex;
      flex-direction: column;
      margin: 16px;
      @include tablet-up {
        margin: 0;
      }
      .order-detail-header {
        display: flex;
        justify-content: space-between;
        .order-date {
          display: block;
          width: 100%;
          font-family: $font-family-primary;
          font-size: 16px;
          font-weight: 400;
          line-height: 22px;
          color: $color-black;
          text-align: right;
        }
      }
    }
  }
  .order-detail-container {
    .money {
      font-family: $font-family-primary;
    }
  }
  .order-detail-cancellation-info, .order-addresses, .order-ship-pay-methods {
    font-size: 13px;
  }
  .order-detail-cancellation-info {
    margin-bottom: 20px;
    p {
      margin: 0;
    }
  }
  .order-details {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;

    @include tablet-up {
      justify-content: flex-start;
    }

    .detail {
      width: 45%;

      @include tablet-up {
        display: flex;
        flex-direction: column;
        flex: 1;
        width: 50%;
      }

      p {
        font-size: 12px;
        line-height: 20px;

        @include tablet-up {
          font-size: 16px;
          line-height: 22px;
        }

      }
    }
    .track-shipment {
      font-weight: 400;
      text-decoration: underline;
    }
  }

  .order-line-items {
    margin: 0 0 24px 0;

    @include tablet-up {
      margin: 0 0 40px 0;
    }
  }
  .order-line-item-card {
    padding: 30px 0 18px 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    font-size: 11px;
    line-height: 18px;
    border-bottom: 1px solid $color-light-grey;

    @include tablet-up {
      align-items: center;
    }

    a {
      text-decoration: none;
      color: $color-black;
    }
    img {
      width: 120px;
      align-self: center;
      margin: 0;

      @include tablet-up {
        width: 144px;
      }
    }
    table {
      width: 100%;
      max-width: 150px;
      td {
        height: 18px;
      }
    }
  }
  .order-totals {
    display: flex;
    justify-content: flex-end;
    font-size: 12px;
    padding-bottom: 12px;
    @include tablet-up {
      padding-bottom: 0;
    }
    table {
      width: 70%;
      border-collapse: collapse;
      @include tablet-up {
        width: 50%;
      }
    }
    .order-total-title {
      font-size: 16px;
    }
    .total {
      border-top: 1px solid $color-light-grey;
    }
    .subtotal {
      color: $color-brand-primary;
    }
  }
}

.order-line-item-prod-image-details-container {
  display: flex;
}

.order-line-item-details-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  @include tablet-up {
    justify-content: center;
  }
}

.order-line-item-product-title {
  margin: 0;
}

.order-line-item-product-title a {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  display: block;

  @include tablet-up {
     font-size: 16px;
     line-height: 22px;
  }
}

.order-line-item-variant-details {
  padding-left: 0;
}

.order-line-item-variant-details li,
.order-line-item-qty-details {
  font-size: 12px;
  color: $color-off-black;
  line-height: 20px;
}

.order-line-item-qty-details {
  margin-top: 1px;
  margin-bottom: 0;

  @include tablet-up {
    margin-top: 4px;
  }
}

.order-line-item-prod-image-container {
  margin-right: 16px;

  @include tablet-up {
    margin-right: 24px;
  }
}

.order-line-item-price-container p {
  margin: 0;
  margin-left: 4px;
  font-size: 12px;
  line-height: 20px;

  @include tablet-up {
    font-size: 16px;
    line-height: 22px;
  }
}

#orders-content {
  margin: 0;
}

#orders-content h2,
#addresses-content h2 {
  display: none;

  @include tablet-up {
   display: block;
  }
}

.orders-table thead tr {

}

.orders-table tbody tr {
  border-bottom: 1px solid $color-light-grey;
  line-height: 4.5;
}

.orders-table tbody tr:last-child {
  border-bottom: 0;
}

.account-nav-mobile-select .input,
.account-nav-mobile-select .vs__dropdown-toggle {
  border: 0 !important;
  margin-bottom: 0;
}

.account-nav-mobile-select .vs__actions {
  display: flex;
  padding-right: 22px;
}

.account-nav-mobile-select .vs__open-indicator {
  fill: $color-black;
}

.account-dash .input {
  [type="text"],
  [type="password"],
  [type="date"],
  [type="datetime"],
  [type="datetime-local"],
  [type="month"],
  [type="week"],
  [type="email"],
  [type="number"],
  [type="search"],
  [type="tel"],
  [type="time"],
  [type="url"],
  [type="color"],
  textarea,
  .vs__selected {
    font-size: 16px;
    line-height: 22px;
    height: 44px;
    margin-bottom: 0;
  }

  select {
    border: 1px solid $color-light-grey;
  }
}

.account-order-icon {
  display: block;
  opacity: 0;

  svg {
    color: $color-black;
  }

  @include tablet-up {
   opacity: 1;
  }
}

.account-order-back-container {
  display: flex !important;
  width: 100%;
  align-items: center;
}

.account-order-back-container a {
  display: flex;
  margin-right: 8px;
}

.account-order-total-container td {
  margin-top: 8px;
  padding-top: 8px;
}

.h6.order-details-heading {
  padding-bottom: 8px;
  letter-spacing: -0.2px;
  font-weight: 500;
}

.order-details .detail p {
  margin: 0;
}

.account-order-title-container {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  margin-bottom: 44px;

  @include tablet-up {
    width: 50%;
  }

  @include desktop-up {
    width: 100%;
  }
  h1 {
    font-weight: 700;
    text-align: left !important;
    font-size: 23px !important;
    margin: 0 0 12px 0;
    line-height: 28px !important;
    font-family: $font-family-primary;
    letter-spacing: 0.5px;
  }
  p {
    font-family: $font-family-primary;
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.2px;
  }
}

.order-total-details-main-container {
  display: flex;
  flex-direction: column;
  width: 100%;

  @include tablet-up {
    max-width: 332px;
  }
}

.order-total-detail-container,
.order-total-container {
  display: flex;
  justify-content: space-between;
}

.order-total-detail-container p,
.order-total-container p {
  font-size: 12px;
  line-height: 20px;
  margin: 0;

  @include tablet-up {
    font-size: 16px;
    line-height: 22px;
  }
}

.order-total-detail-heading,
.order-total-main-heading {
  font-size: 12px;
  line-height: 20px;
  margin: 0;
  font-weight: 500;

  @include tablet-up {
    font-size: 16px;
    line-height: 22px;
  }
}

.order-total-detail-container {
  margin-bottom: 16px;
}

.order-total-container {
  border-top: 1px solid $color-light-grey;
  padding-top: 16px;
}

.logout-mobile {
  color: $color-brand-primary;

  &:hover,
  &:focus,
  &:active, {
    color: $color-brand-primary;
  }
}

.template-addresses .panel {
  margin: 20px 16px;

  @include tablet-up {
    margin: 0;
  }
}

.account-nav-mobile-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  @include desktop-up {
    display: none;
  }
}

.address-card-menu ul {
  margin: 20px 0 0;
  padding: 0;
  text-align: right;

  .edit {
    margin: 0 0 10px;
  }

  .delete {
    margin: 0;
  }

  @include tablet-up {
    margin: 0;
  }
}

.customer-address-form .button-group {
  width: 100% !important;
  margin-top: 24px !important;
}

.address-make-default-label {
  letter-spacing: normal;
  font-size: 14px;
  color: $color-black;
  line-height: 22px;
  font-weight: normal;
}

[data-address='root'] [data-aria-hidden='true'] {
  display: none;
}

[data-address='root'] {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

[data-line-count='1'] {
  flex-basis: 100%;
}

[data-line-count='2'] {
  flex-basis: 100%;

  @include tablet-up {
    flex-basis: 49%;
  }
}

[data-line-count='3'] {
  flex-basis: 100%;

  @include tablet-up {
    flex-basis: 32%;
  }
}

@include account;

.order-summary {
  .order-summary__closed {
    display: none;
  }

  &[open] {
    .order-summary__open {
      display: none;
    }

    .order-summary__closed {
      display: inline;
    }
  }
}
