{%- assign category_links_handle = collection.metafields.custom_fields.category_links_handle -%}
{%- assign category_links_title = collection.metafields.custom_fields.category_links_title -%}

{%- capture category_links -%}
	{%- if category_links_handle -%}
		[
			{%- render 'linklist-json', _menu_handle: category_links_handle  -%}
		]
		{% else %}
		[]
	{%- endif -%}
{%- endcapture -%}

{%- capture collection_data -%}{% render 'json--collection' %}{%- endcapture -%}

<collection 
	:collection="{{ collection_data | escape | strip }}"
	:filter-categories="{{ collection.metafields.custom_fields.collection_filter_categories | split: ',' | json | escape | strip }}"
	:super-collection-link-text="{{ collection.metafields.custom_fields.super_collection_link_text | json | escape }}"
	:super-collection-link-url="{{ collection.metafields.custom_fields.super_collection_link_url | json | escape }}"
	:super-collection-links="{{ category_links | escape | strip }}"></collection>
