{% comment %} 
  @param {number} product_count - pagination
{% endcomment %}

{% assign product_count = product_count | default: 999 %}

{
  "all_products_count": {{- collection.all_products_count | json -}},
  "all_tags": {{- collection.all_tags | json -}},
  "all_types": {{- collection.all_types | json -}},
  "all_vendors": {{- collection.all_vendors | json -}},
  "current_type": {{- collection.current_type | json -}},
  "current_vendor": {{- collection.current_vendor | json -}},
  "default_sort_by": {{- collection.default_sort_by | json -}},
  "description": {{- collection.description | json -}},
  "handle": {{- collection.handle | json -}},
  "id": {{- collection.id | json -}},
  "image": {{- collection.image | json -}},
  "next_product": {{- collection.next_product | json -}},
  "previous_product": {{- collection.previous_product | json -}},
  "products": [
		{%- paginate collection.products by product_count -%}
			{% for product in collection.products limit: product_count %}
				{%- render 'json--product', product: product, order: forloop.index -%}
				{%- unless forloop.last -%},{%- endunless -%}
			{% endfor %}
		{%- endpaginate -%}
	],
  "products_count": {{- collection.products_count | json -}},
  "published_at": {{- collection.published_at | json -}},
  "sort_by": {{- collection.sort_by | json -}},
  "sort_options": {{- collection.sort_options | json -}},
  "template_suffix": {{- collection.template_suffix | json -}},
  "title": {{- collection.title | json -}},
  "tags": {{- collection.tags | json -}},
  "url": {{- collection.url | json -}}
}